@model CmsWeb.Areas.Dialog.Models.AddAttendeesFromTag
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Add People as Attendees to Meeting for @Model.OrgName From a Tag/Query</h4>
        </div>
        <div class="modal-body">
            @Html.HiddenFor(m => m.QueryId)
            @Html.HiddenFor(m => m.MeetingId)
            @Html.HiddenFor(m => m.OrgId)
            @Html.HiddenFor(m => m.OrgName)
            @Html.HiddenFor(m => m.UserId)
            @Html.HiddenFor(m => m.OrgName)
            @Html.HiddenFor(m => m.JoinDate)
            @Html.Hidden("callback", "ReloadPeople")
            @if (Model.TagHasBeenSelected)
            {
                @Html.EditorFor(m => m.AddAsMembers);
                @Html.EditorFor(m => m.Tag, "HiddenCodeInfo")
                @Html.DisplayFor(m => m.Tag)
                @Html.DisplayFor(m => m.Count)
                @Html.HiddenFor(m => m.Count)
            }
            else
            {
                @Html.EditorFor(m => m.Tag)
            }
        </div>
        <div class="modal-footer">
            @Html.SpanIf(Model.TagHasBeenSelected, "Are you sure you want to add?", null)
            <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
            @if (Model.TagHasBeenSelected)
            {
                <a href="/AddAttendeesFromTag/Process" class="btn btn-primary ajaxreloader">Add Attendees</a>
            }
            else
            {
                <a href="/AddAttendeesFromTag/Process" class="btn btn-primary ajax">Select Tag</a>
            }
        </div>
    </div>
</div>