@using UtilityExtensions
@model CmsWeb.Areas.Manage.Models.ActivityModel
<div id="results" class="table-responsive">
  @Html.Partial("PagerTop", Model)
  <table class="table table-striped">
    <thead>
      <tr>
        <td colspan="5">
          <strong>Total Count</strong> <span id="totalcount" class="badge">@Model.Count().ToString("N0")</span>
          As of: @DateTime.Now.FormatDateTm()
        </td>
      </tr>
      <tr>
        <th>User</th>
        <th>Date & Time</th>
        <th>Activity</th>
        <th>Organization</th>
        <th>Person</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var a in Model.ViewList())
      {
        <tr>
          <td><a href="/LastActivity?userid=@a.UserId" title="Machine: @a.Machine">@a.UserName</a></td>
          <td nowrap="nowrap">@a.DateX.FormatDateTm()</td>
          <td>
            @a.Activity
            @if(a.DatumId.HasValue)
            {
              <a href="/OnlineReg/RegPeople/@a.DatumId" target="regdata">reg</a>
            }
          </td>
          <td><a href="/LastActivity?orgid=@a.OrgId">@a.OrgName</a></td>
            <td>
                @if (a.UserId.IsNull() && a.Activity.Contains("Script"))
                {
                    <span>Admin Script</span>
                }
                else
                {
                    <a href="/LastActivity?peopleid=@a.PeopleId">@a.PersonName</a>
                }
            </td>
        </tr>
      }
    </tbody>
  </table>
  @Html.Partial("PagerBottom", Model)
  @Html.Partial("PagerHidden")
</div>


