@using CmsData
@using UtilityExtensions
@model CmsWeb.Areas.People.Models.AddressInfo
<div class="tab-pane@(Model.Preferred ? " active" : "")" id="tab-@Model.Name">
    <div class="btn-group">
        <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-map-marker"></i>
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="http://www.google.com/maps?q=@Model.MapAddrCityStateZip()" target="_blank">Google Map</a></li>
            <li><a href='http://www.google.com/maps?f=d&saddr=@DbUtil.StartAddress&pw=2&daddr=@Model.MapAddrCityStateZip()' target="_blank">Driving Directions (Google)</a></li>
            <li><a href="http://www.bing.com/maps/?q=@Model.MapAddrCityStateZip()" target="_blank">Bing Map</a></li>
            <li><a href='http://www.bing.com/maps/?rtp=adr.@DbUtil.StartAddress~adr.@Model.MapAddrCityStateZip()' target="_blank">Driving Directions (Bing)</a></li>
        </ul>
    </div>
    <p style="min-height: 5em;">
        @if (Model.CanUserEditAddress)
        {
            <a href="/Address/Edit/@Model.Name/@Model.PeopleId" class="editaddr editable-click">@Model.AddressLineOne <i class="fa fa-pencil pull-right"></i>
                <br />
                @if (Model.AddressLineTwo.HasValue())
                {
                    @Model.AddressLineTwo<br />
                }
                @Model.CityStateZip()</a>
        }
        else
        {
            @Model.AddressLineOne<br />
            if (Model.AddressLineTwo.HasValue())
            {
                @Model.AddressLineTwo<br />
            }
            @Model.CityStateZip()
        }
    </p>
</div>
