@using CmsData
@using UtilityExtensions
@model CmsWeb.Code.CodeInfo
@if(DbUtil.Db.CurrentUserPerson.CanUserEditCampus)
{
    <a id="@Model.Name" class="edit-inline-label label label-info" data-value="@Model.Value" data-pk="@Util2.CurrentPeopleId" title="@Model.Name">@Model</a>
}
else
{
    <span class="label label-info" title="@Model.Name">@Model</span>
}