@using CmsData
@using CmsWeb.Code
@model CmsWeb.Code.CodeInfo
@{
  var displayname = ViewData.ModelMetadata.DisplayName ?? Model.Name;
}
@if (DbUtil.Db.CurrentUserPerson.CanUserEditCampus)
{
    <a id="@Model.Name" class="edit-inline-label label label-info" data-value="@Model.Value" data-pk="@Util2.CurrentPeopleId" title="@displayname">@Model</a>
}
else
{
    <span class="label label-info" title="@displayname">@Model</span>
}