@using System.Web.Mvc.Html
@model CmsWeb.Controllers.DialogController.TagInfo
<div class="modal-header">
  <a class="close" data-dismiss="modal">x</a>
  <h3>Add People From a Tag/Query</h3>
</div>
<div class="modal-body">
  @Html.HiddenIf("finished", "true", Model.Completed.HasValue)
  @Html.HiddenFor(m => m.Id)
  @Html.Hidden("callback", "ReloadPeople")
  @Html.DisplayForIf(m => m.Count, Model.Count.HasValue, new { Label="Number of People to Add"})
  @if (!Model.Count.HasValue)
  {
    @Html.EditorForIf(m => m.Tag, !Model.Started.HasValue)
  }
  else
  {
    @Html.HiddenFor(m => m.Count)
    @Html.EditorFor(m => m.Tag, "HiddenCodeInfo")
    @Html.DisplayFor(m => m.Tag)
  }
  @Html.DisplayForIf(m => m.Started, Model.Started.HasValue, "DateAndTime")
  @Html.DisplayForIf(m => m.Processed, Model.Processed > 0)
  @Html.DisplayForIf(m => m.Completed, Model.Completed.HasValue, "DateAndTime")
  @Html.DisplayForIf(m => m.ElapsedTime, Model.ElapsedTime.HasValue())
</div>
<div class="modal-footer">
  @if (!Model.Started.HasValue)
  {
    @Html.SpanIf(Model.Count.HasValue, "Are you sure you want to Add these?", null)
    <a href="#" class="btn btn-success" data-dismiss="modal">Cancel</a>
    if (!Model.Count.HasValue)
    {
      <a href="/Dialog/AddToOrgFromTag/@Model.Id/@Model.Group" class="btn btn-primary ajax">Select Tag</a>
    }
    else
    {
      <a href="/Dialog/AddToOrgFromTag/@Model.Id/@Model.Group" class="btn btn-primary ajaxreloader">Add People</a>
    }
  }
  else if (Model.Completed.HasValue)
  {
    <a href="#" class="btn btn-success" data-dismiss="modal">Dismiss</a>
  }
</div>