@using System.Web.Mvc.Html
@model LongRunningOp
<div class="modal-header">
  <a class="close" data-dismiss="modal">x</a>
  <h3>Add @ViewBag.Group to @ViewBag.Name From a Tag</h3>
</div>
<div class="modal-body">
  @Html.HiddenIf("finished", "true", Model.Completed.HasValue)
  @Html.HiddenFor(m => m.Id)
  @Html.Hidden("callback", "ReloadPeople")
  @if (!Model.Started.HasValue)
  {
    @Html.Editor("Tag", "Dropdown", new
    {
      label = "Select a Tag",
      items=(IEnumerable<SelectListItem>) (ViewBag.Tags)
    })
  }
  @Html.DisplayForIf(m => m.Count, Model.Started.HasValue, new { Label="Number of People to Add"})
  @Html.SpanIf(!Model.Started.HasValue, "Are you sure you want to Add these?", null)
  @Html.DisplayForIf(m => m.Started, Model.Started.HasValue, "DateAndTime")
  @Html.DisplayForIf(m => m.Processed, Model.Processed > 0)
  @Html.DisplayForIf(m => m.Completed, Model.Completed.HasValue, "DateAndTime")
  @Html.DisplayForIf(m => m.ElapsedTime, Model.ElapsedTime.HasValue())
</div>
<div class="modal-footer">
  @if (!Model.Started.HasValue)
  {
    <a href="#" class="btn btn-success" data-dismiss="modal">Cancel</a>
    <a href="/Dialog/DeleteMeeting/@Model.Id" class="btn btn-primary ajaxreloader">OK</a>
  }
  else if (Model.Completed.HasValue)
  {
    <a href="#" class="btn btn-success" data-dismiss="modal">Dismiss</a>
  }
</div>