@model CmsWeb.Controllers.DialogController.NewMeetingInfo
<form id="new-meeting" class="dialog-options modal fade hide validate" target="_blank" method="GET">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">x</a>
    <h3>Choose Meeting Options</h3>
  </div>
  <div class="modal-body">
    @Html.EditorFor(m => m.Schedule)
    @Html.EditorFor(m => m.MeetingDate, "datetimepicker")
    @Html.EditorFor(m => m.AttendCredit)
    @Html.EditorFor(m => m.ByGroup)
    @Html.EditorFor(m => m.GroupFilterPrefix)
    @Html.EditorFor(m => m.HighlightGroup)
    @Html.EditorFor(m => m.UseAltNames)
  </div>
  <div class="modal-footer">
    <a class="btn" data-dismiss="modal">Close</a>
    <input type="submit" class="btn btn-primary" value="OK" />
  </div>
</form>