@model LongRunningOp
<div class="modal-header">
  <a class="close" data-dismiss="modal">x</a>
  <h3>Repair Transactions @(Model.Started.HasValue ? "Progress" : "")</h3>
</div>
<div class="modal-body">
  @Html.HiddenIf("finished", "true", Model.Completed.HasValue)
  @Html.HiddenFor(m => m.Id)
  @Html.DisplayFor(m => m.Count, new { Label = "Number of Members" })
  @Html.SpanIf(!Model.Started.HasValue, "Are you sure you repair Transactions?", null)
  @Html.DisplayForIf(m => m.Started, Model.Started.HasValue, "DateAndTime")
  @Html.DisplayForIf(m => m.Processed, Model.Processed > 0)
  @Html.DisplayForIf(m => m.Completed, Model.Completed.HasValue, "DateAndTime")
  @Html.DisplayForIf(m => m.ElapsedTime, Model.ElapsedTime.HasValue())
</div>
<div class="modal-footer">
  @if (!Model.Started.HasValue)
  {
    <a href="#" class="btn btn-success" data-dismiss="modal">Cancel</a>
    <a href="/Dialog/RepairTransactions/@Model.Id" class="btn btn-primary ajaxreloader">OK</a>
  }
  else if (Model.Completed.HasValue)
  {
    <a href="#" class="btn btn-success" data-dismiss="modal">Dismiss</a>
  }
</div>