@using CmsData
@using CmsData.Classes.RoleChecker
@using CmsWeb.Areas.People.Models
@model FamilyModel
@{
    var dialog = "/SearchAdd2/Dialog/RelatedFamily/" + Model.Person.PeopleId;
    var showFamilyQueryLink = false;
    if (User.IsInRole("OrgLeadersOnly"))
    {
        showFamilyQueryLink = !RoleChecker.HasSetting(SettingName.HideQueries, false);
    }
    else if (User.IsInRole("Access"))
    {
        showFamilyQueryLink = true;
    }
}
<div id="related-families-div">
    @if (!Model.RelatedFamilies().Any())
    {
        <div class="row">
            <div class="col-sm-12">
                <h4><a id="related-family-collapse" data-toggle="collapse" href="#related-family-section" aria-expanded="true" aria-controls="related-family-section"><i class="fa fa-chevron-circle-down"></i></a> Related Families</h4>
            </div>
        </div>
        <div class="row collapse in" id="related-family-section">
            @if (Model.Person.CanUserEditAll)
            {
                <div class="col-sm-12">
                    <a href="@dialog" class="searchadd btn btn-success btn-sm btn-block"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Add Related Family</a>
                </div>
            }
            <div class="col-sm-12">
                <br />
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-sm-12">
                @if (showFamilyQueryLink)
                {
                    <h4><a id="related-family-collapse" data-toggle="collapse" href="#related-family-section" aria-expanded="true" aria-controls="related-family-section"><i class="fa fa-chevron-circle-down"></i></a> <a href="/Person2/RelatedFamilyQuery/@Model.Family.FamilyId">Related Families</a></h4>
                }
                else
                {
                    <h4><a id="related-family-collapse" data-toggle="collapse" href="#related-family-section" aria-expanded="true" aria-controls="related-family-section"><i class="fa fa-chevron-circle-down"></i></a> Related Families</h4>
                }
            </div>
        </div>
        <div class="row collapse in" id="related-family-section">
            <div class="col-sm-12">
                <ul id="family_related" class="list-group">
                    @foreach (var f in Model.RelatedFamilies())
                    {
                        if (Model.Person.CanUserEditAll)
                        {
                            <li class="list-group-item relation-item">
                                <p>
                                    <a href="/Person2/@f.PeopleId">@f.Name</a><br />
                                    <span class="summary relation-description">
                                        @f.Description <a id="rf-@f.Id1-@f.Id2" href="/Person2/RelatedFamilyEdit/@Model.Person.PeopleId/@f.Id1/@f.Id2" class="edit"><i class="fa fa-pencil"></i></a>
                                    </span>
                                </p>
                            </li>
                        }
                        else
                        {
                            <li class="list-group-item">
                                <p>
                                    @if (User.IsInRole("Access"))
                                    {
                                        <a href="/Person2/@f.PeopleId">@f.Name</a>
                                    }
                                    else
                                    {
                                        @f.Name
                                    }
                                    <br />
                                    <span class="summary" title="Description of Relationship">@f.Description</span>
                                </p>
                            </li>
                        }
                    }
                </ul>
            </div>
            @if (Model.Person.CanUserEditAll)
            {
                <div class="col-sm-12">
                    <a href="@dialog" class="searchadd btn btn-success btn-sm btn-block"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Add Related Family</a>
                </div>
            }
            <div class="col-sm-12">
                <br />
            </div>
        </div>
    }
</div>
