@using System.Web.Mvc.Html
@model CmsWeb.Models.NewMeetingInfo

<form class="modal dialog-options form-horizontal validate fade hide" action="/NewMeeting/Create" method="POST">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">x</a>
    <h3>New Meeting</h3>
  </div>
  <div class="modal-body">
    @Html.EditorFor(m => m.Schedule)
    @Html.EditorFor(m => m.MeetingDate, "DateAndTime")
    @Html.EditorFor(m => m.AttendCredit)
    @Html.EditorFor(m => m.ByGroup)
    @Html.EditorFor(m => m.GroupFilterPrefix)
    @Html.EditorFor(m => m.HighlightGroup)
    @Html.EditorFor(m => m.UseAltNames)
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-success" data-dismiss="modal">Close</a>
    <input type="submit" class="btn btn-primary" value="OK"/>
  </div>
</form>