@using CmsWeb
@model CmsWeb.Areas.Org2.Models.MissionTripEmailer
@{
    ViewBag.Title = "Mission Trip Emailer";
    Layout = "~/Views/Shared/SiteLayout2.cshtml";
}
@section head
{
    @Fingerprint.Css("/Content/css/jquery-ui.effects.min.css")
    <style>
        div.ti {
            position: relative;
            border: #0000ff dashed 1px;
            min-height: 20px;
        }

            div.ti:hover {
                background: #eeeeff;
            }

        div.tiAdd {
            position: absolute;
        }

        .message-area {
            position: relative;
            margin: 15px 0;
            padding: 39px 19px 14px;
            border: 1px solid #ddd;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
        }

            .message-area:after {
                content: "Message Content";
                position: absolute;
                top: -1px;
                left: -1px;
                padding: 3px 7px;
                font-size: 12px;
                font-weight: bold;
                background-color: #f5f5f5;
                border: 1px solid #ddd;
                color: #9da0a4;
                -webkit-border-radius: 4px 0 4px 0;
                -moz-border-radius: 4px 0 4px 0;
                border-radius: 4px 0 4px 0;
            }

        #recipients td.notselected {
            -ms-opacity: .5;
            opacity: .5;
            text-decoration: line-through;
        }

        #recipients a > i {
            color: red;
        }
    </style>
}
@section scripts
{
    @Fingerprint.Script("/Scripts/jQuery/jquery-ui.effects.min.js")
    @Fingerprint.Script("/Scripts/Bootstrap/notify.js")
    @ViewExtensions2.CKEditor()
    @Fingerprint.Script("/Scripts/Email/EmailSupporter.js")

}
<div class="container">
    <h2>Mission Trip Emailer <small><a href="/">Go back to your home page</a></small></h2>
    <div class="row-fluid">
        <div class="span9">
            <form id="SendEmail" class="form" method="post">
                <fieldset style="padding: 0.35em 0.625em 0.75em;">
                    <legend>Compose your Email</legend>
                    <div class="control-group">
                        @Html.LabelFor(m => m.Subject, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Subject)
                            @Html.ValidationMessageLabelFor(m => m.Subject)
                        </div>
                    </div>
                    @Html.Hidden("PeopleId")
                    @Html.Hidden("OrgId")
                    @Html.Hidden("Body")
                    <div style="display: table">
                        <div class="right">
                            <input type="button" value="Test (Send To Yourself)" class="testsend btn btn-success" />
                            <input type="button" value="Send" class="send btn btn-primary" /><br />
                        </div>
                        <div id="tempateBody" class="message-area">
                            @Html.Raw(Model.Body)
                        </div>
                        <div class="pull-right">
                            <input type="button" value="Test (Send To Yourself)" class="testsend btn btn-success" />
                            <input type="button" value="Send" class="send btn btn-primary" /><br />
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="span3">
            <fieldset>
                <legend>Find Supporters</legend>
                <label class='help-block'>Enter a 10 digit phone number or an email address, then select your recipient to add them to the supporter list below.</label>
                <div class="control-group">
                    <label class="control-label">Find Supporter</label>
                    <div class="controls">
                        @Html.TextBox("supportsearch")
                    </div>
                </div>
                <br />
                <legend>
                    Recipients
                    <small>
                        <a id="edit-supporters" href="/MissionTripEmail2/SupportersEdit/@Model.PeopleId" class="btn btn-small pull-right">Edit</a>
                        <span id="editing" class="pull-right hide">
                            <a id="cancel-editing" href="/MissionTripEmail2/Supporters/@Model.PeopleId" class="btn btn-small">Cancel</a>
                            <a id="done-editing" href="/MissionTripEmail2/SupportersUpdate" class="btn btn-small btn-primary">Save</a>
                        </span>
                    </small>
                </legend>
                <label id="edit-help" class='help-block'>Click the edit button above to allow you to customize the greeting, change the send status, and remove a supporter.</label>
                <label id="done-help" class='help-block hide'>Click the done button above to save your changes</label>
                <form id="recipients">
                    @Html.Partial("Supporters", Model)
                </form>
            </fieldset>
        </div>
    </div>
    <div id="popupeditor" style="display:none;position: absolute;z-index: 2005;">
        <form>
            <textarea id="htmleditor"></textarea>
            <div style="text-align: right;">
                <a href="#" class="btn cancel">Cancel</a>
                <a href="#" class="btn btn-primary save">Save</a>
            </div>
        </form>
    </div>
</div>