@using UtilityExtensions
@model CmsWeb.Areas.People.Models.DownlineLevelsModel
<div id="results">
  @Html.Partial("PagerTop", Model)
  <table class="table table-striped">
    <thead>
      <tr>
        <td colspan="5">
          <strong>Total Count</strong> <span id="totalcount" class="badge">@Model.Count().ToString("N0")</span>
          As of: @DateTime.Now.FormatDateTm()
        </td>
      </tr>
    <tr>
      <th>Level</th>
      <th>Organization</th>
      <th>Leader</th>
      <th>StartDt</th>
      <th>EndDt</th>
      <th>Disciples</th>
    </tr>
    </thead>
    <tbody>
      @foreach (var r in Model.ViewList())
      {
        <tr>
          <td>@r.Level</td>
          <td>@r.OrganizationName</td>
          <td>@r.Leader</td>
          <td>@r.StartDt.FormatDate()</td>
          <td>@r.EndDt.FormatDate()</td>
          <td><a href="/DownlineDetail/@Model.CategoryId/@Model.DownlineId/@r.Level">@r.Cnt</a></td>
        </tr>
      }
    </tbody>
  </table>
  @Html.Partial("PagerBottom", Model)
  @Html.Partial("PagerHidden")
</div>