@using CmsData
@model CmsWeb.Areas.Org.Models.OrgChildrenModel
@foreach(var o in Model.FetchOrgList())
{ 
    // Parent is purple, isOther is pink
	<tr @(o.isOther? "style=background-color:#fcc" : o.isParent? "style=background-color:#ccf" : "")>
        <td style="width: 10px;">
            @if (o.isChecked)
            {
                <input type="checkbox" oid="@o.Id" checked="checked" class="orgcheck" />
            }
            else if (o.isOther && CurrentDatabase.Setting("UX-ManageShowAllChildOrgs", true))
            {
                <input type="checkbox" oid="@o.Id" class="orgcheck" />
            }
            else if (o.isOther)
            {
                <input type="checkbox" oid="@o.Id" checked="checked" disabled="disabled" />
            }
            else if (o.isParent && Model.org.ParentOrgId == o.Id)
            {
                <input type="checkbox" oid="@o.Id" disabled="disabled" />
            }
            else
            {
                <input type="checkbox" oid="@o.Id" class="orgcheck" />
            }
        </td>
	    <td>
            <a tabindex="0" href="#" data-toggle="popover" data-trigger="focus" data-title="@o.Name (@o.Id)"
               data-content="
                <label>Program:</label> @o.Program<br/>
                <label>Division:</label> @o.Division (@o.DivId)<br />
                <label>Leader:</label> @o.Leader<br/>
                <label>Location:</label> @o.Location<br />
                <label>Divisions:</label> @o.Divisions
            "><i class="fa fa-info-circle"></i></a>&nbsp;
	        @if (o.isOther)
	        {
	            <a href="/OrgChildren/@o.ParentId">@o.Name</a>
	        }
	        else
	        {
	            <a href="/OrgChildren/@o.Id">@o.Name</a>
	        }
	    </td>
        <td>@o.Leader</td>
        <td>@o.Location</td>
        <td><a href="/OrgChildren/@o.ParentId">@o.ParentName</a></td>
	</tr>
}
