@using System.Web.Mvc.Html
@model CmsWeb.Areas.Dialog.Models.AddToOrgFromTag
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Add People to @Model.DisplayGroup From a Tag/Query</h4>
        </div>
        <div class="modal-body">
            @Html.HiddenFor(m => m.QueryId)
            @Html.EditorFor(m => m.Tag, "HiddenCodeInfo")
            @Html.HiddenFor(m => m.Count)
            @Html.HiddenFor(m => m.Started)

            @Html.DisplayFor(m => m.Tag)
            @Html.DisplayFor(m => m.Count, new { Label = "Number of People to Add" })
            @Html.DisplayFor(m => m.Started, "DateAndTime")
            @Html.DisplayFor(m => m.Processed)

            @if (Model.Finished)
            {
                @Html.DisplayFor(m => m.Completed, "DateAndTime")
                @Html.DisplayFor(m => m.ElapsedTime)
                @Html.Hidden("finished", "true")
            }
        </div>
        <div class="modal-footer">
            @if (Model.Finished)
            {
                <a href="#" class="btn btn-success" data-dismiss="modal">Dismiss</a>
            }
        </div>
    </div>
</div>