@using CmsData
@using UtilityExtensions
@model CmsWeb.Areas.Search.Controllers.SavedQueryController.CodeModel
<!DOCTYPE html>
<html>
<head>
  <title>title</title>
  <style>
    pre {
      background-color: #E6E6E6;
      padding: 1em;
      font-family: consolas,courier;
    }
  </style>
</head>
<body>
  <h2>Count: @Model.Count</h2>
  <div>
    @foreach (var q in Model.List)
    {
      Model.GetLinks(q);
        <h3>
          <a href="/Query/@Model.Existing" target="query">@q.owner &mdash; @q.name</a>
        </h3>
      if (Model.Message.HasValue())
      {
            <div style="color: red">Error: @Model.Message</div>
      }
      <pre>
@Model.Code
</pre>
    }

  </div>
</body>
</html>