@model CmsWeb.Areas.Search.Models.SavedQueryInfo
<div class="modal-dialog" id="edit-query-modal">
    <div class="modal-content">
        <form id="edit-saved-query">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Saved Query</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        @Html.HiddenFor(m => m.QueryId)
                        @Html.EditorFor(m => m.Name)
                        @(User.IsInRole("Admin") ? @Html.EditorFor(m => m.Owner) : @Html.HiddenFor(m => m.Owner))
                        <div class="checkbox">
                            <label class="control-label">
                                @Html.CheckBoxFor(m => m.Ispublic) Is public?
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" data-dismiss="modal">Cancel</a>
                <a id="SaveQueryInfo" class="btn btn-primary">Save</a>
            </div>
        </form>
    </div>
</div>