@model CmsWeb.Areas.Search.Models.SavedQueryModel
<form class="non-modal ajax">
    Only Mine: @Html.CheckBoxFor(m => m.onlyMine)
    Search: @Html.TextBoxFor(m => m.search)
    <a href="/SavedQuery2/Results" class="btn btn-primary ajax">Filter</a>
    <div class="pagination pagination-mini">
        @Html.Partial("Pager3", Model.Pager)
    </div>
    <table id="saved-query" class="table table-bordered table-condensed">
        <thead>
            <tr>
                <td>@Model.Pager.SortLink("Description")</td>
                <td>@Model.Pager.SortLink("Owner")</td>
                <td>@Model.Pager.SortLink("Public")</td>
                <td>@Model.Pager.SortLink("Last Updated")</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in Model.FetchQueries())
            {
                Html.RenderPartial("Row", r);
            }
        </tbody>
    </table>
    <div class="pagination pagination-mini">
        @Html.Partial("Pager3", Model.Pager)
    </div>
</form>
