@model CmsWeb.Areas.Search.Models.SavedQueryModel
<div id="results">
    @Html.Partial("PagerTop", Model)
    <div class="table-responsive">
        <table class="table table-striped" id="resultsTable">
            <thead>
                <tr>
                    <th>@Model.SortLink("Description")</th>
                    <th>@Model.SortLink("Owner")</th>
                    <th class="text-center">@Model.SortLink("Public")</th>
                    <th>@Model.SortLink("Last Run")</th>
                    <th class="text-right">@Model.SortLink("Count")</th>
                    <th colspan="2" style="width: 100px;">Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() == 0)
                {
                    <tr><td colspan="7">No matching records.</td></tr>
                }
                @foreach (var r in Model.ViewList())
                {
                    Html.RenderPartial("Row", r);
                }
            </tbody>
        </table>
    </div>
    @Html.Partial("PagerBottom", Model)
    @Html.Partial("PagerHidden", Model)
</div>