@model CmsWeb.Areas.Search.Models.SavedQueryModel
<div id="results">
<div class="pagination pagination-mini">
    @Html.Partial("Pager3", Model)
</div>
<table id="saved-query" class="table table-bordered table-condensed not-wide">
    <thead>
        <tr>
            <th>@Model.SortLink("Description")</th>
            <th>@Model.SortLink("Owner")</th>
            <th>@Model.SortLink("Public")</th>
            <th>@Model.SortLink("Last Run")</th>
            <th>@Model.SortLink("Count")</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model.ViewList())
        {
            Html.RenderPartial("Row", r);
        }
    </tbody>
</table>
<div class="pagination pagination-mini">
    @Html.Partial("Pager3", Model)
</div>
</div>