@model CmsWeb.Areas.Search.Models.SavedQueryInfo
@using UtilityExtensions
<tr><td>
        <a href="#" class="editable" data-type="text" data-pk="@Model.QueryId" data-name="description" data-url="SavedQuery/PostData" data-original-title="Enter Description">@Model.Description</a>
    </td>
    <td>
        <a href="#" class="editable" data-type="text" data-pk="@Model.QueryId" data-name="user" data-url="SavedQuery/PostData" data-original-title="Enter Username">@Model.User</a>
    </td>
@if (User.IsInRole("Admin") || string.Compare(Util.UserName,Model.User, ignoreCase: true) == 0)
{
    <td>
        <a href="#" class="editable" data-type="checklist" data-pk="@Model.QueryId" data-name="public" data-url="SavedQuery/PostData" data-original-title="ttt">
            <span>@(Model.IsPublic ? "yes" : "no")</span>
@*        <span data-pk='@Model.QueryId' class='yesno'>@(Model.IsPublic ? "yes" : "no")</span>*@
        </a>
    </td>
    <td>
        <a data-pk='@Model.QueryId' href="#" class="delete"><img border="0" src="/images/delete.gif" /></a>
    </td>
}
else
{
    <td>@(Model.IsPublic ? "yes" : "no")</td>
    <td></td>
}
    <td><a href="/Query/@Model.QueryId">View</a></td>
</tr>