@model CmsWeb.Models.TaskModel
@using CmsWeb
@using UtilityExtensions
@{
    Layout = ViewExtensions2.TouchPointLayout();
    ViewBag.Title = "Tasks";
    ViewBag.PageHeader = "Tasks";
}
<div class="row">
    <div class="col-md-9">
        <form id="form" action="/Task/List" method="get">
            <div class="box box-responsive">
                <div class="box-title-btn">
                    <div class="box-tools">
                        <a id="delegateall" href="/SearchAdd2/Dialog/taskdelegate2/1" class="searchadd"></a>
                        <button class="btn btn-default taskDelegate"><i class="fa fa-users"></i> Delegate 0 Task(s)</button> <button class="btn btn-danger taskDelete"><i class="fa fa-trash"></i> Delete 0 Task(s)</button> <a href="#" class="btn btn-success" id="addTask"><i class="fa fa-plus-circle"></i> Add Task</a>
                    </div>
                </div>
                <div class="box-content">
                    @Html.Hidden("SortTask")
                    <div class="well">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="StatusId" class="control-label">Status</label>
                                    @Html.DropDownList("StatusId", Model.TaskStatusCodes(), new { @class = "form-control " })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="checkbox">
                                    <label class="control-label">
                                        @Html.CheckBox("OwnerOnly") Owned tasks only?
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="results">
                        @Html.Partial("PagerTop", Model)
                        <div class="table-responsive">
                            <table id="tasks" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th style="width: 5px;"></th>
                                        <th><a href="#" class="sortable">Task</a></th>
                                        <th><a href="#" class="sortable">About</a></th>
                                        <th><a href="#" class="sortable">Due/Completed</a></th>
                                        <th>Status</th>
                                        <th><a href="#" class="sortable">Assigned</a></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @Html.Partial("Rows", Model) 
                                </tbody>
                            </table>
                        </div>
                        @Html.Partial("PagerBottom", Model)
                        @Html.Hidden("totcnt", Model.Count().ToString("N0"))
                        @Html.Hidden("Page", Model.Page)
                        @Html.Hidden("Sort", Model.Sort)
                        @Html.Hidden("Direction", Model.Direction)
                    </div>
                </div>
            </div>
            
        </form>
    </div>
</div>
<div class="modal fade" id="new-task-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            @Html.Hidden("type", ViewData["type"])
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add New Task</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="description" class="control-label">Task</label>
                    <input type="text" id="description" name="description" class="form-control" />
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" />
                <a href="#" id="newTaskSubmit" class="btn btn-primary">Submit</a>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    @Fingerprint.Script("/Content/touchpoint/js/people/task.js")
}
