@{
    Layout = ViewExtensions2.TouchPointLayout();
    ViewBag.Title = "Figures";
    ViewBag.PageHeader = "Refine Fund Chart";
}
@section head {
    @Fingerprint.Css("/Content/touchpoint/lib/jquery-multi-select/css/multi-select.css")
}
<div class="row">
    <div class="col-lg-12">
        <div class="box box-responsive">
            <div class="box-content">
                <div id='Fund_chart_display' style='width: 900px; height: 400px; display: none'>
                </div>
                <div id='Fund_chart_display2' style='width: 900px; height: 200px; display: none'>
                </div>
                <br />
                <a class="btn btn-primary" id="DrawChart">Draw Fund Chart</a>
                <br />
                <br />
                <div style="width: 500px">
                    <div class="form-group">
                        <label for="sel1">Select Year:</label>
                        <select class="form-control" name="year" id="year">
                            <option selected>@DateTime.Now.Year</option>
                            @foreach (var Year in @ViewBag.Years)
                            {
                                <option value="@Year">@Year</option>
                            }
                        </select>
                    </div>
                </div>
                <br />
                <br />
                <div class="form-group">
                    <div id="FundContainer">
                        <label for="Fund" class="control-label">Funds</label>
                        @Html.Action("FundView")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @ViewExtensions2.jQueryUI()
    @Fingerprint.Script("/Content/touchpoint/lib/jquery-multi-select/js/jquery.multi-select.js")
    @ViewExtensions2.GoogleCharts()

    <script type="text/javascript">
        $(function () {
            google.charts.load('current', { packages: ['corechart'] });
            $('#Fund-DropdownID').multiSelect();
            $('#DrawChart').click(function () {
                var e = document.getElementById('Fund_chart_display');
                e.style.display = 'block';
                var e2 = document.getElementById('Fund_chart_display2');
                e2.style.display = 'block';
                var selectedValues = $('#Fund-DropdownID').val();
                var year = document.getElementById('year').value;
                $('#Fund_chart_display').load('/Figures/Figures/ChartDisplayView', { fundIdsArr: selectedValues, year: year });
            });
        });
    </script>
}
