@model CmsData.ContributionFund
@{
    Layout = ViewExtensions2.TouchPointLayout();
    ViewBag.Title = "Edit Fund";
    ViewBag.PageHeader = "Edit Fund";
}
@using (Html.BeginForm("Update", "Fund"))
{
    @Html.HiddenFor(m => m.FundId)
    <div class="row">
        <div class="col-md-9">
            <div class="box box-responsive">
                <div class="box-content">
                    <div class="row">
                        <div class="col-sm-9 col-lg-8">
                            <div class="form-group">
                                <label for="FundName" class="control-label">Name</label>
                                @Html.TextBoxFor(m => m.FundName, new { @class = "form-control input-lg" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-9 col-lg-8">
                            <div class="form-group">
                                <a tabindex="0" href="#" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-title="Description" data-content="This is what is used on Statements and in drop-down menus. Can be the same as the Name."><i class="fa fa-info-circle"></i></a>&nbsp;
                                <label for="FundDescription" class="control-label">Description</label>
                                @Html.TextBoxFor(m => m.FundDescription, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-lg-3">
                            <div class="form-group">
                                <label for="FundAccountCode" class="control-label">Account Code</label>
                                @Html.TextBoxFor(m => m.FundAccountCode, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-lg-3">
                            <div class="form-group">
                                <label for="FundIncomeDept" class="control-label">Income Department</label>
                                @Html.TextBoxFor(m => m.FundIncomeDept, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-lg-3">
                            <div class="form-group">
                                <label for="FundIncomeAccount" class="control-label">Income Account</label>
                                @Html.TextBoxFor(m => m.FundIncomeAccount, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-lg-3">
                            <div class="form-group">
                                <label for="FundIncomeFund" class="control-label">Income Fund</label>
                                @Html.TextBoxFor(m => m.FundIncomeFund, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-lg-3">
                            <div class="form-group">
                                <label for="FundCashDept" class="control-label">Cash Department</label>
                                @Html.TextBoxFor(m => m.FundCashDept, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-lg-3">
                            <div class="form-group">
                                <label for="FundCashAccount" class="control-label">Cash Account</label>
                                @Html.TextBoxFor(m => m.FundCashAccount, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-lg-3">
                            <div class="form-group">
                                <label for="FundCashFund" class="control-label">Cash Fund</label>
                                @Html.TextBoxFor(m => m.FundCashFund, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-lg-3">
                            <div class="form-group">
                                <label for="FundStatusId" class="control-label">Status</label>
                                @Html.DropDownList("FundStatusId", CmsWeb.Areas.Finance.Controllers.FundController.GetFundStatusList(), new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-lg-3">
                            <a tabindex="0" href="#" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-title="Fund Management Role" data-content="You may use this to assign a custom role to this fund. Members of the chosen role will be able to view contribution reports for data associated with this fund. If unspecified, the finance role is required."><i class="fa fa-info-circle"></i></a>&nbsp;
                            <label for="@Html.IdFor(m => m.FundManagerRoleId)" class="control-label">Fund Management Role</label>
                            @Html.DropDownList("FundManagerRoleId", CmsWeb.Areas.Finance.Controllers.FundController.GetRolesList(), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="checkbox">
                                <label class="control-label">
                                    @Html.CheckBox("FundPledgeFlag")
                                    Pledge fund?
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="control-label">
                                    @Html.CheckBox("NonTaxDeductible")
                                    Non tax deductible?
                                </label>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <a href="/Funds" class="btn btn-default">Cancel</a> <button type="submit" class="btn btn-primary">Save Fund</button>
                </div>
            </div>
        </div>
    </div>
}
@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="popover"]').popover({ html: true });
            $('[data-toggle="popover"]').click(function (ev) {
                ev.preventDefault();
            });
        });
    </script>
}
