@model CmsWeb.Areas.Search.Models.PendingPersonModel
<div class="control-group">
    <label class="control-label">For</label>
    <div class="controls">
        <p>@Model.FirstName @Model.LastName</p>
    </div>
</div>
@Html.EditorFor(m => m.HomePhone)
@Html.EditorFor(m => m.AddressInfo.AddressLineOne)
@Html.EditorFor(m => m.AddressInfo.AddressLineTwo)
@Html.EditorFor(m => m.AddressInfo.CityName)
@Html.EditorFor(m => m.AddressInfo.StateCode)
@Html.EditorFor(m => m.AddressInfo.ZipCode)
@Html.EditorFor(m => m.AddressInfo.Country)