@model CmsWeb.Areas.People.Models.ContributionsModel
@using UtilityExtensions
@{
    var jan1 = new DateTime(DateTime.Now.Year, 1, 1).ToSortableDate();
    var today = DateTime.Today.ToSortableDate();
    var jan1Last = new DateTime(DateTime.Now.Year - 1, 1, 1).ToSortableDate();
    var dec31Last = new DateTime(DateTime.Now.Year - 1, 12, 31).ToSortableDate();
}
<form class="non-modal ajax">
    <div class="pull-right">
        <span>Statement:</span>
        <a class="btn btn-mini" target="_blank" href="/Person/ContributionStatement/@Model.person.PeopleId/@jan1/@today">Year to date</a>
        <a class="btn btn-mini" target="_blank" href="/Person/ContributionStatement/@Model.person.PeopleId/@jan1Last/@dec31Last">Last Year</a>
    </div>
    <div class="pagination pagination-mini">
    @Html.Partial("Pager3", Model.Pager)
    </div>
    <table id="results" class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>@Model.Pager.SortLink("Date")</th>
                <th class="right">@Model.Pager.SortLink("Amount")</th>
                <th><span class="pad-left">@Model.Pager.SortLink("Fund")</span></th>
                <th>@Model.Pager.SortLink("Type")</th>
                <th>@Model.Pager.SortLink("CheckNo")</th>
                @if (Model.ShowNames)
                {
                    <th>@Model.Pager.SortLink("Name")</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var c in Model.ViewList())
            {
                <tr>
                    <td>@c.Date.ToShortDateString()</td>
                    <td class="right">@c.Amount.ToString("N2")</td>
                    <td><span class="pad-left">@c.Fund</span></td>
                    <td>@c.Type</td>
                    <td>@c.CheckNo</td>
                    @if (Model.ShowNames)
                    {
                        <td>@c.Name</td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <div class="pagination pagination-mini">
        @Html.Partial("Pager3", Model.Pager)
    </div>
</form>
