@model CmsWeb.Areas.People.Models.ContributionsModel
@using CmsData
@using UtilityExtensions
@{
    var giving = Util.UserPeopleId == Util2.CurrentPeopleId && ViewExtensions2.DbSetting("TransactionGateway", "").HasValue() && DbUtil.Db.Setting("OnlineGiving", true);
    var vaultDisabled = DbUtil.Db.Setting("VaultDisabled");
    var campusId = Model.Person.CampusId;
    var checkImageUserView = true;
    if (DbUtil.Db.Setting("CheckImagesDisabledForUser"))
    {
        checkImageUserView = User.IsInRole("Finance");
    }
}
<form class="non-modal ajax">
    @FormAction(giving, campusId, vaultDisabled)
    @FormAction(giving, campusId, vaultDisabled, true)
    <div class="row">
        <div class="col-sm-12">
            @Html.Partial("PagerTop", Model)
            <div class="table-responsive">
                <table id="results" class="table table-striped">
                    <thead>
                        <tr>
                            <th>@Model.SortLink("Date")</th>
                            <th class="text-right">@Model.SortLink("Amount")</th>
                            <th><span class="pad-left">@Model.SortLink("Fund")</span></th>
                            <th>@Model.SortLink("Type")</th>
                            <th>@Model.SortLink("CheckNo")</th>
                            @if (Model.ShowNames)
                            {
                                <th>@Model.SortLink("Name")</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var c in Model.ViewList())
                        {
                            <tr>
                                <td>@c.Date.ToShortDateString()</td>
                                <td class="text-right">@c.Amount.ToString("N2")</td>
                                <td><span class="pad-left">@c.Fund</span></td>
                                <td>@c.Type</td>
                                <td>@c.CheckNo
                                    @if (c.ImageId != 0 && checkImageUserView)
                                    {
                                        <a href="@Url.Action("GetCheckImage", "GetCheckImage", new {Area = "Dialog", id = c.ContributionId})" class="searchadd pid">
                                            <i class="fa fa-info-circle"></i>
                                        </a>
                                    }
                                </td>
                                @if (Model.ShowNames)
                                {
                                    <td>@c.Name</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @Html.Partial("PagerBottom", Model)
            @Html.Partial("PagerHidden", Model)
            @Html.HiddenFor2(m => m.PeopleId)
        </div>
    </div>
</form>
@helper FormAction(bool giving, int? campusId, bool vaultDisabled, bool sm = false)
{
    if (giving)
    {
        if (sm)
        {
            <div class="visible-xs-block visible-sm-block">
                @if (!vaultDisabled)
                {
                    <a href="/Person2/ManageGiving" target="_blank" class="btn btn-default btn-block"><i class="fa fa-clock-o"></i> Manage Your Recurring Giving</a>
                }
                <a href="/Person2/OneTimeGift/@campusId" target="_blank" class="btn btn-default btn-block">Make a One Time Gift</a>
            </div>
        }
        else
        {
            <div class="row hidden-xs hidden-sm">
                <div class="col-sm-12">
                    <div class="pull-right">
                        @if (!vaultDisabled)
                        {
                            <a href="/Person2/ManageGiving" target="_blank" class="btn btn-default"><i class="fa fa-clock-o"></i> Manage Your Recurring Giving</a>
                        }
                        <a href="/Person2/OneTimeGift/@campusId" target="_blank" class="btn btn-default">Make a One Time Gift</a>
                    </div>
                </div>
            </div>
        }
        <br/>
    }
}
