@model CmsWeb.Areas.People.Models.ContributionsModel
@using UtilityExtensions
<form class="non-modal ajax">
    <div class="row">
        <div class="col-sm-12">
            @Html.Partial("PagerTop", Model)
            <div class="table-responsive">
                <table id="results" class="table table-striped">
                    <thead>
                        <tr>
                            <th>@Model.SortLink("Date")</th>
                            <th class="text-right">@Model.SortLink("Amount")</th>
                            <th><span class="pad-left">@Model.SortLink("Fund")</span></th>
                            <th>@Model.SortLink("Type")</th>
                            <th>@Model.SortLink("CheckNo")</th>
                            @if (Model.ShowNames)
                            {
                                <th>@Model.SortLink("Name")</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var c in Model.ViewList())
                        {
                            <tr>
                                <td>@c.Date.ToShortDateString()</td>
                                <td class="text-right">@c.Amount.ToString("N2")</td>
                                <td><span class="pad-left">@c.Fund</span></td>
                                <td>@c.Type</td>
                                <td>@c.CheckNo</td>
                                @if (Model.ShowNames)
                                {
                                    <td>@c.Name</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @Html.Partial("PagerBottom", Model)
            @Html.Partial("PagerHidden", Model)
            @Html.HiddenFor2(m => m.PeopleId)
        </div>
    </div>
</form>
