@model CmsWeb.Areas.People.Models.PersonModel
@using CmsData
<ul class="nav nav-pills subnav hidden-sm hidden-xs" data-tabparent="giving">
    @if (Model.ShowCombinedGiving)
    {
        <li><a href="#combinedGiving" data-toggle="tab" class="ajax">Contributions</a></li>
    }
    else
    {
        <li><a href="#contributions" data-toggle="tab" class="ajax">Contributions</a></li>
        <li><a href="#pledges" data-toggle="tab" class="ajax">Pledges</a></li>
    }
    <li><a href="#statements" data-toggle="tab" class="ajax">Statements</a></li>
</ul>
<select class="form-control visible-sm-block visible-xs-block nav-select-pills">
    <optgroup>
        @if (Model.ShowCombinedGiving)
        {
            <option value="#combinedGiving">Contributions</option>
        }
        else
        {
            <option value="#contributions">Contributions</option>
            <option value="#pledges">Pledges</option>
        }
    </optgroup>
    <optgroup label="_________________________">
        <option value="#statements">Statements</option>
    </optgroup>
</select>
<div class="tab-content" style="border: none;">
    @if (Model.ShowCombinedGiving)
    {
        <div class="tab-pane" id="combinedGiving" data-link="/Person2/Contributions">
            @*<div data-link="/Person2/Contributions">*@
            @Helper.HiddenId("PeopleId", Util2.CurrentPeopleId)
            @Helper.HiddenParameter("Filter", "Pledges")
            @*</div>
                <div data-link="/Person2/Contributions">
                    @Helper.HiddenId("PeopleId", Util2.CurrentPeopleId)
                    @Helper.HiddenParameter("Filter", "Contributions")
                </div>*@
        </div>
    }
    else
    {
        <div class="tab-pane" id="contributions" data-link="/Person2/Contributions">
            @Helper.HiddenId("PeopleId", Util2.CurrentPeopleId)
            @Helper.HiddenParameter("Filter", "Contributions")
        </div>
        <div class="tab-pane" id="pledges" data-link="/Person2/Contributions">
            @Helper.HiddenId("PeopleId", Util2.CurrentPeopleId)
            @Helper.HiddenParameter("Filter", "Pledges")
        </div>
    }
    <div class="tab-pane" id="statements" data-link="/Person2/Statements">
        @Helper.HiddenId("PeopleId", Util2.CurrentPeopleId)
    </div>
</div>
<div class="modal fade" id="editPledge-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Pledge</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="currentpledge" class="control-label">Pledge</label>
                            <input id="currentpledge" type="text" class="form-control numeric" />
                        </div>
                    </div>
                </div>
                <input type="hidden" id="editpledgeid" />
            </div>
            <div class="modal-footer">
                <input type="button" id="cancel" value="Cancel" class="btn btn-default" data-dismiss="modal" />
                <input type="button" id="puteditpledge" value="Edit Pledge" class="btn btn-primary" />
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="idtomerge" />

