@model AskCheckboxes
@using CmsData.Registration
@using (var ci = Html.BeginCollectionItem(Model.Name))
{
  var listname = Html.NameFor2(m => m.list);
  <div class="movable type-@Model.Type table not-wide w100 padded-box">
    @Html.Raw(ci.hiddenindex)
    @Html.HiddenFor(m => m.Type)
    <label>
      Checkboxes
      @Html.Partial("EditorTemplates/QuestionsMenu", new { ConfirmDelete = false })
    </label>
    @if (ViewBag.ShowHelp != false)
    {
      <div class="alert alert-info maxWidthMedium margin-top">@Html.Markdown(AskCheckboxes.Help)</div>
    }
    @Html.EditorFor(m => m.Label)
    @Html.EditorFor(m => m.Minimum)
    @Html.EditorFor(m => m.Maximum)
    @Html.EditorFor(m => m.Columns)
    <div id="Checkboxes" class="movable-list sort">
      @foreach (var item in Model.list)
      {
        item.Name = listname;
        @Html.EditorFor(m => item)
      }
    </div>
    <div class="newitem">
      <a href="/Organization/NewCheckbox/@listname">
        <img src="/Content/images/plus1.png" alt="" /> Add Item
      </a>
    </div>
  </div>
}