@model AskExtraQuestions
@using CmsData.Registration
@using (var ci = Html.BeginCollectionItem(Model.Name))
{
  var listname = Html.NameFor2(m => m.list);
  <div class="movable type-@Model.Type table not-wide w100 padded grey-box">
    @Html.Raw(ci.hiddenindex)
    @Html.HiddenFor(m => m.Type)
    <label class="ask-question">
      Extra Questions
      @Html.Partial("EditorTemplates/QuestionsMenu")
    </label>
    @if (ViewBag.ShowHelp != false)
    {
      <div class="alert alert-info maxWidthMedium margin-top">@Html.Markdown(Model.Help)</div>
    }
    <div id="Dropdown" class="movable-list sort">
      @foreach (var item in Model.list)
      {
        item.Name = listname;
        @Html.EditorFor(m => item)
      }
    </div>
    <div class="newitem">
      <a href="/Organization/NewExtraQuestion/@listname">
        <img src="/Content/images/plus1.png" alt="" /> Add Item
      </a>
    </div>
  </div>
}
