@model CmsData.Registration.AskGradeOptions
@using CmsWeb
@using (var ci = Html.BeginCollectionItem(Model.Name))
{
	var listname = Html.NameFor2(m => m.list);
	<li class="movable type-@Model.Type">@Html.Raw(ci.hiddenindex)
		@Html.HiddenFor(m => m.Type)
        <span style="cursor: pointer;" data-toggle="popover" data-content="This allows you to specify the grade being registered for." data-original-title="AskGradeOptions"><i class="fa fa-info-circle"></i></span>&nbsp;&nbsp;<label class="keyword big tip">
		    AskGradeOptions:
            @Html.Partial("EditorTemplates/QuestionsMenu")                                                                                                                                                                                                                          
        </label>
		<ul id="GradeOptions">
			<li><span class="keyword2">Label:</span>
				@Html.TextBoxFor(m => Model.Label, new {@class = "long"})
				<ul id="GradeOptions" class="movable-list sort">
					@foreach(var item in Model.list)
					{
					    item.Name = listname;
						@Html.EditorFor(m => item)
					}
				</ul>
				<div class="newitem"><a href="/Organization/NewGradeOption/@listname"><img src="/Content/images/plus1.png" /> Add Item</a></div>
			</li>
		</ul>
	</li>
}