@using CmsWeb
@using CmsWeb.Code
@model CmsWeb.Models.ScheduleInfo
@using (var ci = Html.BeginCollectionItem("schedules")) 
{
  <div>
    @Html.Raw(ci.hiddenindex)
    @Html.HiddenFor(m => m.Id, new {@class = "renumberMe"})
    @Html.EditorFor(m => m.SchedDay)
    @Html.EditorFor(m => m.Time, "Time")
    @Html.EditorFor(m => m.AttendCredit)
  </div>
}