<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico?v=2")">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0">
    <title>@ViewBag.Title</title>
    @ViewExtensions2.GoogleFonts()
    @ViewExtensions2.FontAwesome()
    @ViewExtensions2.jQueryUICss()
    @Fingerprint.Css("/Content/touchpoint/css/app.css")
    <link href="@Url.Content("~/Content/touchpoint/css/print.css")" media="print" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    @RenderSection("head", false)
</head>
    <body>
        @Html.Partial("NavBar")
        @if (!string.IsNullOrWhiteSpace(ViewBag.PageHeader))
        {
            <div id="page-header">
                <div class="container-fluid">
                    <h2>@ViewBag.PageHeader</h2>
                </div>
            </div>
        }
        @if (!string.IsNullOrWhiteSpace(ViewBag.ReportPageHeader))
        {
            <div id="page-header" class="text-center">
                <div class="container-fluid">
                    <h2>@ViewBag.ReportPageHeader</h2>
                </div>
            </div>
        }
        <div class="container-fluid" id="main">
            @RenderBody()
        </div>
        <div id="contact-footer">
            <div class="texture"></div>
            <ul class="list-inline">
                <li>@ViewExtensions2.DbSetting("nameofchurch", "Name of Church")</li>
                @if (!string.IsNullOrWhiteSpace(ViewExtensions2.DbSetting("ChurchPhone", "phone").FmtFone()))
                {
                    <li><i class="fa fa-phone"></i>&nbsp;&nbsp;<a href="tel:+@ViewExtensions2.DbSetting("ChurchPhone", "phone").FmtFone()">@ViewExtensions2.DbSetting("ChurchPhone", "phone").FmtFone()</a></li>
                }
                <li><i class="fa fa-envelope"></i>&nbsp;&nbsp;<a href="mailto:@DbUtil.AdminMail">@DbUtil.AdminMail</a></li>
            </ul>
        </div>
        <div id="footer" class="hidden-print">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6">
                        <img id="powered-by" src="@Url.Content("~/Content/touchpoint/img/powered-by.png")" />
                    </div>
                    <div class="col-xs-6 text-right">
                        &copy; @DateTime.Today.Year TouchPoint Software, LLC.
                    </div>
                </div>
            </div>
        </div>
        <div class="device-lg visible-lg-block"></div>
        <div class="device-md visible-md-block"></div>
        <div class="device-sm visible-sm-block"></div>
        <div class="device-xs visible-xs-block"></div>
        <div class="device-xss"></div>
        <div class="modal fade" id="empty-dialog" data-keyboard='false' data-backdrop='static'></div>
        @ViewExtensions2.jQuery()
        @ViewExtensions2.LoDash()
        @ViewExtensions2.Bootstrap3()
        @ViewExtensions2.jQueryUI()
        @ViewExtensions2.Velocity()
        @ViewExtensions2.Moment()
        @ViewExtensions2.jQueryValidation()
        @Fingerprint.Script("/Content/touchpoint/lib/jquery-globalize/js/globalize.js")
        <script src="@Url.Content(ViewExtensions2.jqueryGlobalizeCulture)" type="text/javascript"></script>
        @Fingerprint.Script("/Content/touchpoint/lib/jquery-validate-globalize/js/jquery.validate.globalize.js")
        @Fingerprint.Script("/Content/touchpoint/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js")
        @Fingerprint.Script("/Content/touchpoint/lib/bootstrap-sweetalert/js/sweet-alert.min.js")
        @Fingerprint.Script("/Content/touchpoint/lib/bootstrap-bootbox/js/bootbox.min.js")
        @Fingerprint.Script("/Content/touchpoint/lib/mousetrap/js/mousetrap.min.js")
        @Fingerprint.Script("/Content/touchpoint/lib/jquery-blockUI/js/jquery.blockUI.js")
        @Fingerprint.Script("/Content/touchpoint/js/main.js")
        @Fingerprint.Script("/Content/touchpoint/js/export-toolbar.js")
        @Fingerprint.Script("/Content/touchpoint/js/form-ajax.js")
        @Fingerprint.Script("/Content/touchpoint/js/search/search-add.js")
        <script type="text/javascript">
            $.dateFormat = '@Util.jQueryDateFormat';
        </script>
        @RenderSection("scripts", false)
        @Html.Partial("SearchBox")
    </body>
</html>