<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico?v=4")">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0">
    <title>@ViewBag.Title</title>
    @Fingerprint.Css("/Content/dist/css/app.css")
    @ViewExtensions2.FontAwesome()
    @Fingerprint.Css("/Content/touchpoint/lib/jquery-ui-custom/css/jquery-ui.min.css")
    @Fingerprint.Css("/Content/touchpoint/lib/bootstrap-editable/css/bootstrap-editable.css")
    @Fingerprint.Css("/Content/touchpoint/css/OrgSearch.css")
    @RenderSection("head", false)
</head>
<body style="@ViewBag.BodyStyle">
    @Html.Action("Index", "MobileAppMenu", new { area = "" })
    @Html.Raw((string)ViewBag.top)
    @RenderBody()
    @Html.Raw((string)ViewBag.bottom)
    @ViewExtensions2.GoogleAnalytics()
    @ViewExtensions2.jQuery()
    @ViewExtensions2.Bootstrap3()
    @Fingerprint.Script("/Content/touchpoint/lib/bootstrap-editable/js/bootstrap-editable.min.js")
    @Fingerprint.Script("/Content/dist/js/app.js")
    @RenderSection("scripts", false)
    <script type="text/javascript">
        if (!$("#main").find("script").length) {
            new Vue({
            }).$mount('#main');
        }
    </script>
</body>
</html>
