@using CmsData.Classes.Twilio
@{ 
    var admin = User.IsInRole("Admin");
    var innewlook = User.IsInRole("Newlook");
    var manageemails = User.IsInRole("ManageEmails");
    var managetrans = User.IsInRole("ManageTransactions");
    var edit = User.IsInRole("Edit");
    var design = User.IsInRole("Design");
    var finance = User.IsInRole("Finance");
    var onqb = (string)ViewData["OnQueryBuilder"] == "true";
}

<div class="navbar">
    <ul>
        <li><a href="/">Home </a></li>
        <li>
            <a href="#" class="trigger-dropdown">People
                <img src="/Content/images/dnarrowt.png" />
            </a>
            <div class="dropdown2-menu">
                <ul>
                    @Helper.LiAnchorLink("Search", "/PeopleSearch")
                    @if (ViewExtensions2.DbSetting("MenuAddPeople", "true") == "true")
                    {
                        <li>@Helper.JQueryIdLink("Add People", "addpeople")</li>
                    }
                    else
                    {
                        @Helper.LiAnchorLink("Add People", "http://www.bvcms.com/doc/AddPeopleContext", target:"_blank")
                    }
                    @Helper.LiAnchorLink("Manage Tags", "/Tags")
                    @Helper.LiAnchorLink("Tasks", "/Task/List")
                    @Helper.LiAnchorLink("Contacts", "/ContactSearch")
                    <li class="header"><span>Most Recent People</span></li>
                    @foreach (var p in Util2.MostRecentPeople)
                    {
                        @Helper.LiAnchorLink(p.Name ?? "unknown", "/Person/" + p.Id)
                    }
                    <li class="divider"></li>
                    @Helper.LiAnchorLink(Util.UserFullName, "/Person/" + Util.UserPeopleId)
                </ul>
            </div>
        </li>
        <li>
            <a href="#" class="trigger-dropdown">Organization
                <img src="/Content/images/dnarrowt.png" />
            </a>
            <div class="dropdown2-menu">
                <ul>
                    @Helper.LiAnchorLink("Search", "/OrgSearch")
                    @if (User.IsInRole("Edit"))
                    {
                        <li>@Helper.JQueryIdLink("Add Organization", "addorg")</li>
                        @Helper.LiAnchorLink("Org Members Management", "/OrgMembers")
                    }
                    @if (User.IsInRole("Coupon"))
                    {
                        @Helper.LiAnchorLink("Coupons", "/Coupons/")
                    }
                    <li class="header"><span>Most Recent Orgs</span></li>
                    @foreach (var o in Util2.MostRecentOrgs)
                    {
                        @Helper.LiAnchorLink(o.Name, "/Organization/" + o.Id)
                    }
                </ul>
            </div>
        </li>
        <li>
            <a href="#" class="trigger-dropdown">Reports
                <img src="/Content/images/dnarrowt.png" />
            </a>
            <div class="dropdown2-menu">
                <ul>
                    @Helper.LiAnchorLink("Vital Stats", "/Reports/VitalStats")
                    @Helper.LiAnchorLink("Week at a Glance", "/Reports/ChurchAttendance", target: "_blank")
                    @Helper.LiAnchorLink("Average Week at a Glance", "/Reports/ChurchAttendance2", target: "_blank")
                    @if (ViewExtensions2.DbSetting("Bellevue", "false") == "true")
                    {
                        @Helper.LiAnchorLink("Church Attendance Summary", "/Report/ChurchAttendanceSummaryRpt.aspx", target: "_blank")
                    }
                    @Helper.LiAnchorLink("Weekly Decisions", "/Reports/WeeklyDecisions")
                    @Helper.LiAnchorLink("Decision Summary", "/Reports/Decisions")
                    @Helper.LiAnchorLink("First Time Attenders", "/Home/NthTimeAttenders/1")
                    @Helper.LiAnchorLink("Second Time Attenders", "/Home/NthTimeAttenders/2")
                    @Helper.LiAnchorLink("Third Time Attenders", "/Home/NthTimeAttenders/3")
                    @Helper.LiAnchorLink("Extra Value Codes", "/Reports/ExtraValues")
                    @Helper.LiAnchorLink("Extra Value Data", "/Reports/ExtraValueData")
                    @if (admin)
                    {
                        <li class="header"><span>Admins</span></li>
                        @Helper.LiAnchorLink("Recent Registrations", "/Reports/RecentRegistrations?days=90&orgid=0")
                        @Helper.LiAnchorLink("Recent Registration Summary", "/Reports/RegistrationSummary?days=90")
                    }
                </ul>
            </div>
        </li>
        <li>
            <a href="#" class="trigger-dropdown">SearchBuilder
                <img src="/Content/images/dnarrowt.png" />
            </a>
            @Helper.SearchBuilderDropdown(onqb)
        </li>
        @if (User.IsInRole("Finance"))
        {
            <li>
                <a href="#" class="trigger-dropdown">Contributions
                    <img src="/Content/images/dnarrowt.png" />
                </a>
                <div class="dropdown2-menu">
                    <ul>
                        @Helper.LiAnchorLink("Bundles", "/Bundles")
                        <li class="divider"></li>
                        @Helper.LiAnchorLink("Search", "/Contributions")
                        <li class="header"><span>Reports</span></li>
                        @Helper.LiAnchorLink("Statements (Batch)", "/Statements")
                        @Helper.LiAnchorLink("Totals by Fund", "/FinanceReports/TotalsByFund", target: "_blank")
                        @Helper.LiAnchorLink("Donor Totals by Range", "/FinanceReports/DonorTotalsByRange", target: "_blank")
                        @Helper.LiAnchorLink("Totals by Fund Age Range", "/ContributionReports/TotalsByFundAgeRange.aspx", target: "_blank")
                        @Helper.LiAnchorLink("Totals by Fund Range", "/ContributionReports/TotalsByFundRange.aspx", target: "_blank")
                        @Helper.LiAnchorLink("Pledge Totals by Fund Range", "/ContributionReports/TotalsByFundRange.aspx?pledged=true", target: "_blank")
                        @Helper.LiAnchorLink("Pledge Report", "/FinanceReports/PledgeReport", target: "_blank")
                        @Helper.LiAnchorLink("Managed Giving", "/FinanceReports/ManagedGiving", target: "_blank")
                        <li class="divider"></li>
                        @Helper.LiAnchorLink("Fund Management", "/Funds")
                        @if (ViewExtensions2.DbSetting("ShowQuickBooksMenu", "false") == "true")
                        {
                            @Helper.LiAnchorLink("QuickBooks", "/QuickBooks")
                        }
                    </ul>
                </div>
            </li>
        }
        @if (admin || manageemails || managetrans || edit || design || finance)
        {
            <li>
                <a href="#" class="trigger-dropdown">Admin
                    <img src="/Content/images/dnarrowt.png" />
                </a>
                <div class="dropdown2-menu">
                    <ul>
                        @if (admin)
                        {
                            @Helper.LiAnchorLink("Users", "/Users")
                            @Helper.LiAnchorLink("Programs", "/Programs")
                            @Helper.LiAnchorLink("Divisions", "/Divisions")
                            @Helper.LiAnchorLink("Settings", "/Setting")
                            @Helper.LiAnchorLink("Metro Zips", "/MetroZips")
                        }
                        @if (admin && TwilioHelper.getSID().Length > 0 && TwilioHelper.getToken().Length > 0)
                        {
                            @Helper.LiAnchorLink("Twilio Management", "/Twilio")
                        }
                        @if (admin || design)
                        {
                            @Helper.LiAnchorLink("Special Content", "/Display")
                        }
                        @if (admin || managetrans)
                        {
                            @Helper.LiAnchorLink("Transactions", "/Transactions")
                        }
                        @if (admin || edit)
                        {
                            @Helper.LiAnchorLink("Check-in Activity", "/CheckinTimes")
                        }
                        @if (admin || manageemails)
                        {
                            @Helper.LiAnchorLink("Emails", "/Emails")
                            @Helper.LiAnchorLink("Users Can Email For", "/UsersCanEmailFor")
                        }
                        @if (admin)
                        {
                            @Helper.LiAnchorLink("SMS Messages", "/SMS/List")
                        }
                        @if (admin || finance)
                        {
                            @Helper.LiAnchorLink("Lookups", "/Lookups")
                        }
                        @if (admin)
                        {
                            @Helper.LiAnchorLink("Check-in Labels", "/CheckinLabels")
                            @Helper.LiAnchorLink("Update for a Tag", "/Batch/UpdateFields")
                            @Helper.LiAnchorLink("Update Status Flags", "/Batch/UpdateStatusFlags")
                            @Helper.LiAnchorLink("Tag PeopleIds", "/Batch/TagPeopleIds")
                        }
                    </ul>
                </div>
            </li>
        }
        <li><a href="/Home/Support2?helplink=@HttpUtility.UrlEncode(Util.HelpLink(Util.Helpfile))">Help</a></li>
    </ul>
</div>
