@using System.Web
@using CmsWeb.Code
@{
    var access = User.IsInRole("Access");
    var finance = User.IsInRole("Finance");
    var targetperson = Util2.TargetLinkPeople;
    var targetorg = Util2.TargetLinkOrg;
    var testnofinance = ((string)HttpContext.Current.Session["testnofinance"]) == "true";
}
<div class="navbar navbar-fixed-top yamm">
    <div class="navbar-inner" id="navGlobal">
        <div class="container-fluid container">
            @Html.Partial("CustomHeader")
            @if (access)
            {
                var useneworg = Util2.UseNewOrg;
                <div id="brand">
                    <a href="/"><div class="logo"></div></a>
                </div>
                <ul class="nav">
                    @Html.Partial("Menu/People")
                    @Html.Partial("Menu/Organization")
                    @Html.Partial("Menu/Reports")
                    @Html.Partial("Menu/Admin")
                </ul>
                <form class="form-search" id="nav-search">
                    <div>
                        <input id="SearchText" type="text" class="input" placeholder="Search" name="search" autocomplete="off">
                    </div>
                </form>
                <div id="helpstop" class="nav-drop btn-group">
                    @Html.Partial("Menu/Help")
                </div>
                <div id="nav-account" class="nav-drop btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user"></i>
                        <span class="username">@Util.UserName</span> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        @Helper.LiAnchorLink("Logout as " + Util.UserName, "/Account/LogOff/")
                        @Helper.LiAnchorLink("Change Password", "/Account/ChangePassword/")
                        <li class="space"></li>
                        @Helper.LiAnchorLink("Target Person Tab is " + (targetperson ? "ON" : "OFF"), "/Home/TargetPerson/" + targetperson)
                        @Helper.LiAnchorLink("Target Org Tab is " + (targetorg ? "ON" : "OFF"), "/Home/TargetOrg/" + targetorg)
                        @if (finance)
                        {
                            @Helper.LiAnchorLink("Turn finance off", "/APITest/TurnFinanceOff", !testnofinance)
                            @Helper.LiAnchorLink("Turn finance on", "/APITest/TurnFinanceOn", testnofinance)
                        }
                        @*@Helper.LiAnchorLink($"Use {(useneworg ? "OLD" : "NEW")} Org", "/Home/UseNewOrg/" + useneworg)*@

                        <li class="space"></li>
                        @Helper.LiAnchorLink("Reset Help tips", "/ResetTips")
                    </ul>
                </div>
                <div id="tagstop" class="nav-drop btn-group">
                    <a href="#" class="btn dropdown-toggle" style="display: inline-block" data-toggle="dropdown">
                        <i class="fa fa-tag outsideCurrentTag"></i><span class="currentTag username"><i class="fa fa-tag"></i> <span id="current-tag1">@Util2.CurrentTagName</span></span> <span class="caret"></span>
                    </a>
                    <ul id="tagdropdown" class="dropdown-menu pull-right">
                        <li><a href="/Tags"><b><i id="current-tag2">@Util2.CurrentTagName</i></b></a></li>
                        <li><a id="cleartag" href="/Tags/ClearTag"><i>Empty Active Tag</i></a></li>
                        <li class="space"></li>
                        @foreach (var t in CodeValueModel.UserTags())
                        {
                            <li><a href="/Home/SwitchTag?tag=@t.Value">@t.Value</a></li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>
</div>
