@{
    //bool admin, bool design, bool managetrans, bool edit, bool manageemails, bool finance)
    var access = User.IsInRole("Access");
    var onqb = (string)ViewData["OnQueryBuilder"] == "true";
    var headimage = DbUtil.HeaderImage("");
    var targetperson = DbUtil.Db.UserPreference("TargetLinkPeople", "false").ToBool();
    if (!headimage.HasValue())
    {
        headimage = DbUtil.Header();
    }
}
@if (access)
{
    <div class="navbar navbar-inverse navbar-fixed-top yamm">
        <div class="navbar-inner">
            <div class="container-fluid container">
                <ul class="nav">
                    <li id="top_nav_home"><a href="#" class="hide-text">Dashboard</a></li>
                    <li><a href="/"><i class="icon-home"></i></a></li>
                    @Html.Partial("Menu/People")
                    @Html.Partial("Menu/Organization")
                    @Html.Partial("Menu/Reports")
                    @Html.Partial("Menu/Admin")
                    @Html.Partial("Menu/Help")
                </ul>
            </div>
        </div>
    </div>
}
<header class="subhead">
    <div class="container">
        <div class="row-fluid">
            <div id="brand" class="span6">
                @Html.Raw(headimage)
            </div>
            <form id="nav-search" class="form-search span3">
                <div class="input-append">
                    <input id="SearchText" type="text" class="input-large" value="Search" default="Search" name="search" autocomplete="off" />
                    <div id="nav-search-results"></div>
                </div>
            </form>
            <div class="span3" id="nav-account">
                <div class="btn-group">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">@Util.UserPreferredName<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a id="cleartag" href="#">Empty Active Tag</a></li>
                        <li><a href="/Tags">Manage Active Tag</a></li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li><a href="/Manage/Users/LastActivity">Activity Log</a></li>
                        }
                        <li><a href="/Account/ChangePassword">Change Password</a></li>
                        <li><a href="/Home/TargetPerson/@targetperson.ToString()">Target Person Tab is @(targetperson ? "ON" : "OFF")</a></li>
                        <li class="divider"></li>
                        <li><a href="/Account/LogOff/">Logout as @Util.UserName</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
