<!DOCTYPE html>
<html lang="@System.Globalization.CultureInfo.CurrentUICulture.Name">
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    @ViewExtensions2.GoogleFonts()
    @ViewExtensions2.NewStyles()
    @ViewExtensions2.jQueryUICss()
    @Fingerprint.Css("/content/styles/siteblue.css")
    @ViewExtensions2.OldStyles()
    @ViewExtensions2.FontAwesome()
    <style type="text/css" media="print">
       input.noPrint { display: none; }
       span.noPrint { display:none; }
    </style>
    @RenderSection("head", required: false)
    @ViewExtensions2.FixupsCss()
    @ViewExtensions2.jQuery()
    @ViewExtensions2.Bootstrap()
    @ViewExtensions2.jQueryUI()
  @ViewExtensions2.jqueryGlobalize()
    @Fingerprint.Script("/Scripts/bundle.main2c.js")
    @Html.Partial("DatePickerDefaults2")
    @RenderSection("scripts", required: false)
</head>
<body>
@RenderBody()
</body>
</html>

