<!DOCTYPE html>
<html>
<head>
    <title></title>
    @Fingerprint.Css("/content/styles/bundle-css.css")
    <style type="text/css" media="print">
       input.noPrint { display: none; }
       span.noPrint { display:none; }
    </style>
    @RenderSection("head", required: false)
    @Fingerprint.Script("/Scripts/Bundle/main.js")
    @Html.Partial("DatePickerDefaults")
    @RenderSection("scripts", required: false)
</head>
<body>
@RenderBody()
</body>
</html>

