<!DOCTYPE html>
<html>
<head>
    <title></title>
    @ViewExtensions2.jQueryUICss()
    @Fingerprint.Css("/content/styles/siteblue.css")
    @ViewExtensions2.OldStyles()
    <style type="text/css" media="print">
       input.noPrint { display: none; }
       span.noPrint { display:none; }
    </style>
    @RenderSection("head", required: false)
    @ViewExtensions2.jQuery()
    @ViewExtensions2.jQueryUI()
    @Fingerprint.Script("/Scripts/jQuery/jquery-migrate-1.1.1.js")
    @Fingerprint.Script("/Scripts/jQuery/jquery.blockUI.js")
    @Fingerprint.Script("/Scripts/jQuery/jquery.validate.js")
    @Fingerprint.Script("/Scripts/js/ExportToolBar.js")

    @Html.Partial("DatePickerDefaults")
    @RenderSection("scripts", required: false)
</head>
<body>
@RenderBody()
</body>
</html>

