<!DOCTYPE html>
<html>
<head>
    <title></title>
    @ViewExtensions2.jQueryUICss()
    @(ViewExtensions2.UseNewLook() ? Fingerprint.Css("/content/styles/siteblue.css") : Fingerprint.Css("/content/styles/site.css"))
    @ViewExtensions2.OldStyles()
    <style type="text/css" media="print">
       input.noPrint { display: none; }
       span.noPrint { display:none; }
    </style>
    @RenderSection("head", required: false)
    @ViewExtensions2.jQuery()
    @ViewExtensions2.jQueryUI()
    <script>
        $.fn.jqdatepicker = $.fn.datepicker;
    </script>
    @Fingerprint.Script("/Scripts/bundle.main.js")
    @Html.Partial("DatePickerDefaults")
    @RenderSection("scripts", required: false)
</head>
<body>
@RenderBody()
</body>
</html>

