@{
    var bkcolor = DbUtil.Db.Setting("HeaderBackground", "#e4e2d5");
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    @Fingerprint.Css("/content/styles/jquery-ui-1.10.0.custom.css")
    @Fingerprint.Css("/content/styles/site.css")
    @Fingerprint.Css("/content/styles/bundle-css.css")
    <link href="/Content/font-awesome-4.0.3/css/font-awesome.min.css" rel="stylesheet" />
    @RenderSection("head", required: false)
    @ViewExtensions2.jQuery()
    @ViewExtensions2.jQueryUI()
    @Fingerprint.Script("/Scripts/Bundle/main.js")
    @Html.Partial("DatePickerDefaults")
    @RenderSection("scripts", required: false)
</head>
<body>
    @Html.Partial("Notices")
    <div id="container">
        @Html.Partial("OldHeader")
        <div id="main">
            @RenderBody()
        </div>
    </div>
    @Html.Partial("Dialogs")
    @RenderSection("PopupsPlaceholder", required: false)
    @Html.Partial("Support")
</body>
</html>
