<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    @ViewExtensions2.GoogleFonts()
    @ViewExtensions2.NewStyles()
    @ViewExtensions2.jQueryUICss()
    @Fingerprint.Css("/content/styles/siteblue.css")
    @ViewExtensions2.OldStyles()
    @ViewExtensions2.FontAwesome()
    @RenderSection("head", required: false)
    @ViewExtensions2.FixupsCss()
    @ViewExtensions2.jQuery()
    @ViewExtensions2.Bootstrap()
    @ViewExtensions2.jQueryUI()
    @Fingerprint.Script("/Scripts/bundle.main2c.js")
    @Html.Partial("DatePickerDefaults")
    <script>
        $.dtoptions = { format: '@Util.jQueryDateFormat2' };
    </script>
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="page-container">
        @Html.Partial("Notices")
        @Html.Partial("NewHeader3")
        <div id="oldpages" class="container">
            @RenderBody()
        </div>
    </div>
    @Html.Partial("Footer")
    @Html.Partial("Dialogs")
    @RenderSection("PopupsPlaceholder", required: false)
    <div id="loading-indicator">
        <img src="/Content/img/ajax-loader.gif" />
    </div>
</body>
</html>
