<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,600,300,700' rel='stylesheet' type='text/css'>
    @Fingerprint.Css("/content/css/new2css.css")
    @Fingerprint.Css("/content/font-awesome/css/font-awesome.css")
    @RenderSection("head", required: false)
    @Fingerprint.Css("/content/css/Fixups2.css")
    <style type="text/css">
        @{ var bkcolor = DbUtil.Db.Setting("HeaderBackground", ""); }
        @if (bkcolor.HasValue())
        {
            @:#header { background-color: @bkcolor; }
        }
    </style>
    @Helper.IncludeJs2()
    @RenderSection("scripts", required: false)
    @Html.Partial("DatePickerDefaults2")
</head>
    <body>
        <div class="page-container">
            @Html.Partial("Notices")
            @Html.Partial("NewHeader3")
            @RenderBody()
            @Html.Partial("Footer")
            @Html.Partial("Dialogs2")
            @RenderSection("PopupsPlaceholder", required: false)
            @*@Html.Partial("Support")*@
            <img src="/images/ajax-loader.gif" id="loading-indicator" style="display: none" />
        </div>
    </body>
</html>
