<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,600,300,700' rel='stylesheet' type='text/css'>
    @Fingerprint.Css("/content/bundle.new2css.css")
    @Fingerprint.Css("/content/styles/jquery-ui-1.10.0.custom.css")
    @Fingerprint.Css("/content/styles/siteblue.css")
    @Fingerprint.Css("/content/bundle.stylecss.css")
    <link href="/Content/font-awesome-4.0.3/css/font-awesome.min.css" rel="stylesheet" />
    @RenderSection("head", required: false)
    @Fingerprint.Css("/content/css/Fixups2.css")
    @ViewExtensions2.jQuery()
    @ViewExtensions2.Bootstrap()
    @ViewExtensions2.jQueryUI()
    @Fingerprint.Script("/Scripts/bundle.main2c.js")
    @Html.Partial("DatePickerDefaults")
    <script>
        $.dtoptions = { format: '@Util.jQueryDateFormat2' };
    </script>
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="page-container">
        @Html.Partial("Notices")
        @Html.Partial("NewHeader3")
        <div id="oldpages" class="container">
            @RenderBody()
        </div>
    </div>
    @Html.Partial("Footer")
    @Html.Partial("Dialogs")
    @RenderSection("PopupsPlaceholder", required: false)
    @Html.Partial("Support")
    <img src="/Content/images/ajax-loader.gif" id="loading-indicator" style="display: none" />
</body>
</html>
