@{
    var bkcolor = DbUtil.Db.Setting("HeaderBackground", "#e4e2d5");
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    @ViewExtensions2.jQueryUICss()
    @Fingerprint.Css("/content/styles/site.css")
    @ViewExtensions2.OldStyles()
    @ViewExtensions2.FontAwesome()
    @RenderSection("head", required: false)
    @ViewExtensions2.jQuery()
    @ViewExtensions2.jQueryUI()
    <script>
        $.fn.jqdatepicker = $.fn.datepicker;
    </script>
    @Fingerprint.Script("/Scripts/bundle.main.js")
    @Html.Partial("DatePickerDefaults")
    @RenderSection("scripts", required: false)
</head>
<body>
    @Html.Partial("Notices")
    <div id="container">
        @Html.Partial("OldHeader")
        <div id="main">
            @RenderBody()
        </div>
    </div>
    @Html.Partial("Dialogs")
    @RenderSection("PopupsPlaceholder", required: false)
</body>
</html>
