<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,600,300,700' rel='stylesheet' type='text/css'>
    @Fingerprint.Css("/content/css/bundle-new2css.css")
    @Fingerprint.Css("/content/font-awesome/css/font-awesome.css")
    @RenderSection("head", required: false)
    @Fingerprint.Css("/content/css/Fixups2.css")
    <style type="text/css">
        @{ var bkcolor = DbUtil.Db.Setting("HeaderBackground", ""); }
        @if (bkcolor.HasValue())
        {
            @:#header { background-color: @bkcolor; }
        }
    </style>
    @Fingerprint.Script("/Scripts/Bundle/main2.js")
    @Html.Partial("DatePickerDefaults2")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="page-container">
        @Html.Partial("Notices")
        @Html.Partial("NewHeader3")
        @RenderBody()
    </div>
    @Html.Partial("Footer")
    @Html.Partial("Dialogs2")
    @RenderSection("PopupsPlaceholder", required: false)
    @Html.Partial("Support")
    <img src="/Content/images/ajax-loader.gif" id="loading-indicator" style="display: none" />
</body>
</html>
