<!DOCTYPE html>
<html>
<head>
  <title>@ViewBag.Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  @Html.Raw(ViewExtensions2.Bootstrap3Css())
  @ViewExtensions2.FontAwesome()
  @RenderSection("head", false)
</head>
    <body>
        @Html.Action("Index", "MobileAppMenu", new { area = "" })
        @Html.Raw((string)ViewBag.top)
        <div class="container">
            @RenderBody()
        </div>
        @Html.Raw((string)ViewBag.bottom)
        @ViewExtensions2.GoogleAnalytics()
        @ViewExtensions2.jQuery()
        @ViewExtensions2.Bootstrap3()
        @RenderSection("scripts", false)
    </body>
</html>
