@model CmsWeb.Models.TotalsByFundModel
@using UtilityExtensions
@{
    Layout = ViewExtensions2.TouchPointLayout();
    ViewBag.Title = "Donor Totals By Range";
}
<div class="report">
    <h2>Donor Totals By Range</h2>
    <div class="well hidden-print" style="max-width: 850px; margin: auto;">
        <form id="totals">
            <div class="row">
                <div class="col-sm-4">
                    <label for="CampusId">Campus</label>
                    <div class="input-group">
                        @Html.DropDownList("CampusId", Model.Campuses(), new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-sm-4">
                    <label for="dt1">From Date</label>
                    <div class="input-group date">
                        @Html.TextBox("Dt1", Model.Dt1.GetValueOrDefault().ToShortDateString(), new { @class = "form-control" })<span class="input-group-addon hidden-xs hidden-sm"><i class="fa fa-calendar"></i></span>
                        @Html.Hidden("Dt1Iso", Model.Dt2.GetValueOrDefault().ToString("yyyy-MM-dd"), new { disabled = "disabled" })
                    </div>
                </div>
                <div class="col-sm-4">
                    <label for="dt2">To Date</label>
                    <div class="input-group date">
                        @Html.TextBox("Dt2", Model.Dt2.GetValueOrDefault().ToShortDateString(), new { @class = "form-control" })<span class="input-group-addon hidden-xs hidden-sm"><i class="fa fa-calendar"></i></span>
                        @Html.Hidden("Dt2Iso", Model.Dt2.GetValueOrDefault().ToString("yyyy-MM-dd"), new { disabled = "disabled" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="list-inline">
                        <li>
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBox("NonTaxDeductible") Non tax deductible?
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBox("Pledges") Pledges?
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBox("IncUnclosedBundles") Include unclosed bundles?
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary" id="run">Run</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="visible-print-block text-center">
        @{
            var campus = Model.Campuses().FirstOrDefault(c => c.Value == Model.CampusId.ToString());
            var campusName = campus != null ? campus.Text : "";
        }
        <strong>Campus:</strong> <span id="campusName">@campusName</span><br />
        <strong>From Date:</strong> @Model.Dt1.GetValueOrDefault().ToShortDateString()<br />
        <strong>To Date:</strong> @Model.Dt2.GetValueOrDefault().ToShortDateString()
    </div>
    <div id="results" style="margin-top: 25px;"></div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(function () {
            $("#CampusId").change(function() {
                $('#campusName').text($("#CampusId option:selected").text());
            });

            $("#run").click(function (ev) {
                ev.preventDefault();
                if (!$.DateValid($("#Dt1").val(), true))
                    return;
                if (!$.DateValid($("#Dt2").val(), true))
                    return;
                var f = $(this).closest('form');
                var q = f.serialize();
                $.post("/FinanceReports/DonorTotalsByRangeResults", q, function (ret) {
                    $("#results").html(ret);
                });
            });
        });
    </script>
}