@model CmsWeb.Models.TotalsByFundModel
@using UtilityExtensions
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Range</th>
                <th class="text-right">Total</th>
                <th class="text-right">Donors</th>
            </tr>
        </thead>
        <tbody>
            @{ var r = 0; }
            @foreach (var t in Model.TotalsByRange())
            {
                <tr>
                    <td>
                        @if (r == 100000)
                        {
                            @:> @r.ToString("n0")
                    }
                        else
                        {
                            @((r + 1).ToString("n0")) @:- @t.Range.ToString("n0")
                    }
                    </td>
                    <td class="text-right">@t.Total.ToString2("c")</td>
                    <td class="text-right">@t.Count.ToString2("n0")</td>
                </tr>
                        r = t.Range;
            }
            <tr class="totals-row">
                <td>Total</td>
                <td class="text-right">@Model.RangeTotal.Total.ToString2("c") </td>
                <td class="text-right">@Model.RangeTotal.Count.ToString2("n0") </td>
            </tr>
        </tbody>
    </table>
</div>