@using CmsData
@using CmsWeb.Areas.Finance.Models.Report
@using UtilityExtensions
@model CmsWeb.Models.TotalsByFundModel
@{
    Layout = ViewExtensions2.TouchPointLayout();
    ViewBag.Title = "Totals By Fund";
    ViewBag.ReportPageHeader = "Totals By Fund";
    var customFundsList = ContributionStatements.CustomFundSetSelectList(DbUtil.Db);
}
@*
    @section head
    {
      <style>
        @@media print {
          body { font-size: 16pt; }
        }
      </style>
    }
*@
<div class="report box box-responsive">
    <div class="box-content">
        <div class="well hidden-print" style="max-width: 850px; margin: auto;">
            <form id="totals" method="POST">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="CampusId" class="control-label">@Util2.CampusLabel</label>
                            <div class="input-group">
                                @Html.DropDownList("CampusId", Model.Campuses(), new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="Dt1" class="control-label">From Date</label>
                            <div class="input-group date">
                                @Html.TextBox("Dt1", Model.Dt1.GetValueOrDefault().ToShortDateString(), new { @class = "form-control" })<span class="input-group-addon hidden-xs hidden-sm"><i class="fa fa-calendar"></i></span>
                                @Html.Hidden("Dt1Iso", Model.Dt1.GetValueOrDefault().ToString("yyyy-MM-dd"), new { disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="Dt2" class="control-label">To Date</label>
                            <div class="input-group date">
                                @Html.TextBox("Dt2", Model.Dt2.GetValueOrDefault().ToShortDateString(), new { @class = "form-control" })<span class="input-group-addon hidden-xs hidden-sm"><i class="fa fa-calendar"></i></span>
                                @Html.Hidden("Dt2Iso", Model.Dt2.GetValueOrDefault().ToString("yyyy-MM-dd"), new { disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="TaxDedNonTax" class="control-label">Tax Status</label>
                            <div class="input-group">
                                @Html.DropDownList("TaxDedNonTax", Model.TaxTypes(), new { @class = "form-control" })
                            </div>
                        </div>
                        @if (customFundsList != null)
                        {
                            <div class="form-group">
                                <label for="FundSet" class="control-label">Custom Fund Set</label>
                                <div class="input-group">
                                    @Html.DropDownList("FundSet", customFundsList, new { @class = "form-control" })
                                </div>
                            </div>

                        }
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="Online" class="control-label">Source</label>
                            <div class="input-group">
                                @Html.DropDownList("Online", Model.OnlineOptions(), new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="checkbox">
                                <label class="control-label">
                                    @Html.CheckBox("IncUnclosedBundles") Include unclosed bundles?
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="control-label">
                                    @Html.CheckBox("IncludeBundleType") Include bundle type?
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="control-label">
                                    @Html.CheckBox("FilterByActiveTag") Filter by active tag?
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-cloud-download"></i> Other Reports <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#" id="exportdonordetails">Export Donor Details</a>
                                    </li>
                                    <li>
                                        <a href="#" id="exportdonorfundtotals">Export Donor Fund Totals</a>
                                    </li>
                                    <li>
                                        <a href="#" id="exportdonortotals">Export Donor Totals</a>
                                    </li>
                                    <li id="gl-divider" class="divider" style="display: none;"></li>
                                    <li>
                                        <a href="#" id="ledgerincome">Export Ledger Income</a>
                                    </li>
                                    @foreach (var c in Model.CustomReports())
                                    {
                                        <li>
                                            <a href="/TotalsByFundCustomReport/@c" class="CustomReport">@c.SpaceCamelCase()</a>
                                        </li>
                                    }
                                    @if (User.IsInRole("Developer") && Util.UserName == "David")
                                    {
                                        <li class="divider"></li>
                                        <li>
                                            <a href="#" id="reconcile">Reconcile (Developer only)</a>
                                        </li>
                                    }
                                    <li class="hideAlt">
                                        <a href="/FundList" class="CustomReport">Fund List</a>
                                    </li>
                                </ul>
                            </div>
                            <button type="submit" class="btn btn-primary" id="run">Run</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="visible-print-block text-center">
            @{
                var campus = Model.Campuses().FirstOrDefault(c => c.Value == Model.CampusId.ToString());
                var campusName = campus != null ? campus.Text : "";
                var taxStatus = Model.TaxTypes().FirstOrDefault();
                var taxStatusName = taxStatus != null ? taxStatus.Text : "";
                var source = Model.OnlineOptions().FirstOrDefault(c => c.Value == Model.Online.ToString());
                var sourceName = source != null ? source.Text : "";
            }
            <strong>@Util2.CampusLabel:</strong> <span id="campusName">@campusName</span><br />
            <strong>From Date:</strong> <span id="fromDate">@Model.Dt1.GetValueOrDefault().ToShortDateString()</span><br />
            <strong>To Date:</strong> <span id="toDate">@Model.Dt2.GetValueOrDefault().ToShortDateString()</span><br />
            <strong>Tax Status:</strong> <span id="taxStatus">@taxStatusName</span><br />
            <strong>Source:</strong> <span id="sourceName">@sourceName</span><br />
            <strong>Include unclosed bundles?:</strong> <span id="includeUnClosedBundles">@Model.IncUnclosedBundles</span><br />
            <strong>Include bundle type:</strong> <span id="includeBundleType">@Model.IncludeBundleType</span>
        </div>
        <div id="results" style="margin-top: 25px;"></div>
    </div>
</div>
@section scripts
{
    @Fingerprint.Script("/Content/touchpoint/js/finance/totals-by-fund.js")
}
