@model CmsWeb.Models.TotalsByFundModel
@using UtilityExtensions
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <a tabindex="0" href="#" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-title="Fund Name" data-content="Click the Fund Name to see the breakdown by bundle."><i class="fa fa-info-circle"></i></a>&nbsp;
                    Fund Name
                </th>
                <th class="text-right">
                    <a tabindex="0" href="#" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-title="Total" data-content="Click an individual total to see the details."><i class="fa fa-info-circle"></i></a>&nbsp;
                    Total
                </th>
                <th class="text-right">Count</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var t in Model.TotalsByFund())
            {
                <tr>
                    <td>
                        <a href="@t.BundleTotalsUrl()" target="bundles">
                            @t.FundName (@t.FundId)</a>
                        @(t.QBSynced == 1 ? " (QBSynced)" : "")
                      @(t.OnLine == 1 ? " (Online)" : "")
                      @(t.GeneralLedgerId.HasValue() ? $" GL:{t.GeneralLedgerId}" : "")
                    </td>
                    <td class="text-right">
                        <a href="@t.ContributionsUrl()" target="search">
                            @t.Total.ToString2("c")
                        </a>
                    </td>
                    <td class="text-right">@t.Count.ToString2("n0")</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr class="totals-row">
                <td><a href="@Model.BundleTotalsUrl()" target="bundles">Total</a></td>
                <td class="text-right">
                    <a href="@Model.ContributionsUrl()" target="search">
                        @Model.FundTotal.Total.ToString2("c")
                    </a>
                </td>
                <td class="text-right">@Model.FundTotal.Count.ToString2("n0") </td>
            </tr>
        </tfoot>
    </table>
</div>