@model CmsWeb.Models.TotalsByFundModel
@using UtilityExtensions
@using CmsWeb
@using CmsData
@using CmsData.Classes.QuickBooks
@{
    Layout = Fingerprint.Layout();
    ViewBag.Title = "Totals By Fund";
    var qbh = new QuickBooksHelper();
}
@section head
{
    <style type="text/css" media="print">
        input.noPrint { display: none; }
        span.noPrint { display: none; }
    </style>
    <style>
        #extractlist li
        {
        display: inline;
        list-style-type: none;
        padding-right: 20px;
        }
    </style>
}
@section scripts
{
    @Fingerprint.Script("/Scripts/Finance/TotalsByFund.js")
}

<div class="roundbox floatleft">
    <h2>Totals By Fund</h2>
    <form id="totals" method="POST">
        Campus: @Html.DropDownList("CampusId", Model.Campuses())
        Start Date: @Html.TextBox("Dt1", Model.Dt1.ToString2("d"), new { style = "width: 100px; font-size: 110%", @class = "datepicker" })
        End Date: @Html.TextBox("Dt2", Model.Dt2.ToString2("d"), new { style = "width: 100px; font-size: 110%", @class = "datepicker" })
        <div style="color: Red">@Html.ValidationMessage("dates")</div>
        Non Tax Deductible:@Html.CheckBox("NonTaxDeductible")
        Pledges:@Html.CheckBox("Pledges")
        Include Unclosed Bundles:@Html.CheckBox("IncUnclosedBundles")
        Online:
        <select name="Online">
            <option value="2">Both</option>
            <option value="1">Online</option>
            <option value="0">Not Online</option>
        </select>
        <p>
            <ul id="extractlist">
               <li><input id="run" type="submit" value="Run Report" class="bt" /></li> 
               <li><input id="exportdonordetails" type="submit" value="Export Donor Details" class="bt" /></li> 
               <li><input id="exportdonorfundtotals" type="submit" value="Export Donor Fund Totals" class="bt" /></li> 
               <li><input id="exportdonortotals" type="submit" value="Export Donor Totals" class="bt" /></li> 
            @if (qbh.hasActiveConnection())
            {
               <li><input id="toquickbooks" type="submit" value="To QuickBooks" class="bt" /></li> 
            }
               <li class="hideAlt"><input id="glextract" type="submit" value="GLExtract" class="bt" /></li> 
            </ul>
        </p>
        <hr />
    </form>
</div>
<div style="clear: both"></div>
<div id="results">
	
</div>