@model CmsWeb.Areas.OnlineReg.Models.OnlineRegPersonModel
@{
  var phonePlaceHolder = Model.RequiredPhone() ? "" : "optional";
  var addrPlaceHolder = Model.RequiredAddr() ? "" : "optional";
  var zipPlaceHolder = Model.RequiredZip() ? "" : "optional";
}
<div class="form-group">
  <label class="control-label col-sm-3">Gender</label>
  <div class="col-sm-9">
    <label class="radio-inline"> @Html.RadioButtonFor(m => m.gender, "1") Male </label>
    <label class="radio-inline"> @Html.RadioButtonFor(m => m.gender, "2") Female </label>
    <div>@Html.ValidationMessageFor(m => m.gender)</div>
  </div>
</div>
<div class="form-group">
  <label class="control-label col-sm-3">Marital</label>
  <div class="col-sm-9">
    <label class="radio-inline"> @Html.RadioButtonFor(m => m.married, "10") Single </label>
    <label class="radio-inline"> @Html.RadioButtonFor(m => m.married, "20") Married </label>
    <div>@Html.ValidationMessageFor(m => m.married)</div>
  </div>
</div>
@if (Model.Found == false)
{
  @Html.EditorFor(m => m.HomePhone, new { placeholder = phonePlaceHolder })
  @Html.EditorFor(m => m.AddressLineOne, new { placeholder = addrPlaceHolder })
  @Html.EditorFor(m => m.AddressLineTwo, new { placeholder = "Optional" })
  @Html.EditorFor(m => m.City, new { placeholder = "Optional" })
  @Html.EditorFor(m => m.State, new { placeholder = "Optional" })
  @Html.EditorFor(m => m.ZipCode, new { placeholder = zipPlaceHolder })
  if (Model.ShowCountry)
  {
    @Html.EditorFor(m => m.Country, "Dropdown", new { items = Model.Countries() })
  }
}
