@using CmsWeb.Models
@model OnlineRegPersonModel
<div class="col-sm-offset-3 col-sm-9">
  @if (Model.Index == 0 && !Model.LoggedIn)
  // assume this is going to a new family because it is the first registrant and not logged in
  {
    Model.whatfamily = OnlineRegPersonModel.NewFamily;
    @Html.HiddenFor(m => m.whatfamily)
  }

  else // let them choose family
  {
    // allow for New family
    @Html.EditorFor(m => m, "WhatFamily", new {which = OnlineRegPersonModel.NewFamily})

    // not on the first registrant, allow "previous family"
    @Html.EditorForIf(m => m, Model.Index > 0, "WhatFamily", new {which = OnlineRegPersonModel.PreviousFamily})

    // logged in, allow "my family" choice
    @Html.EditorForIf(m => m, Model.LoggedIn, "WhatFamily", new {which = OnlineRegPersonModel.MyFamily})
  }
</div>
@Html.DivValidationMessageFor(m => m.whatfamily)