@using CmsData
@model CmsWeb.Areas.OnlineReg.Models.OnlineRegPersonModel
@{
  var addrPlaceHolder = Model.RequiredAddr() ? "" : "optional";
  var zipPlaceHolder = Model.RequiredZip() ? "" : "optional";
}
@Html.HiddenFor(m => m.FirstName)
@Html.HiddenFor(m => m.LastName)
@Html.HiddenFor(m => m.Suffix)
@Html.HiddenFor(m => m.EmailAddress)

<address>
  @Html.Partial("Flow2/FinishedHeader", Model)
</address>

<div class="alert alert-info">Please provide additional information</div>
@if (Model.StillNeedBirthday())
{
  @Html.EditorFor(m => m.DateOfBirth, new { placeholder = "M/D/YY" })
}
else if (Model.ShowOptionalBirthday())
{
  @Html.EditorFor(m => m.DateOfBirth, new { placeholder = "M/D/YY (optional)" })
}
else
{
  @Html.HiddenFor(m => m.DateOfBirth)
}

@if (Model.PhoneOK)
{
  @Html.HiddenFor(m => m.Phone)
}
else
{
  @Html.EditorFor(m => m.Phone)
}

<div class="form-group">
  <label class="control-label col-sm-3">Gender</label>
  <div class="col-sm-9">
    <label class="radio-inline"> @Html.RadioButtonFor(m => m.gender, "1") Male </label>
    <label class="radio-inline"> @Html.RadioButtonFor(m => m.gender, "2") Female </label>
    @if (Model.RequiredGender() == false)
    {
      <label class="radio-inline" style="color:gray">Optional</label>
    }
    <div>@Html.ValidationMessageFor(m => m.gender)</div>
  </div>
</div>
<div class="form-group">
  <label class="control-label col-sm-3">Marital</label>
  <div class="col-sm-9">
    <label class="radio-inline"> @Html.RadioButtonFor(m => m.married, "10") Single </label>
    <label class="radio-inline"> @Html.RadioButtonFor(m => m.married, "20") Married </label>
    @if (Model.RequiredMarital() == false)
    {
      <label class="radio-inline" style="color:gray">Optional</label>
    }
    <div>@Html.ValidationMessageFor(m => m.married)</div>
  </div>
</div>

@if (Model.ShowCampusOnRegistration)
{
  @Html.EditorFor(m => m.Campus, "Dropdown", new { label = Util2.CampusLabel, items = Model.Campuses() })
}
@Html.EditorFor(m => m.AddressLineOne, new { placeholder = addrPlaceHolder })
@Html.EditorFor(m => m.AddressLineTwo, new { placeholder = "Optional" })
@Html.EditorFor(m => m.City, new { placeholder = "Optional" })
@Html.EditorFor(m => m.State, new { placeholder = "Optional" })
@Html.EditorFor(m => m.ZipCode, new { placeholder = zipPlaceHolder })
@if (Model.ShowCountry)
{
  @Html.EditorFor(m => m.Country, "Dropdown", new { items = Model.Countries() })
}
@Html.Partial("Flow2/SubmitNewButtons", Model)