@using UtilityExtensions
@model CmsWeb.Areas.OnlineReg.Models.OnlineRegPersonModel

@* we have not searched for the person yet, let them find their profile *@
@if (!Model.Found.HasValue)
{
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <div class="pull-right">
        @Helper.OnlineRegAjaxButton("/OnlineReg/FindRecord/" + Model.Index, "Submit", style: "btn-primary min-width15em")
        @if (Model.Parent.AllowSaveProgress())
        {
          <div>
            @Helper.OnlineRegAjaxButton("/OnlineReg/SaveProgress", "Save Progress, Finish Later", style: "btn-warning pull-right min-width15em")
          </div>
        }
      </div>
    </div>
  </div>
}
// display the results of the find
else
{
  // we are about to add a new record, so ask which family to add to
  if (Model.Found == false)
  {
    @Html.Partial("Flow2/AddToFamily", Model)
  }
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <div class="pull-right">
        @Helper.OnlineRegAjaxButton("/OnlineReg/FindRecord/" + Model.Index, "Search Again", style: "btn-primary min-width15em")

        @* Allow Add New Profile if valid data, not memberonly, not create account mode *@
        @if (Model.IsValidForContinue && !Model.MemberOnly() && Model.orgid != Util.CreateAccountCode && (Model.Found ?? false) == false)
        {
          <div>
            @Helper.OnlineRegAjaxButton("/OnlineReg/AddressMaritalGenderForm/" + Model.Index,
                      "New Profile", style: "btn-warning min-width15em", id: "regnew")
          </div>
        }
        @if (Model.Parent.AllowSaveProgress())
        {
          <div>
            @Helper.OnlineRegAjaxButton("/OnlineReg/SaveProgress", "Save Progress, Finish Later", style: "btn-warning min-width15em")
          </div>
        }
      </div>
      @if (!Model.IsValidForContinue && Model.orgid == Util.CreateAccountCode)
      // display helpful message if an anonomous person is trying to create an account
      {
        <p class="alert alert-info">
          Call the church if you think your record should be in the system. It may be that
          we are missing some information on your record that we need to identify you like
          a phone number, date of birth or email address.
        </p>
      }
    </div>
  </div>
}