@model CmsWeb.Areas.OnlineReg.Models.OnlineRegModel
@{ Model.ShowLoginInstructions = true; }
<div class="well">
  @Html.EditorFor(m => m.username, new { placeholder = "Enter username or email address on record" })
  @Html.EditorFor(m => m.password, "password")
  @Html.DivValidationMessage("authentication")
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <div class="text-right">
        @if (Model.AllowAnonymous)
        {
          @Helper.OnlineRegAjaxButton("/OnlineReg/NoLogin", "Register without logging in", style: "btn-link")
        }
        @Helper.OnlineRegAjaxButton("/OnlineReg/Login/", "Login", id: "loginbt", style: "btn-primary")
      </div>
    </div>
    <p class="text-center">
      Need an account, or forgot your password?<br />
      <a href="/Account/ForgotPassword/">Request a password</a>
    </p>
  </div>
</div>
