@using UtilityExtensions
@model CmsWeb.Models.OnlineRegPersonModel
@{
    var funame = Html.NameFor2(m => m.FundItem);
    var funds = Model.Funds();
    decimal? tot = 0;
}
<div class="form-group">
    <div class="col-sm-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Funds</th>
                    <th style="width:100px;">
                        <div class="pull-right">
                            Amounts
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (var n = 0; n < funds.Length; n++)
                {
                    var i = funds[n];
                    var amt = Model.FundItemValue(i.Value.ToInt());
                    if (amt.HasValue)
                    {
                        tot = (tot ?? 0) + amt;
                    }
                    <tr>
                        <td>@i.Text</td>
                        <td>
                            <div class="pull-right">
                                <input type="hidden" name="@(funame)[@n].Key" value="@i.Value" />
                                <input type="text" name="@(funame)[@n].Value" value="@amt" class="form-control narrow sum" />
                                <div>@Html.ValidationMessageFor(m => m.FundItem[n])</div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <table class="table">
            <thead>
                <tr>
                    <th>Special Giving Funds</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <select class="form-control" id="e1">
                            <option></option>
                            <option value="AL">Alabamasdasdfadfadsfasdf</option>
                            <option value="WY">Wyomingasfasdfasdfasdfasdfasdfadsf</option>
                        </select>
                    </td>
                </tr>
            </tbody>
            @if (funds.Length == 1)
            {
                @Html.Hidden("total", tot)
            }
            else
            {
                <tfoot>
                    <tr>
                        <td><h4 class="pull-right">TOTAL</h4></td>
                        <td><h2 class="pull-right" style="margin: 0;">$<span id="total">@tot.ToString2("N2")</span></h2></td>
                    </tr>
                </tfoot>
            }
        </table>
    </div>
</div>
