@using UtilityExtensions
@model CmsWeb.Models.OnlineRegPersonModel
@if ((Model.classid ?? 0) > 0)
{
    <tr>
        <td>Chosen Class:</td>
        <td>@Model.org.OrganizationName</td>
    </tr>
}
@if (Model.Finished())
{
    <div class="personheader">
        <strong>@Model.FirstName @Model.LastName</strong>
        @if (Model.ShowCancelButton())
        {
            @Helper.OnlineRegAjaxButton("/OnlineReg/Cancel/" + Model.Index, Model.CancelText, style: "btn-xs btn-warning pull-right")
        }
    </div>
}
else
{
    <div>
        <div class="col-sm-12">
            <address>
                <strong>@Model.FirstName @Model.LastName</strong>
                @if (Model.ShowCancelButton())
                {
                    @Helper.OnlineRegAjaxButton("/OnlineReg/Cancel/" + Model.Index, Model.CancelText, style: "btn-xs btn-warning pull-right")
                }
                <br /><abbr>DOB:</abbr> @Model.DateOfBirth @Html.Raw(Model.LoggedIn ? "(<span>{0}</span>)".Fmt(Model.age) : "")
                @if (Model.Phone.HasValue())
                {
                    <br /><abbr title="Phone">P:</abbr> @Model.Phone
                }
                <br />@Model.EmailAddress
                @if (Model.ShowAddress && Model.Finished())
                {
                    <br />@Model.marrieddisplay @:&nbsp; @Model.genderdisplay<br />
                    <br />@Model.AddressLineOne
                    if (Model.AddressLineTwo.HasValue())
                    {
                        <br />@Model.AddressLineTwo
                    }
                    <br />@Util.FormatCSZ(Model.City, Model.State, Model.ZipCode)
                    if (Model.Country != "United States")
                    {
                        <br />@Model.Country
                    }
                }
            </address>
        </div>
    </div>
    if (Model.OtherOK)
    {
        @Html.Partial("Flow2/OtherHidden", Model)
        @Html.Partial("Flow2/OtherDisplay", Model)
    }
    else
    {
        @Html.Partial("Flow2/OtherEdit", Model)
    }
}