@using UtilityExtensions
@model CmsWeb.Models.OnlineRegPersonModel

@Html.EditorFor(m => m.FirstName)
@Html.EditorFor(m => m.MiddleName)
@Html.EditorFor(m => m.LastName)
@Html.EditorFor(m => m.Suffix)
@Html.EditorFor(m => m.DateOfBirth)
@(Model.ShowAddress
    ? Html.EditorFor(m => m.Phone, new { label = "Cell Phone" }) // Show Cell phone because HomePhone is already asked for in address
    : Html.EditorFor(m => m.Phone)
)
@Html.EditorFor(m => m.EmailAddress)
@if (!Model.ShowAddress)
{
    if (!Model.Found.HasValue) // we have not searched for the person yet, let them find their profile
    {
        @Helper.OnlineRegAjaxButtonRow("/OnlineReg/PersonFind/" + Model.index, "Find Profile")
    }
    else // display the results of the find
    {
        if (Model.Found == false) // Show how to add this person (to family, previous, new) did not find them
        {
            <div class="col-sm-offset-3 col-sm-9">
                @if (Model.index > 0 || Model.LoggedIn) // allow adding to a new family if we are logged in or beyond the first registrant
                {
                    <div class="radio">
                        <label>@Html.RadioButtonFor(m => m.whatfamily, "3") Add to new Family</label>
                    </div>
                }
                else // assume this is going to a new family not logged in and on first registrant
                {
                    Model.whatfamily = 3;
                    @Html.HiddenFor(m => m.whatfamily)
                }
                @if (Model.index > 0) // allow adding to previous registrant's family if we are not on the first registrant
                {
                    <div class="radio">
                        <label>@Html.RadioButtonFor(m => m.whatfamily, "2") Add to previous Family</label>
                    </div>
                }
                @if (Model.LoggedIn) // if logged in, allow adding to logged in family
                {
                    <div class="radio">
                        <label>@Html.RadioButtonFor(m => m.whatfamily, "1") Add to my Family</label>
                    </div>
                }
            </div>
            @Html.DivValidationMessageFor(m => m.whatfamily);
        }
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <span class="pull-right">
                    <a href="/OnlineReg/PersonFind/@Model.index" class="btn btn-primary submitbutton ajax">
                        Search Again
                    </a>
                    @*
                        Allow Add New Profile if valid data,
                        and not a memberonly type registration
                        and not in create account mode
                    *@
                    @if (Model.IsValidForContinue && !Model.MemberOnly() && Model.orgid != Util.CreateAccountCode)
                    {
                        <a id="regnew" href="/OnlineReg/ShowMoreInfo/@Model.index" class="btn btn-warning submitbutton ajax">
                            New Profile
                        </a>
                    }
                </span>
                @if (!Model.IsValidForContinue && Model.orgid == Util.CreateAccountCode) // display helpful message if an anonomous person is trying to create an account
                {
                    <p class="alert alert-info">
                        Call the church if you think your record should be in the system. It may be that
                        we are missing some information on your record that we need to identify you like
                        a phone number, date of birth or email address.
                    </p>
                }
            </div>
        </div>
    }
}
else // Showing address
{
    @Html.Partial("Flow2/AddressEdit", Model)
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <span class="pull-right">
                @if (Model.ManageSubscriptions()) // allow submit here for manage subscriptions
                {
                    if ((Model.age >= 16 || !Model.birthday.HasValue) && !Model.IsMissionTrip()) // only allow adults to create an account
                    {
                        <label>Create Account (optional) @Html.CheckBoxFor(m => m.CreatingAccount)</label>
                    }
                }
                <a href="/OnlineReg/SubmitNew/@Model.index" class="btn btn-primary submitbutton ajax">
                    Submit New Profile
                </a>
            </span>
        </div>
    </div>
}
