@model CmsWeb.Models.OnlineRegPersonModel
@if ((Model.classid ?? 0) > 0)
{ 
    <tr>
        <td>Chosen Class:</td>
        <td>@Model.org.OrganizationName</td>
    </tr>
}
@* name gets displayed elsewhere when finished *@
@if (!Model.Finished()) 
{ 
    @Html.DisplayFor(m => m.FirstName)
    @Html.DisplayFor(m => m.LastName)
}
    @Html.DisplayFor(m => m.DateOfBirth) @Html.Raw(Model.LoggedIn ? "(<span>@Model.age</span>)" : "")
    @Html.DisplayFor(m => m.Phone) @Html.Raw(Model.LoggedIn ? "(<span>@Model.age</span>)" : "")
    @Html.DisplayFor(m => m.EmailAddress)
@if (Model.ShowAddress)
{
    @Html.Partial("Flow2/AddressDisplay", Model)
}
