@using UtilityExtensions
@model CmsWeb.Areas.OnlineReg.Models.OnlineRegPersonModel
@{
  bool? loginShown = null;
}
@if (!Model.FinishedFindingOrAddingRegistrant)
{
  if (Model.LastItem() && !Model.Finished() && Model.NotFirst())
  {
    @Helper.OnlineRegSubmitButtonRow("Complete Registration for the above people", style: "btn-mini btn-warning margin-top")
  }
  
  // show a select class dropdown
  if (Model.UserSelectsOrganization()) 
  {
    @Html.Partial("Flow2/SelectClass", Model.Parent)
  }
  
  
  // show a family list if logged in and more than one in family
  if (Model.Parent.UserPeopleId.HasValue && Model.Parent.FamilyMembers().Any())
  {
    @Html.Partial("Flow2/SelectFamily", Model.Parent)
    @Helper.OnlineRegHeaderFullRow("Or find another non-family member here")
  }
  
  
  // otherwise if this is the first registrant, not logged in, and we are about to search for a person
  // then give them the option to login
  else if (Model.ShowLogin)
  {
    loginShown = true;
    <div class="form-group">
      <div class="col-sm-12">
        <h4 class="inline-block">Already have an account?</h4>
        <a id="login-here" href="/OnlineReg/YesLogin" class="btn btn-success submitlink">
          Login Here
        </a>
      </div>
    </div>
  }
}
@* Registrant Panel *@
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      @if (Model.Finished())
      {
        <a data-toggle="collapse" data-target="#collapse@(Model.Index)">
          @if (Model.Found.HasValue)
          {
            @Model.FirstName@:&nbsp;@Model.LastName <small>(click to toggle details)</small>
          }
        </a>
      }
      else if (Model.Found.HasValue)
      {
        @Model.FirstName@:&nbsp;@Model.LastName
      }
      else
      {
        @(loginShown == true ? "Or " : "")<text>Enter your information below</text>
      }
    </h4>
  </div>
  <div id="collapse@(Model.Index)" class="panel-collapse collapse @(Model.Finished() ? "" : "in")">
    <div class="panel-body">
      @if (!Model.ShowAddress && Model.RegistrantProblem.HasValue())
      {
        @Html.DivAlertBox(Html.Markdown(Model.RegistrantProblem).ToString())
      }
      @Html.Partial("Flow2/PersonMetaHidden", Model)

      @if (Model.FinishedFindingOrAddingRegistrant)
      {
        @Html.Partial("Flow2/PersonHidden", Model)
        @Html.Partial("Flow2/PersonDisplay", Model)
      }
      else
      {
        // Show next person to register, because still taking registrations
        if (!Model.Parent.IsEnded())
        {
          // A family member is always already found, display only
          if (Model.IsFamily && Model.IsValidForContinue)
          {
            @Html.Partial("Flow2/PersonHidden", Model)
            @Html.Partial("Flow2/PersonDisplay", Model)
          }
          // Find Person in Database
          else
          {
            Model.Parent.ShowFindInstructions = true;
            if (Model.Found == null || !ViewData.ModelState.IsValid || Model.RegistrantProblem.HasValue() || Model.Parent.UserNeedsSelection) // have not searched yet
            {
              @Html.Partial("Flow2/PersonFind", Model)
            }
            else if(Model.Found == false)
            {
              @Html.Partial("Flow2/EnterAddress", Model)
            }
            else
            {
              @Html.Partial("Flow2/PersonDisplay", Model)
            }
          }
        }
      }
    </div>
  </div>
</div>