@using UtilityExtensions
@model CmsWeb.Models.OnlineRegPersonModel
@{
    var or = "";
}

@if (!Model.ShowDisplay())
// This is a header that will show above the last unfinished item
{
    if (Model.UserSelectsOrganization()) // show a select organization dropdown
    {
        @Html.EditorFor(m => m, "SelectClass")
    }
    if (Model.Parent.UserPeopleId.HasValue && Model.Parent.FamilyMembers().Any())
    // show a family list because logged in and more than one in family
    {
        @Html.EditorFor(m => m, "SelectFamily")
        @Helper.OnlineRegHeaderRow("Or find another non-family member here")
    }
    else
    {
        <div class="form-group">
            <div class="col-sm-12">
                @if (Model.Parent.List.Count == 1 && !Model.IsNew && Model.Found != true && !Model.LoggedIn && !Model.OtherOK)
                {
                    <h4 class="inline-block">Already have an account?</h4>
                    <a href="/OnlineReg/YesLogin" class="btn btn-success submitlink">
                        Login Here
                    </a>
                    or = "Or ";
                }
            </div>
        </div>
    }
}
@if (Model.LastItem() && !Model.Finished() && Model.NotFirst())
{
    @Helper.OnlineRegSubmitButtonRow("Complete Registration for the above people")
    @Helper.OnlineRegHeaderRow("New Registrations")
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse@(Model.Index)">
                @if (Model.Found.HasValue)
                {
                @Model.FirstName  @Model.LastName
                }
                else
                {
                <text>
                    @(or)Help us find your record in our database
                    <small class="inline-block">(you can add a new record if not found)</small>
                </text>
                }
            </a>
        </h4>
    </div>
    <div id="collapse@(Model.Index)" class="panel-collapse collapse @(Model.Finished() ? "" : "in")">
        <div class="panel-body">
            @ShowRegistrant()
        </div>
    </div>
</div>

@helper ShowRegistrant()
{

    <div class="well @(Model.Index%2 == 0 ? "well-even" : "well-odd") ">

        @if (!Model.ShowAddress && Model.NotFoundText.HasValue())
        {
            @Html.DivAlertBox(Model.NotFoundText, alerttype: "alert-info")
        }
        @Html.Partial("Flow2/PersonMetaHidden", Model)


        @if (Model.ShowDisplay())
        {
            @Html.Partial("Flow2/PersonHidden", Model)
            @Html.Partial("Flow2/PersonDisplay", Model)
        }
        else
        {
            if (!Model.Parent.IsEnded())
            // Show next person to register, because still taking registrations
            {
                if (Model.IsFamily)
                // Already found, display only
                {
                    @Html.Partial("Flow2/PersonHidden", Model)
                    @Html.Partial("Flow2/PersonDisplay", Model)
                }
                else // Find or Add New Registrant
                {
                    Model.Parent.ShowFindInstructions = true;
                    @Html.Partial("Flow2/PersonEdit", Model)
                }
            }
        }
    </div>
}