@model CmsWeb.Models.OnlineRegPersonModel
@using CmsWeb
@using UtilityExtensions

@if (Model.LastItem() && !Model.Finished() && Model.NotFirst())
{
    @Helper.OnlineRegSubmitButtonRow("Complete Registration")
    @Helper.OnlineRegHeaderRow("New Registrations")
}
@if (!Model.ShowDisplay())
// This is a header that will show above the last unfinished item
{
    if (Model.UserSelectsOrganization()) // show a select organization dropdown
    {
        @Html.EditorFor(m => m, "SelectClass")
    }
    if (Model.Parent.UserPeopleId.HasValue && Model.Parent.FamilyMembers().Any())
    // show a family list because logged in and more than one in family
    {
        @Html.EditorFor(m => m, "SelectFamily")
        @Helper.OnlineRegHeaderRow("Or find another non-family member here")
    }
    else
    {
        @Html.Partial("Flow2/LoginOrFind", Model)
    }
}
<div class="well @(Model.Index % 2 == 0 ? "well-even" : "well-odd") ">
    @if (!Model.ShowAddress && Model.NotFoundText.HasValue())
    {
        @Html.DivAlertBox(Model.NotFoundText, alerttype: "alert-info")
    }
    @Html.Partial("Flow2/PersonMetaHidden", Model)

    @if (Model.ShowDisplay())
    {
        @Html.Partial("Flow2/PersonHidden", Model)
        @Html.Partial("Flow2/PersonDisplay", Model)
    }
    else if (!Model.Parent.IsEnded())
    // Show next person to register, because still taking registrations
    {
        if (Model.IsFamily)
        // Already found, display only
        {
            @Html.Partial("Flow2/PersonHidden", Model)
            @Html.Partial("Flow2/PersonDisplay", Model)
        }
        else // Find or Add New Registrant
        {
            Model.Parent.ShowFindInstructions = true;
            @Html.Partial("Flow2/PersonEdit", Model)
        }
    }
</div>
