@using CmsData
@using UtilityExtensions
@model CmsWeb.Areas.OnlineReg.Models.OnlineRegModel
@{
  var sendlinkmsg = "";
  var specialcase = Model.ManagingSubscriptions() ? "subscription"
      : Model.OnlinePledge() ? "pledge"
        : Model.IsCreateAccount() ? "account"
          : Model.OnlyOneAllowed() ? "onlyone"
            : string.Empty;
}
<div class="form-group">
  <div class="col-sm-12">
    <span class="pull-right">
      @if (!Model.OnlyOneAllowed())
      {
          var btntext = DbUtil.Db.Setting("RegisterSomeoneElseText", "Register Someone Else");
        @Helper.OnlineRegAjaxButton("/OnlineReg/AddAnotherPerson/", btntext, style: "btn-primary min-width15em", id: "register-another")
      }
      @switch (specialcase)
      {
        case "subscription":
          @Helper.OnlineRegSubmitButton("Manage Subscriptions", onlyoneallowed: true)
          break;
        case "pledge":
          @Helper.OnlineRegSubmitButton("Email me a link to manage my pledge")
          sendlinkmsg = "This link will be sent to " + UtilityExtensions.Util.ObscureEmail(Model.last.person.EmailAddress);
          break;
        case "account":
          @Helper.OnlineRegSubmitButton("Create Account")
          break;
        case "onlyone":
          @Helper.OnlineRegSubmitButton("Finish Registration", onlyoneallowed: true, style: "btn-default")
          break;
        default:
          @Helper.OnlineRegSubmitButton(Model.GetFinishRegistrationButton(), style: "btn-success min-width15em")
          if (Model.AllowSaveProgress())
          {
            @Helper.OnlineRegAjaxButton("/OnlineReg/SaveProgress", "Save Progress, Finish Later", style: "btn-warning min-width15em")
          }
          break;
      }
    </span>
    @if (sendlinkmsg.HasValue())
    {
      <div class="alert alert-info">@sendlinkmsg</div>
    }
  </div>
</div>
