@model CmsWeb.Areas.OnlineReg.Models.OnlineRegModel
@Helper.OnlineRegHeaderFullRow("Make a Selection")
<div>
    <select name="classid">
        @foreach (var i in Model.Classes(Model.classid))
        {
            <option value="@i.Id" @(i.selected ? "selected=selected" : "") @(i.filled ? "disabled=disabled" : "")>@i.Text</option>
        }
    </select>
    @Html.DivValidationMessage("classid")
</div>