@model CmsWeb.Areas.OnlineReg.Models.OnlineRegPersonModel

@using CmsData
@using CmsWeb.Areas.Dialog.Models
@using UtilityExtensions
@{
  var goer = DbUtil.Db.LoadPersonById(Model.Parent.GoerId ?? 0);
  var name = goer != null ? goer.Name : "selected participant";
  var paylink = Model.Parent.MissionTripSelfSupportPaylink;
}
@if (goer == null)
{
  <div class="form-group">
    @Html.Label("Choose Participant", new { @class = "control-label col-sm-3 labelsize" })
    <div class="col-sm-9">
      @Html.DropDownListFor(m => m.MissionTripGoerId, Model.MissionTripGoers(), new {@class = "form-control"})
      @Html.ValidationMessageLabelFor(m => m.MissionTripGoerId, errorClass: "field-validation-error alert alert-block")
    </div>
  </div>
}
@Html.EditorFor(m => m.MissionTripSupportGoer, new { label = "Your gift to support " + name })
@if (Model.IsGoer())
{
  <div class="form-group">
    <label class="control-label col-sm-3 labelsize">Self Support</label>
    <div class="col-sm-9">
        <p class="form-control-static">
      @if (paylink != null)
      {
          <a href="@paylink">Click here to make payment for your trip</a>
      }
      else
      {
        @:Login or use paylink to make payment for your trip
      }
        </p>
    </div>
  </div>
}
@Html.EditorFor(m => m.MissionTripNoNoticeToGoer,
    new { label = $"If you don't want {name} to be notified of your gift, check this box."})
@Html.EditorFor(m => m.MissionTripSupportGeneral,
    new
    {
      label = "Make a gift toward this mission trip's Team Fund",
      help = "note: these will show as two separate contributions"
    })
<div class="form-group">
  <div class="col-sm-offset-3 col-sm-9">
    @if ((Model.age >= 16 || !Model.BestBirthday.HasValue) && !Model.IsCreateAccount() && !Model.IsSpecialScript())
    {
      if (Model.InMobileAppMode && !Util.UserPeopleId.HasValue && !Model.LoggedIn)
      {
        @Html.Hidden("CreatingAccount", true)
      }
      else
      {
        <div class="checkbox">
          <label>
            @Html.CheckBoxFor(m => m.CreatingAccount) Create Account (optional)
          </label>
        </div>
      }
    }
    @Helper.OnlineRegAjaxButton("/OnlineReg/SubmitQuestions/" + @Model.Index, "Submit", style: "btn-primary pull-right")
    @Html.DivValidationMessage("Form")
  </div>
</div>
