@model CmsWeb.Models.SearchDivisionsModel
<div class="modal-header">
    <a class="close" data-dismiss="modal">x</a>
    <h4>Select Divisions</h4>
</div>
<div class="modal-body">
    @Html.HiddenFor(m => m.ordered)
    @Html.HiddenFor(m => m.singlemode)
    @Html.HiddenFor(m => m.id)
    @Html.HiddenFor(m => m.topid)
    @Html.TextBoxFor(m => m.name, new {title="Partial Program / Division Name"} )
  <a href="/SearchDivisions/Results" id="search" class="btn btn-primary ajax">Search</a>

    <div class="pagination pagination-mini">
        @Html.Partial("Pager3", Model)
    </div>
     @Html.Partial("Results", Model)
    <div class="pagination pagination-mini">
        @Html.Partial("Pager3", Model)
    </div>
</div>
<div class="modal-footer">
</div>