@model SearchDivisionsModel
@using CmsWeb
@using CmsWeb.Models
@using UtilityExtensions
<html>
<head>
    <title>Index</title>
    <script type="text/javascript">
        if (typeof (Object) === "undefined") {
            window.location.reload();
        }
    </script>

    @if (ViewExtensions2.UseNewLook())
    {
        @Fingerprint.Css("/content/css/bundle-new2css.css")
        @Fingerprint.Css("/content/styles/bundle-css.css")
        <link href="~/Content/font-awesome-4.0.3/css/font-awesome.min.css" rel="stylesheet" />
        @Fingerprint.Css("/content/css/Fixups2.css")
        @ViewExtensions2.jQuery()
        @ViewExtensions2.jQueryUI()
        @Fingerprint.Script("/Scripts/Bundle/main2c.js")
        @Html.Partial("DatePickerDefaults")
        <script>
            $.dtoptions = { format: '@Util.jQueryDateFormat2' };
        </script>
    }
    else
    {
        @Fingerprint.Css("/content/styles/bundle-css.css")
        @ViewExtensions2.jQuery()
        @ViewExtensions2.jQueryUI()
        @Fingerprint.Script("/Scripts/Bundle/main.js")
    }
    @Fingerprint.Script("/Scripts/Dialog/SearchDivisions.js")
</head>
<body style="padding-top: 0;">
    <form name="form1">
        @Html.Hidden("ordered", Model.ordered)
        @Html.Hidden("singlemode", Model.singlemode)
        @Html.Hidden("id", Model.singlemode)
        @Html.Hidden("topid")
        <table id="searchvalues" class="roundbox" cellspacing="5">
            <tr>
                <th class="right"> Name/ID#: </th>
                <td><input id="name" name="name" title="Partial Program / Division Name" type="text" value="" /></td>
            </tr>
            <tr>
                <td>
                    <a id="close" href="#" class="bt">Close</a>
                </td>
                <td class="right">
                    <a id="clear" href="#" class="bt">Clear</a>
                    <a href="/SearchDivisions/Results" id="search" class="bt default formlink blue">Search</a>
                </td>
            </tr>
        </table>
        @Html.Partial("Results", Model)
    </form>
</body>
</html>