@model CmsWeb.Areas.Dialog.Models.SearchUsersModel
<div class="modal-dialog">
    <div class="modal-content">
       <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Select Users</h4>
        </div>
        <div class="modal-body">
            @Html.Hidden("topid0", Model.topid)
            @Html.Hidden("topid", Model.topid)
            @Html.Hidden("ordered", Model.ordered)
            @Html.Hidden("singlemode", Model.singlemode)
            <div class="well">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
                            <input id="searchname" name="name" type="text" title="Starting letters of First&lt;space>Last or just Last" class="form-control search-query">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="pull-right">
                            <a href="/SearchUsers/Results" type="submit" class="search btn btn-primary ajax">Search</a> <a href="/SearchUsers/Results" type="submit" class="newsearch btn btn-default ajax">Clear</a>
                        </div>
                    </div>
                </div>
            </div>
            <div style="overflow-y: auto; max-height: 400px">
                @Html.Partial("Results", Model)
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn btn-default" data-dismiss="modal">Cancel</a> <button class="UpdateSelected btn btn-primary">Save changes</button>
        </div>
    </div>
</div>