@using CmsData
@model CmsWeb.Areas.Org2.Models.SettingsGeneralModel
@{
  ViewBag.ShowHelp = DbUtil.Db.UserPreference("ShowGeneralHelp") == "true";
  ViewBag.FalseValue = "";
}
<form class="form form-horizontal non-modal ajax span12 margin-top">
  @Html.Hidden("Id", Model.Id)
  @FormAction()
  @Html.DisplayFor(m => m.Location)
  @Html.DisplayFor(m => m.PendingLoc)
  @Html.DisplayFor(m => m.Description, "Html")
  @Html.DisplayFor(m => m.EntryPoint)
  @Html.DisplayFor(m => m.PublishDirectory)
  @Html.DisplayFor(m => m.GradeAgeStart)
  @Html.DisplayFor(m => m.Gender)
  @Html.DisplayFor(m => m.PhoneNumber)
  @Html.DisplayFor(m => m.IsRecreationTeam)
  @Html.DisplayFor(m => m.IsMissionTrip)
  @Html.DisplayFor(m => m.NoCreditCards)
  @if (User.IsInRole("Admin"))
  {
    @Html.DisplayFor(m => m.LimitToRole)
  }
  @FormAction()
</form>
@helper FormAction()
{
  <div class="pull-right">
    <a href="/Org/GeneralHelpToggle/@Model.Id" class="btn ajax">@(ViewBag.ShowHelp == true ? "Hide Help" : "Show Help")</a>
    @if (User.IsInRole("Edit"))
    {
      <a href="/Org/GeneralEdit" class="btn ajax btn-primary">Edit</a>
    }
  </div>
  @Html.DivValidationMessage("Form", "inline")
}
