@using CmsData
@using UtilityExtensions
@model CmsWeb.Areas.Search.Models.RegistrationSearchModel
<div id="results">
    @Html.Partial("PagerTop", Model)
    <div class="table-responsive">
        <table id="resultsTable" class="table table-striped">
            <thead>
                <tr>
                    <th>@Model.SortLink("Date")</th>
                    <th>@Model.SortLink("Registrant")</th>
                    <th>User</th>
                    <th>Birthday</th>
                    <th class="text-right">Count</th>
                    <th class="text-center">Complete</th>
                    <th>@Model.SortLink("Organization")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var r in Model.ViewList())
                {
                    <tr>
                        <td><a href="/OnlineReg/RegPeople/@r.Id" target="regdata">@r.Stamp.FormatDateTm()</a></td>
                        <td>
                            @r.First.Truncate(20) @r.Last.Truncate(20)
                        </td>
                        <td>
                            @if (r.PeopleId.HasValue)
                            {
                                <a href="/Person2/@r.PeopleId" target="detail">@r.Name</a>
                            }
                            else
                            {
                                <text>anonymous</text>
                            }  
                        </td>
                        <td>@r.Dob</td>
                        <td class="text-right">@r.Cnt.ToString2("n0")</td>
                        <td class="text-center">
                            @if (r.Completed.GetValueOrDefault())
                            {
                                <i class="fa fa-check"></i>
                            }
                        </td>
                      <td><a href="/Org/@r.OrganizationId" target="detail">@r.OrganizationName</a></td>
                      <td>
      <a href="/OnlineReg/DeleteRegData/@r.Id" class="delete btn btn-xs btn-warning">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @Html.Partial("PagerBottom", Model)
    @Html.Hidden("totcnt", Model.Count().ToString("N0"))
    @Html.Partial("PagerHidden", Model)
</div>
