@using CmsData
@using UtilityExtensions
@model CmsWeb.Areas.Search.Models.RegistrationSearchModel
<div id="results">
    <div>Count: @Model.Count().ToString("n0")</div>
    <div class="pagination pagination-mini">
        @Html.Partial("PagerHidden", Model)
        @Html.Partial("Pager3", Model)
    </div>
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
              <th>@Model.SortLink("Date")</th>
              <th>Registrant/User</th>
              <th>Birthday</th>
              <th class="right">Count</th>
              <th>Complete</th>
              <th>@Model.SortLink("Organization")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in Model.ViewList())
            {
              <tr>
                <td><a href="/OnlineReg/RegPeople/@r.Id">@r.Stamp.FormatDateTm()</a></td>
                <td>
                  @r.First.Truncate(20) @r.Last.Truncate(20)
                  <div>
                    @if (r.PeopleId.HasValue)
                    {
                      <a href="/Person2/@r.PeopleId" target="detail"> @r.Name </a>
                    }
                    else
                    {
                      <text>anonymous</text>
                    }
                  </div>
                </td>
                <td>@r.Dob</td>
                <td class="right">@r.Cnt.ToString2("n0")</td>
                <td>@((r.Completed ?? false) ? "YES" : "incomplete")</td>
                <td><a href="@Util2.Org/@r.OrganizationId" target="detail">@r.OrganizationName</a></td>
              </tr>
            }
        </tbody>
    </table>
    <div class="pagination pagination-mini">
        @Html.Partial("Pager3", Model)
    </div>
</div>
