@using CmsData
@model CmsData.Content
@{
  ViewBag.Title = "Edit Html Content";
  ViewBag.PageHeader = Model.Title;
  Layout = ViewExtensions2.TouchPointLayout();

}
@using (Html.BeginForm("ContentUpdate", "Display", FormMethod.Post))
{
  <div class="row">
    <div class="col-md-9">
      <div class="box box-responsive">
        <div class="box-content">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="title" class="control-label">Title</label>
                @Html.TextBox("title", Model.Title, new { @class = "form-control" })
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="ContentKeyWords" class="control-label">Content KeyWords</label>
                @Html.TextBox("ContentKeyWords", ViewBag.ContentKeyWords as string, new { @class = "form-control" })
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="checkbox">
              <label class="control-label">
                @Html.CheckBox("snippet", Model.Snippet) Snippet?&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-info"><i class="fa fa-info-circle"></i> Note:  Snippet should only be clicked when you first come to the page, not after you have made any changes otherwise they will be lost.</span>
              </label>
            </div>
          </div>
          <div class="form-group">
            @Html.TextArea("body", new { @class = "form-control", rows = "26" })
          </div>
          <a href="/Display/#tab_htmlContent" class="btn btn-default">Back to List</a>
          <a href="/Display/ContentDelete/@Model.Id" class="btn btn-danger delete"><i class="fa fa-trash"></i> Delete</a>
          <input type="submit" class="btn btn-primary" value="Save Content"/>
        </div>
      </div>
    </div>
  </div>
  @Html.Hidden("id")
  @Html.Hidden("name")
}
@section scripts
{
    @ViewExtensions2.CkEditor()
    @Fingerprint.Script("/Content/touchpoint/js/admin/EditHtml.js")
    <script type="text/javascript">

        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }

        $(function() {
            $("a.delete").click(function(ev) {
                ev.preventDefault();
                swal({
                        title: "Are you sure?",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonClass: "btn-danger",
                        confirmButtonText: "Yes, delete it!",
                        closeOnConfirm: false
                    },
                    function() {
                        $.post("/Display/ContentDelete",
                            { id: "@Model.Id" },
                            function(ret) {
                                if (ret && ret.error)
                                    swal("Error!", ret.error, "error");
                                else {
                                    swal({
                                            title: "Deleted!",
                                            type: "success"
                                        },
                                        function() {
                                            window.location = "/Manage/Display/#tab_textContent";
                                        });
                                }
                            });
                    });
            });
        });

    </script>
}
