@using CmsWeb
@model CmsData.Content
@{
    Layout = ViewExtensions2.Layout();
}
@section scripts
{
    @ViewExtensions2.CKEditor()
    @Fingerprint.Script("/Scripts/js/htmlcontent.js")
}
@using (Html.BeginForm("ContentUpdate", "Display", FormMethod.Post))
{
    <div class="blogbody">
        <h2 class="title">@Model.Title</h2>
        <a href="/Display">Menu of Content</a>
        <hr />
        @Html.Hidden("name")
        @Html.Hidden("id")
        <div>
            Title: @Html.TextBox("title")  Snippit: @Html.CheckBox("snippit")
            <i style="max-width:40em; display: inline-block; vertical-align: top">
                (Note: this should only be clicked when you first come to the page, not after you have made any changes otherwise they will be lost)
            </i>
        </div>
        <div>
            @Html.TextArea("body", new { @class = "editor", rows = "26", style = "width:90%" })
    </div>
    <br />
    <input type="submit" class="bt" value="Save" />
    &nbsp;&nbsp;
    <a id="cancel" href='/Display' class="bt">Cancel</a>
    <a id="delete" href='/Display/ContentDelete/@Model.Id' class="bt red">Delete</a>
</div>
}