@using CmsWeb
@using CmsWeb.Models
@model CmsData.Content
@{
  Layout = ViewExtensions2.Layout();
}
@section scripts
{
  @ViewExtensions2.CKEditor()
  <script type="text/javascript">
    $(function () {
      $(".bt").button();
      $("#delete").click(function (ev) {
        ev.preventDefault();
        if (confirm("Are you sure you want to delete this entry?")) {
          $.post("/Display/ContentDelete", { id: "@Model.Id" }, function () {
            window.location = "/Manage/Display/";
          });
        }
      });
      CKEDITOR.on('dialogDefinition', function (ev) {
        var dialogName = ev.data.name;
        var dialogDefinition = ev.data.definition;
        if (dialogName == 'link') {
          var advancedTab = dialogDefinition.getContents('advanced');
          advancedTab.label = "SpecialLinks";
          advancedTab.remove('advCSSClasses');
          advancedTab.remove('advCharset');
          advancedTab.remove('advContentType');
          advancedTab.remove('advStyles');
          advancedTab.remove('advAccessKey');
          advancedTab.remove('advName');
          advancedTab.remove('advId');
          advancedTab.remove('advTabIndex');

          var relField = advancedTab.get('advRel');
          relField.label = "SmallGroup";
          var titleField = advancedTab.get('advTitle');
          titleField.label = "Message";
          var idField = advancedTab.get('advLangCode');
          idField.label = "OrgId/MeetingId";
          var langdirField = advancedTab.get('advLangDir');
          langdirField.label = "Confirmation";
          langdirField.items[1][0] = "Yes, send confirmation";
          langdirField.items[2][0] = "No, do not send confirmation";
        }
      });
      CKEDITOR.replace('body', {
        height: 400,
        fullPage: false,
        allowedContent: true,
        customConfig: '/scripts/js/ckeditorconfig.js'
      });
    });
  </script>
}
@using (Html.BeginForm("ContentUpdate", "Display", FormMethod.Post))
{
  <div class="blogbody">
    <h2 class="title">@Model.Name</h2>
    <a href="/Display">Menu of Content</a>
    <hr />
    @Html.Hidden("id")
    <div>Name: @Html.TextBox("name", Model.Name, new { size = "25" })</div>
    <br />
    <div>Title: @Html.TextBox("title", Model.Title, new { size = "35" })</div>
    <br />
    <div>Role: @Html.DropDownList("roleid", new SelectList(ContentModel.fetchRoles(), "RoleId", "RoleName"))</div>
    <br />
    <div>@Html.TextArea("body", new { @class = "editor", rows = "26", style = "width:90%" })</div>
    <br />
    <input type="submit" class="bt" value="Save" /> &nbsp;&nbsp;
    <a id="cancel" href='/Manage/Display' class="bt">Cancel</a>
    <a id="delete" href='#'><img src="/Content/images/delete.gif" /></a>
  </div>
}