@using CmsWeb.Models
@model CmsData.Content
@{
    ViewBag.Title = "Edit Template";
    ViewBag.PageHeader = "Edit Template";
    Layout = ViewExtensions2.TouchPointLayout();
}
@using (Html.BeginForm("ContentUpdate", "Display", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-9">
            <div class="box box-responsive">
                <div class="box-content">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="name" class="control-label">Name</label>
                                @Html.TextBox("name", Model.Name, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label for="title" class="control-label">Title</label>
                                @Html.TextBox("title", Model.Title, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label for="role" class="control-label">Role</label>
                                @Html.DropDownList("roleid", new SelectList(ContentModel.fetchRoles(), "RoleId", "RoleName"), new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.TextArea("body", new { @class = "form-control", rows = "26" })
                    </div>
                    <a href="/Display/#tab_emailTemplates" class="btn btn-default">Cancel</a> <a href="#" class="btn btn-danger delete"><i class="fa fa-trash"></i> Delete</a> <input type="submit" class="btn btn-primary" value="Save Template" />
                </div>
            </div>
        </div>
    </div>
    @Html.Hidden("id");
}
@section scripts
{
    @ViewExtensions2.CKEditor()
    <script type="text/javascript">

        $(function () {

            $("a.delete").click(function (ev) {
                ev.preventDefault();

                swal({
                    title: "Are you sure?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "Yes, delete it!",
                    closeOnConfirm: false
                },
                function () {
                    $.post("/Display/ContentDelete", { id: "@Model.Id" }, function (ret) {
                        if (ret && ret.error)
                            swal("Error!", ret.error, "error");
                        else {
                            swal({
                                title: "Deleted!",
                                type: "success"
                            },
                            function () {
                                window.location = "/Manage/Display/#tab_emailTemplates";
                            });
                        }
                    });
                });
            });

            CKEDITOR.env.isCompatible = true;

            CKEDITOR.on('dialogDefinition', function (ev) {
                var dialogName = ev.data.name;
                var dialogDefinition = ev.data.definition;
                if (dialogName == 'link') {
                    var advancedTab = dialogDefinition.getContents('advanced');
                    advancedTab.label = "SpecialLinks";
                    advancedTab.remove('advCSSClasses');
                    advancedTab.remove('advCharset');
                    advancedTab.remove('advContentType');
                    advancedTab.remove('advStyles');
                    advancedTab.remove('advAccessKey');
                    advancedTab.remove('advName');
                    advancedTab.remove('advId');
                    advancedTab.remove('advTabIndex');

                    var relField = advancedTab.get('advRel');
                    relField.label = "Sub-Group";
                    var titleField = advancedTab.get('advTitle');
                    titleField.label = "Message";
                    var idField = advancedTab.get('advLangCode');
                    idField.label = "OrgId/MeetingId";
                    var langdirField = advancedTab.get('advLangDir');
                    langdirField.label = "Confirmation";
                    langdirField.items[1][0] = "Yes, send confirmation";
                    langdirField.items[2][0] = "No, do not send confirmation";
                }
            });

            CKEDITOR.replace('body', {
                height: 400,
                fullPage: true,
                allowedContent: true,
                customConfig: '/content/touchpoint/lib/ckeditor/js/ckeditorconfig.js'
            });

        });
    </script>
}