@model CmsData.Content
@{
    ViewBag.Title = "Edit Sql Script";
    ViewBag.PageHeader = Model.Name;
    Layout = ViewExtensions2.TouchPointLayout();
}
@using (Html.BeginForm("ContentUpdate", "Display", FormMethod.Post))
{
    <div class="row">
      <div class="col-md-9">
        <div class="box box-responsive">
          <div class="box-content">
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="name" class="control-label">Name</label>
                  @Html.TextBox("name", Model.Name, new { @class = "form-control" })
                </div>
              </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="ContentKeyWords" class="control-label">Content KeyWords</label>
                @Html.TextBox("ContentKeyWords", ViewBag.ContentKeyWords as string, new { @class = "form-control" })
              </div>
            </div>
            </div>
            <div class="form-group">
              <nav class="navbar navbar-inverse" style="margin-bottom: 0;">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <span class="navbar-brand"><i class="fa fa-cogs"></i></span>
                  </div>
                  <div class="navbar-form navbar-left" style="margin:0; padding:0;">
                    <div class="form-group">
                      <input id="parameter" type="text" class="form-control" placeholder="Parameter" />
                      &nbsp;&nbsp;
                      <label class="checkbox-inline control-label" style="color:white">
                          @Html.CheckBox("asexcel")Excel Output?
                      </label>
                    </div>
                    <a id="run" href="/RunScript/@Model.Name" class="btn btn-default navbar-btn" target="runscript"><i class="fa fa-play"></i> Run Script</a>
                  </div>
                </div>
              </nav>
              <div id="editor" style="width: 100%; height: 550px; border: #ccc solid 1px;">@Model.Body</div>
              <textarea id="mobile-body" name="mobile-body" class="form-control" rows="15" style="display:none; font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;">@Model.Body</textarea>
              @Html.HiddenFor(m => m.Body)
            </div>
              <a href="/Manage/Display/#tab_sqlScripts" class="btn btn-default">Back to List</a>
              <a href="/Display/ContentDelete/@Model.Id" class="btn btn-danger delete"><i class="fa fa-trash"></i> Delete</a>
            @if (User.IsInRole("Admin"))
            {
                <a href="#" class="btn btn-primary save">Save Sql Script</a>
            }
          </div>
        </div>
      </div>
    </div>
    @Html.Hidden("stayaftersave", "true")
    @Html.Hidden("id")
    @Html.Hidden("title")
}
@section scripts
{
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js"></script>
  <script type="text/javascript">
    $(function () {
      var extraSmallDevice = $('.device-xs').is(':visible');
      var smallDevice = $('.device-sm').is(':visible');
      if (extraSmallDevice || smallDevice) {
        $('#editor').hide();
        $('#mobile-body').show();
      } else {
        var editor = ace.edit("editor");
        editor.setShowPrintMargin(false);
        editor.getSession().setMode("ace/mode/sql");
      }

      $("a.save").click(function (ev) {
        ev.preventDefault();
        if (extraSmallDevice || smallDevice) {
          $("#Body").val($('#mobile-body').val());
        } else {
          $("#Body").val(editor.getValue());
        }
        $("form").submit();
      });

      $("a.delete").click(function (ev) {
        ev.preventDefault();
        swal({
          title: "Are you sure?",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn-danger",
          confirmButtonText: "Yes, delete it!",
          closeOnConfirm: false
        },
            function () {
              $.post("/Display/ContentDelete", { id: "@Model.Id" }, function (ret) {
                if (ret && ret.error)
                  swal("Error!", ret.error, "error");
                else {
                  swal({
                    title: "Deleted!",
                    type: "success"
                  },
                      function () {
                        window.location = "/Manage/Display/#tab_sqlScripts";
                      });
                }
              });
            });
      });

      $("#run").click(function (ev) {
        ev.preventDefault();

        var re = /^--\?.*=.*$/m;
        var qs = $('#parameter').val();
        if (qs.length === 0) {
          var m = re.exec($('#Body').val());
          if (m != null)
            qs = m[0].substr(2);
        }
        var url = this.href;
        if ($("#asexcel")[0].checked)
          url = url.replace("RunScript/", "RunScriptExcel/");
        url += "/" + qs;
        var target = this.target;
        window.open(url, target);
      });
    });
  </script>
}
