@model CmsData.Content
@{
    ViewBag.Title = "Edit Html Content";
    ViewBag.PageHeader = Model.Title;
    Layout = ViewExtensions2.TouchPointLayout();
    
}
@section head{
    @ViewExtensions2.FroalaEditorCss()
}
@using (Html.BeginForm("ContentUpdate", "Display", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-9">
            <div class="box box-responsive">
                <div class="box-content">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="title" class="control-label">Title</label>
                                @Html.TextBox("title", Model.Title, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label class="control-label">
                                @Html.CheckBox("snippet", Model.Snippet) Snippet?&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-info"><i class="fa fa-info-circle"></i> Note:  Snippet should only be clicked when you first come to the page, not after you have made any changes otherwise they will be lost.</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.TextArea("body", new { @class = "form-control", rows = "26" })
                    </div>
                    <a href="/Display/#tab_htmlContent" class="btn btn-default">Cancel</a> <a href="/Display/ContentDelete/@Model.Id" class="btn btn-danger delete"><i class="fa fa-trash"></i> Delete</a> <input type="submit" class="btn btn-primary" value="Save Content" />
                </div>
            </div>
        </div>
    </div>
    @Html.Hidden("id")
    @Html.Hidden("name")
}
@section scripts
{
    @ViewExtensions2.FroalaEditorScripts()
    <script type="text/javascript">
        
        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }

        $(function () {

            $("a.delete").click(function (ev) {
                ev.preventDefault();
                var href = this.href;

                swal({
                    title: "Are you sure?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "Yes, delete it!",
                    closeOnConfirm: false
                },
                function () {
                    $.post(href, null, function (ret) {
                        if (ret && ret.error)
                            swal("Error!", ret.error, "error");
                        else {
                            swal({
                                title: "Deleted!",
                                type: "success"
                            },
                            function () {
                                window.location = "/Manage/Display/#tab_htmlContent";
                            });
                        }
                    });
                });
            });

            $('#body').froalaEditable({
                inlineMode: false,
                allowStyle: true,
                spellcheck: true,
                minHeight: 400,
                theme: 'custom',
                buttons: ['bold', 'italic', 'underline', 'fontSize', 'fontFamily', 'color', 'sep', 'formatBlock', 'align', 'insertOrderedList', 'insertUnorderedList', 'outdent', 'indent', 'sep', 'createLink', 'insertImage', 'uploadFile', 'table', 'undo', 'redo', 'html', 'fullscreen'],
                imageUploadURL: '/Account/FroalaUpload',
                fileUploadURL: '/Account/FroalaUpload'
            });

            $("#snippet").change(function () {
                var checked = this.checked;
                swal({
                    title: "Reload page?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-warning",
                    confirmButtonText: "Yes!",
                    closeOnConfirm: false
                },
                function () {
                    if (checked)
                        window.location.href = window.location.pathname + '?snippet=true';
                    else
                        window.location.href = window.location.pathname;
                });

            });
        });
    </script>
}