@using CmsData
@using CmsWeb
@{
    Layout = ViewExtensions2.Layout();
}
@section scripts
{
    @ViewExtensions2.CKEditor()
    <script type="text/javascript">
        $(function() {
            CKEDITOR.replace('html', {
                height: 400,
                fullPage: false,
                allowedContent: true,
                customConfig: '/scripts/js/ckeditorconfig.js'
            });
        });
    </script>
}
@using (Html.BeginForm("UpdateOrgContent", "Display", FormMethod.Post))
{
    <div class="blogbody">
    <h2 class="title">@ViewData["title"]</h2>
    <a href="@Util2.Org/@ViewData["id"]">organization</a>
    <hr />
    @Html.Hidden("id")
    @Html.Hidden("what")
    @Html.Hidden("div")
    <div>Title: @Html.TextBox("title")</div>
    <div>@Html.TextArea("html", new { style = "width:90%" })
    </div>
    <input type="submit" class="bt" value="Post" />
    </div>
} 