@using CmsWeb
@using CmsWeb.Code
@{
    Layout = "~/Views/Shared/Reports.cshtml";
    ViewBag.Title = "Contribution Statements";
    var cv = new CodeValueModel();
}
@section scripts
{
    <script>
        $(function() {
            $(".datepicker").jqdatepicker();
            $("a.bt").button();
        });
    </script>
}
<h2>Contribution Statements</h2>
<a href="/">Home</a>
<form action="/Statements/Start" method="post">
    <table>
        <tr>
            <th>Exclude Electronic Only: </th>
            <td>@Html.CheckBox("ExcludeElectronic", false)</td>
        </tr>
        <tr>
            <th>StartsWith: </th>
            <td>@Html.TextBox("startswith") (lastname starts with, leave blank for all, or use a range like A-C or even Aa-Ab to further narrow) </td>
        </tr>
        <tr>
            <th>Sort: </th>
            <td>@Html.TextBox("sort") (type: name or zip) </td>
        </tr>
        <tr>
            <th>Start Date: </th>
            <td>@Html.DatePicker("FromDate")</td>
        </tr>
        <tr>
            <th>End Date: </th>
            <td>@Html.DatePicker("EndDate")</td>
        </tr>
        <tr>
            <th>Tag: </th>
            <td>@Html.DropDownList("TagId", cv.UserTagsWithUnspecified().ToSelect())</td>
        </tr>
        <tr>
            <td colspan="2" class="center">
                <input type="submit" class="bt" name="Submit" value="Run" /></td>
        </tr>
    </table>
</form>
