@using CmsWeb.Code
@using CmsWeb.Areas.Finance.Models.Report
@{
    Layout = ViewExtensions2.TouchPointLayout();
    ViewBag.Title = "Contribution Statements";
    ViewBag.ReportPageHeader = "Contribution Statements";
    var cv = new CodeValueModel();
    var customstatementslist = ContributionStatements.CustomStatementsSelectList();
}
<div class="report box box-responsive">
    <div class="box-content">
        <div class="well" style="max-width: 850px; margin: auto;">
            <form action="/Statements/Start" method="post">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <a tabindex="0" href="#" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-title="Starts With" data-content="Last Name starts with, leave blank for all, or use a range like A-C or even Aa-Ab to further narrow."><i class="fa fa-info-circle"></i></a>&nbsp;
                            <label for="startswith" class="control-label">Starts With</label>
                            <div class="input-group">
                                @Html.TextBox("startswith", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="FromDate" class="control-label">Start Date</label>
                            <div class="input-group date">
                                @Html.TextBox("FromDate", "", new { @class = "form-control" })<span class="input-group-addon hidden-xs hidden-sm"><i class="fa fa-calendar"></i></span>
                                @Html.Hidden("FromDateIso", "", new { disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="EndDate" class="control-label">End Date</label>
                            <div class="input-group date">
                                @Html.TextBox("EndDate", "", new { @class = "form-control" })<span class="input-group-addon hidden-xs hidden-sm"><i class="fa fa-calendar"></i></span>
                                @Html.Hidden("EndDateIso", "", new { disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="sort" class="control-label">Sort</label>
                            <div class="input-group">
                                <select id="sort" name="sort" class="form-control">
                                    <option value="">(not specified)</option>
                                    <option value="name">Name</option>
                                    <option value="zip">Zip</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="TagId" class="control-label">Tag Id</label>
                            <div class="input-group">
                                @Html.DropDownList("TagId", cv.UserTagsWithUnspecified().ToSelect(), new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="checkbox">
                                <label class="control-label">
                                    @Html.CheckBox("ExcludeElectronic", false) Exclude electronic only?
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label class="control-label">
                                    @Html.CheckBox("ExportContributors", false) Export Contributors Only?
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                    @if (customstatementslist != null)
                    {
                        <div class="form-group">
                            <label for="CustomSet" class="control-label">Custom Statements</label>
                            <div class="input-group">
                                @Html.DropDownList("CustomStatement", customstatementslist, new {@class = "form-control"})
                            </div>
                        </div>
                        
                    }
                    </div>
                    <div class="col-sm-8">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary">Run</button>
                            @if ((bool) ViewBag.Previous)
                            {
                                <a href="/Statements/Progress"class="btn btn-default">Previously Run Sets</a>
                            }
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="popover"]').popover({ html: true });
            $('[data-toggle="popover"]').click(function (ev) {
                ev.preventDefault();
            });
        });
    </script>
}
