@using UtilityExtensions
@model CmsData.ContributionsRun
@{
    Layout = ViewExtensions2.TouchPointLayout();
    ViewBag.Title = "Contribution Statements";
    ViewBag.ReportPageHeader = "Contribution Statements";
    var links = (string) ViewBag.download;
}
@section head {
  @if (Model.Running == 1)
  {
    <meta http-equiv="refresh" content="5">
  }
}
<div class="report box box-responsive">
    <div class="box-content">
        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                  <td>
                    @if (Model.Started.HasValue)
                    {
                      @:Started at @Model.Started
                    }
                  </td>
                </tr>
              <tr>
                <td>Total Contributors: @Model.Count.ToString2("N0")</td>
              </tr>
              @if (Model.Running == 1)
              {
                <tr>
                  <td>
                    Running... working on @Model.Processed records in set #@Model.CurrSet
                  </td>
                </tr>
              }
              else
              {
                <tr>
                    <td>Completed at @Model.Completed</td>
                </tr>
              }
              @if (Model.Error.HasValue())
              {
                <tr>
                    <td><span style="color:red">Error: @(Model.Error ?? "")</span></td>
                </tr>
              }
              @if (links.HasValue())
              {
                <tr>
                  <td>Download links<br/>@Html.Raw(links)</td>
                </tr>
                
              }
            </table>
        </div>
      <div id="download">
      </div>
    </div>
</div>