@model CmsData.Registration.Settings.AgeGroup
@using CmsWeb
@using (var ci = Html.BeginCollectionItem("AgeGroups"))
{ 
    <div class="col-sm-6 col-md-4">
        <div class="well">
            @Html.Raw(ci.hiddenindex)
            @Html.HiddenFor(m => m.Id, new { @class = "renumberMe" })
            @Html.EditorFor(m => m.StartAge)
            @Html.EditorFor(m => m.EndAge)
            @Html.EditorFor(m => m.SmallGroup)
            @Html.EditorFor(m => m.Fee)
            <a href="#" class="delete-well btn btn-sm btn-danger"><i class="fa fa-trash"></i> Delete</a>
        </div>
    </div>
}
