@model CmsData.Registration.AskDropdown.DropdownItem
@using (var ci = Html.BeginCollectionItem(Model.Name))
{
    <div class="movable well">
        @Html.Raw(ci.hiddenindex)
        <div class="row">
            <div class="col-sm-12">
                @Html.Partial("EditorTemplates/QuestionsMenu", new ViewDataDictionary {{ "ConfirmDelete", false }})
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                @Html.EditorFor(m => m.Description)
            </div>
            <div class="col-sm-6">
                @Html.EditorFor(m => m.SmallGroup)
            </div>
            <div class="col-sm-4">
                @Html.EditorFor(m => m.Fee)
            </div>
            <div class="col-sm-4">
                @Html.EditorFor(m => m.Limit)
            </div>
            <div class="col-sm-4">
                @Html.EditorFor(m => m.MeetingTimeString)
            </div>
        </div>
    </div>
}