@using CmsWeb
@model CmsWeb.Areas.Org2.Models.ScheduleInfo
@using (var ci = Html.BeginCollectionItem("schedules")) 
{
  <div class="well">
    @Html.Raw(ci.hiddenindex)
    @Html.HiddenFor(m => m.Id, new {@class = "renumberMe"})
    <div class="control-group">
      <label class="control-label">Schedule Number</label>
        <div class="controls">
          <p>
            <span class="large">@Model.Id</span>
            <a href="#" class="delete-well pull-right btn btn-mini btn-danger">delete</a>
          </p>
        </div>
    </div>
    @Html.EditorFor(m => m.SchedDay)
    @Html.EditorFor(m => m.Time, "Time")
    @Html.EditorFor(m => m.AttendCredit) 
  </div>
}