@model CmsData.Registration.TimeSlots.TimeSlot
@using (var ci = Html.BeginCollectionItem(Model.Name))
{
  <div class="well movable">
    @Html.Raw(ci.hiddenindex)
    <label class="ask-question">
      TimeSlot
      @Html.Partial("EditorTemplates/QuestionsMenu", new ViewDataDictionary {{ "ConfirmDelete", false }})
    </label>
    @Html.EditorFor(m => m.Description)
    @Html.EditorFor(m => m.DayOfWeek)
    @Html.EditorFor(m => m.Time, "Time")
    @Html.EditorFor(m => m.Limit)
  </div>
}