@model CmsWeb.Areas.People.Models.MemberInfo
@{
    var editable = new
    {
        url = "/Person2/InlineEdit/" + Model.PeopleId,
        source = "/Person2/InlineCodes/"
    };
}
<form class="form ajax form-horizontal span12 margin-top" method="post" data-init="Editable">
     <div class="row-fluid display">
        <fieldset class="left-gutter">
            <legend>Member Profile @FormAction()</legend>
            <div class="inline align-top">
                <div class="well">
                    <p><b>Statement/Envelope Options</b></p>
                    @if (User.IsInRole("Membership") || Model.person.CanUserSeeGiving)
                    {
                        @Html.EditorFor(m => m.ContributionOptions, "InlineCodeInfo", editable)
                        @Html.EditorFor(m => m.EnvelopeOptions, "InlineCodeInfo", editable)
                    }
                    else
                    {
                        @Html.DisplayFor(m => m.ContributionOptions)
                        @Html.DisplayFor(m => m.EnvelopeOptions)
                    }
                </div>
                <div class="well">
                    <p><b>Decision</b></p>
                    @Html.DisplayFor(m => m.DecisionType)
                    @Html.DisplayFor(m => m.DecisionDate)
                </div>
                <div class="well">
                    <p><b>Baptism</b></p>
                    @Html.DisplayFor(m => m.BaptismType)
                    @Html.DisplayFor(m => m.BaptismStatus)
                    @Html.DisplayFor(m => m.BaptismDate)
                    @Html.DisplayFor(m => m.BaptismSchedDate)
                </div>
                <div class="well">
                    <p><b>New Member Class</b></p>
                    @Html.DisplayFor(m => m.NewMemberClassStatus)
                    @Html.DisplayFor(m => m.NewMemberClassDate)
                </div>
            </div>
            <div class="inline align-top left-gutter">
                <div class="well">
                    <p><b>Church Membership</b></p>
                    @Html.DisplayFor(m => m.MemberStatus)
                    @Html.DisplayFor(m => m.JoinType)
                    @Html.DisplayFor(m => m.JoinDate)
                    @Html.DisplayFor(m => m.OtherPreviousChurch)
                </div>
                <div class="well">
                    <p><b>Drop</b></p>
                    @Html.DisplayFor(m => m.DropType)
                    @Html.DisplayFor(m => m.DropDate)
                    @Html.DisplayFor(m => m.OtherNewChurch)
                </div>
                <div class="well maxWidthMedium">
                    <p><b>Letter Status</b></p>
                    @Html.DisplayFor(m => m.LetterStatus)
                    @Html.DisplayFor(m => m.LetterDateRequested)
                    @Html.DisplayFor(m => m.LetterDateReceived)
                    @if (User.IsInRole("Access"))
                    {
                    @Html.DisplayFor(m => m.LetterStatusNotes)
                    }
                </div>
            </div>
            <div class="margin-bottom">@FormAction()</div>
        </fieldset>
    </div>
</form>

@helper FormAction()
{
    if (User.IsInRole("Membership"))
    { 
        <a href="/Person2/MembershipEdit/@Model.PeopleId" class="edit-basic btn pull-right ajax">Edit Membership</a>
    }
}