@model CmsWeb.Areas.People.Models.MemberInfo
@{
    var editable = new
    {
        url = "/Person2/InlineEdit/" + Model.PeopleId,
        source = "/Person2/InlineCodes/"
    };
}
<form class="form form-horizontal ajax span12 validate" method="post">
    @Html.HiddenFor(m => m.PeopleId)
    @Html.ValidationMessage("automation")
    @Html.Raw(ViewBag.AutomationError)
    <div class="row-fluid margin-top">
        <fieldset class="left-gutter">
            <legend>Member Profile @FormAction()</legend>
            <div class="inline align-top">
                <div class="well">
                    <p><b>Statement/Envelope Options</b></p>
                    @Html.EditorFor(m => m.ContributionOptions, "InlineCodeInfo", editable)
                    @Html.EditorFor(m => m.EnvelopeOptions, "InlineCodeInfo", editable)
                </div>
                <div class="well">
                    <p><b>Decision</b></p>
                    @Html.EditorFor(m => m.DecisionType)
                    @Html.EditorFor(m => m.DecisionDate)
                </div>
                <div class="well">
                    <p><b>Baptism</b></p>
                    @Html.EditorFor(m => m.BaptismType)
                    @Html.EditorFor(m => m.BaptismStatus)
                    @Html.EditorFor(m => m.BaptismDate)
                    @Html.EditorFor(m => m.BaptismSchedDate)
                </div>
                <div class="well">
                    <p><b>New Member Class</b></p>
                    @Html.EditorFor(m => m.NewMemberClassStatus)
                    @Html.EditorFor(m => m.NewMemberClassDate)
                </div>
            </div>
            <div class="inline align-top left-gutter">
                <div class="well">
                    <p><b>Church Membership</b></p>
                    @Html.EditorFor(m => m.MemberStatus)
                    @Html.EditorFor(m => m.JoinType)
                    @Html.EditorFor(m => m.JoinDate)
                    @Html.EditorFor(m => m.OtherPreviousChurch)
                </div>
                <div class="well">
                    <p><b>Drop</b></p>
                    @Html.EditorFor(m => m.DropType)
                    @Html.EditorFor(m => m.DropDate)
                    @Html.EditorFor(m => m.OtherNewChurch)
                </div>
            </div>
            <div class="well">
                <p><b>Letter Status</b></p>
                @Html.EditorFor(m => m.LetterStatus)
                @Html.EditorFor(m => m.LetterDateRequested)
                @Html.EditorFor(m => m.LetterDateReceived)
                @Html.EditorFor(m => m.LetterStatusNotes)
            </div>
            <div>@FormAction()</div>
        </fieldset>
    </div>
</form>

@helper FormAction()
{
    <span class="pull-right">
        <a href="/Person2/Membership/@Model.PeopleId" class="edit-basic btn ajax">Cancel</a>
        <a href="/Person2/MembershipUpdate" class="edit-basic btn btn-primary ajax validate">Save</a>
    </span>
}