@model CmsWeb.Areas.Manage.Models.SmsMessages.SmsReceivedMessagesModel
<form id="receivedform" method="post" data-results="#receivedresults" class="ajax" action="/SmsMessages/ReceivedResults">
    @Html.Partial("Toolbar/Toolbar")
    <div class="row well">
        <div class="col-lg-3">
            @Html.EditorFor(m => m.RecdFilterGroupId, "Dropdown", new { items = Model.Groups() })
            @Html.EditorFor(v => v.RecdFilterStart)
        </div>
        <div class="col-lg-3">
            @Html.EditorFor(m => m.RecdFilterSender)
            @Html.EditorFor(v => v.RecdFilterEnd)
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4">
            @Html.EditorFor(m => m.RecdFilterMessage)
            <div class="pull-right">
                <a id="clearreceived" class="btn btn-default">Clear</a>
                <a id="searchreceived" class="btn btn-primary ajax" href="/SmsMessages/ReceivedResults">Search</a>
            </div>
        </div>
    </div>
    @Html.Partial("ReceivedResults", Model)
</form>
<div class="modal fade" id="replyto-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="SendReplyForm">

                <input type="hidden" id="ReceivedId" name="ReceivedId"/>

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">
                        Reply To Received Text
                    </h4>
                </div>
                <div class="modal-body">
                    <style>
                        .borderless td, .borderless th {
                            border: none !important;
                            padding: 0 !important;
                        }
                        .borderless td.indent {
                            padding-left: 15px !important;
                        }
                    </style>
                    <div class="form-group">
                        <label class="control-label">Message</label>
                        <textarea id="replymessage" name="Message" cols="40" rows="4" class="form-control"></textarea><br/>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">Cancel</a>
                    <a href="/SmsMessages/SendReply" id="sendmessage" class="btn btn-primary">Send</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    @if (!string.IsNullOrWhiteSpace(ViewBag.Error))
    {
        <div class="alert alert-danger">
            <p>
                <strong>Error!</strong> @ViewBag.Error
            </p>
        </div>
    }
</div>
