@using RestSharp.Extensions
@model CmsWeb.Areas.Manage.Models.SmsMessages.SmsReplyWordsModel
@{
    var n = 0;
}
@foreach (var item in Model.Actions)
{
    <div class="row">
        <div class="col-lg-2 col-sm-11">
            <b>Reply Word</b>
            <input name="Actions[@n].Word" placeholder="Reply Word" type="text" class="form-control" style="width:auto" required="required" value="@item.Word">
        </div>
        <div class="col-lg-2 col-sm-12">
            <b>Action</b>
            <select name="Actions[@n].Action" class="Action form-control" style="width:auto" required="required">
                @item.ActionOptions()
            </select>
        </div>
        <div class="col-lg-4 col-sm-12">
            <b>Reply Message</b><input name='Actions[@n].ReplyMessage' placeholder="Default Message" type='text' class='form-control' value='@item.ReplyMessage' />
        </div>
        <div class="col-lg-2 col-sm-12">
            @if (item.Arg1Name.HasValue())
            {
                <div>
                    <b>@item.Arg1Description</b><br/>
                    <input name='Actions[@n].@item.Arg1Name' type='text' class='form-control' value='@item.Arg1Value' />
                </div>
            }
            @if (item.Arg2Name.HasValue())
            {
                <div>
                    <b>@item.Arg2Description</b><br/>
                    <input name='Actions[@n].@item.Arg2Name' type='text' class='form-control' value='@item.Arg2Value' />
                </div>
            }
        </div>
        <div class="col-lg-1 col-sm-1">
            <a href="#" class="deleteaction pull-right"><i class="fa fa-trash" aria-hidden="true"></i></a>
        </div>
    </div>
    n++;
}
