<h2>index</h2>

<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Create a Venue", "CreateVenue", "Venues")</li>
    <li>@Html.ActionLink("List Venues", "ListVenues", "Venues")</li>
    <li>@Html.ActionLink("New Chart", "CreateChart", "Venues")</li>
    <li>@Html.ActionLink("Embed Floor Plan", "EmbedFloorPlan", "Venues")</li>
    <li>@Html.ActionLink("Event Manager", "EventManagerTest", "Venues")</li>
</ul>
