@model IEnumerable<CmsWeb.Areas.Involvement.Models.InvolvementVenuesModel>
    <!DOCTYPE html>
    <html>
    <head>
    </head>
    <body>

        @{
            ViewBag.Title = "Venue";
        }

        <h2>List of Venues</h2>

        <table>
            <tr>
                <th width="80">
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th width="400">
                    @Html.DisplayNameFor(model => model.Key)
                </th>
                <th width="200">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th width="120">
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>Details</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Key)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>

                    <td>@Html.ActionLink("Details", "ChartDetails", "Seatsio", new { @key = item.Key }, new { @class = "btn btn-default" })</td>
                    <td>@Html.ActionLink("Edit", "EditChart", "Seatsio", new { @id = item.Id }, new { @class = "btn btn-default" })</td>
                    <td>@Html.ActionLink("Delete", "DeleteChart", "Seatsio", new { @id = item.Id }, new { @class = "btn btn-default" })</td>
                </tr>
            }

        </table>
        <br /><br />
        <a href="Index">Dashboard</a>
    </body>
    </html>
