@model IEnumerable<CmsWeb.Areas.Involvement.Models.Venues.ChartModel>


@{
    Layout = ViewExtensions2.TouchPointLayout();
    ViewBag.Title = "Venue";
}

@Html.Partial("VenuesMenu")
<br/>
<h2>List of Venues</h2>

<table class="table table-striped">
    <tr>
        <th>
        </th>
        <th width="400">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            <img src="@item.PublishedVersionThumbnailUrl" style="width:90px; height:75px; border: 1px solid #555; margin:5px;" />
        </td>
        <td>
            <text>@item.Name</text>
        </td>
        <td>
            @Html.ActionLink("Designer", "ChartDesigner", "Venues", new { @key = item.Key }, new { @class = "btn btn-default" }) &nbsp;
            @Html.ActionLink("Delete", "DeleteChart", "Venues", new { @id = item.Id }, new { @class = "btn btn-default" })
        </td>
    </tr>
    }

</table>
<br /><br />
<a href="Index">Dashboard</a>
