@using CmsData
@model CmsWeb.Areas.People.Models.PersonModel
<div class="table-responsive">
    @foreach (var resource in Model.Resources)
    {
        <h3>@resource.Resource.Name</h3>
        <p>
            @resource.Resource.Description
        </p>
        <table>
            @foreach (var attachment in resource.Attachments)
            {
                <td>
                    @attachment.FileTypeId
                </td>
                <td>
                    <a href="@attachment.FilePath">@attachment.Name</a>
                </td>
            }
        </table>
        <hr/>
    }
</div>