@using CmsWeb.Areas.Manage.Models
@model CmsWeb.Areas.People.Models.PersonModel

<ul class="nav nav-pills subnav hidden-sm hidden-xs" data-tabparent="resources">
    @for (var i = 0; i < Model.ResourceTypes.Count; i++)
       {
        <li class="resource-type-tab @(i == 0 ? "active" : null)" data-id="@Model.ResourceTypes[i].ResourceType.ResourceTypeId">
            <a href = "#@(Model.ResourceTypes[i].ResourceType.Name.ToLower().Replace(" ", ""))" data-toggle="tab">
                <span>@Model.ResourceTypes[i].ResourceType.Name</span>
            </a>
        </li>
    }

    </ul>
    <select class="form-control visible-sm-block visible-xs-block nav-select-pills">
    @for (var i = 0; i<Model.ResourceTypes.Count; i++)
    {
        <option value = "#@(Model.ResourceTypes[i].ResourceType.Name.ToLower().Replace(" ", ""))" > @Model.ResourceTypes[i].ResourceType.Name </option>
    }

    </select>
    <div class="tab-content" style="border: none">

        <!--
            <div class="tab-content" style="border: none">
                <div class="well m-b-0">
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="nav nav-pills subnav hidden-sm hidden-xs" data-tabparent="system">
                                @for (int i = 0; i<Model.ResourceTypes.Count; i++)
                        {
                                    <li class="resource-type-tab @(i == 0 ? "active" : null)" data-id="@Model.ResourceTypes[i].ResourceType.ResourceTypeId">
                                        <a href="#resourcetab@(Model.ResourceTypes[i].ResourceType.ResourceTypeId)" data-toggle="tab">
                                            <span>@Model.ResourceTypes[i].ResourceType.Name</span>
                                        </a>
                                    </li>
                        }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-content">
            -->

        @if (!Model.ResourceTypes.Any())
    {
            <h3 class="text-center">You have no resources configured.</h3>
    }
        @for (int i = 0; i<Model.ResourceTypes.Count; i++)
    {
        var resourceTypeGroup = Model.ResourceTypes[i];

        <!-- Open the first category -->
        string panelcollapse = "in";
        string ariaExpandedState = "true";
        string classCollapsed = "notcollapsed";


        <div class="tab-pane @(i == 0 ? "active" : null)"
             id="@(resourceTypeGroup.ResourceType.Name.ToLower().Replace(" ", ""))">
            <div class="panel-group" id="accordion@(i)" role="tablist">
                @foreach (var category in resourceTypeGroup.Resources.GroupBy(x => x.ResourceCategory).OrderBy(x => x.Key.DisplayOrder))
                {
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="@i-@category.Key.ResourceCategoryId">
                        <h4 class="panel-title">

                            <!-- <a role="button" data-toggle="collapse" data-parent="#accordion@(i)" href="#collapse-@i-@category.Key.ResourceCategoryId" aria-controls="collapse-@i-@category.Key.ResourceCategoryId"
                                 class="collapsed">
                             -->

                            <a role="button" data-toggle="collapse" data-parent="#accordion@(i)" href="#collapse-@i-@category.Key.ResourceCategoryId" aria-controls="collapse-@i-@category.Key.ResourceCategoryId" class=@classCollapsed>
                                @category.Key.Name
                            </a>
                        </h4>
                    </div>

                    <!-- Original :    <div id="collapse-@i-@category.Key.ResourceCategoryId" class="panel-collapse collapse" role="tabpanel">  -->

                    <div id="collapse-@i-@category.Key.ResourceCategoryId" class="panel-collapse collapse @panelcollapse" role="tabpanel" aria-expanded=@ariaExpandedState>

                        <div class="panel-body">

                            @foreach (var resourceItem in category)
                                {
    <h3>@resourceItem.Name</h3>
    <p>
        @Html.Raw(resourceItem.Description)
    </p>
                                    if (resourceItem.ResourceAttachments.Any())
                                    {
                                <ul style="list-style-type: circle">
                                    @foreach (var attachment in resourceItem.ResourceAttachments.OrderBy(x => x.DisplayOrder))
                                            {
                                        <li><a href="@attachment.FilePath" target="_blank">@attachment.Name</a></li>
                                            }
                                </ul>
                                    }
                                            <hr />
                                }

                        </div>
                    </div>

                    @{
                            <!-- Collapse other categories -->
                            panelcollapse = null;
                            ariaExpandedState = "false";
                            classCollapsed = "collapsed";

                    }

                </div>
                            }
            </div>
        </div>
                            }
    </div>

        <br />

<script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js'></script>
<script type="text/javascript">
    $(function () {
        var tab = window.location.hash;

        @foreach (ResourceTypeModel resourceModel in Model.ResourceTypes)
        {
            <text>
                if (tab === '#tab-@resourceModel.ResourceType.Name.ToLower().Replace(" ", "")') {
                    var id = "#@resourceModel.ResourceType.Name.ToLower().Replace(" ", "")";
                    $("a[href='" + id + "']").click().tab("show");
                    $("option[value='" + id + "']").prop('selected', true);
                }
            </text>
        }
    });
</script>
