@model CmsWeb.Areas.Manage.Models.AccountInfo
@{
    ViewBag.Title = "Two-factor Authentication";

    if ((bool?)ViewData["hasshell"] == true)
    {
        Layout = "_ShellLayout.cshtml";
    }
    else
    {
        Layout = "_Layout.cshtml";
    }
}
<h1 class="form-header">@ViewBag.Title</h1>
@if (ViewBag.Message != null)
{
    <h3 class="alert alert-danger">@ViewBag.Message</h3>
}
@using (Html.BeginForm("Auth", "Account", FormMethod.Post, new { @class = "panel" }))
{
    @Html.HiddenFor(m => m.UsernameOrEmail)
    @Html.HiddenFor(m => m.ReturnUrl)
    <fieldset>
        @Html.Partial("TwoFactorPasscode")
    </fieldset>
}
