@model Google.Authenticator.SetupCode
@{
    Layout = "~/Views/Shared/Account/_Layout.cshtml";
    ViewBag.Title = "Two-factor Authentication Setup";
}
<style>
    form {
        overflow: hidden;
    }
    #step1, #step2 {
        transition: opacity 0.5s ease;
    }
    form.step2 #step1 {
        opacity: 0;
    }
    form.step1 #step2 {
        opacity: 0;
    }
    form.step2 .fieldset-wrapper {
        left: -100%;
    }
    .fieldset-wrapper {
        left: 0;
        position: relative;
        transition: all 0.5s ease;
        width: 200%;
    }
    .fieldset-wrapper fieldset {
        float: left;
        width: 50%;
    }
    .qrcode {
        max-width: 300px;
        width: 100%;
    }
</style>
<h1 class="form-header">@ViewBag.Title</h1>
@if (ViewBag.Message != null)
{
    <h3 class="alert alert-danger">@ViewBag.Message</h3>
}
@using (Html.BeginForm("AuthSetup", "Account", FormMethod.Post, new { @class = "panel step1" }))
{
<div class="fieldset-wrapper">
    <fieldset id="step1">
        <div class="form-group text-center">
            <h3>Scan this code with the authenticator app</h3>
            <img class="img-responsive qrcode" src="@Html.HttpsUrl(Model.QrCodeSetupImageUrl)" />
        </div>
        @*<div class="form-group text-center">
                <h4>or copy and paste this code to pair your device</h4>
                <input readonly class="text-primary" style="width:100%" value="@Model.ManualEntryKey" />
            </div>*@
        <div class="form-actions">
            <h4>Click continue after you have scanned the code</h4>
            <button id="continue" class="btn btn-primary btn-block btn-lg">Continue</button>
        </div>
    </fieldset>
    <fieldset id="step2">
    @Html.Partial("Account/TwoFactorPasscode")    
    </fieldset>
</div>
}
@section scripts
{
    <script>
        $(function () {
            var $form = $('form');
            $('#continue, #back').click(function (event) {
                event.preventDefault();
                $form.toggleClass('step1 step2');
                if ($form.is('.step2')) {
                    var p = $form.find('[name=passcode]').val('');
                    setTimeout(function () { p.first().focus(); }, 500);
                }
            });
        });
    </script>
}
