@using CmsData
@using UtilityExtensions
@model CmsWeb.Areas.Manage.Controllers.AccountController.AccountInfo
@{
    ViewBag.Title = "Logon to TouchPoint";

    if ((bool?)ViewData["hasshell"] == true)
    {
        Layout = "_ShellLayout.cshtml";
    }
    else
    {
        Layout = "_Layout.cshtml";
    }
}
@if ((bool?) ViewBag.hasshell == true)
{
    <div class="no-header"></div>
}
else {
    <h1 class="form-header">@ViewExtensions2.DbSetting("NameOfChurch", "Name Of Church: " + Util.Host)</h1>
}
@if (DbUtil.LoginNotice().HasValue())
{
    <div>
        <div class="alert alert-danger">@Html.Raw(DbUtil.LoginNotice())</div>
    </div>
}
@if (ViewBag.error != null)
{
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <strong>Logon Error!</strong>&nbsp;&nbsp;@ViewBag.error
    </div>
}
@using (Html.BeginForm("LogOn", "Account", FormMethod.Post, new { @class = "panel" }))
{
    @Html.Hidden("ReturnUrl", Model.ReturnUrl)
    <div class="form-group">
        <input type="text" id="inputEmail" name="UsernameOrEmail" class="form-control input-lg" placeholder="username or email" required="required" autocomplete="off" autocapitalize="off" autocorrect="off" value="@Model.UsernameOrEmail">
    </div>
    <div class="form-group signin-password">
        <input type="password" id="inputPassword" name="Password" class="form-control input-lg" placeholder="password" required="required">
        <a href="@Url.Action("ForgotPassword")" class="forgot">Forgot?</a>
    </div>
    <div class="form-actions">
        <input type="submit" value="Sign In" class="btn btn-primary btn-block btn-lg">
    </div>
}
<div class="signin-with">
    <div class="header">need an account? <a href="@Url.Action("ForgotPassword")">request password</a></div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('input:text').first().focus();
            var $redirect = $('input[name="ReturnUrl"]');
            $redirect.val($redirect.val() + window.location.hash);
        });
    </script>

}
