@model SqlCommand
@using System.Data.SqlClient
@using UtilityExtensions;
@{
    Layout = ViewExtensions2.TouchPointLayout();
    ViewBag.Title = "Last Activity";
}
<div class="report">
    <h2>Last Activity</h2>
    <div class="well hidden-print" style="max-width: 300px; margin: auto;">
        <div class="row">
            @using (Html.BeginForm("LastActivity", "Users", FormMethod.Get))
            {
                <div class="col-sm-12 form-inline">
                    <div class="input-group">
                        <input type="text" name="activity" id="activity" class="form-control" />
                    </div>
                    <div class="input-group">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="visible-print-block text-center">
        <strong>Search:</strong> @Request.QueryString["activity"]
    </div>
    <br/>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Machine</th>
                    <th>User</th>
                    <th>Date & Time</th>
                    <th>Activity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td nowrap="nowrap"><a href="/Users/LastActivity">All</a></td>
                    <td nowrap="nowrap">@DateTime.Now.ToString("M/d h:mm:ss tt")</td>
                    <td></td>
                </tr>
                @{
                    var n = 0;
                    using (var cn = new SqlConnection(Util.ConnectionString))
                    {
                        cn.Open();
                        Model.Connection = cn;
                        var rd = Model.ExecuteReader();
                        while (rd.Read())
                        {
                            n++;
                            var Name = rd.GetString(0);
                            var UserId = rd.GetInt32(1);
                            var Activity = rd.GetString(2);
                            var Date = rd.GetDateTime(3);
                            var Machine = rd.GetString(4).ToLower();
                            <tr>
                                <td>@Machine</td>
                                <td nowrap="nowrap"><a href="/Users/LastActivity?userid=@UserId">@Name</a></td>
                                <td nowrap="nowrap">@Date.ToString("M/d h:mm:ss tt")</td>
                                <td>@Activity</td>
                            </tr>
                        }
                    }
                }
            </tbody>

        </table>
    </div>
</div>
