@using UtilityExtensions
@model CmsWeb.Models.UsersModel
<div id="results">
    @Html.Partial("PagerTop", Model)
    <div class="table-responsive">
        <table id="resultsTable" class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th><a href="#" class="sortable">User</a></th>
                    <th><a href="#" class="sortable">Name</a></th>
                    <th class="text-center"><a href="#" class="sortable">Online</a></th>
                    <th><a href="#" class="sortable">Email</a></th>
                    <th><a href="#" class="sortable">Activity</a></th>
                    <th style="width: 600px;">Roles</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() == 0)
                {
                    <tr><td colspan="7">No matching records.</td></tr>
                }
                @foreach (var u in Model.Users())
                {
                    <tr>
                        <td>@u.userid</td>
                        <td class="tip">@u.username</td>
                        <td>@Helper.AnchorLink(@u.name, "/Person2/" + u.peopleid) </td>
                        <td class="text-center">
                            @if (u.online)
                            {
                                <i class="fa fa-check"></i>
                            }
                        </td>
                        <td>@u.email</td>
                        <td>@u.activity.FormatDateTm()</td>
                        <td style="width: 600px;"><i>@u.roles</i></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @Html.Partial("PagerBottom", Model)
    @Html.Hidden("totcnt", Model.Count().ToString("N0"))
    @Html.HiddenFor(m => m.Page)
    @Html.HiddenFor(m => m.Sort)
    @Html.HiddenFor(m => m.Direction)
</div>