@using CmsData
@model CmsWeb.Areas.Main.Models.Other.VolunteerModel

<form class="ajax" method="post">
  <div class="row hidden-xs">
    <div class="col-sm-12">
      <div class="pull-right">
        <a href="/Volunteering/Display/@Model.Volunteer.PeopleId" class="edit-basic btn btn-default ajax">Cancel</a>
        <a href="/Volunteering/Update/@Model.Volunteer.PeopleId" class="edit-basic btn btn-primary ajax validate">Save Changes</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-4">
      <label>Approvals</label>
      @foreach (var ck in Model.ApprovalList)
      {
        <div class="checkbox">
          <label>
            <input type="checkbox" name="approvals" @(ck.Approved ? "checked='checked'" : "") value="@ck.Id"/>
            @ck.Description<br/>
          </label>
        </div>
      }
    </div>
    <div class="col-md-6 col-lg-8">
      @Html.EditorFor(m => m.Volunteer.Comments, "TextArea")
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-3">
      @Html.EditorFor(m => m.ProcessedDate)
    </div>
    <div class="col-md-6 col-lg-3">
      @Html.EditorFor(m => m.Status, Model.Statuses())
    </div>
    <div class="col-md-6 col-lg-3">
      @Html.EditorFor(m => m.MVRProcessedDate)
    </div>
    <div class="col-md-6 col-lg-3">
      @Html.EditorFor(m => m.MVRStatus, Model.Statuses())
    </div>
  </div>
  <div class="visible-xs-block">
    <a href="/Volunteering/Update/@Model.Volunteer.PeopleId" class="edit-basic btn btn-block btn-primary ajax validate">Save Changes</a>
    <a href="/Volunteering/Display/@Model.Volunteer.PeopleId" class="edit-basic btn btn-block btn-default ajax">Cancel</a>
  </div>
</form>