@using CmsData;
@using CmsData.Classes.ProtectMyMinistry
@model CmsWeb.Areas.Main.Models.Other.VolunteerModel
@{
    ViewBag.Title = "Volunteer";
    Layout = ViewExtensions2.TouchPointLayout();

    IQueryable<BackgroundCheck> bg = null;
    IQueryable<BackgroundCheck> credit = null;
    IQueryable<BackgroundCheckLabel> labels = null;

    var labelEnabled = ViewExtensions2.DbSetting("EnableBackgroundLabels", "false") == "true";
    var checkEnabled = ViewExtensions2.DbSetting("EnableBackgroundChecks", "false") == "true";

    var i = from e in DbUtil.Db.VolunteerForms
            where e.PeopleId == Model.Volunteer.PeopleId
            select e;

    if (checkEnabled)
    {
        bg = from e in DbUtil.Db.BackgroundChecks
             where e.PeopleID == Model.Volunteer.PeopleId
             where e.ReportTypeID == ProtectMyMinistryHelper.TYPE_BACKGROUND
             select e;

        credit = from e in DbUtil.Db.BackgroundChecks
                 where e.PeopleID == Model.Volunteer.PeopleId
                 where e.ReportTypeID == ProtectMyMinistryHelper.TYPE_CREDIT
                 select e;

        if (labelEnabled)
        {
            labels = from e in DbUtil.Db.BackgroundCheckLabels
                     select e;
        }
    }

    var lastBackgroundCheck = Model.Volunteer.ProcessedDate != null ? Model.Volunteer.ProcessedDate.Value.ToString("d") : "";
    var statusCode = Model.Volunteer.VolApplicationStatus == null ? "Unknown" : Model.Volunteer.VolApplicationStatus.Description;
    var lastMvrCheck = Model.Volunteer.MVRProcessedDate != null ? Model.Volunteer.MVRProcessedDate.Value.ToString("d") : "";
    var mvrStatusCode = Model.Volunteer.MVRStatusId == null ? "Unknown" : Model.Volunteer.StatusMvr.Description;

    var areBackgroundChecksEnabled = ViewExtensions2.DbSetting("EnableBackgroundChecks", "false") == "true";

    var shouldShowBackgroundChecks = areBackgroundChecksEnabled && User.IsInRole("BackgroundCheck");
    var shouldShowCreditChecks = areBackgroundChecksEnabled && User.IsInRole("CreditCheck");
}
@section head
{
    <style>
        dt {
            font-weight: normal;
            color: #808080;
        }

        dd {
            font-weight: 600;
            padding: 5px;
            border: solid 1px #eee;
            min-height: 32px;
        }

        .btn-success {
            color: white !important;
        }
    </style>
}
@section scripts
{
    @Fingerprint.Script("/Content/touchpoint/js/people/volunteering.js")
}
<a href="/Person2/@Model.Volunteer.PeopleId">@Model.Volunteer.Person.Name</a><br />
<br />

<div class="row">
    <div class="col-md-9" id="volunteer">
        <ul class="nav nav-tabs" id="volunteer-tabs">
            <li class="active"><a href="#applicationInformation" aria-controls="applicationInformation" data-toggle="tab">Volunteer Application Information</a></li>
            <li><a href="#backgroundChecks" aria-controls="backgroundChecks" data-toggle="tab">Volunteer Background Checks</a></li>
            <li><a href="#creditChecks" aria-controls="creditChecks" data-toggle="tab">Volunteer Credit Checks</a></li>
            <li><a href="#documents" aria-controls="documents" data-toggle="tab">Volunteer Documents</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="applicationInformation">
                <div class="well">
                    <form action="/Volunteering/Edit/@Model.Volunteer.PeopleId">
                        <div class="row hidden-xs">
                            <div class="col-sm-12">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fa fa-pencil"></i> Edit
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-4">
                                Approvals
                                @foreach (var ck in Model.ApprovalList)
                                {
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" @(ck.Approved ? "checked='checked'" : "") disabled="disabled" />
                                            @ck.Description<br />
                                        </label>
                                    </div>
                                }
                            </div>
                            <div class="col-md-6 col-lg-8">
                                <dl>
                                    <dt>Comments</dt>
                                    <dd style="height: 75px;">@Model.Volunteer.Comments</dd>
                                </dl>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <dl>
                                    <dt>Last Background Check</dt>
                                    <dd>@lastBackgroundCheck</dd>
                                </dl>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <dl>
                                    <dt>Status Code</dt>
                                    <dd>@statusCode</dd>
                                </dl>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <dl>
                                    <dt>Last MVR Check</dt>
                                    <dd>@lastMvrCheck</dd>
                                </dl>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <dl>
                                    <dt>MVR Status Code</dt>
                                    <dd>@mvrStatusCode</dd>
                                </dl>
                            </div>
                        </div>
                        <div class="visible-xs-block">
                            <button type="submit" class="btn btn-block btn-default">
                                <i class="fa fa-pencil"></i> Edit
                            </button>
                        </div>
                    </form>
                </div>

            </div>
            @if (shouldShowBackgroundChecks)
            {
                <div class="tab-pane fade" id="backgroundChecks">
                    <div class="row hidden-xs">
                        <div class="col-sm-12">
                            <div class="pull-right">
                                <a href="#" id="newcheck" class="showCreateDialog btn btn-success" data-pid="@Model.Volunteer.PeopleId" data-ctype="@ProtectMyMinistryHelper.TYPE_BACKGROUND">
                                    <i class="fa fa-plus-circle"></i> Create New
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-responsive">
                                    @if (bg != null && !bg.Any())
                                    {
                                        <tr>
                                            <td>No Background Checks</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <thead>
                                            <tr>
                                                <th style="width: 7%">Updated</th>
                                                @if (labelEnabled)
                                                {
                                                    <th style="width: 22%">Label</th>
                                                }
                                                <th style="width: 16%">Service</th>
                                                <th style="width: 10%">Status</th>
                                                <th style="width: 6%">Report ID</th>
                                                <th style="width: 4%">Issues</th>
                                                <th style="white-space: nowrap;">Report Link/Error</th>
                                                <th style="width: 8%">Action</th>
                                            </tr>
                                        </thead>
                                    }
                                    @foreach (var check in bg)
                                    {
                                        <tr>
                                            <td class="center" style="white-space: nowrap;">@check.Updated.ToString("d")</td>
                                            @if (labelEnabled)
                                            {
                                                <td class="center" style="white-space: nowrap;">
                                                    @if (check.ReportLabelID > 0)
                                                    {
                                                        <a href="#" class="showEditDialog" data-cid="@check.Id">
                                                            @(labels.Where(e => e.Id == check.ReportLabelID).Select(e => e.Description).SingleOrDefault() ?? check.ReportLabelID.ToString())
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a href="#" id="showEditDialog" data-cid="@check.Id">
                                                            Assign Label
                                                        </a>
                                                    }
                                                </td>
                                            }
                                            <td class="center">@ProtectMyMinistryHelper.getDescription(check.ServiceCode)</td>
                                            <td class="center" style="white-space: nowrap;">@ProtectMyMinistryHelper.getStatus(check.StatusID)</td>
                                            <td class="center">@(check.ReportID > 0 ? check.ReportID.ToString() : "")</td>
                                            <td class="center">@(check.IssueCount > 0 ? "Yes" : "No")</td>
                                            <td class="center">
                                                @switch (check.StatusID)
                                                {
                                                    case 0:
                                                        <span style="color: red;">@Html.Raw(check.ErrorMessages)</span>
                                                        break;

                                                    case 3:
                                                    <a href="@check.ReportLink" target="_blank">Click here for the report</a>
                                                        break;
                                                }
                                            </td>
                                            <td class="center" nowrap="nowrap">
                                                @switch (check.StatusID)
                                                {
                                                    case 0:
                                                        <button class="showSubmitDialog btn btn-sm" data-cid="@check.Id">
                                                            <i class="fa fa-arrow-right"></i> Resubmit
                                                        </button>
                                                        break;

                                                    case 1:
                                                        <button class="showSubmitDialog btn btn-sm" data-cid="@check.Id">
                                                            <i class="fa fa-arrow-right"></i> Submit
                                                        </button>
                                                        <button class="showDeleteDialog btn btn-sm btn-danger" data-cid="@check.Id">
                                                            <i class="fa fa-trash"></i> Delete
                                                        </button>
                                                        break;

                                                    case 2:
                                                        <button class="btn btn-default" disabled="disabled">Waiting</button>
                                                        break;

                                                    case 3:
                                                        if (check.IssueCount > 0)
                                                        {
                                                            <button class="showDeleteDialog btn btn-sm btn-danger" data-cid="@check.Id">
                                                                <i class="fa fa-trash"></i> Delete
                                                            </button>
                                                        }
                                                        else
                                                        {
                                                            <button class="btn btn-success" disabled="disabled">
                                                                <i class="fa fa-check"></i> Complete
                                                            </button>
                                                        }
                                                        break;
                                                }
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (shouldShowCreditChecks)
            {
                <div class="tab-pane fade" id="creditChecks">
                    <div class="row hidden-xs">
                        <div class="col-sm-12">
                            <div class="pull-right">
                                <a href="#" id="newcheck" class="showCreateDialog btn btn-success" data-pid="@Model.Volunteer.PeopleId" data-ctype="@ProtectMyMinistryHelper.TYPE_CREDIT">
                                    <i class="fa fa-plus-circle"></i> Create New
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-responsive">
                                    @if (credit != null && !credit.Any())
                                    {
                                        <tr>
                                            <td>No Credit Checks</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <thead>
                                            <tr>
                                                <th style="width: 7%">Created</th>
                                                @if (labelEnabled)
                                                {
                                                    <th style="width: 22%">Label</th>
                                                }
                                                <th style="width: 16%">Service</th>
                                                <th style="width: 10%">Status</th>
                                                <th style="width: 6%">Report ID</th>
                                                <th style="width: 4%">Issues</th>
                                                <th style="white-space: nowrap;">Report Link/Error</th>
                                                <th style="width: 8%">Action</th>
                                            </tr>
                                        </thead>
                                    }
                                    @foreach (var check in credit)
                                    {
                                        <tr>
                                            <td class="center" style="white-space: nowrap;">@check.Created.ToString("d")</td>
                                            @if (labelEnabled)
                                            {
                                                <td class="center" style="white-space: nowrap;">
                                                    @if (check.ReportLabelID > 0)
                                                    {
                                                        <a href="#" class="showEditDialog" data-cid="@check.Id">
                                                            @labels.SingleOrDefault(e => e.Id == check.ReportLabelID).Description
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a href="#" class="showEditDialog" data-cid="@check.Id">
                                                            Assign Label
                                                        </a>
                                                    }
                                                </td>
                                            }
                                            <td class="center">@ProtectMyMinistryHelper.getDescription(check.ServiceCode)</td>
                                            <td class="center" style="white-space: nowrap;">@ProtectMyMinistryHelper.getStatus(check.StatusID)</td>
                                            <td class="center">@( check.ReportID > 0 ? check.ReportID.ToString() : "")</td>
                                            <td class="center">@( check.IssueCount > 0 ? "Yes" : "No")</td>
                                            <td class="center">
                                                @switch (check.StatusID)
                                                {
                                                    case 0:
                                                        <span style="color: red;">@Html.Raw(check.ErrorMessages)</span>
                                                        break;

                                                    case 3:
                                                    <a href="@check.ReportLink" target="_blank">Click here for the report</a>
                                                        break;
                                                }
                                            </td>
                                            <td class="center" nowrap="nowrap">
                                                @switch (check.StatusID)
                                                {
                                                    case 0:
                                                        <button class="showSubmitDialog btn btn-sm" data-cid="@check.Id">
                                                            <i class="fa fa-arrow-right"></i> Resubmit
                                                        </button>
                                                        break;

                                                    case 1:
                                                        <button class="showSubmitDialog btn btn-sm" data-cid="@check.Id">
                                                            <i class="fa fa-arrow-right"></i> Submit
                                                        </button>
                                                        <button class="showDeleteDialog btn btn-sm btn-danger" data-cid="@check.Id">
                                                            <i class="fa fa-trash"></i> Delete
                                                        </button>
                                                        break;

                                                    case 2:
                                                        <button class="btn btn-default" disabled="disabled">Waiting</button>
                                                        break;

                                                    case 3:
                                                        if (check.IssueCount > 0)
                                                        {
                                                            <button class="showDeleteDialog btn btn-sm btn-danger" data-cid="@check.Id">
                                                                <i class="fa fa-trash"></i> Delete
                                                            </button>
                                                        }
                                                        else
                                                        {
                                                            <button class="btn btn-success" disabled="disabled">
                                                                <i class="fa fa-check"></i> Complete
                                                            </button>
                                                        }
                                                        break;
                                                }
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="tab-pane fade" id="documents">
                <div class="row">
                    <div class="col-sm-12">
                        @foreach (var form in i)
                        {
                            <div class="col-xs-4">
                                <a href="/Image/@form.MediumId">
                                    <img src="/Content/images/adobe.png" style="border: thin solid #000000;">
                                </a>
                                <div class="name">
                                    <span id="n.@form.Id" class="editable">@form.Name</span>
                                </div>
                                <form action="/Volunteering/Delete" method="post" onsubmit="return confirmDelete();">
                                    <input type="hidden" name="id" value="@form.Id" />
                                    <input type="hidden" name="PeopleID" value="@Model.Volunteer.PeopleId" />
                                    <button type="submit" class="btn btn-danger">
                                        <i class="fa fa-trash"></i> Delete
                                    </button>
                                </form>
                            </div>
                        }
                        @if (!i.Any())
                        {
                            @:No Documents Uploaded
                        }
                    </div>
                </div>
                <br/>
                <div class="form-inline">
                    <form action="/Volunteering/Upload/@Model.Volunteer.PeopleId" method="post" enctype="multipart/form-data">
                        <div class="input-group">
                            @Html.Hidden("PeopleID", @Model.Volunteer.PeopleId)
                            <input type="file" name="file" id="file" class="form-control" />
                        </div>
                        <div class="input-group">
                            <input type="submit" class="btn btn-primary" value="Upload" />
                        </div>
                    </form>
                </div>
                <br/>
            </div>
        </div>
    </div>
</div>

<div id="dialogHolder"></div>
