@using System.Web.Mvc.Html
@using CmsData
@using CmsWeb
@using UtilityExtensions
@model CmsWeb.Areas.Org.Models.OrganizationModel
@{
  Layout = ViewExtensions2.TouchPointLayout();
  ViewBag.Title = "Organization";
  ViewBag.PageHeader = Model.OrgMain.OrganizationName;
  ViewBag.PageSubHeader = Model.OrgMain.LeaderId.HasValue ? Model.OrgMain.LeaderName : "";
  ViewBag.OrgMemberContext = true;
}
@section head
{
  @Fingerprint.Css("/Content/touchpoint/lib/bootstrap-editable/css/bootstrap-editable.css")
  @Fingerprint.Css("/Content/touchpoint/lib/bootstrap-tabdrop/css/tabdrop.css")
  @Fingerprint.Css("/Content/touchpoint/lib/select2/css/select2.css")
  @Fingerprint.Css("/Content/touchpoint/lib/select2/css/select2-bootstrap.css")
  <style>
    div.cutting {
      border: dashed 1px #717171;
      opacity: 0.5;
    }

    .disabled {
      color: #999 !important;
    }

    .datetimepicker table tr td span {
      width: 30%;
    }

    #sgFilter, #nameFilter {
      height: 34px;
      overflow: hidden;
    }

    dt {
      font-weight: normal;
      color: #808080;
    }

    dd {
      font-weight: 600;
      padding: 5px;
      border: solid 1px #eee;
      min-height: 32px;
    }

    textarea.html {
      display: none;
    }

    #editor {
      font-family: Arial,Helvetica;
    }
    .pad-top {
        padding-top: .5em;
    }
  </style>
}
<div class="row">
  <div class="col-lg-10">
    <div class="box box-responsive">
      <div class="box-content">
        @if (Model.ShowBlueToolbar)
        {
            @Html.Partial("Toolbar/Toolbar")
        }
        @Html.Partial("Settings/Main", Model.OrgMain)
        <ul class="nav nav-tabs" id="organization-tabs">
          <li class="active"><a href="#Members-tab" aria-controls="Members-tab" class="ajax" data-toggle="tab">People</a></li>
          @if (Model.ShowMeetingsTab)
          {
              <li><a href="#Meetings-tab" aria-controls="Meetings-tab" class="ajax" data-toggle="tab">Meetings</a></li>
          }
          @if (Model.ShowContactsReceivedTab())
          {
              <li><a href="#ContactsReceived-tab" aria-controls="ContactsReceived-tab" class="ajax" data-toggle="tab">@DbUtil.Db.Setting("UX-CGVisitsTabLabel", "Visits")</a></li>
          }
          @if (Model.ShowSettingsTab)
          {
              <li><a href="#Settings-tab" aria-controls="Settings-tab" class="ajax" data-toggle="tab">Settings</a></li>
          }
          @if (Model.ShowRegistrationTab())
          {
              <li><a href="#Registrations-tab" aria-controls="Registrations-tab" class="ajax" data-toggle="tab">Registration</a></li>
          }
          @if (Model.ShowCommunityGroupTab())
          {
              <li><a href="#CommunityGroup-tab" aria-controls="CommunityGroup-tab" class="ajax" data-toggle="tab">@DbUtil.Db.Setting("UX-CGInfoTabLabel", "CG Info")</a></li>
          }
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade in active" id="Members-tab" data-link="/Org/People">
            @Html.Partial("People", Model)
          </div>
          <div class="tab-pane fade" id="Meetings-tab" data-link="/Org/Meetings">
            @Helper.HiddenId("Id", Model.Id)
          </div>
          @if (Model.ShowContactsReceivedTab())
          {
              <div class="tab-pane fade" id="ContactsReceived-tab" data-link="/Org/ContactsReceived/@Model.Id" data-init="showHideRegTypes" data-init2="SettingFormsInit">
              </div>
          }
          <div class="tab-pane fade" id="Settings-tab" data-link="/Org/Settings/@Model.Id" data-init="showHideRegTypes" data-init2="SettingFormsInit">
          </div>
          <div class="tab-pane fade" id="Registrations-tab" data-link="/Org/Registrations/@Model.Id" data-init="showHideRegTypes" data-init2="SettingFormsInit">
          </div>
          @if (Model.ShowCommunityGroupTab())
          {
              <div class="tab-pane fade" id="CommunityGroup-tab" data-link="/Org/CommunityGroup/@Model.Id" data-init="showHideRegTypes" data-init2="SettingFormsInit">
              </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
@Html.Hidden("refreshed", "no")
@Html.Hidden("OrganizationId", Model.Id)
@Html.Partial("Dialogs", Model)
@section scripts
{
  @ViewExtensions2.CkEditor()
  @Fingerprint.Script("/Content/touchpoint/lib/bootstrap-editable/js/bootstrap-editable.min.js")
  @Fingerprint.Script("/Content/touchpoint/lib/jquery-cookie/js/jquery.cookie.js")
  @Fingerprint.Script("/Content/touchpoint/lib/bootstrap-tabdrop/js/bootstrap-tabdrop.js")
  @Fingerprint.Script("/Content/touchpoint/lib/bootstrap-tabdrop/js/extensions_bootstrap-tabdrop.js")
  @Fingerprint.Script("/Content/touchpoint/js/dialog/search-users.js")
  @Fingerprint.Script("/Content/touchpoint/js/org/org-member-dialog.js")
  @Fingerprint.Script("/Content/touchpoint/js/org/organization.js")
  @Fingerprint.Script("/Content/touchpoint/js/org/RegSetting.js")
  @Fingerprint.Script("/Content/touchpoint/lib/select2/js/select2.min.js")
}
