@using CmsWeb
@using UtilityExtensions
@model CmsWeb.Areas.Org.Models.MeetingsModel
<form class="ajax">
    <div class="row">
        <div class="col-sm-12">
            <div class="checkbox pull-left">
                <label class="control-label">
                    @Html.CheckBox("Future") Show future meetings?
                </label>
            </div>
            @FormAction()
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            @Html.Partial("PagerTop", Model)
            <div class="table-responsive">
                <table id="MemberGrid" class="table table-striped">
                    <thead>
                        <tr>
                            <th>@Model.SortLink("Date")</th>
                            <th>@Model.SortLink("Time")</th>
                            <th>@Model.SortLink("HeadCount")</th>
                            <th>@Model.SortLink("Present")</th>
                            <th>@Model.SortLink("Guests")</th>
                            <th>@Model.SortLink("Location")</th>
                            <th>@Model.SortLink("Description")</th>
                            <th style="width: 50px;">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var m in Model.ViewList())
                        {
                            <tr>
                                <td class="@(m.Conflict ? "alert-danger" : "")"><a href="/Meeting/@m.MeetingId">@m.MeetingDate.FormatDate()</a></td>
                                <td class="@(m.Conflict ? "alert-danger" : "")">@m.MeetingDate.ToString2("t")</td>
                                <td>@m.HeadCount.ToStringNoZero()</td>
                                <td>@m.NumPresent</td>
                                <td>@m.NumVisitors</td>
                                <td>@m.Location</td>
                                <td>@m.Description</td>
                                <td style="width: 50px;">
                                    @if (User.IsInRole("Attendance") && Model.ShowDeleteMeeting)
                                    {
                                        <a href="/DeleteMeeting/@m.MeetingId" class="longrunop btn btn-danger btn-sm"><i class="fa fa-trash"></i> Delete</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @Html.Partial("PagerBottom", Model)
            @Html.Partial("PagerHidden", Model)
            @Html.HiddenFor2(m => m.Id)
            @FormAction(true)
        </div>
    </div>
    <br/>
</form>
@helper FormAction(bool xs = false)
{
    if (User.IsInRole("Attendance") && Model.ShowCreateNewMeeting)
    {
        if (xs)
        {
            <br />
            <div class="visible-xs-block">
                <a class="btn btn-success btn-block dialog-options" href="/Dialog/ForNewMeeting/@Model.Id"><i class="fa fa-plus-circle"></i> Create New Meeting</a>
            </div>
        }
        else
        {
            <div class="pull-right hidden-xs">
                <a class="btn btn-success dialog-options" href="/Dialog/ForNewMeeting/@Model.Id"><i class="fa fa-plus-circle"></i> Create New Meeting</a>
            </div>
        }
    }
}