@using UtilityExtensions
@model CmsWeb.Areas.Search.Models.SearchAddModel
@{
    var hasErrors = ViewData.ModelState.Any(mm => mm.Value.Errors.Count > 0);
    var errors = ViewData.ModelState.Where(x => x.Value.Errors.Count > 0)
             .Select(x => new { x.Key, x.Value.Errors })
             .ToArray();

    var p = Model.PendingList.Last();
    var potentialDuplicate = p.PotentialDuplicate.HasValue() && !hasErrors && !Model.ShowLimitedSearch;
    var last = Model.PendingList.Count - 1;
}
@for (int n = 0; n < Model.PendingList.Count; n++)
{
    @Html.EditorFor(m => m.PendingList[n], "HiddenPerson")
    @Html.EditorFor(m => m.PendingList[n], "HiddenAddress")
}
@Html.EditorFor(m => m, "HiddenSearch")
@Html.EditorFor(m => m, "HiddenMeta")
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Add New @(p.IsBusiness ? "Business/entity" : "Person") @(p.IsNewFamily ? "to New Family" : "to Existing Family")</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                @Html.EditorFor(m => Model.PendingList[last], "Person")
            </div>
            @if (potentialDuplicate)
            {
                <div class="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <h4>Potential Duplicate</h4>
                    <p>
                        Looking for a unique combination of First, Last, Birthday, or Phone
                    </p>
                    <div>@Html.Raw(Model.PendingList[last].PotentialDuplicate)</div>
                </div>
            }
        </div>
        <div class="modal-footer">
            <div class="pull-left">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel All</a>
            </div>
            <a href="/SearchAdd2/CancelPerson/@last" class="btn btn-default ajax">Cancel @(p.IsBusiness ? "Business/entity" : "Person")</a>
            @if (potentialDuplicate)
            {
                <a href="/SearchAdd2/AddNewPerson/NoDupCheck" class="btn btn-danger ajax">Submit, no duplicate check</a>
                <a href="/SearchAdd2/AddNewPerson" class="btn btn-primary ajax validate">Submit Again</a>
            }
            else
            {
                if (!Model.ShowLimitedSearch)
                {
                    <a href="/SearchAdd2/AddNewPerson" class="btn btn-primary ajax validate">Submit</a>
                }
                else
                {
                    <a href="/SearchAdd2/AddNewPerson/NoDupCheck" class="btn btn-primary ajax validate">Submit</a>
                }
            }
        </div>
    </div>
</div>

