@using CmsData
@model CmsWeb.Areas.Search.Models.SearchAddModel
@*@ViewExtensions2.jQuery()
    @ViewExtensions2.jQueryUI()*@
@if (!Model.Fuzzy)
{
    if (Model.ShowLimitedSearch)
    {
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Search for Person to @Model.DialogTitle</h4>
                </div>
                <div id="search-person-form" class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            @Html.EditorFor(m => m.FirstName)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            @Html.EditorFor(m => m.LastName)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            @Html.EditorFor(m => m.Email)
                        </div>
                    </div>
                    @Html.EditorFor(m => m, "HiddenMeta")
                    @Html.EditorFor(m => m, "HiddenPeople")
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="pull-right">
                                <a href="#" class="btn btn-default clear">Clear</a>
                                <a id="searchperson" href="/SearchAdd2/Results" class="btn btn-primary ajax" title="add new">Search</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="pull-left">
                        <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    }
    else if (Util2.OnlineRegTypeSearchAdd)
    {
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Search for Person to @Model.DialogTitle</h4>
                </div>
                <div id="search-person-form" class="modal-body">
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.EditorFor(m => m.FirstName)
                        </div>
                        <div class="col-sm-4">
                            @Html.EditorFor(m => m.LastName)
                        </div>
                        <div class="col-sm-4">
                            @Html.EditorFor(m => m.dob)
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-6">
                            @Html.EditorFor(m => m.Phone)
                        </div>
                        <div class="col-sm-6">
                            @Html.EditorFor(m => m.Email)
                        </div>
                        <div class="clearfix"></div>
                        @Html.EditorFor(m => m, "HiddenMeta")
                        @Html.EditorFor(m => m, "HiddenPeople")
                        <div class="col-sm-12">
                            <div class="pull-right">
                                <a href="#" class="btn btn-default clear">Clear</a>
                                <a id="searchperson" href="/SearchAdd2/Results" class="btn btn-primary ajax" title="add new">Search</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="pull-left">
                        <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                    </div>
                    @Html.HiddenFor(m => m.DisplaySkipSearch)
                    @if (Model.DisplaySkipSearch && Model.CanAdd)
                    {
                        <a href="/SearchAdd2/NewPerson/0" class="btn btn-warning ajax" title="add new">Skip Search <i class="fa fa-arrow-circle-right"></i></a>
                    }

                </div>
            </div>
        </div>
    }
    else
    {
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Search for Person to @Model.DialogTitle</h4>
                </div>
                @if (Model.AddContext == "contributor")
                {
                    @Html.Action("GetCheckImage", "GetCheckImage", new { Area = "Dialog", id = Model.PrimaryKeyForContextType })
                }
                <div id="search-person-form" class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            @Html.EditorFor(m => m.Name, new { help = "Starting letters of First &amp; Last or just Last, e.g. <u>Pe Smi</u>" })
                        </div>
                        <div class="col-sm-6">
                            @Html.EditorFor(m => m.Communication, new { help = "Any part of any Phone or Email" })
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-6">
                            @Html.EditorFor(m => m.Address, new { help = "Any part of the Street Address, City or Zip" })
                        </div>
                        <div class="col-sm-6">
                            @Html.EditorFor(m => m.dob, new { help = "YYYY or MM or MM/DD or MM/DD/YY" })
                        </div>
                        @Html.EditorFor(m => m, "HiddenMeta")
                        @Html.EditorFor(m => m, "HiddenPeople")
                        <div class="col-sm-12">
                            <div class="pull-right">
                                <a href="#" class="btn btn-default clear">Clear</a>
                                <a id="searchperson" href="/SearchAdd2/Results" class="btn btn-primary ajax" title="add new">Search</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="pull-left">
                        <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                    </div>
                    <div class="pull-right">
                        <a id="searchbasic" href="/SearchAdd2/Dialog/Fuzzy/@Model.AddContext/@Model.PrimaryKeyForContextType" class="btn btn-primary searchadd" title="add new">Basic Search</a>
                        @Html.HiddenFor(m => m.DisplaySkipSearch)
                        @if (Model.DisplaySkipSearch && Model.CanAdd)
                        {
                            <a href="/SearchAdd2/NewPerson/0" class="btn btn-warning ajax" title="add new">Skip Search <i class="fa fa-arrow-circle-right"></i></a>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="search-modal modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close hidden-md hidden-lg" data-dismiss="modal"><span class="fa fa-close"></span><span class="sr-only">Close</span></button>
                <div class="row">
                    <div class="col-xs-10 col-sm-11 col-md-12 col-lg-12">
                        <div class="hidden-xs">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
                                <div id="search-add-component">
                                    <search-add v-on:display-results="updateAddResults(results, context)" :target="'#search-box'" :context="'add'" :placeholder="'People to add...'"></search-add>
                                </div>
                            </div>
                        </div>
                        <div class="visible-xs-block">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
                                <input type="text" class="form-control search-box-input mousetrap" placeholder="People or organizations...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body hidden-xs">
                <div class="search-results"></div>
                @Html.EditorFor(m => m, "HiddenMeta")
                @Html.EditorFor(m => m, "HiddenPeople")
            </div>
            <div class="modal-body visible-xs-block">
                <div class="search-results search-results-xs"></div>
            </div>
            <div class="modal-footer">
                <div class="pull-left">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                </div>
                <div class="pull-right">
                    <a id="searchadvanced" href="/SearchAdd2/Dialog/Advanced/@Model.AddContext/@Model.PrimaryKeyForContextType" class="btn btn-primary searchadd" title="add new">Advanced Search</a>
                    @Html.HiddenFor(m => m.DisplaySkipSearch)
                    @if (Model.DisplaySkipSearch && Model.CanAdd)
                    {
                        <a href="/SearchAdd2/NewPerson/0" class="btn btn-warning ajax" title="add new">Skip Search <i class="fa fa-arrow-circle-right"></i></a>
                    }
                </div>
            </div>
        </div>
    </div>
}
<script src="/Content/touchpoint/js/update-add-modal-results.js" type="text/javascript"></script>
<script src="/Content/touchpoint/js/vue-search-add.js" type="text/javascript"></script>
