@model int?
@{
    var help = ViewData["help"] as string;
    var viewHelp = !help.IsEmpty();
}
<dl>
    <dt>
        @if (ViewBag.label != null)
        {
            @ViewBag.label.ToString()
        }
        else
        {
            @Html.DisplayNameFor(m => m)
        }
    </dt>
    <dd>@ViewData.TemplateInfo.FormattedModelValue
    @if (viewHelp)
    {
        <span class="help-block">@Html.Raw(help)</span>
    }
  </dd>
</dl>
@if (ViewBag.ShowHelp != false && ViewData.ModelMetadata.Description.HasValue())
{
    <div class="alert alert-info">@Html.Markdown(ViewData.ModelMetadata.Description)</div>
}
