@model int?
<dl>
    <dt>
        @if (ViewBag.label != null)
        {
            @ViewBag.label.ToString()
        }
        else
        {
            @Html.DisplayNameFor(m => m)
        }
    </dt>
    <dd>@ViewData.TemplateInfo.FormattedModelValue
        <span class="help-block">@Html.Raw(ViewData["help"])</span>
  </dd>
</dl>
@if (ViewBag.ShowHelp != false && ViewData.ModelMetadata.Description.HasValue())
{
    <div class="alert alert-info">@Html.Markdown(ViewData.ModelMetadata.Description)</div>
}