@model CmsWeb.Areas.People.Models.Task.TaskModel
@using CmsData
@using UtilityExtensions
@{
    Layout = ViewExtensions2.TouchPointLayout();
    ViewBag.Title = "Task Details";
    ViewBag.PageHeader = "Task Details";
    var link = Server.UrlEncode($"{ViewExtensions2.CmsHost}/Task/{Model.Id}");
}
@section head{
    <style type="text/css">
        @@media all and (max-width: 480px) {
            .btn-group-xs-block {
                display: block;
            }

            .btn-xs-block {
                width: 100%;
                display: block;
            }

            .ul-xs-block {
                width: 100%;
                margin-top: 40px;
            }
        }
    </style>
}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-7">
        <div class="box box-responsive">
            <div class="box-title-btn">
                <h5>@Model.Description</h5>
                <div class="box-tools">
                    @if (Model.CanAccept)
                    {
                        <a href="#" class="accept btn btn-success"><i class="fa fa-thumbs-o-up fa-fw"></i> Accept Task</a>
                        <a href="#" class="decline btn btn-danger">
                            <i class="fa fa-thumbs-o-down fa-fw"></i> Decline
                            Task
                        </a>
                    }
                    @if (Model.IsAnOwner)
                    {
                        <a href="/Task/Edit/@Model.Id" class="btn btn-default">
                            <i class="fa fa-pencil fa-fw"></i> Edit
                        </a>
                    }
                    @if (Model.IsOwner || ((Model.CanComplete || Model.CanCompleteWithContact) && !Model.CanAccept))
                    {
                        @Html.Partial("_ActionsMenu", Model)
                    }
                </div>
            </div>
            <div class="box-content">
                @Html.Hidden("TaskId", Model.Id)
                @if (Model.WhoId.HasValue)
                {
                    <div class="well">
                        <strong>
                            <a href="/Person2/@Model.WhoId" style="font-size: 1.5em;" target="person">@Model.About</a>
                        </strong>
                        <br />
                        <a href="@Model.ProspectReportLink()" target="_blank">Prospect Report</a>
                        <div>
                            <ul class="list-inline" style="margin-bottom: 0;">
                                <li>
                                    <i class="fa fa-map-marker"></i>
                                    <a href="http://www.google.com/maps?q=@Model.WhoAddrCityStateZip"
                                       target="_blank">@Model.WhoAddress</a>
                                </li>
                                <li>
                                    <i class="fa fa-car"></i>
                                    <a href="http://www.google.com/maps?f=d&saddr=@DbUtil.StartAddress&pw=2&daddr=@Model.WhoAddrCityStateZip"
                                       target="_blank">Driving Directions</a>
                                </li>
                            </ul>
                            <ul class="list-inline">
                                @if (!string.IsNullOrWhiteSpace(Model.WhoEmail))
                                {
                                    <li>
                                        <i class="fa fa-envelope-o"></i>
                                        <a href="mailto:@Model.WhoEmail">@Model.WhoEmail</a>
                                    </li>
                                }
                                @if (!string.IsNullOrWhiteSpace(Model.WhoPhone) && Model.WhoPhone != Model.WhoCellPhone)
                                {
                                    <li>
                                        <i class="fa fa-phone"></i>
                                        <a href="tel:+@Model.WhoPhone">@Model.WhoPhone</a>
                                    </li>
                                }
                                @if (!string.IsNullOrWhiteSpace(Model.WhoCellPhone))
                                {
                                    <li>
                                        <i class="fa fa-phone"></i>
                                        <a href="tel:+@Model.WhoCellPhone">@Model.WhoCellPhone</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-sm-6">
                        @if (Model.TaskLimitToRole.Value.HasValue())
                        {
                            <dl>
                                <dt>Limit To Role</dt>
                                <dd>
                                    @Model.TaskLimitToRole.Value
                                </dd>
                            </dl>
                        }
                        <dl>
                            <dt>Owner</dt>
                            <dd>
                                <a href="mailto:@Model.OwnerEmail?subject=@Model.Description&body=@link">@Model.Owner</a>
                            </dd>
                        </dl>
                        <dl>
                            <dt>Delegated To</dt>
                            <dd>
                                @if (Model.CoOwnerId.HasValue)
                                {
                                    <a href="mailto:@Model.CoOwnerEmail">@Model.CoOwner</a>
                                }
                            </dd>
                        </dl>
                        <dl>
                            <dt>Status</dt>
                            <dd>
                                @Model.Status
                                @if (Model.ShowCompleted)
                                {
                                    <span>@Model.CompletedOn.ToString2("f")</span>
                                }
                                @if (Model.TaskStatus.IntVal == CmsData.Codes.TaskStatusCode.Declined)
                                {
                                    @Model.DeclineReason
                                }
                            </dd>
                        </dl>
                    </div>
                    <div class="col-sm-6">
                        <dl>
                            <dt>Created Date</dt>
                            <dd>@Model.CreatedOn.ToString("f")</dd>
                        </dl>
                        <dl>
                            <dt>Due Date</dt>
                            <dd>@Model.Due.ToString2("d")</dd>
                        </dl>
                        @if (Model.Description != "New Person Data Entry" && Model.Completed)
                        {
                            <dl>
                                <dt>Completed Contact</dt>
                                <dd>
                                    <a href="@Model.ContactUrl">@Model.CompletedContact.FormatDate()</a>
                                </dd>
                            </dl>
                        }

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <dl>
                            <dt>Notes</dt>
                            <dd>@Html.Raw(Model.FmtNotes)</dd>
                        </dl>
                    </div>
                </div>
                <!-- MOBILE ACTIONS MENU -->
                <div class="visible-xs-block">
                    @Html.Partial("_ActionsMenu", Model)
                </div>
                <!-- /.MOBILE ACTIONS MENU -->
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="declineModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/Task/Decline/@Model.Id" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Decline Task</h4>
                </div>
                <div class="modal-body">
                    <input id="declineReason" name="reason" style="width: 100%" placeholder="Decline reason..." />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Decline</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section scripts {
    <script type="text/javascript">
        $(function () {
            $("body").on("click",
                'a.completewcontact',
                function (ev) {
                    ev.preventDefault();
                    var taskid = $('#TaskId').val();
                    $.post('/Task/CompleteWithContact/' + taskid,
                        null,
                        function (ret) {
                            window.location = "/Contact2/" + ret.ContactId + "?edit=true";
                        });
                    return false;
                });

            $("body").on("click",
                'a.complete',
                function (ev) {
                    ev.preventDefault();
                    var id = $('#TaskId').val();
                    $.post('/Task/SetComplete/' + id,
                        null,
                        function (ret) {
                            window.location = "/Task/" + id;
                        });
                    return false;
                });

            $("body").on("click",
                'a.accept',
                function (ev) {
                    ev.preventDefault();
                    var id = $('#TaskId').val();
                    $.post('/Task/Accept/' + id,
                        null,
                        function (ret) {
                            window.location = "/Task/" + id;
                        });
                    return false;
                });

            $("body").on("click",
                'a.decline',
                function (ev) {
                    ev.preventDefault();
                    $('#declineModal').modal();
                    $('#declineModal').on('shown.bs.modal',
                        function () {
                            $('#declineReason').focus();
                        });
                    return false;
                });

        });

        function AddSelected(ret) {
            ActOnPerson(ret.url, ret.pid);
        }

        function ActOnPerson(action, peopleid) {
            var id = $('#TaskId').val();
            $.post(action + id + "?peopleid=" + peopleid,
                null,
                function (ret) {
                    window.location = "/Task/" + id;
                });
        }
    </script>
}
