@model CmsWeb.Areas.People.Models.Task.TaskModel
@using CmsData
@using UtilityExtensions
@{
    Layout = ViewExtensions2.TouchPointLayout();
    ViewBag.Title = "Task Details";
    ViewBag.PageHeader = "Task Details";
    var link = Server.UrlEncode($"{ViewExtensions2.CmsHost}/Task/{Model.Id}");
}
@section head{
    @Fingerprint.Css("/Content/touchpoint/lib/bootstrap-editable/css/bootstrap-editable.css")
    <style type="text/css">
        @@media all and (max-width: 480px) {
            .btn-group-xs-block {
                display: block;
            }

            .btn-xs-block {
                width: 100%;
                display: block;
            }

            .ul-xs-block {
                width: 100%;
                margin-top: 40px;
            }
        }

        .edit-text, .edit-textarea, .edit-datetime, .edit-select {
            cursor: pointer;
        }

        .edit-textarea {
            border-bottom: none !important;
            display: flex;
        }

        .edit-textarea p {
            border-bottom: dashed 1px #0088cc;
        }
    </style>
}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-7">
        <div class="box box-responsive">
            <div class="box-title-btn">
                <h5>
                    @if (Model.IsAnOwner)
                    {
                        <a class="edit-text" data-pk="@(Model.Id)" data-name="@nameof(Model.Description)" data-url="/Task/Edit">
                            @(Model.Description ?? "Empty")
                        </a>
                    } else
                    {
                        <span>@Model.Description</span>;
                    }
                </h5>
                <div class="box-tools">
                    @if (Model.CanAccept)
                    {
                        <a href="#" class="accept btn btn-success">
                            <i class="fa fa-thumbs-o-up fa-fw"></i> Accept Task
                        </a>
                        <a href="#" class="decline btn btn-danger">
                            <i class="fa fa-thumbs-o-down fa-fw"></i> Decline Task
                        </a>
                    }
                    @if (Model.IsAnOwner)
                    {
                        <a href="/Task/Edit/@Model.Id" class="btn btn-default">
                            <i class="fa fa-pencil fa-fw"></i> Edit
                        </a>
                    }
                    @if (Model.IsAcceptedPage || Model.IsCreatedPage)
                    {
                        if (Model.CanComplete)
                        {
                            <a href="#" class="complete btn btn-success">
                                <i class="fa fa-check fa-fw"></i> Complete Task
                            </a>
                            <input type="checkbox" data-complete-with-contact /><span> w/ Contact</span>
                        }
                        else if (Model.CanCompleteWithContact && Model.Description != "New Person Data Entry")
                        {
                            <a href="#" class="completewcontact btn btn-success">
                                <i class="fa fa-check fa-fw"></i> Complete Task w/ Contact
                            </a>
                        }
                    }
                </div>
            </div>
            <div class="box-content">
                @Html.Hidden("TaskId", Model.Id)
                @if (Model.WhoId.HasValue)
                {
                    <div class="well">
                        <strong>
                            <a href="/Person2/@Model.WhoId" style="font-size: 1.5em;" target="person">@Model.About</a>
                        </strong>
                        <br />
                        <a href="@Model.ProspectReportLink()" target="_blank">Prospect Report</a>
                        <div>
                            <ul class="list-inline" style="margin-bottom: 0;">
                                <li>
                                    <i class="fa fa-map-marker"></i>
                                    <a href="http://www.google.com/maps?q=@Model.WhoAddrCityStateZip"
                                       target="_blank">@Model.WhoAddress</a>
                                </li>
                                <li>
                                    <i class="fa fa-car"></i>
                                    <a href="http://www.google.com/maps?f=d&saddr=@DbUtil.StartAddress&pw=2&daddr=@Model.WhoAddrCityStateZip"
                                       target="_blank">Driving Directions</a>
                                </li>
                            </ul>
                            <ul class="list-inline">
                                @if (!string.IsNullOrWhiteSpace(Model.WhoEmail))
                                {
                                    <li>
                                        <i class="fa fa-envelope-o"></i>
                                        <a href="mailto:@Model.WhoEmail">@Model.WhoEmail</a>
                                    </li>
                                }
                                @if (!string.IsNullOrWhiteSpace(Model.WhoPhone) && Model.WhoPhone != Model.WhoCellPhone)
                                {
                                    <li>
                                        <i class="fa fa-phone"></i>
                                        <a href="tel:+@Model.WhoPhone">@Model.WhoPhone</a>
                                    </li>
                                }
                                @if (!string.IsNullOrWhiteSpace(Model.WhoCellPhone))
                                {
                                    <li>
                                        <i class="fa fa-phone"></i>
                                        <a href="tel:+@Model.WhoCellPhone">@Model.WhoCellPhone</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-sm-6">
                        @if (Model.TaskLimitToRole.Value.HasValue())
                        {
                            <dl>
                                <dt>Limit To Role</dt>
                                <dd>
                                    @if (Model.IsAnOwner)
                                    {
                                        <a class="edit-select" data-pk="@(Model.Id)" data-name="LimitToRole" data-url="/Task/Edit" data-selected="@Model.TaskLimitToRole" data-source-url="/Task/GetRoles">
                                            @(Model.TaskLimitToRole.Value ?? "Empty")
                                        </a>
                                    }
                                    else
                                    {
                                        <span>@Model.TaskLimitToRole.Value</span>
                                    }
                                </dd>
                            </dl>
                        }
                        <dl>
                            <dt>Owner</dt>
                            <dd>
                                @if (Model.IsOwner)
                                {
                                    <a href="/SearchAdd2/Dialog/taskowner/@Model.Id?displaySkipSearch=false" class="searchadd">
                                        @Model.Owner
                                    </a>
                                }
                                else
                                {
                                    @Model.Owner
                                }
                                <a href="mailto:@Model.OwnerEmail?subject=@Model.Description&body=@link">
                                    <i class="fa fa-envelope-o"></i>
                                </a>
                            </dd>
                        </dl>
                        <dl>
                            <dt>Delegated To</dt>
                            <dd>
                                @if (Model.CoOwnerId.HasValue)
                                {
                                    if (Model.IsOwner)
                                    {
                                        <a href="/SearchAdd2/Dialog/taskdelegate/@Model.Id?displaySkipSearch=false" class="searchadd">
                                            @Model.CoOwner
                                        </a>
                                    }
                                    else
                                    {
                                        @Model.CoOwner
                                    }
                                    <a href="mailto:@Model.CoOwnerEmail">
                                        <i class="fa fa-envelope-o"></i>
                                    </a>
                                }
                            </dd>
                        </dl>
                        <dl>
                            <dt>Status</dt>
                            <dd>
                                @if (Model.IsAnOwner)
                                {
                                    <a class="edit-select" data-pk="@(Model.Id)" data-name="@nameof(Model.StatusId)" data-url="/Task/Edit" data-selected="@Model.StatusId" data-source-url="/Task/GetStatuses">
                                        @(Model.Status ?? "Empty")
                                    </a>
                                }
                                else
                                {
                                    <span>@Model.Status</span>
                                }
                                @if (Model.ShowCompleted)
                                {
                                    <span>@Model.CompletedOn.ToString2("f")</span>
                                }
                                @if (Model.TaskStatus.IntVal == CmsData.Codes.TaskStatusCode.Declined)
                                {
                                    @Model.DeclineReason
                                }
                            </dd>
                        </dl>
                    </div>
                    <div class="col-sm-6">
                        <dl>
                            <dt>Created Date</dt>
                            <dd>@Model.CreatedOn.ToString("f")</dd>
                        </dl>
                        <dl>
                            <dt>Due Date</dt>
                            <dd>
                                @if (Model.IsAnOwner)
                                {
                                    <a class="edit-datetime" data-pk="@(Model.Id)" data-name="@nameof(Model.Due)" data-url="/Task/Edit">
                                        @(Model.Due.ToString2("d") ?? DateTime.Now.ToString("d"))
                                    </a>
                                }
                                else
                                {
                                    <span>@Model.Due.ToString2("d")</span>
                                }
                            </dd>
                        </dl>
                        @if (Model.Description != "New Person Data Entry" && Model.Completed)
                        {
                            <dl>
                                <dt>Completed Contact</dt>
                                <dd>
                                    <a href="@Model.ContactUrl">@Model.CompletedContact.FormatDate()</a>
                                </dd>
                            </dl>
                        }

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <dl>
                            <dt>Notes</dt>
                            <dd>
                                @if (Model.IsAnOwner)
                                {
                                    <a class="edit-textarea" data-pk="@(Model.Id)" data-name="@nameof(Model.Notes)" data-url="/Task/Edit">
                                        @Html.Raw(Model.FmtNotes ?? "Empty")
                                    </a>
                                }
                                else
                                {
                                    <span>@Html.Raw(Model.FmtNotes)</span>
                                }
                            </dd>
                        </dl>
                    </div>
                </div>
                <!-- MOBILE ACTIONS MENU -->
                <div class="visible-xs-block">
                    @Html.Partial("_ActionsMenu", Model)
                </div>
                <!-- /.MOBILE ACTIONS MENU -->
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="declineModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/Task/Decline/@Model.Id" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Decline Task</h4>
                </div>
                <div class="modal-body">
                    <input id="declineReason" name="reason" style="width: 100%" placeholder="Decline reason..." />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Decline</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section scripts {
    @Fingerprint.Script("/Content/touchpoint/lib/bootstrap-editable/js/bootstrap-editable.min.js")
    <script type="text/javascript">
        function setCompleteWithContact() {
            var taskid = $('#TaskId').val();
            $.post('/Task/CompleteWithContact/' + taskid,
                null,
                function(ret) {
                    window.location = "/Contact2/" + ret.ContactId + "?edit=true";
                });
            return false;
        }

        function setComplete() {
            var id = $('#TaskId').val();
            $.post('/Task/SetComplete/' + id,
                null,
                function(ret) {
                    window.location = "/Task/" + id;
                });
            return false;
        }

        $(function() {
            $.fn.editableform.buttons = '<button type="submit" class="btn btn-primary btn-sm editable-submit">' +
                '<i class="fa fa-fw fa-check"></i>' +
                '</button>' +
                '<button type="button" class="btn btn-default btn-sm editable-cancel">' +
                '<i class="fa fa-fw fa-times"></i>' +
                '</button>';

            $(".edit-text").editable({
                mode: 'inline',
                type: 'text',
                emptytext: 'None'
            });

            $(".edit-textarea").editable({
                mode: 'inline',
                type: 'textarea',
                emptytext: 'None'
            });

            $(".edit-datetime").editable({
                type: 'date',
                viewformat: 'm/dd/yyyy',
                datepicker: {
                    format: 'm/dd/yyyy',
                    todayBtn: true
                },
                clear: false,
                emptytext: 'None'
            });

            $(".edit-select").each(function(i, e) {
                $(e).editable({
                    mode: 'inline',
                    type: 'select',
                    emptytext: 'None',
                    value: $(e).data('selected'),
                    source: $(e).data('source-url')
                });
            });

            $("body").on("click",
                'a.completewcontact',
                function(ev) {
                    ev.preventDefault();
                    setCompleteWithContact();
                });

            $("body").on("click",
                'a.complete',
                function(ev) {
                    ev.preventDefault();
                    var withContact = $('[data-complete-with-contact]');
                    if (withContact.prop('checked')) {
                        setCompleteWithContact();
                    } else {
                        setComplete();
                    }
                });

            $("body").on("click",
                'a.accept',
                function(ev) {
                    ev.preventDefault();
                    var id = $('#TaskId').val();
                    $.post('/Task/Accept/' + id,
                        null,
                        function(ret) {
                            window.location = "/Task/" + id;
                        });
                    return false;
                });

            $("body").on("click",
                'a.decline',
                function(ev) {
                    ev.preventDefault();
                    $('#declineModal').modal();
                    $('#declineModal').on('shown.bs.modal',
                        function() {
                            $('#declineReason').focus();
                        });
                    return false;
                });

        });

        function AddSelected(ret) {
            ActOnPerson(ret.url, ret.pid);
        }

        function ActOnPerson(action, peopleid) {
            var id = $('#TaskId').val();
            $.post(action + id + "?peopleid=" + peopleid,
                null,
                function(ret) {
                    window.location = "/Task/" + id;
                });
        }
    </script>
}
