@using CmsWeb
@model CmsWeb.Models.OnlineRegPersonModel
    <tr><td colspan="3">Please provide additional<br />information for a new profile</td></tr>
@if(Model.whatfamily == 3)
{
    var index = Model.Index();
    <tr>
        <td>@Html.NotRequired()
            Home Phone</td>
        <td>@Html.TextBoxFor(m => m.HomePhone)</td>
        <td colspan="3"></td>
    </tr>
    <tr>
        <td>@Html.IsRequired(Model.RequiredAddr()) Address</td>
        <td>@Html.TextBox3("address", Model.Parent.GetNameFor(m => m.List[index].AddressLineOne), Model.AddressLineOne)
            <div>@Html.ValidationMessageFor(m => m.AddressLineOne)</div></td>
        <td colspan="3"></td>
    </tr>
    <tr>
        <td>@Html.NotRequired() Address2 </td>
        <td>@Html.TextBox3("address2", Model.Parent.GetNameFor(m => m.List[index].AddressLineTwo), Model.AddressLineTwo)
            <div>@Html.ValidationMessageFor(m => m.AddressLineTwo)</div></td>
        <td colspan="3"></td>
    </tr>
    <tr>
        <td>@Html.IsRequired(Model.RequiredZip()) City</td> 
        <td>@Html.TextBox3("city", Model.Parent.GetNameFor(m => m.List[index].City), Model.City)
            <div>@Html.ValidationMessageFor(m => m.City)</div></td>
        <td colspan="3"></td>
    </tr>
    <tr>
        <td>@Html.IsRequired(Model.RequiredZip()) State</td>
        <td>@Html.TextBox3("state", Model.Parent.GetNameFor(m => m.List[index].State), Model.State)
            <div>@Html.ValidationMessageFor(m => m.State)</div></td>
        <td colspan="3"></td>
    </tr>
    <tr>
        <td>@Html.IsRequired(Model.RequiredZip()) Zip</td>
        <td>@Html.TextBox3("zip", Model.Parent.GetNameFor(m => m.List[index].ZipCode), Model.ZipCode)
            <div>@Html.ValidationMessageFor(m => m.ZipCode)</div></td>
        <td colspan="3"></td>
    </tr>
    <tr>
        <td>@Html.IsRequired(Model.RequiredZip()) Country</td>
        <td>@Html.DropDownList3("country", Model.Parent.GetNameFor(m => m.List[index].Country), Model.Countries(), Model.Country)</td>
        <td colspan="3"></td>
    </tr>
} 
else
{ 
   @Html.HiddenFor2(m => m.AddressLineOne)
   @Html.HiddenFor2(m => m.City)
   @Html.HiddenFor2(m => m.State)
   @Html.HiddenFor2(m => m.ZipCode)
} 
   @Html.HiddenFor(m => m.whatfamily)
    <tr>
        <td>@Html.IsRequired(Model.RequiredGender()) Gender</td>
        <td>@Html.RadioButtonFor(m => m.gender, "1") Male
            @Html.RadioButtonFor(m => m.gender, "2") Female
            <div>@Html.ValidationMessageFor(m => m.gender)</div></td>
        <td colspan="3"></td>
    </tr>
    <tr>
        <td>@Html.IsRequired(Model.RequiredMarital())
            <label for="married">Marital Status</label></td>
        <td>@Html.RadioButtonFor(m => m.married, "10") Single
            @Html.RadioButtonFor(m => m.married, "20") Married
            <div>@Html.ValidationMessageFor(m => m.married)</div></td>
        <td colspan="3"></td>
    </tr>