@model CmsWeb.Models.OnlineRegPersonModel
@using UtilityExtensions
@if ((Model.classid ?? 0) > 0)
{ 
    <tr>
        <td>Chosen Class:</td>
        <td>@Model.org.OrganizationName</td>
    </tr>
}
@* name gets displayed elsewhere when finished *@
@if (!Model.Finished()) 
{ 
    <tr>
        <td width="30%"><label for="first">First Name</label></td>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td>@Model.LastName @Html.ValidationMessage("find")</td>
    </tr>
} 
@if (Model.RequiredDOB())
{
    <tr>
        <td>Date of Birth</td>
        <td>@Model.DateOfBirth 
            @if (Model.LoggedIn)
            {
                @:(<span>@Model.age</span>)
            }
            <div>@Html.ValidationMessageFor(m => m.DateOfBirth)</div></td>
    </tr>
}
    <tr>
        <td>Phone</td>
        <td>@Model.Phone.FmtFone()</td>
    </tr>
@if (Model.EmailAddress.HasValue())
{ 
    <tr>
        <td>Contact Email</td>
        <td>@Model.EmailAddress</td>
    </tr>
}
@if (Model.ShowAddress)
{
       @Html.Partial("Flow/AddressDisplay", Model)
}
