@using CmsData
@model Transaction
@{
  Layout = "~/Views/Shared/onlinereg2.cshtml";
  ViewBag.Title = "Online Registration";
}
@section scripts
{
  @Fingerprint.Script("/Content/touchpoint/js/onlinereg/OnlineReg2.js")
  <script type="text/javascript">
    $(function () {
      $(document).idleTimer(@Model.TimeOut);
      $(document).on("idle.idleTimer", function (event, elem, obj) {
        window.location.href = '@Model.Url';
      });
    });
  </script>
}

<div class="confirm">

  <h2>Transaction Completed</h2>
  <p>
    Thank you for your payment of @((Model.Amt ?? 0).ToString("N")) for @Model.Description.<br />
    Your balance is @ViewBag.amtdue<br />
    You should receive a confirmation email shortly.
  </p>
</div>