@using UtilityExtensions
@model CmsWeb.Areas.Search.Models.TaskSearchModel
@{
  var onePersonFilter = Model.Search.OnePersonFilter();
}
<div id="results">
  @Html.Partial("PagerTop", Model)
  <div class="table-responsive">
    <table id="results-table" class="table table-striped notwide centered">
      <thead>
      <tr>
        <th>@Model.SortLink("Date")</th>
        <th>
          Description<br/>
          @Model.SortLink("Status")
        </th>
        <th>
          <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
              <strong>People</strong> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li class="dropdown-header">Sort by Name</li>
              <li>@Model.SortLink("Originator")</li>
              <li>@Model.SortLink("About")</li>
              <li>@Model.SortLink("Owner")</li>
              <li>@Model.SortLink("Delegate")</li>
            </ul>
          </div>
        </th>
        @if (Model.Search.ShowNotes)
        {
          <th>Notes</th>
        }
      </tr>
      </thead>
      <tbody>
      @foreach (var t in Model.ViewList())
      {
        <tr>
          <td>
            <a href="/Task/Detail/@t.Id" target="Task">@t.Created.ToString2("d")</a>
          </td>
          <td @(t.Archive ? "style=color:red" : "")>
            @t.Description<br/>
            @if (t.CompletedContactId.HasValue)
            {
              <a href="/Contact2/@t.CompletedContactId" target="contact">@t.Status</a>
            }
            else
            {
              @t.Status
            }
            @if (t.LimitToRole.HasValue())
            {
              <br/>
              @:Limited to: @t.LimitToRole
            }
          </td>
          <td>
            <div class="tbl">
              @if (t.Originator.HasValue())
              {
                <div class="row">
                  <div class="cell1">Originator</div>
                  <div class="cell">
                    <a href="#" data-filter="Originator-@t.OrginatorId-@t.Originator2">@Model.Icon("Ori")</a> 
                    <a href="/Person2/@t.OrginatorId" target="person">@t.Originator</a>
                  </div>
                </div>
              }
              <div class="row">
                <div class="cell1">About</div>
                <div class="cell">
                    <a href="#" data-filter="About-@t.WhoId-@t.About2">@Model.Icon("Abo")</a> 
                  <a href="/Person2/@t.WhoId" target="person">@t.About</a>
                </div>
              </div>
              <div class="row">
                <div class="cell1">Owner</div>
                <div class="cell">
                    <a href="#" data-filter="Owner-@t.OwnerId-@t.Owner2">@Model.Icon("Own")</a> 
                  <a href="/Person2/@t.OwnerId" target="person">@t.Owner</a>
                </div>
              </div>
              @if (t.DelegateX.HasValue())
              {
                <div class="row">
                  <div class="cell1">Delegate</div>
                  <div class="cell">
                    <a href="#" data-filter="Delegate-@t.CoOwnerId-@t.Delegate2">@Model.Icon("Del")</a> 
                    <a href="/Person2/@t.CoOwnerId" target="person">@t.DelegateX</a>
                  </div>
                </div>
              }
            </div>
          </td>
          @if (Model.Search.ShowNotes)
          {
            <td class="maxwidth">@ViewExtensions2.Markdown(t.Notes)</td>
          }
        </tr>
      }
      </tbody>
    </table>
  </div>
  @Html.Partial("PagerBottom", Model)
  @Html.Hidden("totcnt", Model.Count().ToString("N0"))
  @Html.Partial("PagerHidden", Model)
</div>