@using UtilityExtensions
@model CmsWeb.Areas.Search.Models.TaskSearchModel
<div id="results">
    @Html.Partial("PagerTop", Model)
    <div class="table-responsive">
        <table id="results-table" class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>About</th>
                    <th>Status</th>
                    <th>Owner</th>
                    <th>Delegate</th>
                    <th>Originator</th>
                    <th>LimitToRole</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var t in Model.ViewList())
                {
                    <tr>
                        <td><a href="/Task/@t.Id" target="Contact">@t.Created.ToString2("d")</a></td>
                        <td>@t.About</td>
                        <td>@t.Status</td>
                        <td>@t.Owner</td>
                        <td>@t.DelegateX</td>
                        <td>@t.Originator</td>
                        <td>@t.LimitToRole</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @Html.Partial("PagerBottom", Model)
    @Html.Hidden("totcnt", Model.Count().ToString("N0"))
    @Html.Partial("PagerHidden", Model)
</div>           
