@using UtilityExtensions
@model CmsWeb.Areas.People.Models.Person.MemberInfo
<form class="form form-horizontal ajax span12" method="post">
    @FormAction()
    <div class="row-fluid">
        <div class="span6 display">
            <div class="well">
                <p><b>Decision</b></p>
                @Html.EditorFor(m => m.DecisionType)
                @Html.EditorFor(m => m.DecisionDate)
            </div>
            <div class="well">
                <p><b>Baptism</b></p>
                @Html.EditorFor(m => m.BaptismType)
                @Html.EditorFor(m => m.BaptismStatus)
                @Html.EditorFor(m => m.BaptismDate)
                @Html.EditorFor(m => m.BaptismSchedDate)
            </div>
            <div class="well">
                <p><b>New Member Class</b></p>
                @Html.EditorFor(m => m.NewMemberClassStatus)
                @Html.EditorFor(m => m.NewMemberClassDate)
            </div>
        </div>
        <div class="span6 display column2">
            <div class="well">
                <p><b>Church Membership</b></p>
                @Html.EditorFor(m => m.MemberStatus)
                @Html.EditorFor(m => m.JoinType)
                @Html.EditorFor(m => m.JoinDate)
                @Html.EditorFor(m => m.PrevChurch)
            </div>
            <div class="well">
                <p><b>Drop</b></p>
                @Html.EditorFor(m => m.DropType)
                @Html.EditorFor(m => m.DropDate)
                @Html.EditorFor(m => m.NewChurch)
            </div>
        </div>
    </div>
    @FormAction()
</form>

@helper FormAction()
{
    <div class="form-actions">
        <span class="pull-right">
            <a href="/Person2/MembershipDisplay/@Model.PeopleId" class="edit-basic btn ajax">Cancel</a>
            <a href="/Person2/MembershipUpdate/@Model.PeopleId" class="edit-basic btn btn-primary ajax">Save</a>
        </span>
    </div>
}