@using CmsData
@model CmsWeb.Areas.Org.Models.OrganizationModel
@{
  var o = Model.Org;
}
<div id="dialogHolder"></div>
<div id="TryRegDialog" class="roundbox" style="display: none">
  <table>
    <tr>
      <td>
        <h2>Try Registration</h2>
      </td>
    </tr>
    <tr>
      <td>
        <p>
          Copy the following URL for the public registration link.
          If you want to see exactly what the user sees,
          You should use the link below in a different browser.
          Or log out first, then use the link.
        </p>
        <blockquote>
          <a href="/OnlineReg/@o.OrganizationId" target="blank">@DbUtil.Db.ServerLink("/OnlineReg/" + o.OrganizationId)</a>
        </blockquote>
      </td>
    </tr>
  </table>
</div>
<div id="orgsDialog">
  <iframe style="width: 100%; height: 99%; border-width: 0;"></iframe>
</div>
<div id="EditorDialog" style="display: none; position: absolute; z-index: 1005">
  @Html.TextArea("editor", "", new { style = "height:450px;", @class = "editor", rows = "16", cols = "20" })
  <div style="text-align: right">
    <a id="canceledit" href="#" class="bt">Cancel</a>
    <a id="saveedit" href="#" class="bt blue">Save</a>
  </div>
</div>
<table id="newvalueform" class="grid roundbox" style="display: none">
  <tr>
    <td colspan="2">
      <h2>New Extra Value</h2>
    </td>
  </tr>
  <tr>
    <td>MultiLine: </td>
    <td>@Html.CheckBox("multiline") </td>
  </tr>
  <tr>
    <td>Field: </td>
    <td>@Html.TextBox("fieldname") </td>
  </tr>
  <tr>
    <td>Value: </td>
    <td>@Html.TextBox("fieldvalue") </td>
  </tr>
</table>