@using CmsData
@using CmsWeb
@model CmsWeb.Areas.Org.Models.OrganizationModel
@{
  Layout = ViewExtensions2.Layout();
  ViewBag.Title = "Organization";
  ViewBag.OrgMemberContext = true;
  var o = Model.org;
}
@section head
{
  @Fingerprint.Css("/Content/styles/organization.css")
}
@section scripts
{
  @ViewExtensions2.CKEditor()
  @Fingerprint.Script("/Scripts/bundle.organization.js")
}
@Html.Hidden("refreshed", "no")
@Html.Hidden("OrganizationId")

<div class="row-fluid" id="profile-header">
  <div class="span8">
    <form id="orginfoform" action="/Organization/OrgInfoUpdate/@Model.OrganizationId" class="DisplayEdit roundbox" method="post">
      @Html.Partial("OrgInfo", Model)
    </form>
  </div>
  <div class="span4">
    @Html.Partial("Toolbar/Toolbar")
  </div>
</div>
@Html.Hidden("currentQid")
@Html.Hidden("previousQid")
@Html.Hidden("visitedQid")
@Html.Hidden("pendingQid")
@Html.Hidden("inactiveQid")
@Html.Hidden("prospectsQid")

<div id="main-tab" style="display: none">
  <ul class="ui-tabs-nav">
    <li><a href="#Members-tab"><span>Members</span></a></li>
    <li><a id="inactive-link" href="#Inactive-tab"><span>@(Model.org.IsMissionTrip == true ? "Senders" : "Inactive")</span></a></li>
    <li><a id="pending-link" href="#Pending-tab"><span>Pending</span></a></li>
    <li><a id="priors-link" href="#Priors-tab"><span>Previous</span></a></li>
    <li><a id="prospects-link" href="#Prospects-tab"><span>Prospects</span></a></li>
    <li><a id="visitors-link" href="#Visitors-tab"><span>Guests</span></a></li>
    <li><a href="#Settings-tab"><span>Settings</span></a></li>
    <li><a id="meetings-link" href="#Meetings-tab"><span>Meetings</span></a></li>
  </ul>
  <div id="Members-tab">
    <form action="/Organization/CurrMemberGrid/@Model.OrganizationId" method="post">
      @Html.Partial("CurrMemberGrid", Model.MemberModel)
    </form>
  </div>
  <div id="Inactive-tab">
    <form action="/Organization/InactiveMemberGrid/@Model.OrganizationId" method="post"></form>
  </div>
  <div id="Pending-tab">
    <form action="/Organization/PendingMemberGrid/@Model.OrganizationId" method="post"></form>
  </div>
  <div id="Priors-tab">
    <form action="/Organization/PrevMemberGrid/@Model.OrganizationId" method="post"></form>
  </div>
  <div id="Prospects-tab">
    <form action="/Organization/ProspectGrid/@Model.OrganizationId" method="post"></form>
  </div>
  <div id="Visitors-tab">
    <form action="/Organization/VisitorGrid/@Model.OrganizationId" method="post"></form>
  </div>
  <div id="Meetings-tab">
    <form action="/Organization/MeetingGrid/@Model.OrganizationId" method="post">
      @Html.Hidden("future", false)
    </form>
  </div>
  <div id="Settings-tab" style="display: none">
    <ul>
      <li><a href="#SettingsOrg"><span>General</span></a></li>
      <li><a href="#SettingsMeetings"><span>Attendance</span></a></li>
      <li><a href="#OnlineRegAdmin"><span>Registration</span></a></li>
      <li><a href="#OnlineRegFees"><span>Fees</span></a></li>
      <li><a href="#OnlineRegQuestions"><span>Questions</span></a></li>
      <li><a href="#OnlineRegMessages"><span>Messages</span></a></li>
      <li><a href="#ExtraValues"><span>Extra Values</span></a></li>
    </ul>
    <div id="SettingsOrg" class="settings">
      <p>
        <i>Hover over the labels to get help</i>
      </p>
      <form class="DisplayEdit" action="">
        @Html.Partial("SettingsOrg", Model)
      </form>
    </div>
    <div id="SettingsMeetings" class="settings">
      <p>
        <i>Hover over the labels to get help</i>
      </p>
      <form class="DisplayEdit" action="">
        @Html.Partial("SettingsMeetings", Model)
      </form>
    </div>
    <div id="OnlineRegAdmin" class="settings">
      <p>
        <i>Hover over the labels to get help</i>
      </p>
      <form class="DisplayEdit" action="">
        @Html.Partial("OnlineRegAdmin", Model.RegSettings)
      </form>
    </div>
    <div id="OnlineRegFees" class="settings">
      <p>
        <i>Hover over the labels to get help</i>
      </p>
      <form class="DisplayEdit" action="">
        @Html.Partial("OnlineRegFees", Model.RegSettings)
      </form>
    </div>
    <div id="OnlineRegQuestions" class="settings">
      <p>
        <i>Hover over the labels to get help.</i>
      </p>
      <form class="DisplayEdit" action="">
        @Html.Partial("OnlineRegQuestions", Model.RegSettings)
      </form>
    </div>
    <div id="OnlineRegMessages" class="settings no0">
      <p>
        <i>Hover over the labels to get help</i>
      </p>
      <form class="DisplayEdit" action="">
        @Html.Partial("OnlineRegMessages", Model.RegSettings)
      </form>
    </div>
    @*        <div class="tab-pane settings" id="ExtraValues" data-link="/ExtraValue/Display/Organization/Standard/@Model.OrganizationId"></div>*@
    <div id="ExtraValues" class="settings">
      <table id="extras" class="@ViewExtensions2.GridClass">
        <thead>
          <tr>
            <td>
              Field
            </td>
            <td>
              Value
            </td>
            <td>
              @if (User.IsInRole("Edit"))
              {
                <a id="newextravalue" href="#">
                  <img src="/Content/images/plus1.png" />
                </a>
              }
            </td>
          </tr>
        </thead>
        <tbody>
          @Html.Partial("ExtrasGrid", Model.org)
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="dialogHolder"></div>
@section PopupsPlaceholder
{
  <form id='member-dialog' class='modal fade hide validate ajax form-horizontal' method='POST' data-backdrop='static' data-width='600'></form>
  <div id="NewMeetingDialog" class="roundbox" style="display: none">
    <table>
      <tr>
        <th colspan="2"> <h2>Choose a Schedule</h2> </th>
      </tr>
      <tr class="forMeeting">
        <th>Schedule: </th>
        <td>@Html.DropDownList("ScheduleListPrev", Model.SchedulesPrev()) </td>
      </tr>
      <tr class="forRollsheet">
        <th>Schedule: </th>
        <td>@Html.DropDownList("ScheduleListNext", Model.SchedulesNext()) </td>
      </tr>
      <tr>
        <th colspan="2"> <h2>Or Please select a meeting date and time</h2> </th>
      </tr>
      <tr class="forMeeting">
        <th>Meeting Date: </th>
        <td>@Html.DatePicker("PrevMeetingDate") </td>
      </tr>
      <tr class="forRollsheet">
        <th>Meeting Date: </th>
        <td>@Html.DatePicker("NextMeetingDate") </td>
      </tr>
      <tr>
        <th>Meeting Time: </th>
        <td>@Html.TextBox("NewMeetingTime", Model.NewMeetingTime, new { title = "Time in Format hh:mm am or pm", @class = "timepicker" }) </td>
      </tr>
      <tr>
        <th>Attend Credit: </th>
        <td>@Html.DropDownList("AttendCreditList", Model.AttendCreditList()) </td>
      </tr>
      <tr>
        <th id="grouplabel"></th>
        <td>@Html.CheckBox("group") </td>
      </tr>
      <tr class="forRollsheet">
        <th>Group Filter Prefix</th>
        <td>@Html.TextBox("sgprefixrs")</td>
      </tr>
      <tr class="forRollsheet">
        <th>Highlight Group</th>
        <td>@Html.TextBox("highlightsg")</td>
      </tr>
      <tr class="forRollsheet">
        <th>Use Alt Names </th>
        <td>
          @Html.CheckBox("altnames")
        </td>
      </tr>
    </table>
  </div>
<div id="TryRegDialog" class="modal hide fade" tabindex="-1">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Try Registration</h3>
    </div>
    <div class="modal-body">
        <div class="alert alert-info">
            Copy the following URL for the public registration link.
            If you want to see exactly what the user sees,
            you should use the link below in a different browser.
            Or log out first, then use the link.
        </div>
        <blockquote>
            <a href="/OnlineReg/@o.OrganizationId" target="blank">@DbUtil.Db.ServerLink("/OnlineReg/" + o.OrganizationId)</a>
        </blockquote>
    </div>
</div>
  <div id="memberDialog">
    <iframe id="memberDialogiframe" style="width: 100%; height: 99%; border-width: 0;"></iframe>
  </div>
  <div id="FilterGroups" class="modalDiv" style="display: none;">
    <form action="">
      <div>
        <b>Name Filter</b>
      </div>
      <div>
        First and last name or just last name. You can put just the first few letters of
        each. PeopleId works too. <i class="blue">(the name filter does not work with blue toolbar functions)</i>
      </div>
      <input id="namefilter" name="namefilter" type="text" />
      <hr />
      <div>
        <b>Small Group Prefix</b>
      </div>
      <div>
        Match on the first few letters of a small group. Lead with - to eliminate. Comma separate for more.
      </div>
      <input id="sgprefix" name="sgprefix" type="text" />
      <hr />
      <div>
        <b>Small Group Filter</b>
      </div>
      <div>
        <label>@Html.RadioButton("selectmode", "0") Match Any</label>
        <label>@Html.RadioButton("selectmode", "1") Match All</label>
      </div>
      <div>
        Select multiple items by holding down the control key (individual) or shift key
        (range) while you click. Select (not specified) to cancel the filter.
      </div>
      <select id="smallgrouplist" name="smallgrouplist" multiple="multiple" size="10">
        @foreach (var s in Model.MemberModel.SmallGroups())
        {
          <option @(s.Selected ? "selected='selected'" : "") value="@s.Value">@s.Text</option>
        }
      </select>
    </form>
  </div>
  <div id="AddFromTag">
    <iframe style="width: 100%; height: 99%; border-width: 0;"></iframe>
  </div>
  <div id="LongRunOp">
    <iframe style="width: 100%; height: 99%; border-width: 0;"></iframe>
  </div>
  <div id="divisionsDialog">
    @*        <iframe id="searchdivisions" style="width: 100%; height: 99%; border-width: 0;"></iframe>*@
  </div>
  <div id="orgsDialog">
    <iframe style="width: 100%; height: 99%; border-width: 0;"></iframe>
  </div>
  <div id="EditorDialog" style="display: none; position: absolute; z-index: 1005">
    @Html.TextArea("editor", "", new { style = "height:450px;", @class = "editor", rows = "16", cols = "20" })
    <div style="text-align: right">
      <a id="canceledit" href="#" class="bt">Cancel</a>
      <a id="saveedit" href="#" class="bt blue">Save</a>
    </div>
  </div>
  <table id="newvalueform" class="grid roundbox" style="display: none">
    <tr>
      <td colspan="2">
        <h2>New Extra Value</h2>
      </td>
    </tr>
    <tr>
      <td>MultiLine: </td>
      <td>@Html.CheckBox("multiline") </td>
    </tr>
    <tr>
      <td>Field: </td>
      <td>@Html.TextBox("fieldname") </td>
    </tr>
    <tr>
      <td>Value: </td>
      <td>@Html.TextBox("fieldvalue") </td>
    </tr>
  </table>
}
