@using CmsWeb
@using UtilityExtensions
@model CmsWeb.Areas.Org.Models.MeetingsModel
<form class="form form-horizontal non-modal ajax span12 pad-left">
  @Html.Partial("PagerHidden", Model)
  @Html.HiddenFor2(m => m.Id)
  <p>
    @if (User.IsInRole("Attendance"))
    {
      <a id="NewMeeting" class="btn btn-primary dialog-options" href="/NewMeeting/@Model.Id?forMeeting=true">Create New Meeting</a>
    }
    @Html.CheckBox("Future") Show Future Meetings
  </p>
  <div class="pagination pagination-mini">
    @Html.Partial("Pager3", Model)
  </div>
  <table id="MemberGrid" class="@ViewExtensions2.GridClass">
    <thead>
      <tr>
        <th>@Model.SortLink("Date")</th>
        <th>@Model.SortLink("Time")</th>
        <th>@Model.SortLink("HeadCount")</th>
        <th>@Model.SortLink("Present")</th>
        <th>@Model.SortLink("Guests")</th>
        <th>@Model.SortLink("Location")</th>
        <th class="left">@Model.SortLink("Description)")</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var m in Model.ViewList())
      {
        <tr>
          <td><a href="/Meeting/@m.MeetingId">@m.MeetingDate.FormatDate()</a></td>
          <td>@m.MeetingDate.ToString2("t")</td>
          <td>@m.HeadCount.ToStringNoZero()</td>
          <td>@m.NumPresent</td>
          <td>@m.NumVisitors</td>
          <td>@m.Location</td>
          <td>@m.Description</td>
          <td>
            @if (User.IsInRole("Attendance"))
            {
              <a href="/DeleteMeeting/@m.MeetingId" class="longrunop"><img border="0" src="/Content/images/delete.gif" /></a>
            }
          </td>
        </tr>
      }
    </tbody>
  </table>
  <div class="pagination pagination-mini">
    @Html.Partial("Pager3", Model)
  </div>
</form>
