@using CmsData
@model CmsWeb.Areas.Dialog.Models.NewOrganizationModel
<div class="modal-dialog modal-lg" id="new-org-modal">
    <div class="modal-content">
        <form action="/AddOrganization/Submit/@Model.OrganizationId" method="post">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add New Organization</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="org_OrganizationName" class="control-label">Name</label>
                            @Html.TextBox("org.OrganizationName", Model.org.OrganizationName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="org_Location" class="control-label">Location</label>
                            @Html.TextBox("org.Location", "", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="org_CampusId" class="control-label">@Util2.CampusLabel</label>
                            @Html.DropDownList("org.CampusId", Model.CampusList(), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="org_LeaderMemberTypeId" class="control-label">Leader Type</label>
                            @Html.DropDownList("org.LeaderMemberTypeId", Model.LeaderTypeList(), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="checkbox-inline">
                                @Html.CheckBox("org.IsBibleFellowshipOrg") Main fellowship?
                            </label>
                            @if (Model.DisplayCopySettings)
                            {
                                <label class="checkbox-inline">
                                    @Html.CheckBox("copysettings") Copy settings from current organization?
                                </label>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" data-dismiss="modal">Cancel</a>
                <input type="submit" class="btn btn-primary" value="Submit" />
            </div>
        </form>
    </div>
</div>