@model List<CmsData.Registration.Settings.AgeGroup>
@using CmsWeb
@using UtilityExtensions
<div class="control-group">
  <label class="control-label">Age Groups</label>
  <div class="controls">
    <table class="table table-condensed not-wide">
      @foreach (var i in Model)
      {
        <tr>
          <td>@i.StartAge</td>
          <td>@i.EndAge</td>
          <td>@i.SmallGroup</td>
          <td>@i.Fee.ToString2("c")</td>
        </tr>
      }
    </table>
    @if (ViewBag.ShowHelp != false && ViewData.ModelMetadata.Description.HasValue())
    {
        <div class="alert alert-info maxWidthMedium margin-top">@Html.Markdown(ViewData.ModelMetadata.Description)</div>
    }
  </div>
</div>