@model AskCheckboxes
@using CmsData.Registration
@using UtilityExtensions
<div class="table not-wide w100">
  <label>
    Checkboxes
  </label>
  @if (ViewBag.ShowHelp != false)
  {
    <div class="alert alert-info maxWidthMedium margin-top">@Html.Markdown(Model.Help)</div>
  }
  @Html.DisplayFor(m => m.Label)
  @Html.DisplayFor(m => m.Minimum)
  @Html.DisplayFor(m => m.Maximum)
  @Html.DisplayFor(m => m.Columns)
  @foreach (var i in Model.list)
  {
    <div class="well not-wide margin-left-wide">
      @Html.DisplayFor(m => i.Description)
      @Html.DisplayForIf(m => i.SmallGroup, i.SmallGroup != i.Description)
      @Html.DisplayForIf(m => i.Fee, i.Fee > 0)
      @Html.DisplayForIf(m => i.Limit, i.Limit > 0)
      @Html.DisplayForIf(m => i.MeetingTimeString, i.MeetingTimeString.HasValue())
    </div>
  }
</div>