@using UtilityExtensions
@model CmsWeb.Areas.OnlineReg.Models.OnlineRegModel
@{
  Layout = "~/Views/Shared/onlinereg2.cshtml";
  ViewBag.Title = "Online Registration";
}
@section scripts
{
  @Fingerprint.Script("/Content/touchpoint/js/onlinereg/OnlineReg2.js")
  <script type="text/javascript">
    $(function () {
      $(document).idleTimer(@Model.TimeOut);
      $(document).on("idle.idleTimer", function (event, elem, obj) {
        window.location.href = '@Model.URL';
      });
    });
  </script>
}
<div class="confirm">
  <p style="color: Black">
    Email sent to @Util.ObscureEmail(Model.List[0].person.EmailAddress) (email obscured on purpose)
  </p>
  <p>
    <strong>One-Time Link</strong><br>
    We have sent you a One-Time Link to manage your registration for @Model.org.OrganizationName
  </p>
</div>