@using UtilityExtensions
@model CmsWeb.Areas.OnlineReg.Models.OnlineRegModel

@{
  Layout = "~/Views/Shared/onlinereg2.cshtml";
  ViewBag.Title = "Online Registration";
}
@section scripts
{
  <script type="text/javascript">
    $.dateFormat = '@Util.jQueryDateFormat';
    $.timeoutUrl = '/OnlineReg/Timeout?ret=' + encodeURI('@Model.URL');
    $.tmout = parseInt('@Model.TimeOut');
  </script>
  @Fingerprint.Script("/Content/touchpoint/js/onlinereg/OnlineReg2.js")
}

<div class="regform">
  <h3>@Model.Header</h3>
  <h4>
    We found an Existing registration for you.<br />
    Please choose one of the following
  </h4>
  <table class="table" style="width: auto">
    <tr>
      <th>Either</th>
      <td>
        <a href="/OnlineReg/Continue/@Model.DatumId">Continue with your Registration</a><br />
        started @Model.Datum.Stamp.ToString2("g")
      </td>
    </tr>
    <tr>
      <th>Or </th>
      <td><a href="/OnlineReg/StartOver/@Model.DatumId">Start Over with a new registration</a></td>
    </tr>
  </table>
</div>