@model CmsWeb.Areas.OnlineReg.Models.OnlineRegModel
@using UtilityExtensions
@{
  Layout = "~/Views/Shared/onlinereg2.cshtml";
  ViewBag.Title = "Online Registration";
}
@section scripts
{
  <script type="text/javascript">
    $.dateFormat = '@Util.jQueryDateFormat';
    $.timeoutUrl = '/OnlineReg/Timeout?ret=' + encodeURI('@Model.URL');
    $.tmout = parseInt('@Model.TimeOut');
  </script>
}

<div class="regform">
  <h3>@Model.Header</h3>
  <h4>
    We have saved your progress.<br/>
    An email with a link to finish this registration will come to you shortly.
  </h4>
  @Html.Hidden("SavedProgress", "true")
</div>