@model CmsWeb.Areas.Dialog.Models.SearchOrgsModel
@{
    var list = Model.OrgList();
}
<b>Showing top @Model.listcount of @Model.count.ToString("N0")</b>
@foreach (var o in list)
{
    <label class="checkbox">
        <input type="checkbox" @(o.IsChecked ? "checked='checked'" : "") value="@o.OrgId" />
        @o.Division &mdash; @o.Name
    </label>
}