@model CmsWeb.Areas.Dialog.Models.SearchOrgsModel
@{
    var list = Model.OrgList();
}
<b>Showing top @Model.listcount of @Model.count.ToString("N0")</b>
<table width="100%" class="table-striped">
@foreach (var o in list)
{
    <tr>
      <td class="checkbox">
        <label>
            <input type="checkbox" @(o.IsChecked ? "checked='checked'" : "") value="@o.OrgId" />
            @o.Division &mdash; @o.Name
        </label>
      </td>
      <td>
        @if (o.IsChecked && !o.IsFirst)
        {
        <a href="#" class="move">move to top</a>
        }
      </td>
    </tr>
}
</table>