@model CmsWeb.Areas.Org.Models.Org.SettingsCommunityGroupModel
@using CmsData
@{
    ViewBag.FalseValue = "";
}
<form class="ajax">
    @if (!Html.ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @Html.ValidationMessage("Form")
        </div>
    }
    <div class="row">
        <div class="col-sm-6">
            <h4>Community Group Setup</h4>
        </div>
        <div class="col-sm-6">
            @FormAction()
        </div>
    </div>
    <div class="well">
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <label for="GroupType" class="control-label">Group Types</label>
                @Html.DropDownList("GroupType", new SelectList(Model.GroupTypes(), "Value", "Text"), new {@class = "form-control"})
            </div>
            <div class="col-sm-4 col-md-3">
                <label for="Term" class="control-label">Terms</label>
                @Html.DropDownList("Term", new SelectList(Model.Terms(), "Value", "Text"), new {@class = "form-control"})
            </div>
            <div class="col-sm-2 col-md-2">
                @Html.EditorFor(m => m.SizeLimit)
            </div>
            <div class="col-sm-3 col-md-3">
                @Html.EditorFor(m => m.HasChildcare, new {FalseValue = "n/a"})
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <label for="Region" class="control-label">Regions</label>
                @Html.DropDownList("Region", new SelectList(Model.Regions(), "Value", "Text"), new {@class = "form-control"})
            </div>
            <div class="col-sm-4 col-md-4">
                @Html.EditorFor(m => m.Neighborhood)
            </div>
            <div class="col-sm-4 col-md-4">
                @Html.EditorFor(m => m.CrossStreets)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-4">
                @Html.EditorFor(m => m.LastVisitDate)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                @Html.EditorFor(m => m.VisitNotes, "Html")
            </div>
        </div>
    </div>
    @Html.Hidden("Id", Model.Id)
    @FormAction()
    @FormAction(true)
    <br/><br/>
</form>
@helper FormAction(bool xs = false)
{
    if (xs)
    {
            <div class="visible-xs-block">
                <a href="/Org/CommunityGroupUpdate/@Model.Id" class="btn btn-primary btn-block ajax validate">Save</a>
                <a href="/Org/CommunityGroup/@Model.Id" class="btn btn-default btn-block ajax">Cancel</a>
            </div>
    }
    else
    {
            <div class="pull-right hidden-xs">
                <a href="/Org/CommunityGroup/@Model.Id" class="btn btn-default ajax">Cancel</a>
                <a href="/Org/CommunityGroupUpdate/@Model.Id" class="btn btn-primary ajax validate">Save</a>
            </div>
    }
}