@model CmsWeb.Areas.Org.Models.OrganizationModel
@using CmsData
@using CmsData.Classes.RoleChecker
@using CmsWeb.Models.ExtraValues
@{
    var evmodel = new ExtraValueModel(Model.Org.OrganizationId, "Organization", "CommunityGroup");
    var ExtraMembershipDataLabel = DbUtil.Db.Setting("ExtraCommunityGroupDataLabel", "Extra Community Group Data");
    var firstTime = true;
    var list = evmodel.GetExtraValues().ToList();
}
<form class="ajax" method="post" data-init="Editable" data-init2="ExtraEditable">
    <h3>@ExtraMembershipDataLabel</h3>
    @ExtraDataFormAction(evmodel)
    @foreach (var f in list)
    {
        if (f.Type == "Header")
        {
            if (firstTime)
            {
                <h4>@Html.EditorFor(m => f)</h4>
                @Html.Raw("<div class='well'>")
                @Html.Raw("<div class='row'>")
                firstTime = false;
            }
            else
            {
                @Html.Raw("</div>")
                @Html.Raw("</div>")
                <h4>@Html.EditorFor(m => f)</h4>
                @Html.Raw("<div class='well'>")
                @Html.Raw("<div class='row'>")
            }
        }
        else
        {
            if (firstTime)
            {
                @Html.Raw("<br/>")
                @Html.Raw("<div class='well'>")
                @Html.Raw("<div class='row'>")
                firstTime = false;
            }
            @Html.EditorFor(m => f)
        }
        if (f == list.Last()) // if this was the last item, close the well
        {
            @Html.Raw("</div>")
            @Html.Raw("</div>")
        }
    }
    @ExtraDataFormAction(evmodel, true)
    <input type="hidden" id="StandardExtraValueReload" value="/ExtraValue/Display/@evmodel.Table/CommunityGroup/@evmodel.Id"/>
</form>
    @helper ExtraDataFormAction(ExtraValueModel evmodel, bool xs = false)
    {
        var canAddExtraValues = User.IsInRole("Admin") ||
            (RoleChecker.HasSetting(SettingName.CanEditCGInfoEVs, false)
            && !RoleChecker.HasSetting(SettingName.HideExtraValueEdit, true));

        if (xs)
        {
            <div class="visible-xs-block">
                @if (canAddExtraValues)
                {
                    <a class="extravalue btn btn-success btn-block" href="/ExtraValue/NewStandard/@evmodel.Table/CommunityGroup/@evmodel.Id"><i class="fa fa-plus-circle"></i> Add Extra Value</a>
                    <a class="extravalue edit btn btn-default btn-block" href="/ExtraValue/ListStandard/@evmodel.Table/CommunityGroup/@evmodel.Id?title=Edit+Community+Group+Extra+Vaues"><i class="fa fa-pencil"></i> Edit Extra Value</a>
                    <hr />
                }
                <a href="#" class="ajax-refresh btn btn-default btn-block"><i class="fa fa-refresh"></i> Refresh</a>
            </div>
        }
        else
        {
            <div class="row hidden-xs">
                <div class="col-sm-12">
                    <div class="pull-right">
                        <a href="#" class="ajax-refresh btn btn-default"><i class="fa fa-refresh"></i> Refresh</a>
                        @if (canAddExtraValues)
                        {
                            <a class="extravalue edit btn btn-default" href="/ExtraValue/ListStandard/@evmodel.Table/CommunityGroup/@evmodel.Id?title=Edit+Community+Group+Extra+Vaues"><i class="fa fa-pencil"></i> Edit Extra Value</a>
                            <a class="extravalue btn btn-success" href="/ExtraValue/NewStandard/@evmodel.Table/CommunityGroup/@evmodel.Id"><i class="fa fa-plus-circle"></i> Add Extra Value</a>
                        }
                    </div>
                </div>
            </div>
        }
    }
