@using CmsWeb
@using UtilityExtensions
@model CmsWeb.Models.CouponModel
@{
    Layout = ViewExtensions2.TouchPointLayout();
    ViewBag.Title = "Coupons";
    ViewBag.PageHeader = "Coupons";
}
@section head{
    @Fingerprint.Css("/Content/touchpoint/lib/select2/css/select2.css")
    @Fingerprint.Css("/Content/touchpoint/lib/select2/css/select2-bootstrap.css")
}
<div class="row">
    <div class="col-lg-9">
        <div class="box box-responsive">
            <div class="box-title-btn">
                <div class="box-tools">
                    <a href="/Coupons" class="btn btn-success"><i class="fa fa-plus-circle"></i> Create Coupon</a>
                </div>
            </div>
            <div class="box-content">
                <form action="/Coupon/List" method="post">
                    <div class="well">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    @Html.TextBox("name", Model.name, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <div class="form-group">
                                    <label for="useridfilter">User</label>
                                    @Html.DropDownList("useridfilter", Model.Users(), new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="regidfilter">Registration Type</label>
                                    @Html.DropDownList("regidfilter", Model.OnlineRegs(), new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <div class="form-group">
                                    <label for="usedfilter">Status</label>
                                    @Html.DropDownList("usedfilter", Model.CouponStatus(), new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <div class="form-group">
                                    <label for="SearchParameters_StartDate">Date</label>
                                    <div class="input-group date">
                                        @Html.TextBox("date", Model.date, new { @class = "form-control" })<span class="input-group-addon hidden-xs hidden-sm"><i class="fa fa-calendar"></i></span>
                                        @Html.Hidden("dateIso", Model.date, new { disabled = "disabled" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-lg-offset-9 col-md-3 col-md-offset-9 col-sm-4 col-sm-offset-8">
                                <div class="pull-right">
                                    <button name="submit" type="submit" class="btn btn-default"><i class="fa fa-cloud-download"></i> Excel</button> <input name="submit" type="submit" class="btn btn-primary" value="Search" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="table-responsive">
                    <table id="list" class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Coupon
                                </th>
                                <th>
                                    User<br />
                                    Purchaser<br />
                                    Person
                                </th>
                                <th class="text-right">
                                    <br />
                                    Coupon Amt<br />
                                    Trans. Amt
                                </th>
                                <th>
                                    <br />
                                    <br />
                                    Registration
                                </th>
                                <th>
                                    Created<br />
                                    Used<br />
                                </th>
                                <th style="width: 50px;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Coupons())
                            {
                                <tr>
                                    <td>
                                        @item.Coupon
                                    </td>
                                    <td>
                                        @item.UserName<br />
                                        @item.Name<br />
                                        @(item.Person ?? "na")
                                    </td>
                                    <td class="text-right">
                                        @item.Amount.ToString2("C")<br />
                                        @item.RegAmt.ToString2("C")
                                    </td>
                                    <td>
                                        @item.OrgDivName
                                    </td>
                                    <td>
                                        @item.Created.FormatDateTm()<br />
                                        @item.Used.FormatDateTm(item.Canceled.HasValue ? "canceled" : "not used")<br />
                                    </td>
                                    <td style="width: 50px;">
                                        @if ((!item.Used.HasValue || item.Code.Length != 12) && !item.Canceled.HasValue)
                                        {
                                            <a href="@Url.Action("Cancel", "Coupon", new { id = item.Code })" class="confirm btn btn-warning"><i class="fa fa-times-circle"></i> Cancel</a>
                                        }
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
                <a href="/Coupons" class="btn btn-success visible-xs-block btn-block"><i class="fa fa-plus-circle"></i> Create Coupon</a>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    @Fingerprint.Script("/Content/touchpoint/lib/select2/js/select2.min.js")
    <script type="text/javascript">
        $(function () {
            $("#regidfilter").select2();

            $("a.confirm").click(function (e) {
                e.preventDefault();
                var url = $(this).attr("href");
                swal({
                    title: "Are you sure?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-warning",
                    confirmButtonText: "Yes, cancel it!",
                    closeOnConfirm: true
                },
                function () {
                    document.location.href = url;
                });
            });
        });
    </script>
}