@using UtilityExtensions
@model Areas.Org.Dialog.Models.MissionSupportModel
<div class="modal-header">
    <a class="close" data-dismiss="modal">x</a>
    <h4>@Model.OrgName</h4>
    <h5>Adding Donation From @Model.Name</h5>
</div>
<div class="modal-body">
    @Html.HiddenFor(m => m.OrgId)
    @Html.HiddenFor(m => m.PeopleId)
    @Html.EditorFor(m => m.Goer, Model.GoerList())
    @Html.EditorFor(m => m.AmountGoer)
    @Html.EditorFor(m => m.AmountGeneral)
    @Html.EditorFor(m => m.CheckNo)
</div>
<div class="modal-footer">
    <a href="/OrgMemberDialog/Display/@Model.OrgId/@Model.PeopleId" class="btn ajax">Cancel</a>
    <a id="add-mission-support" href="/OrgMemberDialog/AddMissionSupport/@Model.OrgId/@Model.PeopleId" class="btn ajax btn-primary">Add Donation</a>
</div>
