@using CmsWeb
@model IEnumerable<CmsWeb.Areas.Main.Controllers.ContactSearchController.ContactSummaryInfo>

@{
    ViewBag.Title = "ContactSummary";
    Layout = ViewExtensions2.Layout();
}

<h2>Contact Summary</h2>

<table class="@ViewExtensions2.GridClass">
    <thead>
        <tr>
            <th> Count </th>
            <th> ContactType </th>
            <th> ReasonType </th>
            <th> Ministry </th>
            <th> HasComments </th>
            <th> HasDate </th>
            <th> HasContactor </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td> @item.Count </td>
            <td> @item.ContactType </td>
            <td> @item.ReasonType </td>
            <td> @item.Ministry </td>
            <td> @item.HasComments </td>
            <td> @item.HasDate </td>
            <td> @item.HasContactor </td>
        </tr>
    }
    </tbody>

</table>
