@using CmsWeb
@model IEnumerable<CmsWeb.Areas.Main.Controllers.ContactSearchController.ContactorSummaryInfo>

@{
    ViewBag.Title = "ContactorSummary";
    Layout = ViewExtensions2.Layout();
}

<h2>Contactor Summary</h2>

<table class="@ViewExtensions2.GridClass">
    <thead>
    <tr>
        <th> PeopleId </th>
        <th> Name </th>
        <th> Description </th>
        <th> MinistryName </th>
        <th> Count </th>
    </tr>
    </thead>

    @foreach (var item in Model) {
        <tr>
            <td> @item.PeopleId </td>
            <td> @item.Name </td>
            <td> @item.Description </td>
            <td> @item.MinistryName </td>
            <td> @item.cnt </td>
        </tr>
    }
</table>