@using CmsData
@model CmsWeb.Areas.Dialog.Models.NewResourceModel
<div class="modal-dialog modal-lg" id="new-resource-modal">
    <div class="modal-content">
        <form action="/AddResource/Submit/@Model.ResourceId" method="post" enctype="multipart/form-data" class="validate ajax">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add New Resource</h4>
            </div>
            <div class="modal-body" style="overflow:auto">
                <div class="row">
                    <div class="col-sm-6">
                        @Html.EditorFor(x => x.Name)
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.HiddenFor(x => x.ResourceTypeId)
                            <label for="resource_ResourceType" class="control-label">Resource Type</label>
                            @Html.DropDownListFor2(x => x.ResourceTypeId, true, Model.ResourceTypes, null, new { @class = "form-control", disabled = "disabled" })
                            @Html.ValidationMessageFor(x => x.ResourceTypeId)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="resource_Category" class="control-label">Resource Category</label>
                            @Html.DropDownListFor2(x => x.ResourceCategoryId, true, Model.ResourceCategories, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.ResourceCategoryId)
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="resource_SortOrder" class="control-label">Sort Order</label>
                            @Html.TextBoxFor(x => x.DisplayOrder, Model.DisplayOrder.ToString(), new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="resource_OrgId" class="control-label">Organization</label>
                            @Html.ListBoxFor(x => x.OrganizationIds, Model.Orgs, new { @class = "form-control select2" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="resource_OrgTypeId" class="control-label">Organization Type</label>
                            @Html.ListBoxFor(x => x.OrganizationTypeIds, Model.OrgTypes, new { @class = "form-control select2" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="resource_CampusId" class="control-label">Congregation</label>
                            @Html.DropDownListFor(x => x.CampusId, Model.Campuses, new { @class = "form-control select2" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="resource_Roles" class="control-label">Limit to Member Types</label>
                            @Html.ListBoxFor(x => x.MemberTypeIds, Model.MemberTypes, new { @class = "form-control select2" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="resource_StatusFlags" class="control-label">Limit to Status Flags</label>
                            @Html.ListBoxFor(x => x.StatusFlagIds, Model.StatusFlags, new { @class = "form-control select2" })
                        </div>
                    </div>
                    <div class="col-sm-6"></div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="resource_File" class="control-label">Files</label>
                            <div id="upload-fields">
                                @Html.TextBoxFor(m => m.Files, new { type = "file" })
                            </div>
                            <a id="add-file-upload" href="#">Add More Files</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = "26" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" data-dismiss="modal">Cancel</a>
                <a class="btn btn-primary validate submit" href="/AddResource/Submit/@Model.ResourceId">Submit</a>
            </div>
        </form>
    </div>
    @ViewExtensions2.CkEditor()
    <script type="text/javascript">

        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }

        $(function () {
            $("#add-file-upload")
                .click(function () {
                    $("#upload-fields").append('<input name="Files" type="file" value="">');
                });

            $(".select2").select2();

            CKEDITOR.env.isCompatible = true;

            CKEDITOR.replace('Description', {
                height: 400,
                allowedContent: true,
                autoParagraph: false,
                fullPage: !$("#snippet").prop("checked"),
                customConfig: "/Content/touchpoint/js/ckeditorconfig.js"
            });
        });
    </script>
</div>
