@using CmsData
@model CmsWeb.Areas.Org.Models.SettingsFeesModel
@{
  ViewBag.ShowHelp = DbUtil.Db.UserPreference("ShowFeesHelp") == "true";
}
<form class="form form-horizontal non-modal ajax span12" data-init="datepicker">
    <br />
    @FormAction()
  <div>
    @Html.DisplayFor(m => m.Fee)
    @Html.DisplayFor(m => m.Deposit)
    @Html.DisplayFor(m => m.IncludeOtherFeesWithDeposit)
    @Html.DisplayFor(m => m.ExtraFee)
    @Html.DisplayFor(m => m.LastDayBeforeExtra)
    @Html.DisplayFor(m => m.MaximumFee)
    @Html.DisplayFor(m => m.ApplyMaxToOtherFees)
    @Html.DisplayFor(m => m.AskDonation)
    @Html.DisplayFor(m => m.DonationFundId)
    @Html.DisplayFor(m => m.DonationLabel)
    @Html.DisplayFor(m => m.OrgFees)
    @Html.DisplayFor(m => m.OtherFeesAddedToOrgFee)
    @Html.DisplayFor(m => m.AccountingCode)
    @Html.DisplayFor(m => m.ExtraValueFeeName)
  </div>
    @FormAction()
</form>
@helper FormAction()
{
  <div class="pull-right">
    <a href="/Organization/FeesHelpToggle/@Model.Id" class="btn ajax">Toggle Help</a>
    @if (User.IsInRole("Edit"))
    {
      <a href="/Organization/FeesEdit/@Model.Id" class="btn edit btn-primary ajax">Edit</a>
    }
  </div>
  <div class="formerror">@Html.ValidationMessage("Form")</div>
}