@using CmsData
@model CmsWeb.Areas.Org.Models.SettingsRegistrationModel
@{
  var NotJoinOrg = Model.Org.RegistrationTypeId != CmsData.Codes.RegistrationTypeCode.JoinOrganization;
  ViewBag.ShowHelp = DbUtil.Db.UserPreference("ShowRegistrationHelp") == "true";
}
<form class="form form-horizontal non-modal ajax span12" data-init="datetimepicker">
  <br />
  @FormAction()
  <div>
    @Html.DisplayFor(m => m.RegistrationType)
    @Html.DisplayFor(m => m.Title)
    @Html.DisplayFor(m => m.ClassFilled)
    @Html.DisplayFor(m => m.RegistrationClosed)
    @Html.DisplayFor(m => m.RegStart)
    @Html.DisplayFor(m => m.RegEnd)
    @Html.DisplayForIf(m => m.MasterOrg, Model.MasterOrg.Id > 0)
    @Html.DisplayForIf(m => m.PickList, NotJoinOrg)

    @Html.DisplayFor(m => m.Limit)
    @Html.DisplayFor(m => m.VaidateOrgs)
    @Html.DisplayFor(m => m.AgeGroups)
    @Html.DisplayFor(m => m.AllowOnlyOne)
    @Html.DisplayFor(m => m.AddAsProspect)
    @Html.DisplayFor(m => m.AllowReRegister)
    @Html.DisplayFor(m => m.AllowSaveProgress)
    @Html.DisplayFor(m => m.GroupToJoin)
    @Html.DisplayFor(m => m.NoReqBirthYear)
    @Html.DisplayFor(m => m.NotReqDOB)
    @Html.DisplayFor(m => m.NotReqAddr)
    @Html.DisplayFor(m => m.NotReqZip)
    @Html.DisplayFor(m => m.NotReqPhone)
    @Html.DisplayFor(m => m.NotReqGender)
    @Html.DisplayFor(m => m.NotReqMarital)
    @Html.DisplayFor(m => m.ShellBs)
    @Html.DisplayFor(m => m.SpecialScript)
    @Html.DisplayFor(m => m.MemberOnly)
    @if (User.IsInRole("Admin"))
    {
      @Html.DisplayFor(m => m.AddToSmallGroupScript)
    }
  </div>
  @FormAction()
</form>
@helper FormAction()
{
  <div class="pull-right">
    <a href="/Organization/RegistrationHelpToggle/@Model.Id" class="btn ajax">Toggle Help</a>
    @if (User.IsInRole("Edit"))
    {
      <a href="/Organization/RegistrationEdit/@Model.Id" class="btn edit btn-primary ajax">Edit</a>
    }
  </div>
  <div class="formerror">@Html.ValidationMessage("Form")</div>
}