@model CmsWeb.Areas.OnlineReg.Models.OnlineRegPersonModel
<div class="form-group">
    @Html.Label((Model.setting.AskVisible("AskParents") ? "Parent's Church" : "Church"), new { @class = "control-label col-sm-3 labelsize" })
    <div class="col-sm-9">
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(m => m.memberus, new { @class = "checkAskChurch" }) Member of this church
            </label>
        </div>
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(m => m.otherchurch, new { @class = "checkAskChurch" }) Attending another church
            </label>
        </div>
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(m => m.nochurch, new { @class = "checkAskChurch" }) Currently not attending a church
            </label>
        </div>
        @Html.ValidationMessageFor(m => m.otherchurch)
    </div>
</div>
