@using CmsData.Registration
@using UtilityExtensions
@model CmsWeb.Areas.OnlineReg.Models.OnlineRegPersonModel
@{
    var ask = (AskCheckboxes)ViewBag.ask;
    var name = Html.NameFor2(m => m.Checkbox);
    var totalChecks = ask.list.Count;
}
<div class="form-group">
    <label class="control-label col-sm-3 labelsize">@ask.Label</label>
    <div class="col-sm-9">
        <table class="table table-striped">
            <tbody>
                @{ var checks = 0;}
                @do
                {
                    <tr>
                        @for (var col = 0; col < ask.Columns; col++)
                        {
                            var check = ask.list[checks];
                            var filled = check.IsSmallGroupFilled(Model.GroupTags);
                            if (check.SmallGroup == "nocheckbox")
                            {
                                <td style="font-size:smaller">
                                    <b>@Html.Raw(check.Description)</b>
                                </td>
                            }
                            else
                            {
                                <td style="font-size:smaller">
                                    <div class="checkbox">
                                        <label>
                                            <input id="@check.SmallGroup.ToSuitableId()" type="checkbox" value="@check.SmallGroup" name="@name" @(filled ? "disabled='disabled'" : "")
                                                   @(Model.CheckboxChecked(check.SmallGroup) ? "checked='checked'" : "") />
                                            <span @(filled ? " class=strike" : "")>
                                                @Html.Raw(check.Description)
                                            </span>
                                            @if (check.Fee > 0)
                                            {
                                                @:&nbsp;($@check.Fee.ToString2("N2"))
                                            }
                                        </label>
                                    </div>
                                </td>
                            }
                            checks++;
                            if (checks >= totalChecks)
                            {
                                col = ask.Columns.Value;
                            }
                        }
                    </tr>
                } while (checks < totalChecks);
            </tbody>
        </table>
        <div>@Html.ValidationMessageFor(m => m.Checkbox[ask.UniqueId])</div>
    </div>
</div>
