@using UtilityExtensions
@model DateTime?
<div class="control-group">
    @Html.LabelFor(m => m, new { @class="control-label"})
    <div class="controls">
        <div class="input-append date" data-date="@Model" data-datepicker-format="@Util.jQueryDateFormat2">
            @Html.TextBoxFor2(m => m, true, @Model.FormatDate())
            <span class="add-on"><i class="fa fa-calendar"></i></span>
        </div>
    </div>
</div>
