@model CmsWeb.Models.OnlineRegPersonModel
@Helper.OnlineRegHeaderFullRow("Select Family Member")
<div id="selectfamily" class="box">
    <table class="table">
        @foreach (var fm in Model.Parent.FamilyMembers())
        {
            <tr>
                <td nowrap>
                    Choose <a href="/OnlineReg/Register/@fm.PeopleId" class="submitlink">@fm.Name</a> (@fm.Age)
                </td>
                <td>
                    @Html.ValidationMessage2("age-" + fm.PeopleId)
                    @Html.ValidationMessage2("fammember-" + fm.PeopleId)
                </td>
            </tr>
        }
    </table>
</div>