@using CmsData
@using CmsWeb
@model CmsWeb.Models.OrgMembersModel
<div class="box box-responsive">
    <div class="box-title-btn">
        <div class="box-tools">
            <label class="checkbox-inline">
                @Html.CheckBox("EmailAllNotices") Email all?
            </label>
            <div class="btn-group">
                <a href="#" class="btn btn-default EmailNotices"><i class="fa fa-envelope-o"></i> Email Org Assignment Notices(@Model.MovedCount())</a>
                @if (User.IsInRole("Admin"))
                {
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#" class="ResetMoved">Reset Email Notices</a></li>
                    </ul>
                }
            </div>
            <a href="/MoveOrgMembers" class="move longrunop btn btn-primary" data-post="true">Move Members</a>
        </div>
    </div>
    <div class="box-content">
        <div class="well">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group">
                        <label for="ProgId" class="control-label">Program</label>
                        @Html.DropDownList("ProgId", Model.Programs(), new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 form-group">
                    <label for="Grades" class="control-label">Grades</label>
                    <div class="input-group">
                        <a class="input-group-addon" tabindex="0" href="#" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-title="Grades Filter" data-content="@Model.GradesFilterHelp"><i class="fa fa-info-circle"></i></a>
                        <textarea rows="4" id="Grades" name="Grades" class="form-control">@Model.Grades</textarea>
                        <div class="input-group-btn">
                            <button class="btn btn-info dropdown-toggle" data-toggle="dropdown" style="margin-top: 0; width: 2em;">
                                <span class="caret"></span>
                            </button>
                            @{IEnumerable<int?> grades = Model.GetOrganizationGrades();}
                            <ul class="dropdown-menu dropdown-menu-right" style="height: 200px; overflow: auto;">
                                @if (Model.SourceDivId != 0)
                                {
                                    if (grades.Count() == 0)
                                    {
                                        if (Model.SourceId == 0)
                                        {
                                            <li>
                                                <a href="#" class="selectgrades"><i class="fa fa-minus hide"></i>No grades in this division</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <a href="#" class="selectgrades"><i class="fa fa-minus hide"></i>No grades in this division and source</a>
                                            </li>
                                        }
                                    }
                                    else
                                    {
                                        foreach (var g in grades)
                                        {
                                            <li>
                                                <a href="#" class="selectgrades"><i class="fa fa-minus hide"></i>@g</a>
                                            </li>
                                        }
                                    }
                                }
                                else
                                {
                                    <li>
                                        <a href="#" class="selectgrades"><i class="fa fa-minus hide"></i>Select a division first</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 form-group @( !@Model.ValidAgeFilter() ? "has-error" : "" )">
                    <label for="Age" class="control-label">Age</label>
                    <div class="input-group">
                        <a class="input-group-addon" tabindex="0" href="#" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-title="Age Filter" data-content="@Model.AgeFilterHelp"><i class="fa fa-info-circle"></i></a>
                        <input type="text" id="Age" name="Age" class="form-control" value="@Model.Age">
                    </div>
                    @if (!Model.ValidAgeFilter())
                    {
                        <span class="help-block">This is not a valid age filter; it was not applied to the search results.  Click the icon for details.</span>
                    }
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 form-group">
                    <label for="SmallGroup" class="control-label">Sub-Group</label>
                    <div class="input-group">
                        <a class="input-group-addon" tabindex="0" href="#" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-title="Sub-Group Filter" data-content="@Model.SgFilterHelp"><i class="fa fa-info-circle"></i></a>
                        <textarea rows="4" id="SmallGroup" name="SmallGroup" class="form-control">@Model.SmallGroup</textarea>
                        <div class="input-group-btn">
                            <button class="btn btn-info dropdown-toggle" data-toggle="dropdown" style="margin-top: 0; width: 2em;">
                                <span class="caret"></span>
                            </button>
                            @{IEnumerable<string> subgroups = Model.GetOrganizationSmallGroups();}
                            <ul class="dropdown-menu dropdown-menu-right" style="height: 200px; overflow: auto;">
                                @if (Model.SourceDivId != 0)
                                {
                                    if (subgroups.Count() == 0)
                                    {
                                        if (Model.SourceId == 0)
                                        {
                                            <li>
                                                <a href="#" class="selectsg"><i class="fa fa-minus hide"></i>No Sub-Groups in this source division</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <a href="#" class="selectsg"><i class="fa fa-minus hide"></i>No Sub-Groups in this source division and source</a>
                                            </li>
                                        }
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="#" class="selectsg"><i class="fa fa-minus hide"></i>Match All</a>
                                        </li>
                                        foreach (var sg in subgroups)
                                        {
                                            <li>
                                                <a href="#" class="selectsg"><i class="fa fa-minus hide"></i>@sg</a>
                                            </li>
                                        }
                                    }
                                }
                                else
                                {
                                    <li>
                                        <a href="#" class="selectsg"><i class="fa fa-minus hide"></i>Select a division first</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group">
                        <label for="SourceDivId" class="control-label">Source Division</label>
                        @Html.DropDownList("SourceDivId", Model.Divisions(), new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group">
                        <label for="SourceId" class="control-label">Source</label>
                        @Html.DropDownList("SourceId", Model.Organizations(), new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group">
                        <label for="TargetDivId" class="control-label">Target Division</label>
                        @Html.DropDownList("TargetDivId", Model.Divisions(), new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group">
                        <label for="TargetId" class="control-label">Target</label>
                        @Html.DropDownList("TargetId", Model.Organizations2(), new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="form-group">
                        <label class="checkbox-inline">
                            @Html.CheckBox("MembersOnly") Exclude teachers?
                        </label><br />
                        <label class="checkbox-inline">
                            @Html.CheckBox("MoveRegistrationData") Move Registration Data?
                        </label><br />
                        <label class="checkbox-inline">
                            <input type="checkbox" name="ChangeMemberType" id="ChangeMemberType" value="true" /> Change member type when moving
                        </label>
                        <div id="member-types" style="display:none">
                            @Html.DropDownList("MoveToMemberTypeId", Model.GetMemberTypes(), new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4">
                    <strong>Total Count</strong> <span id="totalcount" class="badge">@Model.Count().ToString("N0")</span>
                </div>
                <div class="col-lg-3 col-lg-offset-6 col-md-3 col-md-offset-6 col-sm-4 col-sm-offset-4">
                    <div class="pull-right">
                        <button class="btn btn-default" id="refresh" name="refresh">Refresh</button> 
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table id="list" class="table table-striped">
                        <thead>
                            <tr>
                                <td colspan="9">
                                    <label class="checkbox-inline"><input id="SelectAll" type="checkbox" /> Select all</label>
                                </td>
                            </tr>
                            <tr>
                                <th style="width: 50px;"><a href="#" class="sort">Mixed</a></th>
                                <th><a href="#" class="sort">Name</a></th>
                                <th><a href="#" class="sort">Organization</a></th>
                                <th>Type</th>
                                <th class="text-center"><a href="#" class="sort">Gender</a></th>
                                <th class="text-center"><a href="#" class="sort">Grade</a></th>
                                <th>Age</th>
                                <th><a href="#" class="sort">Date of Birth</a></th>
                                <th>Request</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var m in Model.Members())
                            {
                                <tr>
                                    <td style="width: 50px;"><input name="List" type="checkbox" @m.Checked value="@m.PeopleId.@m.OrgId" class="check" /></td>
                                    <td><a href="/Person2/@m.PeopleId">@m.Name</a></td>
                                    <td><a href="/Org/@m.OrgId">@m.OrgName</a></td>
                                    <td>@m.MemberStatus</td>
                                    <td class="text-center">@m.Gender</td>
                                    <td class="text-center">@m.Grade</td>
                                    <td>@Person.AgeDisplay(m.Age, m.PeopleId)</td>
                                    <td>@m.DOB</td>
                                    <td>@m.Request</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="visible-xs-block">
            <a href="/MoveOrgMembers" class="move longrunop btn btn-primary btn-block" data-post="true">Move Members</a>
            <a href="#" class="btn btn-default btn-block EmailNotices"><i class="fa fa-envelope-o"></i> Email Org Assignment Notices(@Model.MovedCount())</a>
            <hr/>
            @if (User.IsInRole("Admin"))
            {
                <a href="#" class="btn btn-default btn-block ResetMoved">Reset Email Notices</a>
            }
        </div>
        @Html.Hidden("Sort")
        @Html.Hidden("Dir")
    </div>
</div>
