@model CmsWeb.Models.PromotionModel
@using CmsWeb
@{
  Layout = ViewExtensions2.Layout();
  ViewBag.Title = "Promotion";
}
@section scripts
{
  @Fingerprint.Script("/Scripts/js/Promotion.js")
}
@section head {
  <style type="text/css">
    #float_box {
      position: absolute;
      top: 90px;
      right: 0;
      z-index: 1000;
      background: #ffc;
      padding: 5px;
      border: 1px solid #CCCCCC;
      width: 200px;
    }

    #close_float {
      float: right;
      cursor: pointer;
    }
  </style>
}
<div id="float_box">
  <img id="close_float" src="/Content/images/12-em-cross.png" />
  <table>
    <tr><td></td><th colspan="2">Checked</th><th colspan="2">Total</th></tr>
    <tr><td>Girls</td><td id="girls"></td><td id="pgirls"></td><td id="tgirls"></td><td id="tpgirls"></td></tr>
    <tr><td>Boys</td><td id="boys"></td><td id="pboys"></td><td id="tboys"></td><td id="tpboys"></td></tr>
    <tr><td colspan="5"><hr /></td></tr>
    <tr><td>High</td><td id="high"></td><td id="phigh"></td><td id="thigh"></td><td id="tphigh"></td></tr>
    <tr><td>Medium</td><td id="med"></td><td id="pmed"></td><td id="tmed"></td><td id="tpmed"></td></tr>
    <tr><td>Low</td><td id="low"></td><td id="plow"></td><td id="tlow"></td><td id="tplow"></td></tr>
    <tr><td colspan="5"><hr /></td></tr>
    <tr><td>Total</td><td id="total"></td><td></td><td id="ttotal"></td><td></td></tr>
  </table>
</div>
<form id="form" method="post" action="/Promotion/AssignPending">
  <div class="modalPopup">
    Promotion: @Html.DropDownList("PromotionId", Model.Promotions())
    Schedule: @Html.DropDownList("ScheduleId", Model.Schedules())&nbsp;&nbsp;&nbsp;
    @Html.CheckBox("FilterUnassigned") Unassigned Only
    @Html.CheckBox("NormalMembersOnly") Exclude Teachers<br />
    Target Class: @Html.DropDownList("TargetClassId", Model.TargetClasses())
    <input type="submit" class="bt" name="submit" value="Assign to Class" />
    @Html.Hidden("Sort", Model.Sort)
    @Html.Hidden("Dir", Model.Dir)
  </div>
  <table id="Promotions" class="@ViewExtensions2.GridClass">
    <thead>
      <tr>
        <th><a href="#" class="sortable">Mixed</a></th>
        <th><a href="#" class="sortable">Gender</a></th>
        <th colspan="2"><a href="#" class="sortable">Attendance</a></th>
        <th><a href="#" class="sortable">Name</a></th>
        <th><a href="#" class="sortable">CurrentClass</a></th>
        <th><a href="#" class="sortable">PendingClass</a></th>
        <th><a href="#" class="sortable">Birthday</a></th>
      </tr>
    </thead>
    <tbody>
      @Html.Partial("List", Model)
    </tbody>
  </table>
</form>
<a href="/Promotion/Export/@Model.PromotionId">Promotion Export</a>


