@model CmsWeb.Areas.People.Models.EmailModel
@using CmsData
@using CmsData.Classes.RoleChecker
@using CmsWeb.Areas.People.Models
@using UtilityExtensions
@{
    var access = User.IsInRole("Access");
    var showEmailDetails = false;
    if (User.IsInRole("OrgLeadersOnly"))
    {
        showEmailDetails = !RoleChecker.HasSetting(SettingName.HideEmailDetails, false);
    }
    else if (User.IsInRole("Access"))
    {
        showEmailDetails = true;
    }
    var sentlabel = Model is EmailScheduledModel ? "Scheduled" : "Sent";
}
<form class="non-modal ajax" method="post">
    <div class="row">
        <div class="col-sm-12">
            @Html.Partial("PagerTop", Model)
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>@Model.SortLink(sentlabel)</th>
                            <th>@Model.SortLink("From")</th>
                            @if (showEmailDetails)
                            {
                                <th>@Model.SortLink("Count")</th>
                            }
                            <th>@Model.SortLink("Subject")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in Model.ViewList())
                        {
                            <tr>
                                <td>
                                    @if (!i.Sent.HasValue && !i.SendWhen.HasValue)
                                    {
                                        <span class="red" title="failed @i.Queued.FormatDateTm()">i.Queued.FormatDate())</span>
                                    }
                                    else
                                    {
                                        var dt = sentlabel == "Scheduled" ? i.SendWhen : i.Sent;
                                        @dt.FormatDate()<text>&nbsp;</text>@dt.ToString2("t")
                                    }
                                </td>
                                <td>
                                    @i.From<br />
                                @i.FromAddr
                            </td>
                            @if (showEmailDetails)
                            {
                                <td>@i.Count</td>
                            }
                            <td>
                                @if (showEmailDetails)
                                {
                                    <a target="viewemail" href="/Emails/Details/@i.Id">@i.Subject</a>
                                }
                                else
                                {
                                    <a target="viewemail" href="/Person2/ViewEmail/@i.Id">@i.Subject</a>
                                }
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            @Html.Partial("PagerBottom", Model)
            @Html.Partial("PagerHidden", Model)
            @Html.HiddenFor2(m => m.PeopleId)
        </div>
    </div>
    <br/>
</form>
