@model CmsWeb.Areas.People.Models.PersonModel
<ul class="nav nav-pills subnav hidden-sm hidden-xs" data-tabparent="emails">
    <li><a href="#receivedemails" data-toggle="tab" class="ajax"><span>Received</span></a></li>
    @if (User.IsInRole("Access"))
    {
        <li><a href="#sentemails" data-toggle="tab" class="ajax"><span>Sent</span></a></li>
    }
    <li><a href="#transactional" data-toggle="tab" class="ajax"><span>Transactional</span></a></li>
    @if (User.IsInRole("Access"))
    {
        <li><a href="#scheduledemails" data-toggle="tab" class="ajax"><span>Scheduled</span></a></li>
    }
    <li><a href="#optouts" data-toggle="tab" class="ajax"><span>Optouts</span></a></li>
    <li><a href="#failedemails" data-toggle="tab" class="ajax"><span>Failed</span></a></li>
</ul>
<select class="form-control visible-sm-block visible-xs-block nav-select-pills">
    <option value="#receivedemails">Received</option>
    @if (User.IsInRole("Access"))
    {
        <option value="#sentemails">Sent</option>
    }
    <option value="#transactional">Transactional</option>
    @if (User.IsInRole("Access"))
    {
        <option value="#scheduledemails">Scheduled</option>
    }
    <option value="#optouts">Optouts</option>
    <option value="#failedemails">Failed</option>
</select>
<div class="tab-content" style="border: none;">
  <div class="tab-pane" id="receivedemails" data-link="/Person2/ReceivedEmails">
    @Helper.HiddenId("PeopleId", Model.PeopleId)
  </div>
  @if (User.IsInRole("Access"))
  {
    <div class="tab-pane" id="sentemails" data-link="/Person2/SentEmails">
      @Helper.HiddenId("PeopleId", Model.PeopleId)
    </div>
  }
  <div class="tab-pane" id="transactional" data-link="/Person2/TransactionalEmails">
    @Helper.HiddenId("PeopleId", Model.PeopleId)
  </div>
  @if (User.IsInRole("Access"))
  {
    <div class="tab-pane" id="scheduledemails" data-link="/Person2/ScheduledEmails">
      @Helper.HiddenId("PeopleId", Model.PeopleId)
    </div>
  }
  <div class="tab-pane" id="optouts" data-link="/Person2/Optouts/@Model.PeopleId"></div>
  <div class="tab-pane" id="failedemails" data-link="/Person2/FailedEmails">
    @Helper.HiddenId("PeopleId", Model.PeopleId)
  </div>
</div>

