@using CmsData
@model CmsWeb.Areas.Org.Models.OrgMain
<form class="ajax">
    <div class="well">
        <div class="row">
            <div class="col-sm-6 col-md-3 col-lg-3">
                @Html.HiddenFor(m => m.Id)
                @Html.EditorFor(m => m.OrganizationName)
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                @Html.EditorFor(m => m.OrganizationType)
            </div>
            <div class="col-sm-4 col-md-3 col-lg-3">
                @Html.EditorFor(m => m.Campus, new {label = Util2.CampusLabel})
            </div>
            <div class="col-sm-4 col-md-3 col-lg-3">
                @Html.EditorFor(m => m.LeaderMemberType)
            </div>
            <div class="col-sm-4 col-md-3 col-lg-3">
                @Html.EditorFor(m => m.OrganizationStatus)
            </div>
            @if (DbUtil.Db.Setting("UX-ShowParentOrgInDetails"))
            {
                <div class="col-sm-4 col-md-3 col-lg-3">
                    <label class="control-label">Parent Organization</label>
                    <dl>
                        <dd>
                            @if (Model.Org.ParentOrgId.HasValue)
                            {
                                <a href="/Org/@Model.Org.ParentOrgId.Value">@Model.ParentOrgName</a>
                            }
                        </dd>
                    </dl>
                </div>
            }
            <div class="col-sm-4 col-md-3 col-lg-3">
                <br class="hidden-xs hidden-sm"/>
                @Html.EditorFor(m => m.IsBibleFellowshipOrg)
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                @FormAction()
                @FormAction(true)
            </div>
        </div>
    </div>
</form>
@helper FormAction(bool xs = false)
{
    if (User.IsInRole("Edit"))
    {
        if (xs)
        {
            <div class="visible-xs-block">
                <a href="/Org/MainUpdate/@Model.Id" class="ajax btn btn-block btn-primary" data-callback="popovers">Save Changes</a>
                <a class="ajax btn btn-block btn-default" href="/Org/Main/@Model.Id" data-callback="popovers">Cancel</a>
            </div>
        }
        else
        {
            <div class="pull-right hidden-xs">
                <a class="ajax btn btn-default" href="/Org/Main/@Model.Id" data-callback="popovers">Cancel</a> 
                <a href="/Org/MainUpdate/@Model.Id" class="ajax btn btn-primary" data-callback="popovers">Save Changes</a>
            </div>
        }
    }
}
