@using CmsData
@using CmsWeb.Areas.Org.Models
@using UtilityExtensions
@model OrgMain
<form class="ajax">
    <a id="org-main-collapse" data-toggle="collapse" href="#org-main-section" aria-expanded="true" aria-controls="org-main-section" style="text-decoration: none;">
        <h4><i class="fa fa-chevron-circle-down"></i>&nbsp;&nbsp;Organization Details</h4>
    </a>
    <div class="collapse in well" id="org-main-section">
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4">
                @Html.DisplayFor(m => m.OrganizationName)
            </div>
            <div class="col-sm-4 col-md-3 col-lg-3">
                @Html.DisplayFor(m => m.OrganizationType)
            </div>
            <div class="col-sm-4 col-md-2 col-lg-2">
                @Html.DisplayFor(m => m.Campus, new {label = Util2.CampusLabel})
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @Html.DisplayFor(m => m.LeaderMemberType)
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
                @Html.DisplayFor(m => m.Schedule)
            </div>
            <div class="col-sm-3 col-md-4 col-lg-4">
                @Html.DisplayFor(m => m.OrganizationStatus)
            </div>
            @if (Setting("UX-ShowParentOrgInDetails", false))
            {
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <dl>
                        <dt>Parent Organization</dt>
                        <dd>
                            @if (Model.Org.ParentOrgId.HasValue)
                            {
                                <a href="/Org/@Model.Org.ParentOrgId.Value">@Model.ParentOrgName</a>
                            }
                        </dd>
                    </dl>
                </div>
            }
            <div class="col-sm-4 col-md-4 col-lg-4">
                @Html.DisplayFor(m => m.IsBibleFellowshipOrg)
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="form-group">
                @if (User.IsInRole("Edit"))
                {
                <a tabindex="0" href="#" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-title="Programs & Divisions" data-content="Use this link to manage the divisions this organization belongs to. A dialog box will pop up."><i class="fa fa-info-circle"></i></a>@:&nbsp;
                <label for="name" class="control-label">Programs & Divisions</label>
                <a id="divisionlist" href="/SearchDivisions/@Model.Id" data-refresh="/Org/DivisionList/@Model.Id">@Html.Partial("Other/DivisionList", Model.Divisions)</a>
                }
                else
                {
                  <label for="name" class="control-label">Programs & Divisions</label>@:&nbsp;
                  @Html.Partial("Other/DivisionList", Model.Divisions)
                }
              </div>
                <br />
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                @if (Model.Org.OrgPickList.HasValue())
                {
                    <span class="label label-default">Master Org</span>
                }
                @FormAction()
                @FormAction(true)
            </div>
        </div>
    </div>
</form>

@if (Model.CollapsedOrganizationDetails)
{
    <script>
        window.collapseOrgSection = true;
    </script>
}

@helper FormAction(bool xs = false)
{
    if (User.IsInRole("Edit"))
    {
        if (xs)
        {
            <div class="visible-xs-block">
                <a class="ajax btn btn-block btn-default" href="/Org/MainEdit/@Model.Id" data-callback="popovers"><i class="fa fa-pencil"></i> Edit</a>
            </div>
        }
        else
        {
            <div class="pull-right hidden-xs">
                <a class="ajax btn btn-default" href="/Org/MainEdit/@Model.Id" data-callback="popovers"><i class="fa fa-pencil"></i> Edit</a>
            </div>
        }
    }
}
