@model CmsWeb.Areas.OnlineReg.Models.ManageSubsModel
@{
  Layout = "~/Views/Shared/onlinereg2.cshtml";
  ViewBag.Title = "Online Registration";
}
@section scripts
{
  @Fingerprint.Script("/Content/touchpoint/js/onlinereg/OnlineReg.js")
}
<h2>@Model.Description()</h2>
<div>@Html.Raw(Model.Instructions)</div>
<h4>Email Subscription Options for @Model.person.Name &lt;@Model.person.EmailAddress&gt;</h4>
@using (Html.BeginForm("ConfirmSubscriptions", "OnlineReg"))
{
  @Html.Hidden("specialedit", 1)
  @Html.Hidden("pid", Model.pid)
  @Html.Hidden("masterorgid", Model.masterorgid)
  <table id="subs" class="table" style="width: auto; display:table">
    @foreach (var o in Model.OrderSubs(Model.FetchSubs()))
    {
      <tr>
        <td class="top" align="right">
          <input type="checkbox" name="Subscribe" @o.CHECKED value="@o.OrgId" />
        </td>
        <td>
          <b>@o.Name</b>
          <p>@Html.Raw(o.Description)</p>
        </td>
      </tr>
    }
  </table>
  <input id="submitit" type="submit" class="submitbutton" value='Submit' />
}


