@model CmsWeb.Models.OnlineRegModel
@using UtilityExtensions
@{
    Layout = Model.UseBootstrap
        ? "~/Views/Shared/onlinereg2.cshtml"
        : "~/Views/Shared/onlinereg.cshtml";
    ViewBag.Title = "Online Registration";
}
@section scripts
{
    <script type="text/javascript">
        $.dateFormat = '@Util.jQueryDateFormat';
        $.timeoutUrl = '/OnlineReg/Timeout?ret=' + encodeURI('@Model.URL');
        $.tmout = parseInt('@Model.TimeOut');
    </script>
    @(Model.UseBootstrap
        ? @Fingerprint.Script("/Scripts/OnlineReg/OnlineReg2.js")
        : @Fingerprint.Script("/Scripts/OnlineReg/OnlineReg.js"))
}
@if (Model.UseBootstrap && Model.InMobileAppMode)
{
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header hidden-xs" style="padding-top:5px;">
                <a href="@Model.MobileAppReturnUrl" class="btn btn-default"><i class="fa fa-arrow-circle-left"></i> Return to App</a>
            </div>
            <div class="navbar-header hidden-sm hidden-md hidden-lg" style="padding-top:5px; padding-left: 15px;">
                <a class="btn btn-default" href="@Model.MobileAppReturnUrl"><i class="fa fa-arrow-circle-left"></i> Return to App</a>
            </div>
        </div>
    </nav>
}
<div class="confirm">
    <p style="color: Black">
        Email sent to @Util.ObscureEmail(Model.List[0].person.EmailAddress) (email obscured on purpose)
    </p>
    <p>
        <strong>One-Time Link</strong><br>
        We have sent you a One-Time Link to manage your subscriptions which you should receive shortly.
    </p>
    @if (Model.List[0].CreatingAccount)
    {
        <p>
            <strong>Account Created</strong><br />
            We have created an account for you on our church database. You should receive your credentials shortly.
        </p>
    }
    @if (Model.URL.HasValue())
    {
        <p style="color: Blue"><a href='@Model.URL'>Go back to your registration</a></p>
    }
</div>