@model IEnumerable<CmsWeb.Models.ExtraValues.ExtraInfo>
@{
    ViewBag.Title = "ExtraValues";
    Layout = "~/Views/Shared/SiteLayout2.cshtml";
}
@section scripts
{
    @Fingerprint.Script("/Scripts/js/ExtraValueSummary.js")
}

<div class="container">
    <h2>Extra Values</h2>
    <table class="table table-condensed table-striped not-wide left-gutter">
        <tr>
            <th>Name</th>
            <th>Value</th>
            <th>Type</th>
            <th class="right">Count</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var e in Model)
        {
            if (!e.CanView) { continue; }
            if (User.IsInRole("Admin"))
            {
                <tr>
                    <td>
                        <a href="@e.QueryUrl">@e.Field</a>
                        <a class="rename" data-default="@e.Field" href="/ExtraValue/RenameAll?field=@Server.UrlEncode(e.Field)">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </td>
                    <td>@e.Value</td>
                    <td>@e.TypeDisplay</td>
                    <td class="right">@e.Count.ToString("N0")</td>
                    <td>
                        @if (e.Standard)
                        {
                            @:Standard
                        }
                        else
                        {
                            <a href="@e.ConvertToStandardUrl" class="btn btn-mini">Convert to Standard</a>
                        }
                    </td>
                    <td><a class="delete" href="/ExtraValue/DeleteAll?field=@e.Field&type=@e.Type&value=@e.Value"><i class="fa fa-times"></i></a></td>
                </tr>
            }
            else
            {
                <tr>
                    <td>
                        <a href="@e.QueryUrl">@e.Field</a>
                    </td>
                    <td>@e.Value</td>
                    <td>@e.TypeDisplay</td>
                    <td class="right">@e.Count.ToString("N0")</td>
                    <td>
                        @if (e.Standard)
                        {
                            @:Standard
                        }
                    </td>
                    <td></td>
                </tr>

            }
        }
    </table>
    @if (User.IsInRole("Admin"))
{
    <a href="/Display/ContentEdit/@ViewBag.EvSpecId">Standard ExtraValues Specification</a>

}
</div>
