@using CmsWeb
@model CmsWeb.Areas.Search.Models.QueryModel
@{
    var codeData = Model.GetCodeData();
}
<div class="control-group">
    <label class="control-label">Codes</label>
    <div class="controls code-dropdown">
        @if (Model.HasMultipleCodes)
        {
            <select id="CodeValues" name="CodeValues" multiple="multiple" style="display: none;">
                <option value="multiselect-all">Select all</option>
                @foreach (var o in codeData)
                {
                    <option value="@o.Value" @(o.Selected ? "selected='selected'" : "")>@o.Text</option>
                }
            </select>
        }
        else
        {
            <select id="CodeValue" name="CodeValue">
                @foreach (var o in codeData)
                {
                    <option value="@o.Value" @(o.Selected ? "selected='selected'" : "")>@o.Text</option>
                }
            </select>
        }
    </div>
</div>
