@model CmsWeb.Areas.Search.Models.QueryModel2
@{
    var codeData = Model.GetCodeData();
}
@if (Model.SelectMultiple)
{
    <select id="CodeValues" name="CodeValues" multiple="multiple" style="display: none;">
        <option value="multiselect-all">Select all</option>
        @foreach (var o in codeData)
        {
            <option value="@o.Value" @(o.Selected ? "selected='selected'" : "")>@o.Text</option>
        }
    </select>
}
else
{
    <select id="CodeValue" name="CodeValue">
        @foreach (var o in codeData)
        {
            <option value="@o.Value" @(o.Selected ? "selected='selected'" : "")>@o.Text</option>
        }
    </select>
}