@using System.Web.UI.WebControls
@using CmsWeb;
@using CmsData
@using CmsWeb.Areas.Search.Models
@using IronPython.Modules
@model CmsWeb.Areas.Search.Models.AdvancedModel
<div id="conditions">
    @Html.Hidden("AutoRun")
    @Html.Hidden("NewSearchId")
    @Html.Hidden("NewId")
    @GroupItem(Model.TopClause)
</div>
@helper GroupItem(QueryBuilderClause clause)
{
    <ul @(clause.IsFirst ? "id=conditionsList" : "class=subgroups")>
        <li class="group condition" data-qid="@clause.QueryId">
            <header>
                <label for="match-1">Match</label>
                @Html.DropDownList4("Comparison", "Comparison", Model.GroupComparisons(), clause.Comparison, "simple changegroup")
@*                <div class="dropdown">*@
@*                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">*@
@*                        <i class="icon-cog"></i>*@
@*                    </a>*@
@*                    <ul class="dropdown-menu">*@
@*                        @CogItems(clause)*@
@*                    </ul>*@
@*                </div>*@
            </header>
            <div class="group-actions">
                <a href="#" class="addnewclause"><i class="icon-plus"></i> Condition</a>
                <a href="#" class="addnewgroup"><i class="icon-plus"></i> Group</a>
                <a href="#" class="insgroupabove"><i class="icon-signout"></i> Ins Grp</a>
                @if (clause.Parent != null && clause.Parent.Parent != null)
                {
                <a href="#" class="movetoprevgroup"><i class="icon-level-up"></i> Prev Grp</a>
                }
                @if (clause.CanRemove)
                {
                <a class="delete" href="#"><i class="icon-trash"></i> Del</a>
                }
            </div>
            <ul class="conditions">
                @foreach (var c in clause.Clauses.Where(cc => !cc.IsGroup))
                {
                    @ClauseItem(c)
                }
            </ul>
            @foreach (var c in clause.Clauses.Where(cc => cc.IsGroup))
            {
                @GroupItem(c)
            }
        </li>
    </ul>
}
@helper ClauseItem(QueryBuilderClause clause)
{
    <li class="condition" data-qid="@clause.QueryId">
        <a href="#editcondition" class="edit edit-popover">
            <span class="value">@clause</span>
        </a>
@*        <div class="dropdown">*@
@*            <a href="#" class="dropdown-toggle" data-toggle="dropdown">*@
@*                <i class="icon-cog"></i>*@
@*            </a>*@
@*            <ul class="dropdown-menu">*@
@*                <li><a href="#editCondition" data-toggle="modal-popover" class="edit edit-popover"><i class="icon-pencil icon-fixedwidth"></i>Edit</a></li>*@
@*                <li><a href="#" class="duplicateclause"><i class="icon-copy icon-fixedwidth"></i>Duplicate</a></li>*@
@*                @CogItems(clause)*@
@*            </ul>*@
@*        </div>*@
        <div class="clause-actions">
            <a href="#editCondition" class="edit-popover"><i class="icon-pencil"></i> Edit</a>
            <a href="#" class="duplicateclause"><i class="icon-copy"></i> Dup</a>
            <a href="#" class="insgroupabove"><i class="icon-signout"></i> Ins Grp</a>
            @if (clause.Parent != null && clause.Parent.Parent != null)
            {
            <a href="#" class="movetoprevgroup"><i class="icon-level-up"></i> Prev Grp</a>
            }
            @if (clause.CanRemove)
            {
            <a class="delete" href="#"><i class="icon-trash"></i> Del</a>
            }
        </div>
    </li>
}
@helper CogItems(QueryBuilderClause clause)
{
    <li><a href="#" class="insgroupabove"><i class="icon-signout icon-fixedwidth"></i>Insert Group</a></li>

    if (clause.Parent != null && clause.Parent.Parent != null)
    {
    <li><a href="#" class="movetoprevgroup"><i class="icon-arrow-up icon-fixedwidth"></i>Move up a Group</a></li>
    }
    if (clause.CanRemove)
    {
    <li><a class="delete" href="#"><i class="icon-trash icon-fixedwidth"></i><span class="text-warning">Delete</span></a></li>
    }
}