@using CmsWeb;
@using CmsData
@using CmsWeb.Areas.Search.Models
@model QueryModel
<form id="query-form" action="/Query/" class="form" method="post">
    @Html.Hidden("AutoRun")
    @Html.Hidden("NewSearchId")
    @Html.Hidden("NewId")
    @Html.Hidden("QueryId")
    @Html.Hidden("SelectedId")
    <div id="editcondition" class="popover2">
        <h3 class="popover-title">Edit Condition</h3>
        <div class="popover-content">
        </div>
    </div>
</form>
@GroupItem(Model.TopClause)

@helper GroupItem(Condition clause)
{
    <ul @(clause.IsFirst ? "id=conditionsList" : "") class="subgroups">
        <li class="group condition" data-qid="@clause.Id">
            <header>
                <label for="match-1">Match</label>
                @Html.DropDownList4("", "", Model.GroupComparisons(), clause.Comparison, "simple changegroup")
                <label>of these conditions</label>
                @CogItems(clause)
            </header>
            <div class="group-actions">
                <a href="#" class="addnewclause"><i class="icon-plus">Condition</i></a>
                <a href="#" class="addnewgroup"><i class="icon-plus">Group</i></a>
            </div>
            <ul class="conditions">
                @foreach (var c in clause.Conditions.Where(cc => !cc.IsGroup))
                {
                    @ClauseItem(c)
                }
            </ul>
            @foreach (var c in clause.Conditions.Where(cc => cc.IsGroup))
            {
                @GroupItem(c)
            }
        </li>
    </ul>
}
@helper ClauseItem(Condition clause)
{
    <li class="condition" data-qid="@clause.Id">
        <a href="#editcondition" class="edit edit-popover">
            <span class="value">@clause</span>
        </a>
        @CogItems(clause)
    </li>
}
@helper CogItems(Condition clause)
{
    <div class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-cog"></i>
        </a>
        <ul class="dropdown-menu">
            @if (!clause.IsGroup)
            {
                <li><a href="#editCondition" class="edit-popover"><i class="icon-pencil icon-fixedwidth"></i>Edit</a></li>
            }
            @if (clause.CanCut)
            {
                <li><a href="#" class="cutcondition"><i class="icon-cut icon-fixedwidth"></i>Cut</a></li>
            }
            @if (clause.IsGroup && !clause.CanCut && !clause.IsFirst)
            {
            <li><a href="#" class="maketopgroup"><i class="icon-arrow-up icon-fixedwidth"></i>Make Top Group</a></li>
            }
            <li><a href="#" class="copycondition"><i class="icon-copy icon-fixedwidth"></i>Copy</a></li>
            <li class="pastecondition" style="display: none"><a href="#" class="pastecondition"><i class="icon-paste icon-fixedwidth"></i>Paste</a></li>
            <li><a href="#" class="insgroupabove"><i class="icon-share-alt icon-fixedwidth"></i>Insert Group Above this</a></li>
            @if (clause.CanRemove)
            {
                <li><a class="delete" href="#"><i class="icon-trash icon-fixedwidth icon-fixedwidth"></i><span class="text-warning">Delete</span></a></li>
            }
        </ul>
    </div>
}