@using CmsWeb
@using CmsWeb.Areas.Search.Models
@using CmsWeb.Code
@model QueryModel
<div id="condition-edit">
    @Html.Hidden("ConditionName")
    <div class="row">
        <div class="@(Model.ConditionText.Length > 20 ? Model.ConditionText.Length > 34 ? "col-sm-12" : "col-sm-6" : "col-sm-4")">
            <div class="form-group">
                <label>Condition</label><br />
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span id="ConditionText">@Model.ConditionText</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" id="SelectCondition"><i class="fa fa-pencil"></i> Change Condition</a></li>
                    </ul>
                </div>
            </div>
        </div>
        @if (Model.ComparePanelVisible)
        {
            <div class="@(Model.ConditionText.Length > 20 ? Model.ConditionText.Length > 34 ? "col-sm-12" : "col-sm-2" : "col-sm-3")">
                @Html.EditorFor(m => m.Comparison, "DropDown", new { items = Model.Comparisons() })
            </div>
        }
        <div class="@(Model.ConditionText.Length > 34 ? "col-sm-12" : "col-sm-4")">
            @Html.EditorForIf(m => m, Model.CodeVisible, "CodesDropdown")
            @Html.EditorForIf(m => m.TextValue, Model.TextVisible)
            @Html.EditorForIf(m => m.NumberValue, Model.NumberVisible)
            @Html.EditorForIf(m => m.IntegerValue, Model.IntegerVisible)
            @Html.EditorForIf(m => m.DateValue, Model.DateVisible)
        </div>
    </div>
    <div class="row">
        @if (Model.OrgNameVisible)
        {
            <div class="col-sm-6">
                @Html.EditorFor(m => m.OrgName)
            </div>
        }
        @if (Model.OrgStatusVisible)
        {
            <div class="col-sm-6">
                @Html.EditorFor(m => m.OrgStatus, "DropDown", new { items = Model.StatusIds() })
            </div>
        }
        @if (Model.OnlineRegVisible)
        {
            <div class="col-sm-6">
                @Html.EditorFor(m => m.OnlineReg, "DropDown", new { items = Model.RegistrationTypeIds() })
            </div>
        }
        @if (Model.StartDateVisible)
        {
            <div class="col-sm-6">
                @(Model.ConditionName == "AttendedAsOf" ? Html.EditorFor(m => m.StartDate, "DateAndTime") : Html.EditorFor(m => m.StartDate))
            </div>
        }
        @if (Model.EndDateVisible)
        {
            <div class="col-sm-6">
                @(Model.ConditionName == "AttendedAsOf" ? Html.EditorFor(m => m.EndDate, "DateAndTime") : Html.EditorFor(m => m.EndDate))
            </div>
        }
        @if (Model.QuartersVisible)
        {
            <div class="col-sm-6">
                @Html.EditorFor(m => m.Quarters, new { label = Model.QuartersLabel })
            </div>
        }
        @if (Model.FundIdsVisible)
        {
            <div class="col-sm-6">
                @Html.EditorFor(m => m.FundIds)
            </div>
        }
        @if (Model.DaysVisible)
        {
            <div class="col-sm-6">
                @Html.EditorFor(m => m.Days)
            </div>
        }
        @if (Model.AgeVisible)
        {
            <div class="col-sm-6">
                @Html.EditorFor(m => m.Age)
            </div>
        }
        @if (Model.TagsVisible)
        {
            <div class="col-sm-6">
                @Html.EditorFor(m => m.TagValues, "MultiSelect", new { items = Model.TagData() })
            </div>
        }
        @if (Model.PmmLabelsVisible)
        {
            <div class="col-sm-6">
                @Html.EditorFor(m => m.TagValues, "MultiSelect", new { items = Model.PmmLabelData() })
            </div>
        }
        @if (Model.MinistryVisible)
        {
            <div class="col-sm-6">
                @Html.EditorFor(m => m.Ministry, "DropDown", new { items = Model.Ministries() })
            </div>
        }
        @if (Model.SavedQueryVisible)
        {
            <div class="col-sm-6">
                @Html.EditorFor(m => m.SavedQuery, "DropDown", new { items = Model.SavedQueries() })
            </div>
        }
        @if (Model.ProgramVisible)
        {
            <div class="col-sm-6">
                @Html.EditorFor(m => m.Program, "DropDown", new { items = Model.Programs() })
            </div>
        }
        @if (Model.DivisionVisible)
        {
            <div class="col-sm-6">
                @Html.EditorFor(m => m.Division, "DropDown", new { items = Model.Divisions(Model.Program) })
            </div>
        }
        @if (Model.OrganizationVisible)
        {
            <div class="col-sm-6">
                @Html.EditorFor(m => m.Organization, "DropDown", new { items = Model.Organizations(Model.Division) })
            </div>
        }
        @if (Model.OrgTypeVisible)
        {
            <div class="col-sm-6">
                @Html.EditorFor(m => m.OrgType, "DropDown", new { items = Model.OrgTypes() })
            </div>
        }
        @if (Model.OrgType2Visible)
        {
            <div class="col-sm-6">
                @Html.EditorFor(m => m.OrgType2, "DropDown", new { items = CodeValueModel.OrgTypes() })
            </div>
        }
        @if (Model.ScheduleVisible)
        {
            <div class="col-sm-6">
                @Html.EditorFor(m => m.Schedule, "DropDown", new { items = Model.Schedules() })
            </div>
        }
        @if (Model.CampusVisible)
        {
            <div class="col-sm-6">
                @Html.EditorFor(m => m.Campus, "DropDown", new { items = Model.Campuses() })
            </div>
        }
        @if (Model.MemberTypesVisible)
        {
            <div class="col-sm-6">
                @Html.EditorFor(m => m.MemberTypeValues, "MultiSelect", new { items = Model.MemberTypeData() })
            </div>
        }
        @if (Model.AttendTypesVisible)
        {
            <div class="col-sm-6">
                @Html.EditorFor(m => m.AttendTypeValues, "MultiSelect", new { items = Model.AttendTypeData() })
            </div>
        }
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="text-right">
                <a id="CancelChange" data-dismiss="modal" class="btn btn-default">Cancel</a>
                <a id="SaveCondition" class="btn btn-primary">Save</a>
            </div>
        </div>
    </div>
</div>
