@using CmsWeb
@using CmsWeb.Areas.Search.Models
@using CmsWeb.Code
@model QueryModel
<div id="condition-edit">
    @Html.Hidden("ConditionName")
    <div class="row">
        <div class="@(Model.ConditionText.Length > 20 ? Model.ConditionText.Length > 34 ? "col-sm-12" : "col-sm-6" : "col-sm-4")">
            <div class="form-group">
                <label>Condition</label><br />
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span id="ConditionText">@Model.ConditionText</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" id="SelectCondition"><i class="fa fa-pencil"></i> Change Condition</a></li>
                    </ul>
                </div>
            </div>
        </div>
        @if (Model.ComparePanelVisible)
        {
            <div class="@(Model.ConditionText.Length > 20 ? Model.ConditionText.Length > 34 ? "col-sm-12" : "col-sm-2" : "col-sm-3")">
                @Html.EditorFor(m => m.Comparison, "DropDown", new { items = Model.Comparisons() })
            </div>
        }
        <div class="@(Model.ConditionText.Length > 34 ? "col-sm-12" : "col-sm-4")">
            @Html.EditorForIf(m => m, Model.CodeVisible, "CodesDropdown")
            @Html.EditorForIf(m => m.TextValue, Model.TextVisible)
            @Html.EditorForIf(m => m.NumberValue, Model.NumberVisible)
            @Html.EditorForIf(m => m.IntegerValue, Model.IntegerVisible)
            @Html.EditorForIf(m => m.DateValue, Model.DateVisible)
        </div>
    </div>
    <div class="row">
        @if (Model.OrgNameVisible)
        {
            <div class="col-sm-6">
                @Html.EditorForIf(m => m.OrgName, Model.OrgNameVisible)
            </div>
        }
        @if (Model.OrgStatusVisible)
        {
            <div class="col-sm-6">
                @Html.EditorForIf(m => m.OrgStatus, Model.OrgStatusVisible, "DropDown", new { items = Model.StatusIds() })
            </div>
        }
        @if (Model.OnlineRegVisible)
        {
            <div class="col-sm-6">
                @Html.EditorForIf(m => m.OnlineReg, Model.OnlineRegVisible, "DropDown", new { items = Model.RegistrationTypeIds() })
            </div>
        }
        @if (Model.StartDateVisible)
        {
            <div class="col-sm-6">
                @(Model.ConditionName == "AttendedAsOf" ? Html.EditorForIf(m => m.StartDate, Model.StartDateVisible, "DateAndTime") : Html.EditorForIf(m => m.StartDate, Model.StartDateVisible))
            </div>
        }
        @if (Model.EndDateVisible)
        {
            <div class="col-sm-6">
                @(Model.ConditionName == "AttendedAsOf" ? Html.EditorForIf(m => m.EndDate, Model.EndDateVisible, "DateAndTime") : Html.EditorForIf(m => m.EndDate, Model.EndDateVisible))
            </div>
        }
        @if (Model.QuartersVisible)
        {
            <div class="col-sm-6">
                @Html.EditorForIf(m => m.Quarters, Model.QuartersVisible, new { label = Model.QuartersLabel })
            </div>
        }
        @if (Model.DaysVisible)
        {
            <div class="col-sm-6">
               @Html.EditorForIf(m => m.Days, Model.DaysVisible)
            </div>
        }
        @if (Model.AgeVisible)
        {
            <div class="col-sm-6">
                @Html.EditorForIf(m => m.Age, Model.AgeVisible)
            </div>
        }
        @if (Model.TagsVisible)
        {
            <div class="col-sm-6">
                @Html.EditorForIf(m => m.TagValues, Model.TagsVisible, "MultiSelect", new { items = Model.TagData() })
            </div>
        }
        @if (Model.PmmLabelsVisible)
        {
            <div class="col-sm-6">
                @Html.EditorForIf(m => m.TagValues, Model.PmmLabelsVisible, "MultiSelect", new { items = Model.PmmLabelData() })
            </div>
        }
        @if (Model.MinistryVisible)
        {
            <div class="col-sm-6">
                @Html.EditorForIf(m => m.Ministry, Model.MinistryVisible, "DropDown", new { items = Model.Ministries() })
            </div>
        }
        @if (Model.SavedQueryVisible)
        {
            <div class="col-sm-6">
                @Html.EditorForIf(m => m.SavedQuery, Model.SavedQueryVisible, "DropDown", new { items = Model.SavedQueries() })
            </div>
        }
        @if (Model.ProgramVisible)
        {
            <div class="col-sm-6">
                @Html.EditorForIf(m => m.Program, Model.ProgramVisible, "DropDown", new { items = Model.Programs() })
            </div>
        }
        @if (Model.DivisionVisible)
        {
            <div class="col-sm-6">
                @Html.EditorForIf(m => m.Division, Model.DivisionVisible, "DropDown", new { items = Model.Divisions(Model.Program) })
            </div>
        }
        @if (Model.OrganizationVisible)
        {
            <div class="col-sm-6">
                @Html.EditorForIf(m => m.Organization, Model.OrganizationVisible, "DropDown", new { items = Model.Organizations(Model.Division) })
            </div>
        }
        @if (Model.OrgTypeVisible)
        {
            <div class="col-sm-6">
               @Html.EditorForIf(m => m.OrgType, Model.OrgTypeVisible, "DropDown", new { items = Model.OrgTypes() })
            </div>
        }
        @if (Model.OrgType2Visible)
        {
            <div class="col-sm-6">
                @Html.EditorForIf(m => m.OrgType2, Model.OrgType2Visible, "DropDown", new { items = CodeValueModel.OrgTypes() })
            </div>
        }
        @if (Model.ScheduleVisible)
        {
            <div class="col-sm-6">
                @Html.EditorForIf(m => m.Schedule, Model.ScheduleVisible, "DropDown", new { items = Model.Schedules() })
            </div>
        }
        @if (Model.CampusVisible)
        {
            <div class="col-sm-6">
                @Html.EditorForIf(m => m.Campus, Model.CampusVisible, "DropDown", new { items = Model.Campuses() })
            </div>
        }
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="text-right">
                <a id="CancelChange" data-dismiss="modal" class="btn btn-default">Cancel</a>
                <a id="SaveCondition" class="btn btn-primary">Save</a>
            </div>
        </div>
    </div>
</div>
