@using CmsWeb.Areas.Search.Models
@model CmsWeb.Areas.Search.Models.QueryModel
<form id="editForm" action="/Query" method="post">
    @Html.Hidden("ConditionName")
    @Html.Hidden("SelectedId")
    <table style="margin: 1em; padding: 3px;">
        <tr id="CategoryDiv2">
            <td colspan="2">
                <table>
                    <tr>
                        <td class="select-button">
                            <a id="SelectCondition" class="btn btn-success">
                                <span id="ConditionText">@Model.ConditionText</span>
                            </a>
                        </td>
                        <td>
                            @if (Model.ComparePanelVisible)
                            {
                                <span id="ComparePanel">
                                    @Html.DropDownList("Comparison", Model.Comparisons())
                                </span>
                            }
                        </td>
                        <td>
                            @if (Model.RightPanelVisible)
                            {
                                <div id="RightPanel" style="display: table">
                                    @if (Model.CodeVisible)
                                    {
                                        <div id="CodesDiv">
                                            @Html.Partial("CodesDropdown", Model)
                                        </div>
                                    }

                                    @if (Model.TextVisible)
                                    {
                                        @Html.TextBox("TextValue")
                                        <div>@Html.ValidationMessage("TextValue")</div>
                                    }

                                    @if (Model.NumberVisible)
                                    {
                                        @Html.TextBox("NumberValue")
                                        <div>@Html.ValidationMessage("NumberValue")</div>
                                    }

                                    @if (Model.IntegerVisible)
                                    {
                                        @Html.TextBox("IntegerValue")
                                        <div>@Html.ValidationMessage("IntegerValue")</div>
                                    }

                                    @if (Model.DateVisible)
                                    {
                                        @Html.TextBox("DateValue")
                                        <div>@Html.ValidationMessage("DateValue")</div>
                                    }
                                </div>
                            }
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        @if (Model.DaysVisible)
        {
            <tr>
                <td>Days:</td>
                <td>
                    @Html.TextBox("Days")
                    <div>@Html.ValidationMessage("Days")</div>
                </td>
            </tr>
        }

        @if (Model.AgeVisible)
        {
            <tr>
                <td>Age Less or Equal:</td>
                <td>
                    @Html.TextBox("Age")
                    <div>@Html.ValidationMessage("Age")</div>
                </td>
            </tr>
        }

        @if (Model.QuartersVisible)
        {
            <tr>
                <td id="QuartersLabel">@Model.QuartersLabel</td>
                <td>
                    @Html.TextBox("Quarters")
                </td>
            </tr>
        }

        @if (Model.TagsVisible)
        {
            <tr>
                <td>Tags:</td>
                <td>
                    <span id="tagvalues" style="display: none"></span>
                    <div>@Html.ValidationMessage("tagvalues")</div>
                </td>
            </tr>
        }

        @if (Model.SavedQueryVisible)
        {
            <tr>
                <td>Saved Search:</td>
                <td>
                    @Html.DropDownList("SavedQueryDesc", Model.SavedQueries())
                </td>
            </tr>
        }

        @if (Model.MinistryVisible)
        {
            <tr>
                <td>Ministry:</td>
                <td>
                    @Html.DropDownList("Ministry", Model.Ministries())
                </td>
            </tr>
        }

        @if (Model.StartDateVisible)
        {
            <tr>
                <td>Start Date:</td>
                <td>
                    @Html.TextBox("StartDate", Model.StartDate, new { @class = "datepicker" })
                    <div>@Html.ValidationMessage("StartDate")</div>
                </td>
            </tr>
        }

        @if (Model.EndDateVisible)
        {
            <tr>
                <td>End Date:</td>
                <td>
                    @Html.TextBox("EndDate", Model.EndDate, new { @class = "datepicker" })
                    <div>@Html.ValidationMessage("EndDate")</div>
                </td>
            </tr>
        }

        @if (Model.ProgramVisible)
        {
            <tr>
                <td>Program:</td>
                <td>
                    @Html.DropDownList("Program", Model.Programs())
                </td>
            </tr>
        }

        @if (Model.DivisionVisible)
        {
            <tr>
                <td>Division:</td>
                <td>
                    @Html.DropDownList("Division", QueryModel.Divisions(Model.Program))
                </td>
            </tr>
        }

        @if (Model.OrganizationVisible)
        {
            <tr>
                <td>Organization:</td>
                <td>
                    @Html.DropDownList("Organization", QueryModel.Organizations(Model.Division))
                </td>
            </tr>
        }

        @if (Model.OrgTypeVisible)
        {
            <tr>
                <td>Org Type:</td>
                <td>
                    @Html.DropDownList("OrgType", Model.OrgTypes())
                </td>
            </tr>
        }

        @if (Model.ScheduleVisible)
        {
            <tr>
                <td>Schedule:</td>
                <td>
                    @Html.DropDownList("Schedule", Model.Schedules())
                </td>
            </tr>
        }

        @if (Model.CampusVisible)
        {
            <tr>
                <td>Campus:</td>
                <td>
                    @Html.DropDownList("Campus", Model.Campuses())
                </td>
            </tr>
        }
        <tr>
            <td colspan="2">
                <div style="text-align: right; margin: 1em;">
                    <a id="CancelChange" data-dismiss="modal" class="conditionButton btn">Cancel</a>
                    <a id="SaveCondition" class="conditionButton btn btn-primary">Save</a>
                </div>
            </td>
        </tr>
    </table>
</form>
