@using CmsData
@using UtilityExtensions
@model CmsWeb.Areas.Search.Models.QueryModel
@{
    Layout = ViewExtensions2.TouchPointLayout();
    ViewBag.Title = "Search Builder";
    ViewBag.PageHeader = "Search Builder";
}
@section head {
    @Fingerprint.Css("/Content/touchpoint/lib/bootstrap-multiselect/css/bootstrap-multiselect.css")
    @Fingerprint.Css("/Content/touchpoint/lib/bootstrap-tabdrop/css/tabdrop.css")
}
<div class="row">
    <div class="col-md-4">
        <div class="box box-responsive">
            <div class="box-title-btn">
                @Html.Hidden("SaveToDescription")
                <h5>@(Model.SaveToDescription.HasValue() && Model.SaveToDescription != Model.Description ? "Copied from: " + Model.SaveToDescription : Model.SaveToDescription)</h5>
                <div class="box-tools">
                    <a href="#" class="btn btn-default saveas">Save As</a>
                </div>
            </div>
            <div class="box-content">
                <div id="conditions">
                    @Html.Partial("Conditions", Model)
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="pull-left">
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBox("AutoRun") Auto refresh?
                                </label>
                            </div>
                        </div>
                        <div class="pull-right">
                            <a href="#" class="btn btn-default saveas visible-xs-inline">Save As</a> <a id="Run" href="#" class="btn btn-primary">Run</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div id="results"></div>
    </div>
</div>
@Html.Partial("SelectCondition", Model)
@section scripts
{
    @Fingerprint.Script("/Content/touchpoint/lib/bootstrap-multiselect/js/bootstrap-multiselect.js")
    @Fingerprint.Script("/Content/touchpoint/lib/jquery-scrollintoview/js/jquery.scrollintoview.js")
    @Fingerprint.Script("/Content/touchpoint/lib/bootstrap-tabdrop/js/bootstrap-tabdrop.js")
    @Fingerprint.Script("/Content/touchpoint/lib/bootstrap-tabdrop/js/extensions_bootstrap-tabdrop.js")
    @Fingerprint.Script("/Content/touchpoint/js/search/query.js")   
}