@using CmsData
@using UtilityExtensions
@model CmsWeb.Areas.Search.Models.QueryModel
@{
    Layout = ViewExtensions2.TouchPointLayout();
    ViewBag.Title = "Search Builder";
    ViewBag.PageHeader = "Search Builder";
}
@section head {
    @Fingerprint.Css("/Content/touchpoint/lib/bootstrap-tabdrop/css/tabdrop.css")
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css" rel="stylesheet">
}
<div class="row">
    <div class="col-md-4">
        <div class="box box-responsive">
            @Html.Hidden("SaveToDescription")
            <h4 class="visible-xs-block">@(Model.SaveToDescription.HasValue() && Model.SaveToDescription != Model.Description ? "Copied from: " + Model.SaveToDescription : Model.SaveToDescription)</h4>
            <div class="box-title-btn">
                <h5>@(Model.SaveToDescription.HasValue() && Model.SaveToDescription != Model.Description ? "Copied from: " + Model.SaveToDescription : Model.SaveToDescription)</h5>
                <div class="box-tools">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Actions <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                          <li><a href="#" class="saveas"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;Save As</a></li>
                            <li class="divider"></li>
                            <li><a href="/SavedQueryList"><i class="fa fa-search"></i>&nbsp;&nbsp;Saved Searches</a></li>
                            <li><a href="/NewQuery"><i class="fa fa-search-plus"></i>&nbsp;&nbsp;New Search</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="box-content">
                <div id="conditions">
                    @Html.Partial("Conditions", Model)
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="pull-left">
                          <div class="checkbox">
                            <label class="control-label">
                              @Html.CheckBox("AutoRun") Auto refresh?
                              @if (ViewBag.ForceAutoRun != null)
                              {
                              <input type="hidden" id="ForceAutoRun" value="true" />
                              }
                            </label>
                          </div>
                          <a href="/Query/Export/@Model.QueryId" class="exportquery">View Code</a>
                          @if (User.IsInRole("Admin"))
                          {
                            <a href="/Query/ExportSql/@Model.QueryId" class="exportquery">View Sql</a>
                          }
                        </div>
                        <div class="pull-right">
                            <div class="btn-group visible-xs-inline">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Actions <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#" class="saveas"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;Save As</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/SavedQueryList"><i class="fa fa-search"></i>&nbsp;&nbsp;Saved Searches</a></li>
                                    <li><a href="/NewQuery"><i class="fa fa-search-plus"></i>&nbsp;&nbsp;New Search</a></li>
                                </ul>
                            </div>&nbsp;<a id="Run" href="#" class="btn btn-primary">Run</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div id="results"></div>
    </div>
</div>
@Html.Partial("SelectCondition", Model)
@section scripts
{
    @Fingerprint.Script("/Content/touchpoint/lib/jquery-scrollintoview/js/jquery.scrollintoview.js")
    @Fingerprint.Script("/Content/touchpoint/lib/bootstrap-tabdrop/js/bootstrap-tabdrop.js")
    @Fingerprint.Script("/Content/touchpoint/lib/bootstrap-tabdrop/js/extensions_bootstrap-tabdrop.js")
    @Fingerprint.Script("/Content/touchpoint/js/search/query.js")
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>
    @Fingerprint.Script("/Content/touchpoint/js/search/export-query.js")
}
