@using CmsWeb
@model CmsWeb.Areas.Search.Models.QueryModel2
@{
    Layout = "~/Views/Shared/SiteLayout2.cshtml";
    ViewBag.Title = "Search Builder";
}
@section head 
{
    <link href="@Fingerprint.Tag("/Content/css/bootstrap-multiselect.css")" rel="stylesheet" type="text/css" />
    <link href="@Fingerprint.Tag("/Content/css/search.css")" rel="stylesheet" type="text/css" />
}
@section scripts
{
    @Fingerprint.Script("/Scripts/Bundle/Query2.js")
    @Fingerprint.Script("/Scripts/Bootstrap/bootstrap-multiselect.js")
    @Fingerprint.Script("/Scripts/jQuery/jquery.scrollintoview.js")
}

<div class="container">
    <div class="row-fluid">
        <div class="span4">
            <div id="Description"><b>@Model.Description</b></div>
            <div>
                <h2>Search Builder </h2>
                <div>
                    <a href="/Query/NewQuery" class="btn btn-success">New</a>
                </div>
                @Html.Partial("Conditions", Model)
            </div>
        </div>
        <div id="results" class="span8">
        </div>
    </div>
</div>

@section PopupsPlaceholder
{
    <div id="editcondition" class="popover2">
        <h3 class="popover-title">Edit Condition</h3>
        <div class="popover-content">
        </div>
    </div>
    @Html.Partial("SelectCondition", Model)
    <div id="QueryConditionHelp" class="modalPopup" title="Condition Help" style="display: none">
        <iframe style="width: 100%; height: 99%; border-width: 0px;"></iframe>
    </div>
    <div id="OpenQueryDiv" title="Open Query" class="modalDiv" style="display: none">
        <select id="ExistingQueries"></select>
        <div style="text-align: right; vertical-align: bottom">
            <input id="OpenQuery" type="button" value="Open" />
        </div>
    </div>
    <div id="SaveQueryDiv" class="modalDiv" style="display: none">
        <div style="text-align: left">
            Search Description:
        @Html.TextBox("SaveQueryDesc")
            &nbsp;
        <input id="IsPublic" type="checkbox" />
            Is Public
        <span class="footer">
            <a id="SaveQuery" href="#">Save</a>
        </span>
            <br />
        </div>
    </div>
}

