@model CmsWeb.Areas.Search.Models.SavedQueryInfo
<form id="saveas-modal" action="/Query/Save" method="post" class="modal fade hide">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">x</a>
        <h4>Save Query As</h4>
        <p>
            This will not overwrite any existing searches.
            If you save this with the same name as an existing search, you will then have two searches with the same name.
            After you have saved this, go to Saved Searches to delete the old one if you don't need it any more.
            The most recently run search will be at the top of your saved searches.
        </p>
    </div>
    <div class="modal-body">
        <fieldset class="display">
            @Html.HiddenFor(m => m.QueryId)
            @Html.EditorFor(m => m.Name)
            @(User.IsInRole("Admin")
                ? @Html.EditorFor(m => m.Owner)
                : @Html.HiddenFor(m => m.Owner))
            @Html.EditorFor(m => m.Ispublic)
        </fieldset>
    </div>
    <div class="modal-footer">
        <a class="btn" data-dismiss="modal">Cancel</a>
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
</form>
