@model CmsWeb.Areas.Search.Models.SavedQueryInfo
<form id="saveas-modal" action="/Query/Save" method="post" class="modal fade hide">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">x</a>
        <h4>Save Query As</h4>
        <div class="alert alert-block alert-info">
            Saving an existing query that you own with the same name will overwrite it.
            If you are an Admin, you can overwrite another user's search.
        </div>
    </div>
    <div class="modal-body">
        <fieldset class="display">
            @Html.HiddenFor(m => m.QueryId)
            @Html.EditorFor(m => m.Name)
            @(User.IsInRole("Admin")
                ? @Html.EditorFor(m => m.Owner)
                : @Html.HiddenFor(m => m.Owner))
            @Html.EditorFor(m => m.Ispublic)
        </fieldset>
    </div>
    <div class="modal-footer">
        <a class="btn" data-dismiss="modal">Cancel</a>
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
</form>
