@using UtilityExtensions
@model CmsWeb.Areas.Search.Models.QueryModel
@{
    var cats = Model.FieldCategories().ToList();
    var devel = User.IsInRole("Developer");
}
<div id="QueryConditionSelect" class='modal fade hide' data-width='900'>
    <div class="modal-header">
        <a class="close" data-dismiss="modal">x</a>
        <p>Category</p>
        <div class="tabbable tabs-left">
            <ul class="nav nav-tabs">
                @for(var i = 0; i< cats.Count; i++)
                {
                    var c = cats[i];
                    <li @(i==0? "class=active" : "")><a href='#@c.Name' data-toggle="tab">@Html.Raw(c.Title.Replace("|", "<br/>"))</a></li>
                }
            </ul>
            <div class="tab-content">
                @for(var i = 0; i< cats.Count; i++)
                { 
                    var c = cats[i];
                    <div class="tab-pane @(i==0? "active" : "")" id="@c.Name">
                        @if (c.TopMessage.HasValue())
                        {
                            <p>@c.TopMessage</p>
                        }
                        <dl class="dl-horizontal">
                            <dt class="FieldLink">Choose a Condition</dt>
                            <dd><b>Click these for more help on a condition</b></dd>
                            @foreach (var p in c.Fields.Where(cc => devel || cc.Name != "OrgSearchMember"))
                            {
                                <dt class="FieldLink"><a id='@p.Name' href="#">@p.Title</a></dt>
                                <dd>
                                    <a class="help" href="http://docs.bvcms.com/SearchBuilder/QB-@(p.Name).html" target="help">@p.Description</a>
                                </dd>
                            }
                        </dl>
                    </div>
                }
            </div>
        </div>
    </div>
</div>