@using CmsWeb
@using CmsWeb.Code
@model CmsWeb.Models.ContactPage.ContactModel
<h2>Contact</h2>
@Html.Hidden("editing", "true")
@Html.HiddenFor(m => m.ContactId)
<table class="@ViewExtensions2.GridClass">
    <tbody>
        <tr>
            <th class="right">Contact Date:</th>
            <td>@Html.TextBoxFor(m => m.ContactDate, new { @class = "datepicker" })
                <div>@Html.ValidationMessage("ContactDate")</div>
            </td>
        </tr>
        <tr>
            <th class="right">Ministry:</th>
            <td>@Html.HiddenFor(m => m.Ministry.Name)
                @Html.DropDownListFor(m => m.Ministry.Value, Model.Ministry.Items)
                @Html.ValidationMessage("MinistryId")
            </td>
        </tr>
        <tr>
            <th class="right">Type:</th>
            <td>@Html.HiddenFor(m => m.ContactType.Name)
                @Html.DropDownListFor(m => m.ContactType.Value, Model.ContactType.Items)
                @Html.ValidationMessage("ContactTypeId")
            </td>
        </tr>
        <tr>
            <th class="right">Reason:</th>
            <td>@Html.HiddenFor(m => m.ContactReason.Name)
                @Html.DropDownListFor(m => m.ContactReason.Value, Model.ContactReason.Items)
                @Html.ValidationMessage("ContactReasonId")
            </td>
        </tr>
    </tbody>
</table>
<div>
    <div class="column">
        <div>@Html.EditorFor(m => m.NotAtHome, "Bool") <span>Attempted/Not Available</span></div>
        <div>@Html.EditorFor(m => m.LeftDoorHanger, "Bool") <span>Left Note Card</span></div>
        <div>@Html.EditorFor(m => m.LeftMessage, "Bool") <span>Left Message</span></div>
        <div>@Html.EditorFor(m => m.ContactMade, "Bool") <span>Contact Made</span></div>
    </div>
    <div class="column">
        <div>@Html.EditorFor(m => m.GospelShared, "Bool") <span>GospelShared</span></div>
        <div>@Html.EditorFor(m => m.PrayerRequest, "Bool") <span>Prayer Request Received</span></div>
        <div>@Html.EditorFor(m => m.GiftBagGiven, "Bool") <span>Gift Bag Given</span></div>
    </div>
</div>
<div class="text">
    <div><strong>Comments:</strong></div>
    <div>@Html.TextAreaFor(m => m.Comments)
         @Html.ValidationMessage("Comments")
    </div>
    <div class="right">
        <a id="cancel" class="bt" href="/Contact/ContactDisplay/@Model.ContactId">Cancel</a>
        <a id="update" class="bt blue" href="/Contact/ContactUpdate/@Model.ContactId">Update</a>
    </div>
</div>
@Html.ValidationMessage("contactors")
@Html.ValidationMessage("contactees")
