@using CmsWeb
@using RestSharp.Extensions
@model CmsWeb.Models.ContactPage.ContactModel
<h2>Contact
<a href="/ContactSearch/">Contact Search</a></h2>
<table class="@Fingerprint.GridClass">
    <tbody>
        <tr>
            <th class="right">Contact Date:</th>
            <td>@Model.ContactDate</td>
        </tr>
        @if (Model.Incomplete.HasValue())
        {
            <tr>
                <th class="right">Incomplete:</th>
                <td class="input-validation-error error">
                    @Model.Incomplete
                </td>
            </tr>
        }
        <tr>
            <th class="right">Ministry:</th>
            <td><span>@Model.Ministry</span></td>
        </tr>
        <tr>
            <th class="right">Type:</th>
            <td><span>@Model.ContactType</span></td>
        </tr>
        <tr>
            <th class="right">Reason:</th>
            <td><span>@Model.ContactReason</span></td>
        </tr>
    </tbody>
</table>
<div>
    <div class="column">
        <div>@Html.CheckBoxReadonly(Model.NotAtHome) <span>Attempted/Not Available</span></div>
        <div>@Html.CheckBoxReadonly(Model.LeftDoorHanger) <span>Left Note Card</span></div>
        <div>@Html.CheckBoxReadonly(Model.LeftMessage) <span>Left Message</span></div>
        <div>@Html.CheckBoxReadonly(Model.ContactMade) <span>Contact Made</span></div>
    </div>
    <div class="column">
        <div>@Html.CheckBoxReadonly(Model.GospelShared) <span>GospelShared</span></div>
        <div>@Html.CheckBoxReadonly(Model.PrayerRequest) <span>Prayer Request Received</span></div>
        <div>@Html.CheckBoxReadonly(Model.GiftBagGiven) <span>Gift Bag Given</span></div>
    </div>
</div>
@if (Model.CanViewComments)
{
    <div class="text">
        <div><strong>Comments:</strong></div>
        <div>@Model.Comments</div>
        <div class="right">
            <a id="delete" class="bt red" href="/Contact/ContactDelete/@Model.ContactId">Delete</a>
            <a id="edit" class="bt blue" href="/Contact/ContactEdit/@Model.ContactId">Edit</a>
        </div>
    </div>
}