@model CmsWeb.Models.ContactPage.ContactModel
@using IronPython.Modules
@using UtilityExtensions
@using CmsWeb
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
@section head
{
    <style>
        div.column {
            display: inline-block;
            vertical-align: text-top;
            padding: 5px 1em;
        }

        td.top {
            vertical-align: text-top;
        }

        div.right {
            text-align: right;
        }

        div.text {
            width: 500px;
        }

            div.text div {
                margin: 1em;
            }


        textarea {
            width: 475px;
            height: 100px;
        }

        td.spaceover {
            padding-left: 3em;
        }
    </style>
}
@section scripts
{
    <script src="@Fingerprint.Tag("/Scripts/js/contact.js")"></script>
}
@Html.Hidden("Id")
<form id="contact" class="roundbox floatleft" method="post">
    @Html.Partial("ContactDisplay", Model)
</form>
<div class="floatclear"></div>
<br />

<table>
    <tr>
        <td class="top">
            <h4>Ministry Team</h4>
            <form id="contactors" action="/Contacts/Contactors/@Model.contact.ContactId">
                @Html.Partial("Contactors", Model.Contactors)
            </form>
            @if (Model.CanViewComments)
            {
                <div class="right">
                    <br />
                    <a href="/SearchAdd/Index/@Model.contact.ContactId?type=contactor" class="bt addperson">Add Team Member</a>
                </div>
                <div>
                    <br/>
                    <a id="newteamcontact" href="/Contact/NewTeamContact/@Model.contact.ContactId" class="bt green">Add New Contact for Team</a>
                </div>
            }
        </td>
        <td class="top spaceover">
            <h4>Those Contacted</h4>
            <form id="contactees" action="/Contacts/Contactees/@Model.contact.ContactId">
                @Html.Partial("Contactees", Model.Contactees)
            </form>
            @if (Model.CanViewComments)
            {
                <div class="right">
                    <br />
                    <a href="/SearchAdd/Index/@Model.contact.ContactId?type=contactee" class="bt addperson">Add Contactee</a>
                </div>
            }
        </td>
    </tr>
</table>
