@using CmsWeb
@model CmsWeb.Models.ContactPage.ContactModel
@{
    ViewBag.Title = "Contact";
    Layout = ViewExtensions2.Layout();
}
@section head
{
    <style>
        #contact h2 a {
            font-size: 70%;
            font-weight: normal;
            margin-left: 3em;
        }

        div.column {
            display: inline-block;
            vertical-align: text-top;
            padding: 5px 1em;
        }

        td.top {
            vertical-align: text-top;
        }

        div.right {
            text-align: right;
        }

        div.text {
            width: 500px;
        }

            div.text div {
                margin: 1em;
            }


        textarea {
            width: 475px;
            height: 100px;
        }

        td.spaceover {
            padding-left: 3em;
        }

        .bt.out {
            display: none;
        }

        .out {
            color: #bbb;
        }

        td.error {
            width: 390px;
        }
    </style>
}
@section scripts
{
    @Fingerprint.Script("/Scripts/js/contact.js")
    @if (ViewBag.edit == true)
    {
        <script> $(function() { $(".in").addClass("out"); }); </script>
    }
}
@Html.Hidden("Id")
<form id="contact" class="roundbox floatleft" method="post">
    @if (ViewBag.edit == true)
    {
        @Html.Partial("ContactEdit", Model)
    }
    else
    {
        @Html.Partial("ContactDisplay", Model)
    }
</form>
<div class="floatclear"></div>
<br />

<table>
    <tr>
        <td class="top">
            <h4>Ministry Team</h4>
            <form id="contactors" action="/Contacts/Contactors/@Model.ContactId">
                @Html.Partial("Contactors", Model.Ministers)
            </form>
            @if (Model.CanViewComments)
            {
                <div class="right">
                    <br />
                    <a href="/SearchAdd/Index/@Model.ContactId?type=contactor" class="bt addperson in">Add Team Member</a>
                </div>
                <div>
                    <br />
                    <a id="newteamcontact" href="/Contact/NewTeamContact/@Model.ContactId" class="bt green in">Add New Contact for Team</a>
                </div>
            }
        </td>
        <td class="top spaceover">
            <h4>Those Contacted</h4>
            <form id="contactees" action="/Contacts/Contactees/@Model.ContactId">
                @Html.Partial("Contactees", Model.MinisteredTo)
            </form>
            @if (Model.CanViewComments)
            {
                <div class="right">
                    <br />
                    <a href="/SearchAdd/Index/@Model.ContactId?type=contactee" class="bt addperson in">Add Contactee</a>
                </div>
            }
        </td>
    </tr>
</table>
