@model CmsWeb.Areas.Search.Models.PendingPersonModel
<div class="col-sm-12">
    <div class="well">
        <strong><span style="font-size: 1.5em;">@Model.FirstName @Model.LastName</span></strong>
    </div>
</div>
<div class="col-sm-6">
    @Html.EditorFor(m => m.AddressInfo.AddressLineOne)
</div>
<div class="col-sm-6">
    @Html.EditorFor(m => m.AddressInfo.AddressLineTwo)
</div>
<div class="col-sm-4">
    @Html.EditorFor(m => m.AddressInfo.CityName)
</div>
<div class="col-sm-4">
    @Html.EditorFor(m => m.AddressInfo.StateCode)
</div>
<div class="col-sm-4">
    @Html.EditorFor(m => m.AddressInfo.ZipCode)
</div>
<div class="col-sm-5">
    @Html.EditorFor(m => m.HomePhone)
</div>
<div class="col-sm-7">
    @Html.EditorFor(m => m.AddressInfo.Country)
</div>
@Html.EditorFor(m => m.AddressInfo.ResCode, "HiddenCodeInfo")