@using CmsData
@using CmsWeb
@model CmsWeb.Areas.Org.Models.OrgGroupsModel
@Html.Hidden("orgid")
@Html.Hidden("newgid")
@Html.Hidden("sort")
@Html.Hidden("isRecreationTeam")
<div class="well">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <a tabindex="0" href="#" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-title="Filter by Groups" data-content="You can put a partial name or you can put a comma separated list of names. The comma separated list must be complete names."><i class="fa fa-info-circle"></i></a>&nbsp;
        <label for="ingroup" class="control-label">Is in group starting with</label>
        @Html.TextBox("ingroup", "", new { @class = "filter form-control" })
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="notgroup" class="control-label">Not in group starting with</label>
        @Html.TextBox("notgroup", "", new { @class = "filter form-control" })
        <label class="control-label checkbox-inline">
          @Html.CheckBox("notgroupactive", new { @class = "filter" }) Active?
        </label>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for="tagfilter" class="control-label">Is in tag</label>
        @Html.DropDownList("tagfilter", Model.Tags(), new { @class = "filter form-control" })
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for="memtype" class="control-label">Member Type</label>
        @Html.DropDownList("memtype", Model.MemberTypeCodesWithNotSpecified(), new { @class = "filter form-control" })
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for="groupidDD" class="control-label">Target Group</label>
        <input type="hidden" name="groupid" id="groupid" value="@Model.groupid" />
        @Html.DropDownList("groupidDD", Model.Groups(), new { @onchange = "groupid.value = this.value", @class = "form-control" })
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-4">
      <strong>Total Count</strong> <span id="totalcount" class="badge">@Model.FetchOrgMemberList().Count()</span>
    </div>
    <div class="col-lg-3 col-lg-offset-6 col-md-3 col-md-offset-6 col-sm-4 col-sm-offset-4">
      <div class="pull-right">
        <a id="clear" href="#" class="btn btn-default">Clear</a>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Actions <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="#" id="AssignSelectedToTargetGroup"><i class="fa fa-plus"></i>&nbsp;&nbsp;Assign Selected to Target Group</a></li>
            <li><a href="#" id="RemoveSelectedFromTargetGroup"><i class="fa fa-minus"></i>&nbsp;&nbsp;Remove Selected from Target Group</a></li>
            @if (Model.isAttendanceBySubgroups)
            {
                <li><a href="#" id="MakeSelectedLeaderOfTargetGroup"><i class="fa fa-star"></i>&nbsp;&nbsp;Make Selected a Leader of Target Group</a></li>
                <li><a href="#" id="RemoveSelectedLeaderOfTargetGroup"><i class="fa fa-star-o"></i>&nbsp;&nbsp;Remove Selected as Leader of Target Group</a></li>
            }
            @if (Model.isRecreationTeam)
            {
                <li class="divider"></li>
                  <li><a href="#" id="scoreUploadButton"><i class="fa fa-trophy"></i>&nbsp;&nbsp;Upload Player Scores</a></li>
                  <li><a href="#" id="createTeams" orgid="@Model.orgid"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Create Team</a></li>
            }
          </ul>
        </div> <a id="filter" href="#" class="btn btn-primary">Filter</a>
      </div>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table id="members" class="table table-striped">
    <thead>
      <tr>
        <th style="width: 10px;"><input id="SelectAll" type="checkbox" /></th>
        <th><a href='#' class="sortable">Name</a></th>
        <th><a href='#' class="sortable">MemberType</a></th>
        <th>Gender</th>
        <th>Age</th>
        <th><a href='#' class="sortable">Request</a></th>
        <th><a href="#" class="sortable">Groups</a></th>
        @if (Model.isRecreationTeam)
        {
            <th class="text-center"><a href='#' class="sortable">Score</a></th>
        }
      </tr>
    </thead>
    <tbody>
      @Html.Partial("Rows", Model)
    </tbody>
  </table>
</div>