@model CmsWeb.Areas.Org.Models.OrgGroupsModel
@using CmsWeb
@{
    Layout = ViewExtensions2.TouchPointLayout();
    ViewBag.Title = "Manage Sub-Groups";
    ViewBag.PageHeader = "Manage Sub-Groups";
    ViewBag.PageSubHeader = $"<a href=\"/Org/{Model.orgid}\">{Model.OrgName}</a>";
    var checkinFeaturesEnabled = Setting("EnableSubgroupCheckin") == "true";
}
@section head
{
    @Fingerprint.Css("/Content/touchpoint/lib/bootstrap-editable/css/bootstrap-editable.css")
    @Fingerprint.Css("/Content/touchpoint/lib/bootstrap-tabdrop/css/tabdrop.css")
}
<div class="row">
    <div class="col-md-9">
        <ul class="nav nav-tabs" id="org-group-tabs">
            <li class="active"><a href="#groupMembers" aria-controls="groupMembers" data-toggle="tab" id="group-members-tab"><i class="fa fa-users"></i>&nbsp;&nbsp;Sub-Group Members</a></li>
            <li><a href="#manageGroup" aria-controls="manageGroup" data-toggle="tab"><i class="fa fa-cog"></i>&nbsp;&nbsp;Manage Sub-Groups</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="groupMembers">
                <form id="groupsform" action="/OrgGroups/Update" method="post">
                    @Html.Partial("Form", Model)
                </form>
            </div>
            <div class="tab-pane fade" id="manageGroup">
                <form id="groupForm" action="/OrgGroups/DeleteGroups/@Model.orgid" method="post">
                    @Html.Partial("Management", Model)
                </form>
                <div class="modal fade" id="new-group-modal">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <form action="/OrgGroups/MakeNewGroup/@Model.orgid" method="post">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Create New Sub-Group</h4>
                                </div>
                                @Html.Partial("_SubgroupFormBody", Model)
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="edit-group-modal">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <form action="/OrgGroups/EditGroup/@Model.orgid" method="post">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Edit Sub-Group</h4>
                                </div>
                                @Html.Partial("_SubgroupFormBody", Model)
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        @if (Model.isRecreationTeam)
        {
            <div class="box box-primary" style="background-color: #fff; display:none;" id="scoreTracker">
                <div class="box-title">
                    <h5>Team Score</h5>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <td>Players</td>
                            <td class="text-right"><span id="playerCount">0</span></td>
                        </tr>
                        <tr>
                            <td>Last Score</td>
                            <td class="text-right"><span id="lastScore">0</span></td>
                        </tr>
                        <tr>
                            <td>Average Score</td>
                            <td class="text-right"><span id="avgScore">0</span></td>
                        </tr>
                        <tr class="totals-row">
                            <td>Total Score</td>
                            <td class="text-right"><span id="totalScore">0</span></td>
                        </tr>
                    </table>
                </div>
                <div class="box-content">
                    <button id="swapPlayers" type="button" class="btn btn-default btn-block" style="margin-top:7px; display:none;"><i class="fa fa-random"></i> Swap Players</button>
                </div>
            </div>
            <div class="modal fade" id="scoreUploadDialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form id="scoreUploadForm">
                            <input type="hidden" name="orgID" value="@Model.orgid">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Upload Player Scores</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <textarea id="scoreUploadData" name="data" cols="80" rows="30" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-default" data-dismiss="modal">Cancel</a>
                                <button type="button" class="btn btn-primary" id="scoreUploadSubmit"><i class="fa fa-cloud-upload"></i> Upload</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section scripts
{
    @Fingerprint.Script("/Content/touchpoint/lib/bootstrap-editable/js/bootstrap-editable.min.js")
    @Fingerprint.Script("/Content/touchpoint/lib/bootstrap-tabdrop/js/bootstrap-tabdrop.js")
    @Fingerprint.Script("/Content/touchpoint/lib/bootstrap-tabdrop/js/extensions_bootstrap-tabdrop.js")
    @Fingerprint.Script("/Content/touchpoint/js/org/org-groups.js")
}
