@model CmsWeb.Areas.Org.Models.OrgGroupsModel
@{
    var checkinFeaturesEnabled = Setting("EnableSubgroupCheckin") == "true";
}
@Html.HiddenFor(m => m.orgid)
<input type="hidden" id="groupid" name="groupid" class="delete-group-id" />
<div class="row">
    <div class="col-sm-12">
        <div class="pull-right">
            <input id="deleteGroups" type="submit" class="btn btn-danger" disabled value="Delete 0 Groups" /> <a class="create-group btn btn-success" href="/OrgGroups/MakeNewGroup/@Model.orgid"><i class="fa fa-plus-circle"></i> Create Group</a>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 10px;"></th>
                <th>Name</th>
                <th class="text-center">Members</th>
                @if (Model.isRecreationTeam)
                {
                    <th class="text-center">Score Total</th>
                    <th class="text-right">Score Average</th>
                }
                @if (checkinFeaturesEnabled)
                {
                    <th>Schedule</th>
                    <th>Allow checkin</th>
                    <th>Default Open</th>
                    <th>Default Capacity</th>
                }
                <th style="width: 100px;" colspan="2">Actions</th>
            </tr>
        </thead>
        @foreach (var g in Model.GroupsList())
        {
            var d = Model.GetGroupDetails(g.Id);
        <tr>
            <td class="text-center" style="width: 10px;">
                <input id="@g.Id" name="groups" type="checkbox" value="@g.Id" />
            </td>
            <td>
                @g.Name
            </td>
            <td class="text-center">
                @( d != null ? d.members : 0)
            </td>
            @if (Model.isRecreationTeam)
            {
                <td class="text-center">
                    @( d != null ? d.total : 0)
                </td>
                <td class="text-right">
                    @( d != null ? d.average : 0)
                </td>
            }
            @if (checkinFeaturesEnabled)
            {
                <td>@g.Schedule</td>
                <td><a class="toggle-checkin btn @(g.CheckIn ? "btn-success" : "btn-warning") btn-sm" href="@Url.Action(controllerName: "OrgGroups", actionName: "ToggleCheckin", routeValues: new { orgId = Model.orgid, groupId = g.Id })">@(g.CheckIn ? "Enabled" : "Disabled")</a></td>
                <td>@(g.CheckInOpenDefault ? "Yes" : "No")</td>
                <td>@g.CheckInCapacityDefault</td>
            }
            <td style="width: 50px;"><a class="edit-group btn btn-default btn-sm" href="/OrgGroups/EditGroup/@Model.orgid" groupId="@g.Id" groupName="@g.Name" checkinOpenDefault="@g.CheckInOpenDefault" checkinCapacityDefault="@g.CheckInCapacityDefault" scheduleId="@g.ScheduleId"><i class="fa fa-pencil"></i> Edit</a></td>
            <td style="width: 50px;"><a class="delete-group btn btn-danger btn-sm" href="/OrgGroups/DeleteGroup/@Model.orgid" groupId="@g.Id"><i class="fa fa-trash"></i> Delete</a></td>
        </tr>
        }
    </table>
</div>
