@using CmsData
@model CmsWeb.Areas.Org.Models.SettingsFeesModel
@{
    ViewBag.ShowHelp = DbUtil.Db.UserPreference("ShowFeesHelp");
}
<form class="ajax">
    @if (!Html.ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @Html.ValidationMessage("Form")
        </div>
    }
    <div class="row">
        <div class="col-sm-6">
            <h4>Basic Setup</h4>
        </div>
        <div class="col-sm-6">
            @FormAction()
        </div>
    </div>
    <div class="well">
        <div class="row">
            <div class="col-md-3">
                @Html.EditorFor(m => m.Fee)
            </div>
            <div class="col-md-3">
                @Html.EditorFor(m => m.Deposit)
                <label class="checkbox-inline control-label" style="margin-top: -15px;">
                    @Html.CheckBoxFor(m => m.IncludeOtherFeesWithDeposit) Include other fees with deposit
                </label>
            </div>
            <div class="col-md-3">
                @Html.EditorFor(m => m.MaximumFee)
                <label class="checkbox-inline control-label" style="margin-top: -15px;">
                    @Html.CheckBoxFor(m => m.ApplyMaxToOtherFees) Apply max to other fees
                </label>
            </div>
            <div class="col-md-3">
                @Html.EditorFor(m => m.ExtraFee)
                <label class="checkbox-inline control-label" style="margin-top: -15px;">
                    @Html.CheckBoxFor(m => m.OtherFeesAddedToOrgFee) Other fees added to org fee
                </label>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                @Html.EditorFor(m => m.LastDayBeforeExtra)
            </div>
            <div class="col-md-4">
                @Html.EditorFor(m => m.ExtraValueFeeName)
            </div>
            <div class="col-sm-4 col-md-4">
                @Html.EditorFor(m => m.AccountingCode)
            </div>
        </div>
    </div>
    <h4>Org Fees</h4>
    @Html.EditorFor(m => m.OrgFees)
    <h4>Donation Setup</h4>
    <div class="well">
        <div class="row">
            <div class="col-md-3">
                @Html.EditorFor(m => m.DonationFundId)
            </div>
            <div class="col-md-9">
                <br class="hidden-xs hidden-sm"/>
                <label class="checkbox-inline control-label">
                    @Html.CheckBoxFor(m => m.AskDonation) Ask donation
                </label>
            </div>
            <div class="col-sm-12 col-md-12">
                @Html.EditorFor(m => m.DonationLabel)
            </div>
        </div>
    </div>
    @FormAction()
    @FormAction(true)
    <br /><br/>
</form>
@helper FormAction(bool xs = false)
{
    if (xs)
    {
        <div class="visible-xs-block">
            <a href="/Org/FeesUpdate/@Model.Id" class="btn btn-primary btn-block ajax validate">Save</a>
            <a href="/Org/Fees/@Model.Id" class="btn btn-default btn-block ajax">Cancel</a>
        </div>
    }
    else
    {
        <div class="pull-right hidden-xs">
            <a href="/Org/Fees/@Model.Id" class="btn btn-default ajax">Cancel</a>
            <a href="/Org/FeesUpdate/@Model.Id" class="btn btn-primary ajax validate">Save</a>
        </div>
    }
}
