@using CmsData
@model CmsWeb.Areas.Org.Models.SettingsMessagesModel
@{
    ViewBag.ShowHelp = DbUtil.Db.UserPreference("ShowMessagesHelp");
}
<form class="ajax">
    @if (!Html.ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @Html.ValidationMessage("Form")
        </div>
    }
    <div class="row">
        <div class="col-sm-6">
            <h4>Basic Setup</h4>
        </div>
        <div class="col-sm-6">
    @FormAction()
        </div>
    </div>
    <div class="well">
        <div class="row">
            <div class="col-md-12">
                @Html.EditorFor(m => m.NotifyIds, "NotifyList", new { OrgId = Model.Id, Field = "NotifyIds" })
                <br/>
            </div>
            <div class="col-md-12">
    @Html.EditorFor(m => m.Subject)
            </div>
            <div class="col-md-12">
    @Html.EditorFor(m => m.Body, "Html")
            </div>
            <div class="col-md-12">
                @Html.EditorFor(m => m.Terms, "Html")
            </div>
        </div>
    </div>
    <h4>Instructions</h4>
    <div class="well">
        <div class="row">
            <div class="col-md-12">
    @Html.EditorFor(m => m.InstructionLogin, "Html")
            </div>
            <div class="col-md-12">
    @Html.EditorFor(m => m.InstructionSelect, "Html")
            </div>
            <div class="col-md-12">
    @Html.EditorFor(m => m.InstructionFind, "Html")
            </div>
            <div class="col-md-12">
    @Html.EditorFor(m => m.InstructionOptions, "Html")
            </div>
            <div class="col-md-12">
    @Html.EditorFor(m => m.InstructionSpecial, "Html")
            </div>
            <div class="col-md-12">
    @Html.EditorFor(m => m.InstructionSubmit, "Html")
            </div>
            <div class="col-md-12">
    @Html.EditorFor(m => m.InstructionSorry, "Html")
            </div>
            <div class="col-md-12">
    @Html.EditorFor(m => m.ThankYouMessage, "Html")
            </div>
        </div>
    </div>
    <h4>Reminder</h4>
    <div class="well">
        <div class="row">
            <div class="col-md-12">
    @Html.EditorFor(m => m.ReminderSubject)
            </div>
            <div class="col-md-12">
    @Html.EditorFor(m => m.ReminderBody, "Html")
            </div>
        </div>
    </div>
    @if (Model.Org.IsMissionTrip.GetValueOrDefault())
    {
        <h4>Mission Trip</h4>
        <div class="well">
            <div class="row">
                <div class="col-md-12">
      @Html.EditorFor(m => m.SupportSubject)
                </div>
                <div class="col-md-12">
      @Html.EditorFor(m => m.SupportBody, "Html")
                </div>
                <div class="col-md-12">
      @Html.EditorFor(m => m.SenderSubject)
                </div>
                <div class="col-md-12">
      @Html.EditorFor(m => m.SenderBody, "Html")
                </div>
                <div class="col-md-12">
                   @Html.EditorFor(m => m.GiftNotifyIds, "NotifyList", new { OrgId = Model.Id, Field = "GiftNotifyIds" })
                </div>
            </div>
        </div>
    }
@if (User.IsInRole("Admin") || User.IsInRole("Design"))
{
    <div class="well">
        <div class="row">
            <div class="col-md-12">
                @Html.EditorFor(m => m.ConfirmationTrackingCode, "TextArea")
            </div>
        </div>
    </div>
}
else
{
    @Html.HiddenFor(m => m.ConfirmationTrackingCode)
}
    @FormAction()
    @FormAction(true)
    <br /><br/>
</form>
@helper FormAction(bool xs = false)
{
    if (xs)
    {
        <div class="visible-xs-block">
            <a href="/Org/MessagesUpdate/@Model.Id" class="btn btn-primary btn-block ajax validate">Save</a>
            <a href="/Org/Messages/@Model.Id" class="btn btn-default btn-block ajax">Cancel</a>
  </div>
    }
    else
{
        <div class="pull-right hidden-xs">
            <a href="/Org/Messages/@Model.Id" class="btn btn-default ajax">Cancel</a>
        <a href="/Org/MessagesUpdate/@Model.Id" class="btn btn-primary ajax validate">Save</a>
    </div>
    }
}
