@using CmsData
@model CmsWeb.Areas.Org.Models.SettingsMessagesModel
@{
    ViewBag.ShowHelp = DbUtil.Db.UserPreference("ShowMessagesHelp");
    ViewBag.FalseValue = "";
}
<form class="ajax">
    <div class="row">
        <div class="col-sm-6">
            <h4>Basic Setup</h4>
        </div>
        <div class="col-sm-6">
            @FormAction()
        </div>
    </div>
    <div class="well">
        <div class="row">
            <div class="col-md-12">
                @Html.DisplayFor(m => m.NotifyIds, "NotifyList")
                <br/>
            </div>
            <div class="col-md-12">
                @Html.DisplayFor(m => m.Subject)
            </div>
            <div class="col-md-12">
                @Html.DisplayFor(m => m.Body, "Html")
            </div>
            <div class="col-md-12">
                @Html.DisplayFor(m => m.Terms, "Html")
            </div>
        </div>
    </div>
    <h4>Instructions</h4>
    <div class="well">
        <div class="row">
            <div class="col-md-12">
                @Html.DisplayFor(m => m.InstructionLogin, "Html")
            </div>
            <div class="col-md-12">
                @Html.DisplayFor(m => m.InstructionSelect, "Html")
            </div>
            <div class="col-md-12">
                @Html.DisplayFor(m => m.InstructionFind, "Html")
            </div>
            <div class="col-md-12">
                @Html.DisplayFor(m => m.InstructionOptions, "Html")
            </div>
            <div class="col-md-12">
                @Html.DisplayFor(m => m.InstructionSpecial, "Html")
            </div>
            <div class="col-md-12">
                @Html.DisplayFor(m => m.InstructionSubmit, "Html")
            </div>
            <div class="col-md-12">
                @Html.DisplayFor(m => m.InstructionSorry, "Html")
            </div>
            <div class="col-md-12">
                @Html.DisplayFor(m => m.ThankYouMessage, "Html")
            </div>
        </div>
    </div>
    <h4>Reminder</h4>
    <div class="well">
        <div class="row">
            <div class="col-md-12">
                @Html.DisplayFor(m => m.ReminderSubject)
            </div>
            <div class="col-md-12">
                @Html.DisplayFor(m => m.ReminderBody, "Html")
            </div>
        </div>
    </div>
    @if (Model.Org.IsMissionTrip.GetValueOrDefault())
    {
        <h4>Mission Trip</h4>
        <div class="well">
            <div class="row">
                <div class="col-md-12">
                    @Html.DisplayFor(m => m.SupportSubject)
                </div>
                <div class="col-md-12">
                    @Html.DisplayFor(m => m.SupportBody, "Html")
                </div>
                <div class="col-md-12">
                    @Html.DisplayFor(m => m.SenderSubject)
                </div>
                <div class="col-md-12">
                    @Html.DisplayFor(m => m.SenderBody, "Html")
                </div>
                <div class="col-md-12">
                    @Html.DisplayFor(m => m.GiftNotifyIds, "NotifyList")
                </div>
            </div>
        </div>
    }
    @FormAction()
    @FormAction(true)
    <br/><br/>
</form>
@helper FormAction(bool xs = false)
{
    if (xs)
    {
        <div class="visible-xs-block">
            @if (User.IsInRole("Edit"))
            {
                <a href="/Org/MessagesEdit/@Model.Id" class="btn edit ajax btn-primary btn-block"><i class="fa fa-pencil"></i> Edit</a>
            }
            <a href="/Org/MessagesHelpToggle/@Model.Id" class="btn btn-default btn-block ajax"><i class="fa fa-question-circle"></i> @(ViewBag.ShowHelp == true ? "Hide Help" : "Show Help")</a>
        </div>
    }
    else
    {
        <div class="pull-right hidden-xs">
            <a href="/Org/MessagesHelpToggle/@Model.Id" class="btn btn-default ajax"><i class="fa fa-question-circle"></i> @(ViewBag.ShowHelp == true ? "Hide Help" : "Show Help")</a>
            @if (User.IsInRole("Edit"))
            {
                <a href="/Org/MessagesEdit/@Model.Id" class="btn edit ajax btn-primary"><i class="fa fa-pencil"></i> Edit</a>
            }
        </div>
    }
}
