@using CmsData
@model CmsData.Registration.Settings
@{
    ViewBag.ShowHelp = DbUtil.Db.UserPreference("ShowQuestionsHelp");
}
<form class="ajax" data-init="movequestions,updateQuestionList,showHideRegTypes,timepicker">
  @Html.Raw(ViewBag.Duplicates)
  @Html.Raw(ViewBag.Duplicates2)
  @FormAction()
    <br/>
    @if (Model.TargetExtraValues)
    {
      @Html.DisplayFor(m => Model.TargetExtraValues)
    }
  <div id="QuestionList" class="movable-list noedit">
    @foreach (var ask in Model.AskItems)
    {
      ask.Name = Html.NameFor2(m => m.AskItems);
      @Html.DisplayFor(m => ask)
    }
  </div>
  @Html.DisplayFor(m => m.TimeSlots)
  @if (Model.AskItems.Any())
  {
    @FormAction()
  }
  @FormAction(true)
  <br/>
</form>
@helper FormAction(bool xs = false)
{
    if (xs)
    {
        <div class="visible-xs-block">
            @if (User.IsInRole("Edit"))
            {
                <a href="/Org/QuestionsEdit/@Model.OrgId" class="btn edit ajax btn-primary btn-block"><i class="fa fa-pencil"></i> Edit</a>
            }
            <a href="/Org/QuestionsHelpToggle/@Model.OrgId" class="btn btn-default btn-block ajax"><i class="fa fa-question-circle"></i> @(ViewBag.ShowHelp == true ? "Hide Help" : "Show Help")</a>
        </div>
    }
    else
    {
        <div class="row hidden-xs">
            <div class="col-sm-12">
                <div class="pull-right">
                    <a href="/Org/QuestionsHelpToggle/@Model.OrgId" class="btn btn-default ajax"><i class="fa fa-question-circle"></i> @(ViewBag.ShowHelp == true ? "Hide Help" : "Show Help")</a>
                    @if (User.IsInRole("Edit"))
                    {
                        <a href="/Org/QuestionsEdit/@Model.OrgId" class="btn edit ajax btn-primary"><i class="fa fa-pencil"></i> Edit</a>
                    }
                </div>
            </div>
        </div>
    }
}
