@using CmsData
@model CmsWeb.Areas.Org2.Models.SettingsFeesModel
@{
  ViewBag.ShowHelp = DbUtil.Db.UserPreference("ShowFeesHelp") == "true";
}
<form class="form form-horizontal non-modal ajax span12">
    <br/>
    @FormAction()
  <div>
    @Html.EditorFor(m => m.Fee)
    @Html.EditorFor(m => m.Deposit)
    @Html.EditorFor(m => m.IncludeOtherFeesWithDeposit)
    @Html.EditorFor(m => m.ExtraFee)
    @Html.EditorFor(m => m.LastDayBeforeExtra)
    @Html.EditorFor(m => m.MaximumFee)
    @Html.EditorFor(m => m.ApplyMaxToOtherFees)
    @Html.EditorFor(m => m.AskDonation)
    @Html.EditorFor(m => m.DonationFundId)
    @Html.EditorFor(m => m.DonationLabel)
    @Html.EditorFor(m => m.OrgFees)
    @Html.EditorFor(m => m.OtherFeesAddedToOrgFee)
    @Html.EditorFor(m => m.AccountingCode)
    @Html.EditorFor(m => m.ExtraValueFeeName)
    @FormAction()
  </div>
</form>

@helper FormAction()
{
    <div class="pull-right">
        <a href="/Org/Fees/@Model.Id" class="btn ajax">Cancel</a>
        <a href="/Org/FeesUpdate/@Model.Id" class="btn btn-primary ajax">Save</a>
    </div>
    <div class="formerror">@Html.ValidationMessage("Form")</div>
}