@using CmsData
@model CmsWeb.Areas.Org.Models.SettingsRegistrationModel
@{
  ViewBag.ShowHelp = DbUtil.Db.UserPreference("ShowRegistrationHelp") == "true";
}
<form class="form form-horizontal non-modal ajax span12">
    <br/>
    @FormAction()
    @Html.EditorFor(m => m.RegistrationType)
    @Html.EditorFor(m => m.Title)
    @Html.EditorFor(m => m.ClassFilled)
    @Html.EditorFor(m => m.RegistrationClosed)
    @Html.EditorFor(m => m.RegStart)
    @Html.EditorFor(m => m.RegEnd)

    @Html.EditorFor(m => m.Limit)
    @Html.EditorFor(m => m.VaidateOrgs)
    @Html.EditorFor(m => m.AgeGroups)
    @Html.EditorFor(m => m.AllowOnlyOne)
    @Html.EditorFor(m => m.AddAsProspect)
    @Html.EditorFor(m => m.AllowReRegister)
    @Html.EditorFor(m => m.AllowSaveProgress)
    @Html.EditorFor(m => m.GroupToJoin)
    @Html.EditorFor(m => m.NoReqBirthYear)
    @Html.EditorFor(m => m.NotReqDOB)
    @Html.EditorFor(m => m.NotReqAddr)
    @Html.EditorFor(m => m.NotReqZip)
    @Html.EditorFor(m => m.NotReqPhone)
    @Html.EditorFor(m => m.NotReqGender)
    @Html.EditorFor(m => m.NotReqMarital)
    @Html.EditorFor(m => m.ShellBs)
    @Html.EditorFor(m => m.SpecialScript)
    @Html.EditorFor(m => m.MemberOnly)
    @if (User.IsInRole("Admin"))
    {
      @Html.EditorFor(m => m.AddToSmallGroupScript)
    }
    @FormAction()
</form>
@helper FormAction()
{
    <div class="pull-right">
        <a href="/Org/Registration/@Model.Id" class="btn ajax">Cancel</a>
        <a href="/Org/RegistrationUpdate/@Model.Id" class="btn btn-primary ajax">Save</a>
    </div>
    <div class="formerror">@Html.ValidationMessage("Form")</div>
}
