@model CmsWeb.Models.OrgSearchModel
@using CmsData
@using CmsWeb
@using CmsWeb.Code
@using UtilityExtensions
@{
    Layout = ViewExtensions2.Layout();
    ViewBag.Title = "OrgSearch";
}
@section scripts
{
    @Fingerprint.Script("/Scripts/Org/OrgSearch.js")
}
@section head
{
    <style type="text/css">
        .smallfont {
            font-size: 75%;
            color: gray;
        }
    </style>
}
<form id="orgsearchform" method="post">
    <table id="searchvalues" cellspacing="5" class="roundbox floatleft">
        <tr><td colspan="4"> <h2>Organization Search</h2> </td></tr>
        <tr>
            <td class="right">Name:</td>
            <td>@Html.TextBox("Name", Model.Name, new { title = "OrganizationId, Location or part of Name (organization, leader, division)" })</td>
            <td class="right">Status: </td>
            <td>@Html.DropDownList("StatusId", Model.StatusIds())</td>
        </tr>
        <tr>
            <td class="right nowrap">Org Type:</td>
            <td>@Html.DropDownList("TypeId", Model.OrgTypes())</td>
            <td class="right">Campus:</td>
            <td style="min-width:10em">@Html.DropDownList("CampusId", Model.CampusIds())</td>
        </tr>
        <tr>
            <td class="right">Program:</td>
            <td>@Html.DropDownList("ProgramId", Model.ProgramIds())</td>
            <td class="right">Schedule:</td>
            <td>@Html.DropDownList("ScheduleId", Model.ScheduleIds())</td>
        </tr>
        <tr>
            <td class="right">Division:</td>
            <td>@Html.DropDownList("DivisionId", Model.DivisionIds())</td>
            <td class="right"><span style="padding-left: 1em;">Online Reg:</span></td>
            <td>@Html.DropDownList("OnlineReg", Model.RegistrationTypeIds())</td>
        </tr>
        <tr>
            <td class="right top nowrap" colspan="2">
                MainFellowship @Html.CheckBox("MainFellowship") |
                ParentOrg @Html.CheckBox("ParentOrg")
            </td>
            <td class="right" colspan="2">
                @if (User.IsInRole("OrgTagger"))
                {
                    <a href="#" id="hideshow" class="bt">Manager</a>
                }
                <a href="/OrgSearch/Results" id="clear" class="bt">Clear</a>
                <a href="/OrgSearch/Results" id="search" class="blue bt default formlink">Search</a>
            </td>
        </tr>

        @if (User.IsInRole("OrgTagger"))
        {
            <tr class="managedivisions" style="display:none">
                <td colspan="4"> <h2>Manage Organization Structure</h2> </td>
            </tr>
            <tr class="managedivisions" style="display:none">
                <td class="right">Target<br />Program</td>
                <td>@Html.DropDownList("TagProgramId", Model.ProgramIds())</td>
                <td class="right">Target<br />Division</td>
                <td>@Html.DropDownList("TagDiv", Model.DivisionIds())</td>
            </tr>
            <tr class="managedivisions" style="display:none">
                <td class="right">New<br />Divsion</td>
                <td>@Html.TextBox("NewDiv", "", new { style = "width:95%" }) </td>
                <td colspan="2">
                    <a id="MakeNewDiv" href="/OrgSearch/MakeNewDiv" class="bt">New</a>
                    <a id="RenameDiv" href="/OrgSearch/RenameDiv" class="bt">Rename</a>
                </td>
            </tr>
            <tr class="managedivisions" style="display:none">
                <td class="right">Target<br />Type</td>
                <td>@Html.DropDownList("TargetType", Model.OrgTypes())</td>
                <td colspan="2"><a id="ApplyType" href="#" class="bt">Apply to Filtered List</a></td>
            </tr>
        }
    </table>
    <div id="buttondiv" class="extrabar" style="margin-top:2em;margin-left: 1em;float:left;font-size:1.2em;">
        <a href="#" class="trigger-dropdown">
            Exports/Reports <img src="/Content/images/dnarrow.png" />
        </a>
        <div class="dropdown2-menu has-tip">
            <ul>
@*                <li><a class="ViewReport" href="ConvertToSearch">Convert to Search</a></li>*@
                <li><a id="ExportExcel" href="#">Export to Excel</a></li>
                <li><a id="ExportMembersExcel" href="#">Export Members to Excel</a></li>
                @if (User.IsInRole("Attendance"))
                {
                    <li><a id="AttNotices" href="#">Email Attendance Notices</a></li>
                }
                <li><a id="rollsheet1" href='#'>Roll Sheet(s)</a></li>
                <li><a id="Meetings" href="#">Meetings</a></li>
                <li><a id="RecentAbsents" href="/Reports/RecentAbsents/">Recent Absents</a></li>
                <li><a class="ViewReport" href="/Reports/Roster1">Roster</a></li>
                <li><a class="ViewReport" href="/Reports/Roster">Roster extended</a></li>
                <li><a class="ViewReport" href="/Reports/OrgLeaders/">Leaders</a></li>
                <li><a class="ViewReport" href="/Reports/ClassList/">Class List</a></li>
                <li><a class="ViewReport" href="/Reports/ShirtSizes">Shirt Sizes</a></li>
                <li><a id="weeklyattendance" href='#'>Weekly Attendance Pct Export</a></li>
                <li><a class="StartEndReport" href='/Reports/AttendanceDetail'>Meetings/Attendance</a></li>
                <li><a class="MonthReport" href='/Reports/MeetingsForMonth'>Meetings For Month</a></li>
                <li class="hideAlt"><a class="StartEndReport" href='/Export2/MeetingsForDateRange'>Meetings For Date Range Export</a></li>
                <li><a id="checkincontrol" href='#'>Checkin Control Report</a></li>
                <li><a id="enrollmentcontrol1" href='#'>Enrollment Control Report</a></li>
                <li><a id="enrollmentcontrol2i" href='#'>Enrollment Control iPhone/iPad</a></li>
                <li><a id="newmeetings" href='#'>Create Meetings</a></li>
                @if (User.IsInRole("MissionGiving"))
                {
                    <li><a class="ViewReport" href='/Reports/MissionTripFunding'>Mission Trip Funding</a></li>
                    <li><a class="ViewReport" href="/Reports/MissionTripSenders">Mission Trip Senders Export</a></li>
                    <li class="hideAlt"><a class="ViewReport" href='/Export2/MissionTripFunding'>Mission Trip Funding Export</a></li>
                }
                <li class="hideAlt"><a class="ViewReport" href='/Reports/SgMap'>Small Group Pin Map</a></li>
                <li><a id="Structure" href='#'>Prog/Div/Org Hierarchy Report</a></li>
                @if (Session["OrgCopySettings"] != null)
                {
                    <li><a id="PasteSettings" href="/OrgSearch/PasteSettings">Paste Settings</a></li>
                }
                @if (User.IsInRole("Admin"))
                {
                    <li><a id="RepairTransactions" href="/OrgSearch/RepairTransactions">Repair Transactions</a></li>
                }
            </ul>
        </div>
    </div>
    <div class="floatclear"></div>
    <hr />
    @Html.Partial("Results", Model)
    @Html.Hidden("FromOrgSearch", "true")
    @Html.Hidden("CheckinDate")
</form>
<div id="PanelAttendanceNotices" class="modalDiv dialog" style="display: none">
    <table>
        <tr><th colspan="2">Select a meeting date</th></tr>
        <tr><th>Meeting Date</th><td><input id="MeetingDateAttNotices" type="text" class='datepicker' /></td></tr>
        <tr>
            <td class="right" colspan="2">
                <a class="bt" id="AttendanceNotices" href="#">Run</a>
            </td>
        </tr>
    </table>
</div>
<div id="PanelRollsheet" class="modalDiv dialog" style="display: none">
    <table>
        <tr><th colspan="2">Select a meeting date and time</th></tr>
        <tr><th>Meeting Date</th><td><input id="MeetingDate" type="text" class='datepicker' /></td></tr>
        <tr><th>Meeting Time</th><td><input id="MeetingTime" title="Time in Format hh:mm am or pm" type="text" /></td></tr>
        <tr>
            <th>Use Alt Names</th>
            <td>@Html.CheckBox("altnames")</td>
        </tr>
        <tr id="rallycb">
            <th>Parents (rally mode)</th>
            <td>@Html.CheckBox("rallymode")</td>
        </tr>
        <tr>
            <th>By Group</th>
            <td>@Html.CheckBox("bygroup")</td>
        </tr>
        <tr>
            <th>Group Filter Prefix</th>
            <td>@Html.TextBox("sgprefix")</td>
        </tr>
        <tr>
            <th>Highlight Group</th>
            <td>@Html.TextBox("highlightsg")</td>
        </tr>
        <tr>
            <td class="right" colspan="2">
                <a class="bt" id="rollsheet2" href="#">create</a>
            </td>
        </tr>
    </table>
</div>
<div id="PanelMeetings" class="modalDiv dialog" style="display: none">
    <table>
        <tr><th colspan="2">Select a meeting date and time</th></tr>
        <tr><th>Meeting Date</th><td><input id="NewMeetingDate" type="text" class='datepicker' /></td></tr>
        <tr><th>Meeting Time</th><td><input id="NewMeetingTime" title="Time in Format hh:mm am or pm" type="text" /></td></tr>
        <tr>
            <td class="right" colspan="2">
                <a class="bt" id="createmeetings" href="#">Create</a>
            </td>
        </tr>
    </table>
</div>
<div id="MeetingsForDateRangeDialog" class="modalDiv dialog" style="display: none">
    <table>
        <tr><th colspan="2">Select a date range</th></tr>
        <tr><th>Meetings Start Date</th><td><input id="MeetingDate1" type="text" class='datepicker' /></td></tr>
        <tr><th>Meetings End Date</th><td><input id="MeetingDate2" type="text" class='datepicker' /></td></tr>
        <tr>
            <td class="right" colspan="2">
                <a class="bt" id="attdetail2" href="#"> run </a>
            </td>
        </tr>
    </table>
</div>
<div id="MeetingsForMonthDialog" class="modalDiv dialog" style="display: none">
    <table>
        <tr><th colspan="2">Select a date for a Month</th></tr>
        <tr><th>Month</th><td><input id="monthdt1" type="text" class='datepicker' /></td></tr>
        <tr>
            <td class="right" colspan="2">
                <a class="bt" id="meetingsformonth2" href="#"> run </a>
            </td>
        </tr>
    </table>
</div>
<div id="PanelEnrollmentControl" class="modalDiv dialog" style="display: none">
    <table>
        <tr>
            <th>Filter by Active Tag</th>
            <td>@Html.CheckBox("enrcontrolfiltertag")</td>
        </tr>
        <tr>
            <th>Excel Export (default is PDF)</th>
            <td>@Html.CheckBox("enrcontrolexcel")</td>
        </tr>
        <tr>
            <td class="right" colspan="2">
                <a class="bt" id="enrollmentcontrol2" href="#">Run</a>
            </td>
        </tr>
    </table>
</div>
<div id="PanelCheckinControl" class="modalDiv dialog" style="display: none">
    <table>
        <tr>
            <th>Date</th>
            <td>@Html.DatePicker("checkindate")</td>
        </tr>
        <tr>
            <td class="right" colspan="2">
                <a class="bt" id="checkincontrol2" href="#">Run</a>
            </td>
        </tr>
    </table>
</div>


