@using UtilityExtensions
@model CmsWeb.Areas.Org2.Models.OrgPeopleModel
<div class="filter">
  <div class="form-inline">
      <span style="cursor: pointer; color: blue;" data-toggle="popover" data-content="<p>First and last name or just last name.</p><p>You can put just the first few letters of each.</p><p>PeopleId works too.</p>" data-original-title="Name Filter"><i class="fa fa-info-circle"></i></span>&nbsp;&nbsp;<input type="text" class="form-control tip"
           name="nameFilter" id="nameFilter" placeholder="Name Filter" value="@Model.NameFilter">
      &nbsp;&nbsp;&nbsp;<span style="cursor: pointer; color: blue;" data-toggle="popover" data-content="<p>Match a smallgroup name.</p><p>You can just use the first few letters of a smallgroup.</p><p>Lead with - to exclude.</p><p>Comma separate for multiple smallgroups.</p><p>NONE to find no smallgroups assigned.</p><p>ALL: to match all.</p>" data-original-title="SmallGroup Filter"><i class="fa fa-info-circle"></i></span>&nbsp;
      <div class="input-append">
       <input type="text" class="form-control tip" id="sgFilter"
             name="sgFilter" placeholder="SmallGroup Filter" value="@Model.SgFilter"/>
      <div class="btn-group">
        <button class="btn dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
          <ul class="dropdown-menu" style="height: 200px; overflow: auto;">
              <li>
                  <a href="#" id="excludesg">Exclude</a>
              </li>
              <li>
                  <a href="#" class="selectsg">Match All</a>
              </li>
              <li>
                  <a href="#" class="selectsg">None Assigned</a>
              </li>

              @foreach (var sg in Model.SmallGroups())
              {
                  <li>
                      <a href="#" class="selectsg"><i class="fa fa-minus hide"></i>@sg.Text</a>
                  </li>
              }
          </ul>
      </div>
    </div>
    <div class="input-append">
      <a class="setfilter btn">
        Filter
        @if (Model.IsFiltered)
        {
          <span style='color: red'>(filtered)</span>
        }
      </a>
      <div class="btn-group">
        <button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#" id="filter-ind" class="@Model.FilterIndActive">Filter Checked Individuals</a></li>
          <li><a href="#" id="filter-tag" class="@Model.FilterTagActive">Filter by Active Tag</a></li>
          <li><a href="/Org/CheckAll" id="check-all" class="ajax">Check All</a></li>
          <li><a href="/Org/CheckNone" id="check-none" class="ajax">Check None</a></li>
        </ul>
      </div>
    </div>
    <a class="btn" id="clear-filter" href="#">Clear</a>
  </div>
</div>