@using CmsData.Codes
@model CmsWeb.Areas.Org2.Models.OrgPeopleModel

@GroupButton(GroupSelectCode.Member, "Members")
@GroupButton(GroupSelectCode.Previous, "Previous")
@GroupButton(GroupSelectCode.Inactive, Model.Org.IsMissionTrip == true ? "Senders" : "Inactive")
@GroupButton(GroupSelectCode.Pending, "Pending")
@GroupButton(GroupSelectCode.Prospect, "Prospects")
@GroupButton(GroupSelectCode.Guest, "Guests")

@helper GroupButton(string group, string name)
{
  <button class='btn grp @Model.GroupActive(group)' value="@group">@name</button>
  if (group == GroupSelectCode.Guest)
  {
    return;
  }
  if (group == GroupSelectCode.Previous && !User.IsInRole("Developer") && !User.IsInRole("Conversion"))
  {
    return;
  }
  var showdrop = User.IsInRole("Edit") && (Model.MultiSelect ? "" : Model.GroupSelect) == group;
  group = showdrop ? group : "";
  <div class="btn-group">
    <button class="btn dropdown-toggle @(showdrop ? "" : "hide")" data-toggle="dropdown"><span class="caret"></span></button>
    @switch (group)
    {
      case GroupSelectCode.Member:
        <ul class="dropdown-menu">
          <li><a href="/SearchAdd2/Dialog/org/@Model.Id" class="searchadd">Add Members</a></li>
          <li><a href="/AddToOrgFromTag/@Model.Id/@GroupSelectCode.Member" class="longrunop" title="Add Members From Tag">Add from Tag</a></li>
          <li><a href="/OrgMembersUpdate/@Model.Id" title="Update Members" class="members-dialog">Update Members</a></li>
        </ul>
        break;
      case GroupSelectCode.Prospect:
      <ul class="dropdown-menu">
        <li><a href="/SearchAdd2/Dialog/prospects/@Model.Id" class="searchadd">Add Prospects</a></li>
        <li><a href="/AddToOrgFromTag/@Model.Id/@GroupSelectCode.Prospect" title="Add Prospects From Tag" class="longrunop">Add From Tag</a></li>
        <li><a href="/OrgMembersUpdate/@Model.Id" title="Update Prospects" class="members-dialog">Update Prospects</a></li>
      </ul>
        break;
      case GroupSelectCode.Previous:
      <ul class="dropdown-menu">
        <li><a href="/AddToOrgFromTag/@Model.Id/@GroupSelectCode.Previous" class="longrunop" title="Add Previous Members From Tag">Add From Tag</a></li>
      </ul>
        break;
      case GroupSelectCode.Inactive:
      <ul class="dropdown-menu">
        <li><a href="/SearchAdd2/Dialog/inactive/@Model.Id" class="searchadd">@(Model.Org.IsMissionTrip == true ? "Add Sender" : "Add Inactive Members")</a></li>
        <li><a href="/OrgMembersUpdate/@Model.Id" title="Update Inactive Members" class="members-dialog">Update Inactive</a></li>
      </ul>
        break;
      case GroupSelectCode.Pending:
      <ul class="dropdown-menu">
        <li><a href="/SearchAdd2/Dialog/pending/@Model.Id" class="searchadd">Add Pending Members</a></li>
        <li><a href="/AddToOrgFromTag/@Model.Id/@GroupSelectCode.Pending" title="Add Pendings From Tag" class="longrunop">Add From Tag</a></li>
        <li><a href="/OrgMembersUpdate/@Model.Id" title="Update Pending Members" class="members-dialog">Update Pending</a></li>
      </ul>
        break;
    }
  </div>
}