@using System.Web.Mvc.Html
@using CmsData
@using CmsWeb.Models.ExtraValues
@using UtilityExtensions
@model CmsWeb.Areas.People.Models.ContactModel
@{
    var evmodel = new ExtraValueModel(Model.ContactId, "Contact", Model.Location);
    var showExtraValues = Model.Ministry.Value != "0" && Model.ContactType.Value != "0" && Model.ContactReason.Value != "0";
    var extraValueDisplay = showExtraValues ? "" : "display: none";
}
<form id="edit-contact" class="form ajax" method="post" data-init="Editable" data-init2="ExtraEditable">
    @if (Model.Incomplete.HasValue())
    {
        <div class="alert alert-danger scrollToTop">
            Will not save your edits until you correct the following: @Model.Incomplete.
        </div>
    }
    @Html.Hidden("editing", "true")
    @Html.HiddenFor(m => m.ContactId)
    @Html.HiddenFor(m => m.OrganizationId)
    <div class="box box-responsive">
        <div class="box-content">
            <div class="row">
                <div class="col-sm-6">
                    @Html.EditorFor(m => m.ContactDate)
                    @Html.EditorFor(m => m.Ministry)
                    @Html.EditorFor(m => m.ContactType)
                    @Html.EditorFor(m => m.ContactReason)

                    @if (DbUtil.Db.Setting("UseContactVisitedOrgs") && DbUtil.Db.Setting("UX-ShowVisitedOrgEditDropdown"))
                    {
                        <div class="form-group">
                            <label for="OrganizationId" class="control-label">@DbUtil.Db.Setting("UX-VisitedOrgLabel", "Visited Organization")</label>
                            <div class="controls">
                                @Html.DropDownList("OrganizationId", new SelectList(Model.Organizations(), "Value", "Text"), new { @class = "form-control" })
                            </div>
                        </div>
                    }

                    <div class="form-group">
                        <label for="LimitToRole" class="control-label">Limit to Role</label>
                        <div class="controls">
                            @Html.DropDownListFor(m => m.LimitToRole, new SelectList(Model.Roles(), "Value", "Text"), new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                @if (Model.ShowDefaultCheckboxes)
                {
                    <div class="col-sm-6">
                        @Html.EditorFor(m => m.NotAtHome)
                        @Html.EditorFor(m => m.LeftDoorHanger)
                        @Html.EditorFor(m => m.LeftMessage)
                        @Html.EditorFor(m => m.ContactMade)
                        @Html.EditorFor(m => m.GospelShared)
                        @Html.EditorFor(m => m.PrayerRequest)
                        @Html.EditorFor(m => m.GiftBagGiven)
                    </div>
                }
            </div>
            @if (Model.ShowContactExtraFeature)
            {
                <div class="row">
                    <div id="contact-extra-values" class="col-sm-12" style="@extraValueDisplay">
                        @Html.Partial("/Views/ExtraValue/Location.cshtml", evmodel)
                    </div>
                </div>
            }
            <div class="row">
                @if (Model.CanViewComments)
                {
                    <div class="col-sm-12">
                        @Html.EditorFor(m => m.Comments, "TextArea")
                        @Html.ValidationMessage("Comments")
                    </div>
                }
            </div>
            <br />
            <a id="cancel" class="btn btn-default ajax" href="/Contact2/ContactDisplay/@Model.ContactId">Cancel</a>
            <a id="update" class="btn btn-primary ajax validate" href="/Contact2/ContactUpdate/@Model.ContactId">Update</a>
            @Html.ValidationMessage("contactors")
            @Html.ValidationMessage("contactees")
            <br /><br />
        </div>
    </div>
</form>
@if (ViewBag.edit == null)
{
    <script>
        // This only runs when the view is loaded over AJAX, otherwise jQuery won't be loaded
        // Index.cshtml will run this when it is being directly loaded into the DOM
        $(function () {
            $("select #OrganizationId").select2();

            @if (Model.ShowContactExtraFeature)
            {
                @:WireUpExtraValues(@Model.ContactId, @Html.Raw(Json.Encode(Model.Locations)));
            }
        });

    </script>
}
