@model CmsWeb.Areas.People.Models.ContactModel
@{
    ViewBag.Title = "Contact";
    ViewBag.PageHeader = "Contact";
    Layout = ViewExtensions2.TouchPointLayout();
}
@section head
{
    @Fingerprint.Css("/Content/touchpoint/lib/bootstrap-editable/css/bootstrap-editable.css")
    @Fingerprint.Css("/Content/touchpoint/lib/select2/css/select2.css")
    @Fingerprint.Css("/Content/touchpoint/lib/select2/css/select2-bootstrap.css")

    @if (Model.ShowContactExtraFeature)
    {
        <style type="text/css">
            .editable-checklist label {
                white-space: normal !important;
            }

            .editableform .control-group {
                white-space: normal !important;
            }

            label {
                font-weight: normal !important;
            }

                label.control-label {
                    font-weight: bold !important;
                }
        </style>
    }
}
@Html.Hidden("Id")
<div class="row tab-pane" data-action="GET">
    <div class="col-sm-12 col-md-9 col-lg-7">
        @(ViewBag.edit ? Html.Partial("ContactEdit", Model) : Html.Partial("ContactDisplay", Model))
        <ul class="nav nav-tabs" id="special-content-tabs">
            <li><a href="#ministryTeamTab" aria-controls="ministryTeamTab" data-toggle="tab">Ministry Team</a></li>
            <li class="active"><a href="#contacteesTab" aria-controls="contacteesTab" data-toggle="tab">Those Contacted</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade" id="ministryTeamTab">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pull-right">
                            <a href="/Contact2/ConvertContactorsToQuery/@Model.ContactId" class="btn btn-default">Convert to Search</a>
                            @if (Model.CanViewComments)
                            {
                                <a href="/SearchAdd2/Dialog/Contactor/@Model.ContactId" class="btn btn-success searchadd"><i class="fa fa-plus-circle"></i> Add Team Member</a>
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <form id="contactors" action="/Contact2/Contactors/@Model.ContactId" method="post">
                            @Html.Partial("Contactors", Model.Ministers)
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade in active" id="contacteesTab">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pull-right">
                            <a href="/Contact2/ConvertContacteesToQuery/@Model.ContactId" class="btn btn-default">Convert to Search</a>
                            @if (Model.CanViewComments)
                            {
                                <a href="/SearchAdd2/Dialog/Contactee/@Model.ContactId" class="btn btn-success searchadd"><i class="fa fa-plus-circle"></i> Add Contactee</a>
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <form id="contactees" action="/Contact2/Contactees/@Model.ContactId" method="post">
                            @Html.Partial("Contactees", Model.MinisteredTo)
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    @Fingerprint.Script("/Content/touchpoint/lib/bootstrap-editable/js/bootstrap-editable.min.js")
    @Fingerprint.Script("/Content/touchpoint/js/people/contact.js")
    @Fingerprint.Script("/Content/touchpoint/lib/select2/js/select2.min.js")
    @if (ViewBag.edit)
    {
        <script>
            $(function () {
                $("select #OrganizationId").select2();
            });
        </script>
    }
    <script>
        $(function() {
            $.InitFunctions.ExtraEditable();

            @if (Model.ShowContactExtraFeature)
            {
                @:WireUpExtraValues(@Model.ContactId, @Html.Raw(Json.Encode(Model.Locations)));
            }
        });
    </script>
}
