@model CmsWeb.Areas.People.Models.ContactModel
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/SiteLayout2.cshtml";
}
@section head
{
    <style>
        textarea {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
            height: 120px;
        }

        div.display textarea {
            border: none;
            cursor: text;
            height: auto;
        }
    </style>
}
@section scripts
{
    @Fingerprint.Script("/Scripts/People/contact2.js")
    @Fingerprint.Script("/Scripts/Bootstrap/jquery.bootstrap-growl.js")
    @if (ViewBag.edit == true)
    {
        <script> $(function () { $("#edit").click(); }); </script>
    }
}
@Html.Hidden("Id")
<div class="container">
    <div class="table not-wide">
        @Html.Partial("ContactDisplay", Model)
        <div class="table center not-wide">
            <fieldset class="inline align-top">
                <legend>Ministry Team @Add("Contactor")</legend>
                <form id="contactors" action="/Contact2/Contactors/@Model.ContactId" class="min-width15em" method="post">
                    @Html.Partial("Contactors", Model.Ministers)
                </form>
            </fieldset>
            <fieldset class="inline align-top left-gutter">
                <legend>Those Contacted @Add("Contactee")</legend>
                <form id="contactees" action="/Contact2/Contactees/@Model.ContactId" class="min-width15em" method="post">
                    @Html.Partial("Contactees", Model.MinisteredTo)
                </form>
            </fieldset>
        </div>
    </div>
</div>

@helper Add(string type)
{
    if (Model.CanViewComments)
    {
    <a href="/SearchAdd2/Dialog/@type/@Model.ContactId" class="searchadd pull-right in"><i class="icon-plus"></i></a>
    }
}