@model IEnumerable<CmsData.DashboardWidget>
@{
    Layout = ViewExtensions2.TouchPointLayout();
    ViewBag.Title = "Homepage Widgets";
    ViewBag.PageHeader = "Homepage Widgets";
}
@section head{
    @ViewExtensions2.Sortable()
    @ViewExtensions2.BootstrapToggleCss()
    <style type="text/css">
        .draggable-mirror {
            background: rgba(255,255,255,0.5);
            width: 95%;
            outline: -webkit-focus-ring-color auto 1px;
            cursor: move;
            cursor: -webkit-grabbing;
            opacity: 0.7;
        }
        .draggable-mirror td:last-child {
            visibility: hidden;
        }
        .handle {
            cursor: move;
        }
    </style>
}
@using (Html.BeginForm("SaveOrder", "HomeWidgets", FormMethod.Post, new { @id = "widgetorder" }))
{
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-responsive">
                <div class="box-title-btn">
                    <div class="box-tools">
                        <a href="/HomeWidgets/New" class="btn btn-success"><i class="fa fa-plus-circle"></i> Add Widget</a>
                    </div>
                </div>
                <div class="box-content">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width:200px;">Widget</th>
                                    <th>Description</th>
                                    <th style="width: 50px;text-align:center;">Status</th>
                                    <th style="width: 50px;text-align:center;">Reorder</th>
                                </tr>
                            </thead>
                            <tbody class="sortable">
                                @foreach (var item in Model)
                                {
                                    <tr class="widget dropzone">
                                        <td style="width: 150px;"><a href="/HomeWidgets/@item.Id">@item.Name</a></td>
                                        <td>@item.Description</td>
                                        <td>
                                            <input type="checkbox" name="status-@item.Id" class="toggle-status" data-id="@item.Id" data-toggle="toggle" data-on="Enabled" data-off="Disabled" data-width="100" checked="@(item.Enabled)">
                                        </td>
                                        <td style="width: 180px;text-align:center;">
                                            <i class="handle fa fa-bars"></i>
                                            <input type="hidden" name="widgets[]" value="@item.Id" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="visible-xs-block">
                        <a href="/HomeWidgets/New" class="btn btn-success btn-block"><i class="fa fa-plus-circle"></i> Add Widget</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section scripts
{
    @ViewExtensions2.BootstrapToggle()
    <script type="text/javascript">
        var sortable = new Sortable.default(document.querySelectorAll('.sortable'), {
            draggable: '.widget',
            handle: '.handle'
        });

        sortable.on('sortable:stop', function () {
            setTimeout(function () {
                var data = $('#widgetorder').serializeArray();
                $.post("/HomeWidgets/Reorder/", data, function (ret) {
                    if (ret.includes('error')) {
                        snackbar('Error updating widget order', 'error');
                    } else {
                        snackbar(ret, 'success');
                    }
                }).fail(function () {
                    snackbar('Error updating widget order', 'error');
                });
            }, 400);
        });

        $('.toggle-status').change(function () {
            var id = $(this).data('id');
            var status = $(this).is(":checked");
            $.post("/HomeWidgets/Toggle/", {
                id: id,
                status: status
            }, function (ret) {
                if (ret.includes('error')) {
                    snackbar('Error updating widget', 'error');
                } else {
                    snackbar(ret, 'success');
                }
            }).fail(function () {
                snackbar('Error updating widget', 'error');
            });
        });
    </script>
}
