@model CmsWeb.Areas.Org.Models.MemberModel
@{ ViewData["OrgMemberContext"] = true;
 ViewData["OrgMemberContext"] = false;
}
<form class="form form-horizontal non-modal ajax span12 pad-left">
  @Html.Hidden("current-qid", (Guid?)ViewBag.queryid)
  <div>
    Count: <strong id="current-count">@Model.Count()</strong>&nbsp;&nbsp;
    @if (User.IsInRole("Edit"))
    {
      <a href="/SearchAdd2/Dialog/org/@Model.OrganizationId" class="searchadd btn btn-default">Add People</a>
      <a href="/AddToOrgFromTag/@Model.OrganizationId" class="addfromtag btn btn-success" title="Add Members From Tag">add from tag</a>
      <a id="currMembersUpdate" href="/OrgMembersDialog/@Model.OrganizationId" title="Update Members" class="memberdialog btn btn-success">update members</a>
    }
      <div id="Filter" class="form-inline">
        @Html.Hidden("Id", Model.Id)
        <input type="text" class="form-control tip" id="nameFilterMembers"
               name="nameFilter" placeholder="Name Filter" value="@Model.NameFilter"
               title="Name Filter
              First and last name or just last name.
              You can put just the first few letters of each.
              PeopleId works too.">
        <input type="text" class="form-control tip" id="sgFilterMembers"
               name="sgFilter" placeholder="SmallGroup Filter" value="@Model.SgFilter"
               title="SmallGroup Filter
              Match a smallgroup name.
              You can just use the first few letters of a smallgroup.
              Lead with - to exclude.
              Comma separate for multiple smallgroups.
              NONE to find no smallgroups assigned.
              ALL: to match all." />
        <label class="checkbox">
          @Html.CheckBox("showHidden", new { @class = "showHidden" }) Show Hidden Guests
        </label>
        <button class="setfilter btn">
          Filter @(Html.Raw(Model.IsFiltered ? "<span style='color:red'>(filtered)</span>" : ""))
        </button>
        <button class="clearfilter btn" href="#">Clear</button>
        <input class="ClearFilter" name="ClearFilter" type="hidden" value="false" />
      </div>
  </div>
  @Html.Partial("Grids/Base", Model)
</form>
