@model SmallGroupFinderModel
@using CmsWeb
@using CmsWeb.Areas.Public.Models
@using CmsWeb.Models
@{
    var mapModel = new SGMapModel(Model.getGroups());
    var isPartial = (bool) ViewData["AsPartial"];

    if (isPartial)
    {
        @Html.Raw("<!DOCTYPE html>\n<html>")
    }
}

<style type="text/css">
    .map {
        height: 600px;
        margin-bottom: 20px;
    }
</style>

@if (Request.IsLocal)
{
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=AIzaSyD8NYfDRQUKgB0Jra9hsYNIRoKwo4Xyvws"></script>
}
else
{
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=AIzaSyA-z7tWeIR76NaSM-58ESYlJuQ4RIFJKGs"></script>
}
@ViewExtensions2.jQuery()
@Fingerprint.Script("/Content/touchpoint/js/sgmap.js")
@Html.Raw(Html.Json("markers", mapModel.Locations()))

    <div class="row">
        <div class="col-md-6">
            <div id="map" class="map">
            </div>
        </div>
        <div class="col-md-6">
            <ul style="overflow: auto; height: 600px">
                @foreach (var i in mapModel.Locations())
                {
                    var gl = new GroupLookup();
                    gl.populateFromOrg(i.org);
                    @Html.Raw(Model.replaceAndWrite(gl));
                }
            </ul>
        </div>
    </div>
