@using System.Text.RegularExpressions
@using CmsWeb.Areas.Public.Models
@model SmallGroupFinderModel
@{
    var st = Model.getSetting("SubmitText");
    var submitText = st != null ? st.value : "Find Groups";
}
<div style="background-color: white; padding: 20px;">
    <h2>Small Group Finder</h2>
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                @for (var iX = 0; iX < Model.getCount(SmallGroupFinderModel.TYPE_FILTER); iX++)
                {
                    var f = Model.getFilter(iX);
                    var fi = Model.getFilterItems(iX);
                    var filterId = Regex.Replace(f.title, "[ /]", "");

                    <div class="form-group">
                        <label for="@filterId">@f.title</label>
                        <select id="@filterId" class="form-control">
                            @foreach (var item in fi)
                            {
                                <option @(Model.IsSelectedValue(f.name, item.value) ? "selected" : "") value="@item.value">@item.value</option>
                            }
                        </select>
                    </div>
                }
                <input type="submit" class="btn btn-default" value="@submitText"/>
            </form>
        </div>
        <div class="col-md-8">
            @Html.Partial("Map", Model, new ViewDataDictionary { { "AsPartial", true } })
        </div>
    </div>
</div>
