@model CmsWeb.Models.HomeModel
@{
    ViewBag.Title = "Home";
    Layout = ViewExtensions2.TouchPointLayout();
}
@section head
{
    <style>
         #home {
             padding-top: 10px;
         }
        ul.list-group {
            max-height: 215px;
            overflow-y: auto;
        }

        @@media (max-width: 767px) {
            ul.list-group {
                max-height: none !important;
                overflow-y: visible !important;
            }
        }

        ul.list-group li.section {
            font-weight: bold;
        }

        ul.list-group li.indent {
            padding-left: 25px;
        }
        .list-group-item>.label {
            float: right;
        }
    </style>
}
<div id="home" class="row">
    <div class="col-sm-4">
        <div class="box">
            <div class="box-title">
                <h5><a href="Tags?tag=TrackBirthdays">Birthdays</a></h5>
            </div>
            @{
                var birthdays = Model.Birthdays().ToList();
            }
            @if (birthdays.Any())
            {
                <ul class="list-group">
                    @foreach (var birthday in birthdays)
                    {
                        <li class="list-group-item"><a href="@birthday.Url">@birthday.Name (@birthday.Birthday.ToString("m"))</a></li>
                    }
                </ul>
            }
            else
            {
                <div class="box-content"></div>
            }
        </div>
        <div class="box">
            <div class="box-title">
                <h5><a href="@Model.UserUrl">My Involvement</a></h5>
            </div>
            @{
                var involvements = Model.MyInvolvements().ToList();
                var currentOrgType = "Other";
            }
            @if (involvements.Any())
            {
                <ul class="list-group">
                    @foreach (var involvement in involvements)
                    {
                        if (involvement.OrgType != currentOrgType)
                        {
                            currentOrgType = involvement.OrgType;
                            <li class="list-group-item section">@involvement.OrgType</li>
                        }
                        <li class="list-group-item indent"><a href="/Organization/@involvement.OrgId">@involvement.Name</a></li>
                    }
                </ul>
            }
            else
            {
                <div class="box-content"></div>
            }
        </div>
        <div class="box">
            <div class="box-title">
                <h5><a href="/Query">My Searches</a></h5>
            </div>
            @{
                var searches = Model.MyQueries().ToList();
            }
            @if (searches.Any())
            {
                <ul class="list-group">
                    @foreach (var search in searches)
                    {
                        <li class="list-group-item"><a href="@search.Url">@search.Name</a></li>
                    }
                </ul>
            }
            else
            {
                <div class="box-content"></div>
            }
        </div>
    </div>
    <div class="col-sm-4">
        <div class="box">
            <div class="box-title">
                <h5><a href="@Model.BlogAppUrl">TouchPoint News</a></h5>
            </div>
            @{
                var touchPointNews = Model.BVCMSNews().ToList();
            }
            @if (touchPointNews.Any())
            {
                <ul class="list-group">
                    @foreach (var article in touchPointNews)
                    {
                        var daysOld = (int)Math.Ceiling(DateTime.Now.Subtract(article.Published).TotalDays);
                        <li class="list-group-item">
                            @if (daysOld < 8)
                            {
                                <span class="label label-danger">New</span>
                            }
                            <a href="@article.Url" target="news">@article.Title</a>

                        </li>
                    }
                </ul>
            }
            else
            {
                <div class="box-content"></div>
            }
        </div>
        <div class="box">
            <div class="box-title">
                <h5><a href="@Model.ChurchBlogUrl">Church News</a></h5>
            </div>
            @{
                var churchNews = Model.ChurchNews().ToList();
            }
            @if (churchNews.Any())
            {
                <ul class="list-group">
                    @foreach (var article in churchNews)
                    {
                        var daysOld = (int)Math.Ceiling(DateTime.Now.Subtract(article.Published).TotalDays);
                        <li class="list-group-item">
                            <a href="@article.Url" target="news">@article.Title</a>
                            @if (daysOld < 8)
                            {
                                <span class="label label-danger pull-right">New</span>
                            }
                        </li>
                    }
                </ul>
            }
            else
            {
                <div class="box-content"></div>
            }
        </div>
    </div>
    <div class="col-sm-4">
        <div class="box">
            <div class="box-title">
                <h5><a href="/Tags">My Tags</a></h5>
            </div>
            @{
                var tags = Model.Tags().ToList();
            }
            @if (tags.Any())
            {
                <ul class="list-group">
                    @foreach (var tag in tags)
                    {
                        <li class="list-group-item"><a href="/Tags?tag=@Server.UrlEncode(tag.Code)">@tag.Value</a></li>
                    }
                </ul>
            }
            else
            {
                <div class="box-content"></div>
            }
        </div>
        <div class="box">
            <div class="box-title">
                <h5><a href="/Task/List">My Tasks</a></h5>
            </div>
            @{
                var tasks = Model.Tasks().ToList();
            }
            @if (tasks.Any())
            {
                <ul class="list-group">
                    @foreach (var task in tasks)
                    {
                        <li class="list-group-item"><a href="/Task/Detail/@task.TaskId">@task.Description</a> (<a href="@task.Url">@task.Who</a>)</li>
                    }
                </ul>
            }
            else
            {
                <div class="box-content"></div>
            }
        </div>
    </div>
</div>