@using CmsWeb.Models
@{
    ViewBag.Title = "Support";
    ViewBag.PageHeader = "Need help using this software?";
    Layout = ViewExtensions2.TouchPointLayout();
    var active2 = TempData["ActiveRecords2"].ToInt();
}
@section head{
    @Fingerprint.Css("/Content/touchpoint/lib/bootstrap-tabdrop/css/tabdrop.css")
    <style>
        #body { font-family: Arial, Helvetica; }
    </style>
}
<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs" id="support-tabs">
            <li class="active">
                <a href="#documentation" aria-controls="documentation" data-toggle="tab"><i class="fa fa-search"></i>&nbsp;&nbsp;Search Documentation</a>
            </li>
            @if (Util.IsHosted)
            {
                <li>
                    <a id="supportRequestTab" href="#supportRequest" aria-controls="supportRequest" data-toggle="tab"><i class="fa fa-envelope"></i>&nbsp;&nbsp;Contact Support</a>
                </li>
            }
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="documentation">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="alert alert-info">
                                    <p>
                                        <a href="https://docs.touchpointsoftware.com" target="_blank" class="btn btn-info">Documentation Website</a>
                                    </p>
                                </div>
                                <form action="https://docs.touchpointsoftware.com/search.html" method="get" target="_blank">
                                    <div class="input-group input-group-lg">
                                        <input type="text" name="q" autocomplete="off" class="form-control" placeholder="Begin search here...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i> Search</button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Hosting & Support @(Util.IsHosted ? "Provided by" : "Available at")
                                </h4>
                            </div>
                            <div class="panel-body text-center">
                                <a href="http://touchpointsoftware.com" target="_blank">
                                    <img src="/Content/images/tps_full_logo.png" width="225"/><br/>
                                    http://touchpointsoftware.com
                                </a>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Built with the Open Source Project
                                </h4>
                            </div>
                            <div class="panel-body text-center">
                                <a href="https://github.com/bvcms/bvcms" target="_blank">
                                    <img src="/Content/images/bvcms150.png"/><br/>
                                    https://github.com/bvcms/bvcms
                                </a>
                                <br/><br/>
                                <div>Current Server Date:<br/>@Util.Now</div>
                                <div>Build Date:<br/>@Util.BuildDate()</div>
                                <br/>
                                <div>
                                    @if (active2 > 0)
                                    {
                                        @:Active Records: @active2.ToString("N0")
                                    }
                                    else if (User.IsInRole("Admin"))
                                    {
                                        @Helper.AnchorLink("See Active Records", "javascript:$.block();window.location='/Home/ActiveRecords';")
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (Util.IsHosted)
            {
                <div class="tab-pane fade" id="supportRequest">
                    <form id="requestform">
                        <div class="row">
                            <div class="col-md-8">
                                <div id="success" class="alert alert-success">
                                    <strong>Success!</strong> Your support request has been submitted. Thank you for contacting us. We will get back to you as soon as possible.
                                </div>
                                <div class="row" id="supportForm">
                                    <div class="form-group">
                                        <label for="cc" class="col-md-2 control-label">Subject:</label>
                                        <div class="col-md-10">
                                            <input type="text" id="subj" name="subj" class="form-control"/>
                                            <span class="help-block">Enter a very brief description here</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="cc" class="col-md-2 control-label">CC:</label>
                                        <div class="col-md-10">
                                            <input type="text" id="cc" name="cc" class="form-control"/>
                                            <span class="help-block">Enter comma separated e-mail addresses to copy the request.</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="urgency" class="col-md-2 control-label">Priority:</label>
                                        <div class="col-md-10">
                                            <select name="urgency" id="urgency" class="form-control">
                                                <option value="0" selected="">--Select Priority--</option>
                                                <option value="3">LOW: Low priority business issue or question</option>
                                                <option value="2">NORMAL: Important issue, I can wait 24 hours for a response.</option>
                                                <option value="1">CRITICAL: Urgent issue that is impacting the operation of the church</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <br/>
                                            <textarea name="body" id="body" class="form-control"></textarea>
                                            <br/>
                                            <p class="pull-right">
                                                <input id="sendSupport" type="button" class="btn btn-primary btn-lg" value="Submit Request">
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            Example of a good support request
                                        </h4>
                                    </div>
                                    <div class="panel-body">
                                        <p>Hello!</p>
                                        <p>
                                            I am looking at John Doe’s record (people ID # 1015). He is a member of the Adult
                                            Choir (Org ID # 27), but I can’t mark him present for a choir meeting several weeks
                                            ago (6/23/13 at 9:30 AM). Can you please look into this issue for me?
                                        </p>
                                        <p>
                                            Thank you!<br/>
                                            Mary Smith
                                        </p>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            Example of a good bug report
                                        </h4>
                                    </div>
                                    <div class="panel-body">
                                        <p>Hello!</p>
                                        <p>
                                            I am on John Doe’s record (people ID # 1015). I was trying to look at his enrollments
                                            tab, but as soon as I click on “Enrollment”, I get an error message, that says
                                            “Object not set to an instance of an object”. Can you please look into this for me?<br/>
                                        </p>
                                        <p>
                                            Thank you!<br/>
                                            Mary Smith
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            }
        </div>
    </div>
</div>
@section scripts
{
    @ViewExtensions2.CkEditor()
    @Fingerprint.Script("/Content/touchpoint/lib/bootstrap-tabdrop/js/bootstrap-tabdrop.js")
    @Fingerprint.Script("/Content/touchpoint/lib/bootstrap-tabdrop/js/extensions_bootstrap-tabdrop.js")
    @Fingerprint.Script("/Content/touchpoint/js/support/Support2.js")
}
