@using CmsWeb.Models
@model IEnumerable<RecurringManagment>

@{
    ViewBag.Title = "Pushpay Recurring Giving";
    ViewBag.PageHeader = "Pushpay Recurring Giving";
    Layout = ViewExtensions2.TouchPointLayout();
}
<div class="box box-responsive">
    <div class="box-content">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Next Date</th>
                        <th>Amount</th>
                        <th>Repeats</th>
                        <th>Fund</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var rg in Model)
                    {
                        <tr>
                            <td>@rg.NextPayment</td>
                            <td>@rg.Amount</td>
                            <td>@rg.Frequency</td>
                            <td>@rg.Fund</td>
                            <td>
                                <a class="btn btn-sm btn-primary" target="_blank" href="@rg.LinkToEdit"><i class="fa fa-pencil"></i>&ensp;Edit</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="box-content">
        <a class="btn btn-sm btn-success" target="_blank" href="/Pushpay/NewRecurringGiving/@ViewBag.PeopleId/@ViewBag.OrgId"><i class="fa fa-plus-circle"></i>&ensp;Create New Recurring Giving</a>
    </div>
</div>
