@model CmsWeb.Areas.People.Models.Person.BasicPersonInfo
<form class="form form-horizontal ajax span12" method="post">
    @FormAction()
    <div class="row-fluid">
        <div class="span6">
            @Html.HiddenFor(m => m.PeopleId)
            @Html.EditorFor(m => m.TitleCode)
            @Html.EditorFor(m => m.FirstName)
            @Html.EditorFor(m => m.GoesBy)
            @Html.EditorFor(m => m.MiddleName)
            @Html.EditorFor(m => m.LastName)
            @Html.EditorFor(m => m.AltName)
            @Html.EditorFor(m => m.MaidenName)
            @Html.EditorFor(m => m.SuffixCode)
        </div>
        <div class="span6 column2">
            @Html.EditorFor(m => m.Gender)
            @Html.EditorFor(m => m.DOB)
            @Html.EditorFor(m => m.MaritalStatus)
            @Html.EditorFor(m => m.WeddingDate)
            @Html.EditorFor(m => m.OccupationOther, "Typeahead", new { link = "/Person2/Occupations" })
            @Html.EditorFor(m => m.EmployerOther, "Typeahead", new { link = "/Person2/Employers" })
            @Html.EditorFor(m => m.SchoolOther, "Typeahead", new { link = "/Person2/Schools" })
            @Html.EditorFor(m => m.Grade)
        </div>
    </div>
    <hr/>
    <div class="row-fluid">
        <div class="span6">
            @Html.EditorFor(m => m.EmailAddress)
            @Html.EditorFor(m => m.EmailAddress2)
            @Html.EditorFor(m => m, "DoNotContact")
        </div>
        <div class="span6 column2">
            @Html.EditorFor(m => m.CellPhone)
            @Html.EditorFor(m => m.WorkPhone)
            @Html.EditorFor(m => m.HomePhone)
        </div>
    </div>
    @FormAction()
</form>

@helper FormAction()
{
    <div class="form-actions">
        <span class="pull-right">
            <a href="/Person2/PersonalDisplay/@Model.PeopleId" class="btn ajax">Cancel</a>
            <a href="/Person2/PersonalUpdate/@Model.PeopleId" class="btn btn-primary ajax">Save Changes</a>
        </span>
    </div>
}