@using CmsData.Codes
@model CmsWeb.Areas.Involvement.Models.InvolvementPeopleModel
<div class="btn-group">
    @GroupButton(InvolvementGroupSelectCode.TicketBuyer, "Ticket Buyers", false)
    <span id="totalcount" class="badge">@Model.Count().ToString("N0")</span>
    &nbsp;
</div>
@if (!Model.HidePreviousButton)
{
    @GroupButton(InvolvementGroupSelectCode.Previous, "Previous", true)
    <span id="totalcount" class="badge">@Model.Count().ToString("N0")</span>
}

@helper GroupButton(string group, string name, bool showdrop)
{
    if (!Model.GroupNeedsMenu(group))
    {
        <button class="btn btn-default grp @Model.GroupActive(group)" value="@group">@name</button>
    return;
}
//var showdrop = Model.Showdrop(group);
    <div class="btn-group">
        <button class="btn btn-default grp @Model.GroupActive(group)" value="@group">@name</button>
        <button class="btn btn-info dropdown-toggle @(showdrop ? "" : "hide")" data-toggle="dropdown"><span class="caret"></span></button>
        @switch (showdrop ? group : "")
        {
            case InvolvementGroupSelectCode.TicketBuyer:
                break;
            case InvolvementGroupSelectCode.Previous:
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="/AddToOrgFromTag/@Model.QueryId" class="longrunop" title="Add Previous Members From Tag"><i class="fa fa-tag"></i>&nbsp;&nbsp;Select Multiple</a></li>
                </ul>
                break;
        }
    </div>
}
