@using CmsData.Codes
@model CmsWeb.Areas.Org.Models.OrganizationModel
<div class="btn-group">
    <span class="badge">@Model.Count().ToString("N0")</span>

    @GroupButton(InvolvementGroupSelectCode.TicketBuyer, "Ticket Buyers")
</div>
@if (!Model.HidePreviousButton)
{
    @GroupButton(InvolvementGroupSelectCode.Previous, "Previous")
}

@helper GroupButton(string group, string name)
{
<div class="btn-group">
    @switch (group)
    {
        case InvolvementGroupSelectCode.TicketBuyer:
            <button class="btn btn-default grp @Model.GroupActive(group)" value="@group">
                @name &nbsp;
            </button>

            break;
        case InvolvementGroupSelectCode.Previous:
            <button class="btn btn-default grp @Model.GroupActive(group)" value="@group">
                @name &nbsp;
            </button>
            <button class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>

            <ul class="dropdown-menu dropdown-menu-right">
                <li><a id="multigroup" href="#" class="grp2 @Model.MultiSelectActive">Select Multiple</a>
            </ul>
            break;
    }
</div>
}
