@model CmsWeb.Areas.Dialog.Models.OrgMemberModel
@{
  var developer = User.IsInRole("Developer");
}
<div class="modal-dialog">
  <div class="modal-content">
    @Html.HiddenFor(m => m.OrgId)
    @Html.HiddenFor(m => m.PeopleId)
    @Html.HiddenFor(m => m.Group)
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4>@Model.OrgName</h4>
      <strong>@Model.Name</strong>
    </div>
    <div class="modal-body">
      <div class="tabbable group">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#memberdata" data-toggle="tab">Member Data</a>
          </li>
          <li>
            <a href="#membergroups" data-toggle="tab">Groups</a>
          </li>
          <li>
            <a href="#regquestions" data-toggle="tab">Questions</a>
          </li>
          <li>
            <a href="#membernotes" data-toggle="tab">Notes</a>
          </li>
          @if (developer)
          {
            <li>
              <a href="#memberextrastab" data-toggle="tab" class="tabajax">Extra Values</a>
            </li>
          }
        </ul>
        <div class="tab-content">
          @Html.Partial("Tabs/MemberData", Model)
          <div class="tab-pane" id="membergroups">
            @Html.Partial("Tabs/Groups", Model)
          </div>
          @Html.Partial("Tabs/Questions", Model)
          @Html.Partial("Tabs/Notes", Model)
          @if (developer)
          {
            <div class="tab-pane" id="memberextrastab"
                 data-init="Editable"
                 data-init2="ExtraEditable"
                 data-link="/OrgMemberDialog/ExtraValues/@Model.OrgId/@Model.PeopleId">
            </div>
          }
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
    </div>
  </div>
</div>