@using CmsData
@using UtilityExtensions
@model CmsWeb.Areas.Dialog.Models.OrgMemberModel
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
      <h4>@Model.Name</h4>
      <strong>@Model.OrgName</strong>
    </div>
    <div class="modal-body">
      <a href="/TransactionHistory/@Model.PeopleId/@Model.OrgId" target="_blank"
         style="font-family: Courier New">
        Attendance
      </a>: @Model.AttendStr
      @Html.HiddenFor(m => m.OrgId)
      @Html.HiddenFor(m => m.PeopleId)
      @Html.HiddenFor(m => m.Group)

      @Html.EditorFor(m => m.MemberType)
      @if (User.IsInRole("Edit"))
      {
          @Html.EditorFor(m => m.InactiveDate)
          @Html.EditorFor(m => m.EnrollmentDate, "DateAndTime")
          @Html.EditorFor(m => m.Pending)
          if (Model.RegisterEmail.HasValue())
          {
              @Html.EditorFor(m => m.RegisterEmail)
          }
          if (Model.Setting.AskVisible("AskRequest"))
          {
              @Html.EditorFor(m => m.Request)
          }
          if (Model.Grade.HasValue)
          {
              @Html.EditorFor(m => m.Grade)
          }
          if (Model.Setting.AskVisible("AskTickets"))
          {
              @Html.EditorFor(m => m.Tickets)
          }
          if (Model.Setting.AskVisible("AskSize"))
          {
              @Html.EditorFor(m => m.ShirtSize)
          }
          if (User.IsInRole("Developer"))
          {
              @Html.EditorFor(m => m.TranId)
          }
          else
          {
              @Html.HiddenFor(m => m.TranId)
          }
          @Html.EditorFor(m => m.UserData, "TextArea")
      }
      else
      {
          @Html.HiddenFor(m => m.InactiveDate)
          @Html.HiddenFor(m => m.EnrollmentDate, "DateAndTime")
          @Html.HiddenFor(m => m.Pending)
          if (Model.RegisterEmail.HasValue())
          {
            @Html.HiddenFor(m => m.RegisterEmail)
          }
          if (Model.Setting.AskVisible("AskRequest"))
          {
            @Html.HiddenFor(m => m.Request)
          }
          if (Model.Grade.HasValue)
          {
            @Html.HiddenFor(m => m.Grade)
          }
          if (Model.Setting.AskVisible("AskTickets"))
          {
            @Html.HiddenFor(m => m.Tickets)
          }
          if (Model.Setting.AskVisible("AskSize"))
          {
            @Html.HiddenFor(m => m.ShirtSize)
          }
          if (User.IsInRole("Developer"))
          {
            @Html.HiddenFor(m => m.TranId)
          }
          else
          {
            @Html.HiddenFor(m => m.TranId)
          }
          @Html.HiddenFor(m => m.UserData, "TextArea")
      }
    </div>
    <div class="modal-footer">
      <a href="/OrgMemberDialog/Display" class="btn btn-default ajax">Cancel</a>
      <a href="/OrgMemberDialog/Update" class="btn btn-primary ajax validate">Save</a>
    </div>
  </div>
</div>