@using UtilityExtensions
@using CmsWeb
@model CmsData.OrganizationMember
@{
    var sglist = (from mt in Model.Organization.MemberTags
        let cnt = mt.OrgMemMemTags.Count()
        orderby mt.Name
        select new {mt, cnt}).ToList();
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>Index</title>
    @Fingerprint.Css("/content/styles/jquery-ui-1.10.0.custom.css")
    @(ViewExtensions2.UseNewLook() ? Fingerprint.Css("/content/styles/siteblue.css") : Fingerprint.Css("/content/styles/site.css"))
    @Fingerprint.Css("/content/bundle.stylecss.css")
    @ViewExtensions2.jQuery()
    @ViewExtensions2.jQueryUI()
    @Fingerprint.Script("/Scripts/bundle.main.js")
    @Html.Partial("DatePickerDefaults")
    @Fingerprint.Script("/Scripts/Dialog/OrgMemberDialog.js")
<style type="text/css">
.bt { font-size: 8pt; }
body { margin: 1px; }
</style>
</head>

<body>

@{ string comboid = "-" + Model.OrganizationId + "-" + Model.PeopleId; }
@Html.Hidden("from")
    <div class="roundbox">
        <h2>@Model.Person.Name</h2>
        <a class="helplink" target="_blank" href='@Util.HelpLink("UpdateOrgMember")'>help</a>
        <table cellspacing="5">
            <tr>
                <td colspan="3"><a href="/TransactionHistory/Index/@Model.PeopleId?oid=@Model.OrganizationId" 
                                   target="_blank" style="font-family: Courier New">Attendance</a>: @Model.AttendStr
                </td>
            </tr>
            <tr>
                <td class="top">
                    <form class="DisplayEdit" action="/OrgMemberDialog/Update/@Model.OrganizationId&pid=@Model.PeopleId" method="post">
                        @Html.Partial("Display", Model) 
                    </form>
                </td>
                <td></td>
                <td class="top">
                    <div style="border: solid 1px #555; padding:1em">
                        <strong>Groups:</strong><br />
                        <table>
                            @foreach (var mti in sglist)
                            { 
                                <tr><td><input id="smallgroup@(comboid)-@mti.mt.Id" class="ckbox" type="checkbox" @(Model.OrgMemMemTags.Any(omt => omt.MemberTagId == mti.mt.Id) ? "checked='checked'" : "") /></td>
                                    <td>@mti.mt.Name (@mti.cnt)</td></tr>
                            }
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>

