@using UtilityExtensions
@model CmsWeb.Areas.Org.Models.OrgMemberMoveModel
<div class="modal-header">
    <a class="close" data-dismiss="modal">x</a>
    <h4>@Model.OrgName</h4>
    <h5>Moving @Model.Name</h5>
</div>
<div class="modal-body" data-target="/OrgMemberDialog2/MoveResults">
    @Html.HiddenFor2(m => m.Page)
    @Html.HiddenFor(m => m.OrgId)
    @Html.HiddenFor(m => m.PeopleId)
    @Html.TextBox("OrgSearch")
    <a id="orgsearchbtn" href="#" class="btn ajax">Search for Organization</a>
    <a class="helplink pull-right" target="_blank" href='@Util.HelpLink("MoveOrgMember")'>help</a>
    <div class="alert alert-info margin-top">Click a Name below to Select an Organization to Move to</div>
    @if (Model.Count() > 10)
    {
        <div class="pagination pagination-mini">
            @Html.Partial("Pager3", Model)
        </div>
    }
    @foreach (var o in Model.ViewList())
    {
        <div><a class="movemember" title="@o.Tip" href="/OrgMemberDialog2/MoveSelect/@o.FromOrgId/@o.PeopleId/@o.ToOrgId">@o.OrgName</a></div>
        <div class="pad-left"><i>@Html.Raw(o.Tip)</i></div>
    }
    <div class="pagination pagination-mini">
        @Html.Partial("Pager3", Model)
    </div>
</div>
<div class="modal-footer">
    <a href="/OrgMemberDialog2/Display/@Model.OrgId/@Model.PeopleId" class="btn ajax">Cancel Move</a>
</div>
