@using CmsWeb
@using UtilityExtensions
@model CmsWeb.Areas.Org.Models.MemberDirectoryModel
<div id="results">
    @Html.Partial("PagerTop", Model)
    <div class="table-responsive">
        <table id="results-table" class="table table-striped">
            <thead>
               <tr>
                    <th><a href="#" class="sortable">Family</a></th>
                    <th>Name</th>
                    <th><a href="#" class="sortable">Birthday</a></th>
                    <th>Address</th>
                    <th>Phones</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var fid = 0;
                }
                @foreach (var m in Model.MemberList())
                {
                    if (fid != m.FamilyId)
                    {
                        fid = m.FamilyId;
                    }

                    <tr>
                        <td>@m.Family</td>
                        <td>@(m.Name + (m.Suffix.HasValue() ? ", " + m.Suffix : ""))</td>
                        <td>@m.Birthday</td>
                        <td>
                            @Model.AddDiv(m.Address)
                            @Model.AddDiv(m.Address2)
                            @Model.AddDiv(m.CityStateZip)
                        </td>
                        <td>
                            @if (m.DoNotPublishPhones != true)
                            {
                                @Model.AddDiv(m.Home)
                                @Model.AddDiv(m.Cell)
                            }
                        </td>
                        <td>
                            @Model.AddEmailDiv(m.Email)
                            @Model.AddEmailDiv(m.Email2)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @Html.Partial("PagerBottom", Model)
    @Html.Hidden("totcnt", Model.Count().ToString("N0"))
    @Html.Hidden("Page", Model.Page)
    @Html.Hidden("Sort", Model.Sort)
    @Html.Hidden("Direction", Model.Direction)
</div>

