@model CmsWeb.Areas.People.Models.DuplicatesModel
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Nick Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Maiden Name</th>
                <th>Birthday</th>
                <th>Email<br />Member Status</th>
                <th>Family Address<br />Personal Address</th>
            </tr>
        </thead>
        <tbody>
            @{
                var dups = Model.person.PossibleDuplicates().ToList();
                var list = Model.person.PossibleDuplicates2().ToList();
            }
            <tr class="info"><td colspan="8"><span style="font-weight:600">This person</span></td></tr>
            @Html.Partial("System/DuplicateRow", list[0])
            @if (dups.Any())
            {
                <tr class="info"><td colspan="8"><span style="font-weight:600">Last and 3 of (first, email, birthday, phone, address)</span></td></tr>
                foreach (var d in Model.person.PossibleDuplicates())
                {
                    @Html.Partial("System/DuplicateRow", d)
                }
            }
            @if (list.Any(d => d.S1 == true))
            {
                <tr class="info"><td colspan="8"><span style="font-weight:600">First and partial birthday</span></td></tr>
                foreach (var d in list.Where(d => d.S1 == true))
                {
                    @Html.Partial("System/DuplicateRow", d)
                }
            }
            @if (list.Any(d => d.S2 == true))
            {
                <tr class="info"><td colspan="8"><span style="font-weight:600">First and birthday</span></td></tr>
                foreach (var d in list.Where(d => d.S2 == true))
                {
                    @Html.Partial("System/DuplicateRow", d)
                }
            }
            @if (list.Any(d => d.S3 == true))
            {
                <tr class="info"><td colspan="8"><span style="font-weight:600">First and last and no birthday</span></td></tr>
                foreach (var d in list.Where(d => d.S3 == true))
                {
                    @Html.Partial("System/DuplicateRow", d)
                }
            }
            @if (list.Any(d => d.S4 == true))
            {
                <tr class="info"><td colspan="8"><span style="font-weight:600">First and address</span></td></tr>
                foreach (var d in list.Where(d => d.S4 == true))
                {
                    @Html.Partial("System/DuplicateRow", d)
                }
            }
            @if (list.Any(d => d.S5 == true))
            {
                <tr class="info"><td colspan="8"><span style="font-weight:600">First and email</span></td></tr>
                foreach (var d in list.Where(d => d.S5 == true))
                {
                    @Html.Partial("System/DuplicateRow", d)
                }
            }
            @if (list.Any(d => d.S6 == true))
            {
                <tr class="info"><td colspan="8"><span style="font-weight:600">Last and birthday</span></td></tr>
                foreach (var d in list.Where(d => d.S6 == true))
                {
                    @Html.Partial("System/DuplicateRow", d)
                }
            }
        </tbody>
    </table>
</div>