@using CmsData
@using CmsData.View
@model CmsWeb.Areas.People.Models.DuplicatesModel
@{
    var list = DbUtil.Db.PotentialDups(Model.person.PeopleId).ToList();
}
@helper Section(List<PotentialDup> list, string description)
{
    if (list.Any())
    {
        <tr class="info">
            <td colspan="8">
                <span style="font-weight: 600">@description</span>
            </td>
        </tr>
        foreach (var d in list)
        {
            @Html.Partial("System/PotentialDup", d)
        }
    }
}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Nick Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Maiden Name</th>
                <th>Birthday</th>
                <th>Email<br />Member Status</th>
                <th>Family Address<br />Personal Address</th>
            </tr>
        </thead>
        <tbody>
            @Section(Model.MatchThis, "This person")
            @Section(list.Where(d => d.S0 == true).ToList(), "Last and 3 of (first, email, birthday, phone, address)")
            @Section(list.Where(d => d.S1 == true).ToList(), "First and partial birthday")
            @Section(list.Where(d => d.S2 == true).ToList(), "First and birthday")
            @Section(list.Where(d => d.S3 == true).ToList(), "First and last and no birthday")
            @Section(list.Where(d => d.S4 == true).ToList(), "First and street name")
            @Section(list.Where(d => d.S5 == true).ToList(), "First and email")
            @Section(list.Where(d => d.S6 == true).ToList(), "Last and birthday")
        </tbody>
    </table>
</div>
