@using CmsData
@using UtilityExtensions
@model CmsData.View.OnlineRegMatch
<tr>
    <td><a href="/Person2/@Model.PeopleId">@Model.First</a></td>
    <td>@Model.Nick</td>
    <td>@Model.Middle</td>
    <td>@Model.Last</td>
    <td>@Model.Maiden</td>
    <td>@Person.FormatBirthday(Model.BYear, Model.BMon, Model.BDay, Model.PeopleId)</td>
    <td>@Model.Email<br/>@Model.Member</td>
    <td>--</td>
</tr>

