@model IEnumerable<CmsData.MergeHistory>
<form class="non-modal ajax" method="post">
    @FormAction()
    <table class="table table-striped">
        <thead>
            <tr>
                <th>When</th>
                <th>Who</th>
                <th>From Person</th>
                <th>To Person</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in Model)
            {
                <tr>
                    <td>@c.Dt.ToString("g")</td>
                    <td><a href="/Person2/@c.WhoId"></a>@c.WhoName</td>
                    <td>@c.FromName (@c.FromId)</td>
                    <td><a href="/Person2/@c.ToId"></a>@c.ToName</td>
                    <td>@c.Action</td>
                </tr>
            }
        </tbody>
    </table>
    @FormAction(true)
</form>
@helper FormAction(bool xs = false)
{
    if (xs)
    {
        <div class="visible-xs-block">
            <a href="#" class="ajax-refresh btn btn-default btn-block"><i class="fa fa-refresh"></i> Refresh</a>
        </div>
    }
    else
    {
        <div class="row hidden-xs">
            <div class="col-sm-12">
                <div class="pull-right">
                    <a href="#" class="ajax-refresh btn btn-default"><i class="fa fa-refresh"></i> Refresh</a>
                </div>
            </div>
        </div>
    }
}