@model IEnumerable<CmsData.User>
<form class="ajax" method="post">
    @FormAction()
    <h4>Manage Users</h4>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Roles</th>
                    <th style="width: 50px;">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var u in Model)
                {
                    <tr>
                        <td class="nowrap">
                            @if ((User.IsInRole("Admin") && !u.InRole("Developer")) || User.IsInRole("Developer"))
                            {
                                <a class="ajax" href="/Person2/UserEdit/@u.UserId"><span>@u.Username</span></a>
                            }
                            else
                            {
                                @u.Username
                            }
                        </td>
                        <td>@string.Join(", ", u.Roles)</td>
                        <td style="width: 50px;">
                            @if ((User.IsInRole("Admin") && !u.InRole("Developer")) || User.IsInRole("Developer"))
                            {
                                <a class="ajax btn btn-default btn-sm" href="/Person2/UserEdit/@u.UserId"><i class="fa fa-pencil"></i> Edit</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @FormAction(true)
</form>
@helper FormAction(bool xs = false)
{
    if (User.IsInRole("Admin"))
    {
        if (xs)
        {
            <div class="visible-xs-block">
                <a class="ajax btn btn-success btn-block" href="/Person2/UserEdit"><i class="fa fa-plus-circle"></i> Add User</a>
            </div>
        }
        else
        {
            <div class="row hidden-xs">
                <div class="col-sm-12">
                    <div class="pull-right">
                        <a class="ajax btn btn-success" href="/Person2/UserEdit"><i class="fa fa-plus-circle"></i> Add User</a>
                    </div>
                </div>
            </div>
        }
    }

}