@using CmsData
@using UtilityExtensions
@using roles = CmsData.User
@model roles

<form class="ajax" autocomplete="off">
    <div class="row">
        <div class="col-sm-7">
            <h4>Manage User @Model.Username</h4>
        </div>
        <div class="col-sm-5">
            @FormAction()
        </div>
    </div>
    <input style="display:none" type="text" name="fakeusernameremembered" />
    <input style="display:none" type="password" name="fakepasswordremembered" />
    @if (ViewBag.ErrorMsg != null)
    {
        <div class="alert alert-danger">@ViewBag.ErrorMsg</div>
    }
    <div class="well">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="form-group">
                    <label class="control-label" for="u">User Name</label>
                    <div class="controls">
                        <input type="text" id="u" name="u" value="@Model.Username" class="form-control" />
                        @Html.Editor("sendwelcome", new { label = "Send welcome email?" })
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="form-group">
                    <label class="control-label" for="p">Password</label>
                    <div class="controls">
                        <input type="password" id="p" name="p" value="" class="form-control" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-9">
            <h4>Roles</h4>
        </div>
        <div class="col-xs-3">
            <div class="pull-right">
                <a href="https://docs.touchpointsoftware.com/Administration/Roles_Index.html" target="_blank" class="btn btn-default"><i class="fa fa-question-circle"></i> Help</a>
            </div>
        </div>
    </div>
    <div class="well" id="role-list">
        <label class="checkbox-inline control-label">
            <input name="myDataUserRole" id="myDataUserRole" value="myDataUserRole" type="checkbox" @(!Model.Roles.Any() ? "checked='checked'" : "") /> MyData
        </label>
        <br/><br/>
        <strong>Basic Level 1</strong>
        <div class="row">
            <div class="col-sm-12">
                @foreach (var role in roles.BasicLevel1)
                {
                    @Role(role)
                }
            </div>
        </div>
        <br/>
        <strong>Basic Level 2</strong>
        <div class="row">
            <div class="col-sm-12">
                @foreach (var role in roles.BasicLevel2)
                {
                    @Role(role)
                }
            </div>
        </div>
        <br/>
        <strong>Special Purpose</strong>
        <div class="row">
            <div class="col-sm-12">
                @foreach (var role in roles.SpecialPurpose.Where(r => r != "OrgLeadersOnly"))
                {
                    @Role(role)
                }
                @if (roles.SpecialPurpose.Contains("OrgLeadersOnly"))
                {
                    if (!Model.CanAssign(DbUtil.Db, "OrgLeadersOnly"))
                    {
                        if (Model.Roles.Contains("OrgLeadersOnly"))
                        {
                            <input name="role" value="OrgLeadersOnly" class="ckbox" type="hidden" checked='checked' />
                        }
                    }
                    else
                    {
                        <div class="checkbox">
                            <label class="control-label bg-warning" style="padding-top: 5px; padding-bottom: 5px; padding-right: 5px; padding-left: 25px; border: solid 1px #faebcc;">
                                <input name="role" value="OrgLeadersOnly" class="ckbox" type="checkbox" @(Model.Roles.Any(ro => ro == "OrgLeadersOnly") ? "checked='checked'" : "") /> <span class="text-warning">OrgLeadersOnly (limiting role)</span>
                            </label>
                        </div>
                    }
                }
            </div>
        </div>
        <strong>Financial</strong>
        <div class="row">
            <div class="col-sm-12">
                @foreach (var role in roles.Financial)
                {
                    @Role(role)
                }
            </div>
        </div>
        <br />
        <strong>Advanced Roles</strong>
        <div class="row">
            <div class="col-sm-12">
                @foreach (var role in roles.Advanced)
                {
                    @Role(role)
                }
            </div>
        </div>
        <br />
        <strong>Custom</strong>
        <div class="row">
            <div class="col-sm-12">
                @foreach (var role in roles.CustomRoles(DbUtil.Db))
                {
                    @Role(role)
                }
            </div>
        </div>
    </div>
    <p class="record_added muted">
        <small>
            User created @Model.CreationDate.FormatDateTm()
        </small>
    </p>
    @FormAction(true)
</form>
@helper Role(string role)
{
  if (!Model.CanAssign(DbUtil.Db, role))
  {
    if (Model.Roles.Contains(@role))
    {
      <input name="role" value="@role" class="ckbox" type="hidden" checked='checked' />
    }
    return;
  }
  <label class="checkbox-inline control-label">
    <input name="role" value="@role" class="ckbox" type="checkbox" @(Model.Roles.Any(ro => ro == role) ? "checked='checked'" : "") /> @role
  </label>
}
@helper FormAction(bool xs = false)
{
    if (xs)
    {
        <div class="visible-xs-block">
            <a href="/Person2/UserUpdate/@Model.UserId" class="validate ajax btn btn-primary btn-block">Save</a>
            <div class="btn-group btn-block">
                <button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Actions <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right btn-block">
                    <li><a href="/Person2/UserUpdate/@Model.UserId" class="validate ajax"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;Save User Account</a></li>
                    <li><a href="/Person2/UserDelete/@Model.UserId" class="ajax" data-confirm="Are you sure you want to remove User @Model.Username?" data-confirm-type="warning" data-confirm-btn-class="btn-danger" data-confirm-btn-text="Yes, remove user!"><i class="fa fa-trash"></i>&nbsp;&nbsp;Delete User Account</a></li>
                    <li><a href="/Person2/Impersonate/@Model.UserId"><i class="fa fa-sign-in"></i>&nbsp;&nbsp;Impersonate User</a></li>
                    <li class="divider"></li>
                    <li><a class="ajax" href="/Person2/Users/@Model.PeopleId"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Back to List</a></li>
                </ul>
            </div> 
        </div>
    }
    else
    {
        <div class="pull-right hidden-xs">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Actions <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="/Person2/UserUpdate/@Model.UserId" class="validate ajax"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;Save User Account</a></li>
                    <li><a href="/Person2/UserDelete/@Model.UserId" class="ajax" data-confirm="Are you sure you want to remove User @Model.Username?" data-confirm-type="warning" data-confirm-btn-class="btn-danger" data-confirm-btn-text="Yes, remove user!"><i class="fa fa-trash"></i>&nbsp;&nbsp;Delete User Account</a></li>
                    <li><a href="/Person2/Impersonate/@Model.UserId"><i class="fa fa-sign-in"></i>&nbsp;&nbsp;Impersonate User</a></li>
                    <li class="divider"></li>
                    <li><a class="ajax" href="/Person2/Users/@Model.PeopleId"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Back to List</a></li>
                </ul>
            </div> <a href="/Person2/UserUpdate/@Model.UserId" class="validate ajax btn btn-primary">Save</a>
        </div>
    }
}
