@using CmsData
@model IEnumerable<User>
@{
    var mfaSystemEnabled = CmsWeb.Membership.MembershipService.IsTwoFactorAuthenticationEnabled(DbUtil.Db);
}
@helper Roles(User user)
{
    var roles = string.Join(", ", user.Roles);
    if (string.IsNullOrWhiteSpace(roles))
    {
        @:MyData User
    }
    else
    {
        @roles
    }
}
<form class="ajax" method="post">
    <div class="row">
        <div class="col-sm-6">
            <h4>Manage Users</h4>
        </div>
        <div class="col-sm-6">
            @FormAction()
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Username</th>
                    @if (mfaSystemEnabled)
                    {
                    <th>2FA</th>
                    }
                    <th>Roles</th>
                    <th style="width: 50px;">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var u in Model)
                {
                <tr>
                    <td class="nowrap">
                        @if ((User.IsInRole("Admin") && !u.InRole("Developer")) || User.IsInRole("Developer"))
                        {
                            <a class="ajax" href="/Person2/UserEdit/@u.UserId"><span>@u.Username</span></a>
                        }
                        else
                        {
                            @u.Username
                        }
                    </td>
                    @if (mfaSystemEnabled)
                    {
                        <td class="text-center">
                        @if (u.MFAEnabled)
                        {
                            <i class="fa fa-check"></i>
                        }
                        </td>
                    }
                    <td>@Roles(u)</td>
                    <td style="width: 50px;">
                        @if ((User.IsInRole("Admin") && !u.InRole("Developer")) || User.IsInRole("Developer"))
                        {
                            <a class="ajax btn btn-default btn-sm" href="/Person2/UserEdit/@u.UserId"><i class="fa fa-pencil"></i> Edit</a>
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    @FormAction(true)
</form>
@helper FormAction(bool xs = false)
{
    if (User.IsInRole("Admin"))
    {
        if (xs)
        {
            <div class="visible-xs-block">
                <a class="ajax btn btn-success btn-block" href="/Person2/UserEdit"><i class="fa fa-plus-circle"></i> Add User</a>
            </div>
        }
        else
        {
            <div class="pull-right hidden-xs">
                <a class="ajax btn btn-success" href="/Person2/UserEdit"><i class="fa fa-plus-circle"></i> Add User</a>
            </div>
        }
    }

}
