@model string
@{
    var help = ViewData["help"] as string;
    if (help.HasValue())
    {
        help = "<label class='help-inline'>{0}</label>".Fmt(help);
    }
}
<div class="control-group">
    @Html.LabelFor(m => m, new { @class="control-label"})
    <div class="controls">
        <div class="input-append date noparse" data-date="@Model" data-datepicker-format="@Util.jQueryDateFormat" data-datepicker-forceParse="false">
            @Html.TextBoxFor2(m => m, true)
            <span class="add-on"><i class="icon-calendar"></i></span>@Html.Raw(help)
        </div>
        @Html.ValidationMessageLabelFor(m => m)
    </div>
</div>
