@using UtilityExtensions
@model DateTime?
<div class="control-group @ViewBag.height33">
    @Html.LabelFor(m => m, new { @class = "control-label" })
    <div class="controls">
        <div class="input-append date" data-date="@Model.FormatDate()" data-date-format="@Util.jQueryDateFormat2" data-date-orientation="top">
            @Html.TextBoxFor2(m => m, 
                useNativeUnobtrusiveAttributes:true, 
                format: "{0:d}", 
                htmlAttributes:new { size="16" })<span class="add-on"><i class="icon-calendar"></i></span>
        </div>
        @Html.ValidationMessageLabelFor(m => m)
    </div>
</div>
