@using UtilityExtensions
@model DateTime?
@{
    var fmt = "{0:g}";
    var s = "";
    if (Model != null)
    {
        if (Model.Value.TimeOfDay.Ticks > 0)
        {
            s = Model.Value.FormatDateTm();
            fmt = "{0:g}";

        }
        else
        {
            s = Model.FormatDate();
        }
    }
}
<div class="control-group @ViewBag.height33 @ViewBag.hide">
    @Html.LabelFor(m => m, new { @class = "control-label" })
    <div class="controls">
      <div class="input-append date datetime" data-date='@Model.ToString2("g")'>
        @Html.TextBoxFor2(m => m,
                useNativeUnobtrusiveAttributes: true,
                format: @fmt,
                htmlAttributes: new { size = "16" })<span class="add-on"><i class="icon-th"></i></span>
      </div>
        @Html.ValidationMessageLabelFor(m => m)
    </div>
    @if (ViewBag.ShowHelp != false && ViewData.ModelMetadata.Description.HasValue())
    {
      <div class="alert alert-info maxWidthMedium margin-top">@Html.Markdown(ViewData.ModelMetadata.Description)</div>
    }
</div>
