@using UtilityExtensions
@model DateTime?
<div class="form-group @ViewBag.height33 @ViewBag.hide">
  @Html.LabelFor(m => m, new { @class = "control-label" })
  <div class="controls">
    <div class="input-group datetime" data-date="@Model.ToString2("g")">
      @Html.TextBoxFor(m => m, useNativeUnobtrusiveAttributes: false, format: "{0:g}", htmlAttributes: new { @class = "form-control" })
        <span class="input-group-addon hidden-xs hidden-sm"><i class="fa fa-calendar"></i></span>
    </div>
    @Html.ValidationMessageLabelFor(m => m)
    @if (ViewBag.ShowHelp != false && ViewData.ModelMetadata.Description.HasValue())
    {
        <div class="alert alert-info">@Html.Markdown(ViewData.ModelMetadata.Description)</div>
    }
  </div>
</div>
