@model int?
<div class="form-group @ViewBag.hide">
    @Html.LabelFor(m => m, new { @class = "control-label" })
    <div class="controls">
        @Html.TextBoxFor2(m => m, true, null, new { @class = "form-control" })
        <span class="help-block">@Html.Raw(ViewData["help"])</span>
        @Html.ValidationMessageLabelFor(m => m)
        @if (ViewBag.ShowHelp != false && ViewData.ModelMetadata.Description.HasValue())
        {
            <div class="alert alert-info">@Html.Markdown(ViewData.ModelMetadata.Description)</div>
        }
    </div>
</div>