@model int?
<div class="form-group @ViewBag.hide">
    @Html.LabelFor(m => m)
    @Html.TextBoxFor2(m => m, true, null, new { @class="form-control" })
    <span class="help-block">@Html.Raw(ViewData["help"])</span>
    @Html.ValidationMessageLabelFor(m => m)
</div>
