@model string
@{
  var cls = "form-control " + ViewBag.@class;
  var popup = (string)ViewBag.Popup;
}
<div class="form-group @ViewBag.hide">
  @if (popup.HasValue())
  {
  <a href="#" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-content="@popup">
    <i class="fa fa-info-circle"></i>
  </a>@:&nbsp;
  }
  @(ViewBag.label != null
      ? Html.Label(ViewBag.label as string, new {@class = "control-label"})
      : Html.LabelFor(m => m, new {@class = "control-label"}))
  <div class="controls">
    @Html.TextBoxFor2(m => m, true, null, new {@class = cls})
    <span class="help-block">@Html.Raw(ViewBag.help)</span>
    @Html.ValidationMessageLabelFor(m => m)
    @if (ViewBag.ShowHelp != false && ViewData.ModelMetadata.Description.HasValue())
    {
      <div class="alert alert-info">@Html.Markdown(ViewData.ModelMetadata.Description)</div>
    }
  </div>
</div>