@model CmsWeb.Models.ExtraValues.Value
@if (Model.UserCanView(DbUtil.Db))
{
  <tr>
    @if (Model.Type == "Header")
    {
      <td colspan="3"><h4>@Html.Raw(Model.Name)</h4></td>
    }
    else if (Model.Type == "Link")
    {
      <td style="width: 450px;"><span class="pad-left">@Model.DisplayName</span></td>
      <td>@Model.HyperLink()</td>
      <td style="width: 50px;"></td>
    }
    else
    {
      <td style="width: 450px;"><span class="pad-left">@Model.DisplayName</span></td>
      if (Model.UserCanEdit())
      {
        var dv = Model.DataValue;
        var ds = Model.DataSource;
        <td>
          <a href="#" data-pk="@Model.PrimaryKey"
             data-name="@Model.DataName"
             class="@Model.EditableClass"
             style="white-space: pre-line;"
             data-url="@Model.EditUrl"
             @if (Model.Type == "Date") { <text> data-showbuttons="false" data-savenochange="true" </text>  }
             @if (dv.HasValue()) { <text> data-value="@dv" </text>  }
             @if (ds.HasValue()) { <text> data-source="@ds" </text>  }>@Html.Raw(Model)</a>
          </td>
      }
      else if(Model.Type == "Attr")
      {
        <td><a href="/Person/Attributes/@Model.DataName/@Model.PrimaryKey" target="Attributes">Attributes</a></td>
      }
      else
      {
        <td>@Html.Raw(Model)</td>
      }
      if (Model.UserCanEdit())
      {
        var verb = Model.Standard ? "Clear" : "Delete";
        <td style="width: 50px;">
          <a href="@Model.DeleteUrl" 
             class="ajax btn btn-danger btn-xs"
             data-confirm="Are you sure?"
             data-confirm-type="warning"
             data-confirm-btn-class="btn-danger" 
             data-confirm-btn-text="Yes, @(verb)!">
            <i class="fa fa-trash"></i>
            @verb
          </a>
        </td>
      }
      else
      {
        <td style="width: 50px;"></td>
      }
    }
  </tr>
}
