@model CmsWeb.Areas.OnlineReg.Models.VolSubModel
@{
  Layout = "~/Views/Shared/onlinereg2.cshtml";
  ViewBag.Title = "Email Volunteer Subs";
}
@section scripts
{
  @Fingerprint.Script("/Content/touchpoint/js/Volunteer/ManageVolunteer.js")
  @ViewExtensions2.CkEditor()
  @Fingerprint.Script("/Content/touchpoint/js/Org/GetVolSub.js")
}
@section head
{
  <style type="text/css">
    .item {
      float: left;
      width: 13.3em;
      margin: 0 2em 0 0;
      border-right: 1px solid #eee;
      padding: 0 0 5px 0;
    }
  </style>
}
<h2>@Model.org.OrganizationName</h2>
<div>
</div>
<form id="sendthem" action="/OnlineReg/GetVolSub" method="post">
  @Html.Hidden("aid", Model.attend.AttendId)
  @Html.Hidden("pid", Model.attend.PeopleId)
  <input type="hidden" name="ticks" value="@Model.ticks" />
  <p>
    <label>Subject:</label>
    @Html.TextBox("subject", Model.subject, new { style = "width:90%" })
  </p>
  <p>
    <label>Body:</label>
    @Html.TextArea("message", Model.message, new { @class = "editor", rows = "7", cols = "15" })
  </p>
  <hr />
  <p>
      Group Filter: @Html.DropDownList("smallgroups", Model.SmallGroups())
  </p>
  <h4>Already Committed For This Meeting</h4>
  <div class="wrapper">
    @foreach (var p in Model.CommittedThisMeeting())
    {
      <div class="item @p.Groups">
        <input type="checkbox" disabled="disabled" />
        <span title="@p.EmailAddress">@p.Name2</span>
      </div>
    }
  </div>
  <div style="clear: both"></div>
  <h4>
    <input id="selectallsame" type="checkbox" />
    Select All Who Have Same Schedule On Other Weeks
  </h4>
  <div id="allsame" class="wrapper">
    @foreach (var p in Model.ThisSchedule())
    {
      <div class="item @p.Groups">
        <input type="checkbox" name="pids" value="@p.PeopleId" />
        <span title="@p.EmailAddress">@p.Name2</span>
      </div>
    }
  </div>
  <div style="clear: both"></div>
  <h4>
    <input id="selectallothers" type="checkbox" />
    Select All Who Have Different Schedule
  </h4>
  <div id="allothers" class="wrapper">
    @foreach (var p in Model.OtherVolunteers())
    {
      <div class="item @p.Groups">
        <input type="checkbox" name="pids" value="@p.PeopleId" />
        <span title="@p.EmailAddress">@p.Name2</span>
      </div>
    }
  </div>
  <div style="clear: both"></div>
  <hr />
  <input id="submitit" type="button" value="Send Emails"/>
  <span id="sending" style="display:none"><em>Sending, Please Wait...</em></span>
</form>