@using CmsWeb.Areas.OnlineReg.Models
@model OnlineRegModel
@{
  Layout = "~/Views/Shared/onlinereg2.cshtml";
  ViewBag.Title = "Login";
  var action = $"/OnePageGiving/Login/{@Model.Orgid}{(Model.testing == true ? "?testing=true" : "")}";
  Model.ShowLoginInstructions = true;
}
<div class="regform">
    <form id="completeReg" class="DisplayEdit form-horizontal" action="@action" method="post">
        <h4>@Model.Header</h4>
        <div class="login-error">
            @Html.DivValidationMessage("loginerror")
        </div>
        <div class="login-panel">
            <div class="form-group">
                @Html.TextBoxFor(m => m.username, new {@class = "form-control input-lg", placeholder = "username or email"})
            </div>
            <div class="form-group signin-password">
                @Html.PasswordFor(m => m.password, new {@class = "form-control input-lg", placeholder = "password"})
                <a href="/Account/ForgotPassword/" class="forgot">Forgot?</a>
            </div>
            <div class="form-group">
                <input type="submit" id="submitit" value="Sign In" class="btn btn-primary btn-block btn-lg">
            </div>
        </div>
        <div class="signin-with">
            <div class="header">don't want to login? <a href="/OnePageGiving/@Model.Orgid">continue as guest</a></div>
        </div>
    </form>
</div>
@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('input:text').first().focus();
        });
    </script>

}
