@using CmsData
@using CmsWeb
@model CmsWeb.Areas.Org.Models.MissionTripEmailer
@{
  ViewBag.Title = "Mission Trip Emailer";
  ViewBag.PageHeader = "Compose Email";
  Layout = ViewExtensions2.TouchPointLayout();
}
<div class="row">
  <div class="col-md-push-9 col-md-3 col-lg-push-8 col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          Find Supporters
        </h4>
      </div>
      <div class="panel-body">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
          @Html.TextBox("supportsearch", "", new { @class = "form-control", autocomplete = "off" })
        </div>
        <span class="help-block">Enter a 10 digit phone number or an email address, then select your recipient to add them to the supporter list below.</span>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          Recipients
        </h4>
      </div>
      <div class="panel-body">
        <div class="alert alert-info">
          Click the edit button to allow you to customize the greeting, change the send status, and remove a supporter.
        </div>
        <form id="recipients">
          @Html.Partial("Supporters", Model)
        </form>
        <a id="edit-supporters" href="/MissionTripEmail2/SupportersEdit/@Model.PeopleId" class="btn btn-default">Edit</a>
        <span id="editing" style="display:none;">
          <a id="cancel-editing" href="/MissionTripEmail2/Supporters/@Model.PeopleId" class="btn btn-default">Cancel</a>
          <a id="done-editing" href="/MissionTripEmail2/SupportersUpdate" class="btn btn-primary">Save</a>
        </span>
      </div>
    </div>
  </div>
  <div class="col-md-pull-3 col-md-9 col-lg-pull-4 col-lg-8">
    <div class="box box-responsive">
      <div class="box-content">
        <form class="form-horizontal" id="SendEmail" method="post">
          @Html.Hidden("PeopleId")
          @Html.Hidden("OrgId")
          @Html.Hidden("Body")
          <div class="form-group">
            @Html.LabelFor(m => m.Subject, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10 controls">
              @Html.TextBoxFor(m => m.Subject, "", new { @class = "form-control" })
              @Html.ValidationMessageLabelFor(m => m.Subject)
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <script type="text/javascript">
                function iframeLoaded() {
                  var iFrameID = document.getElementById('email-body');
                  if (iFrameID) {
                    // here you can make the height, I delete it first, then I make it again
                    iFrameID.height = "";
                    iFrameID.height = iFrameID.contentWindow.document.body.scrollHeight + 20 + "px";
                  }
                }
              </script>
              <iframe src="/MissionTripEmail2/EmailBody/@Model.OrgId/@Model.PeopleId" onload="iframeLoaded()" frameborder="0" style="width: 100%;" id="email-body" name="email-body"></iframe>
            </div>
          </div>
          <div class="form-group hidden-xs">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="pull-right">
                <a href="#" class="testsend btn btn-default">Send Test Email (To Me)</a>
                <button type="button" class="btn btn-primary send"><i class="fa fa-paper-plane"></i> Send</button>
              </div>
            </div>
          </div>
          <div class="visible-xs-block">
            <button type="button" class="btn btn-primary btn-block send"><i class="fa fa-paper-plane"></i> Send</button>
            <a href="#" class="testsend btn btn-default btn-block">Send Test Email (To Me)</a>
          </div>
          <br />
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="editor-modal" style="overflow-y: hidden !important;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <form>
          <textarea id="htmleditor" name="htmleditor" class="form-control" rows="15"></textarea>
        </form>
      </div>
      <div class="modal-footer">
        <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" />
        <input type="submit" value="Save" class="btn btn-primary" id="save-edit" />
      </div>
    </div>
  </div>
</div>
@section scripts
{
  @Fingerprint.Script("/Content/touchpoint/lib/twitter-typeahead/js/typeahead.js")
  @ViewExtensions2.CkEditor()
  @Fingerprint.Script("/Content/touchpoint/js/email/EmailSupporter.js")
}