@using CmsWeb.Areas.Org.Models
@model MissionTripEmailer
<div class="table-responsive">
    <table class="table table-condensed table-striped">
        <tbody>
            @foreach (var r in Model.GetRecipients())
            {
                <tr>
                    <td style="width: 10px;" @(r.Active ? "" : "class=notselected") @(r.Id == ViewBag.newid ? "class=newsupporter" : "")>
                        <input id="active-@r.Id" name="Active" type="checkbox" @(r.Active ? "checked=checked" : "") disabled="disabled" value="active" />
                    </td>
                    <td>
                        <a>@r.NameOrEmail</a> @(r.SenderAmt > 0 ? $" ({r.SenderAmt:C0})" : "")<br />
                        <span>@r.Salutation</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
