@using CmsWeb.Models
@model TagsModel
@{
    ViewBag.Title = "Tags";
    Layout = ViewExtensions2.TouchPointLayout();
}
@Html.Partial("Toolbar/Toolbar.touch")
<h2>Manage Tags</h2>
<form id="managetags" method="post" action="/Tags">
    <div class="well form-horizontal">
        <div class="form-group">
            <label for="tag" class="col-sm-3 col-md-2 col-lg-2 control-label">Change Active Tag:</label>
            <div class="col-sm-9 col-md-7 col-lg-6">
                <div class="row">
                    <div class="col-sm-9">
                        @Html.Partial("Tags")
                    </div>
                    <div class="col-sm-3">
                        <a id="delete" href="/Tags/Delete" confirm="are you sure?" class="btn btn-default">Delete Tag</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="tagname" class="col-sm-3 col-md-2 col-lg-2 control-label">New Tag Name:</label>
            <div class="col-sm-9 col-md-7 col-lg-6">
                @Html.TextBox("tagname", Model.tagname, new { title = "no colon characters", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9 col-md-offset-2 col-md-7 col-lg-offset-2 col-lg-6">
                <a id="ShareLink" href="/Tags/SharedTags" data-target="#usersDialog" class="btn btn-default">Shared with <span id="sharecount">@Model.SharedCount()</span> users</a>
                <a id="makenew" class="btn btn-default" href="#">Make New Tag</a>
                <a id="rename" class="btn btn-default" href="#">Rename Tag</a>
                <a id="refresh" class="btn btn-default" href="/Tags/Results">Refresh</a>
                <div>@Html.ValidationMessage("name")</div>
            </div>
        </div>
    </div>
    @Html.Partial("Results", Model)
</form>
@section scripts
{
    @Fingerprint.Script("/Content/touchpoint/js/dialog/search-users.js")
    @Fingerprint.Script("/Content/touchpoint/js/tags.js")
}