@using UtilityExtensions
@model CmsWeb.Areas.People.Models.BasicPersonInfo
<form class="ajax" method="post">
  @FormAction()
    <div class="row">
        <div class="col-sm-3">
            @Html.DisplayFor(m => m.TitleCode)
            @Html.DisplayFor(m => m.FirstName)
            @Html.DisplayFor(m => m.NickName)
            @Html.DisplayFor(m => m.MiddleName)
            @Html.DisplayFor(m => m.LastName)
            @Html.DisplayFor(m => m.AltName)
            @Html.DisplayFor(m => m.MaidenName)
            @Html.DisplayFor(m => m.SuffixCode)
        </div>
        <div class="col-sm-3">
            @Html.DisplayFor(m => m.Gender)
            @Html.DisplayFor(m => m.MaritalStatus)
            @Html.DisplayFor(m => m.DOB, "Birthday")
            @Html.DisplayFor(m => m.WeddingDate)
            @Html.DisplayFor(m => m.DeceasedDate, "DeceasedDate")
            @Html.DisplayFor(m => m.OccupationOther)
            @Html.DisplayFor(m => m.EmployerOther)
            @Html.DisplayFor(m => m.SchoolOther)
            @Html.DisplayFor(m => m.Grade)
        </div>
        <div class="col-sm-3">
            @Html.DisplayFor(m => m.EmailAddress)
            @Html.DisplayFor(m => m.EmailAddress2)
            @Html.DisplayFor(m => m.DoNotCallFlag, new { TrueValue = "No Calls", FalseValue = "N/A" })
            @Html.DisplayFor(m => m.DoNotMailFlag, new { TrueValue = "No Mail", FalseValue = "N/A" })
            @Html.DisplayFor(m => m.DoNotVisitFlag, new { TrueValue = "No Visit", FalseValue = "N/A" })
        </div>
        <div class="col-sm-3">
            @Html.DisplayFor(m => m.CellPhone)
            @Html.DisplayFor(m => m.WorkPhone)
            @Html.DisplayFor(m => m.HomePhone)
            @Html.DisplayFor(m => m.DoNotPublishPhones, new { TrueValue = "No Directories", FalseValue = "N/A" })
        </div>
    </div>
  @FormAction()
  <p class="record_added muted">
    <small>
      Record added @Model.CreatedDate.FormatDateTm()
      @if (User.IsInRole("Edit") || User.IsInRole("Admin"))
      {
        @:(<a href="/Person2/User/@Model.person.CreatedBy">@Model.person.CreatedBy</a>)
      }
    </small>
  </p>
</form>

@helper FormAction()
{
    <div class="row hidden-xs">
        <div class="col-sm-12">
            <div class="pull-right">
                <a href="/Person2/PersonalEdit/@Model.PeopleId" class="edit-basic btn btn-default pull-right ajax"><i class="fa fa-pencil"></i> Edit</a>
            </div>
        </div>
    </div>
    <br />
}