@model CmsWeb.Areas.People.Models.BasicPersonInfo
<form class="ajax" method="post">
    <div class="row">
        <div class="col-sm-6">
            <h4>General</h4>
        </div>
        <div class="col-sm-6">
            @FormAction()
        </div>
    </div>
    <div class="well">
        <div class="row">
            <div class="col-md-2 col-lg-1">
                @Html.EditorFor(m => m.TitleCode)
            </div>
            <div class="col-md-6 col-lg-3">
                @Html.EditorFor(m => m.FirstName)
            </div>
            <div class="col-md-4 col-lg-2">
                @Html.EditorFor(m => m.MiddleName)
            </div>
            <div class="col-md-10 col-lg-5">
                @Html.EditorFor(m => m.LastName)
            </div>
            <div class="col-md-2 col-lg-1">
                @Html.EditorFor(m => m.SuffixCode)
            </div>
            <div class="col-md-4 col-lg-3">
                @Html.EditorFor(m => m.NickName)
            </div>
            <div class="col-md-4 col-lg-3">
                @Html.EditorFor(m => m.AltName)
            </div>
            <div class="col-md-4 col-lg-3">
                @Html.EditorFor(m => m.MaidenName)
            </div>
            <div class="col-md-4 col-lg-3">
                @Html.EditorFor(m => m.Gender)
            </div>
            <div class="col-md-4 col-lg-3">
                @Html.EditorFor(m => m.MaritalStatus)
            </div>
            <div class="col-md-4 col-lg-3">
                @Html.EditorFor(m => m.DOB, "Birthday")
            </div>
            <div class="col-md-6 col-lg-3">
                @Html.EditorFor(m => m.WeddingDate)
            </div>
            <div class="col-md-6 col-lg-3">
                @if (User.IsInRole("Membership") || User.IsInRole("Admin"))
                {
                    @Html.EditorFor(m => m.DeceasedDate)
                }
                else
                {
                    @Html.HiddenFor(m => m.DeceasedDate)
                    @Html.DisplayFor(m => m.DeceasedDate)
                }
            </div>
        </div>
    </div>
    <h4>Communication</h4>
    <div class="well">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                @Html.EditorFor(m => m.EmailAddress)
            </div>
            <div class="col-md-6 col-lg-6">
                @Html.EditorFor(m => m.EmailAddress2)
            </div>
            <div class="col-md-4 col-lg-4">
                @Html.EditorFor(m => m.HomePhone)
            </div>
            <div class="col-md-4 col-lg-4">
                @Html.EditorFor(m => m.WorkPhone)
            </div>
            <div class="col-md-4 col-lg-4">
                @Html.EditorFor(m => m.CellPhone)
            </div>
            <div class="col-md-12 col-lg-12">
                <label class="checkbox-inline control-label">
                    @Html.CheckBoxFor(m => m.DoNotCallFlag) Do not call
                </label>
                <label class="checkbox-inline control-label">
                    @Html.CheckBoxFor(m => m.DoNotMailFlag) Do not mail
                </label>
                <label class="checkbox-inline control-label">
                    @Html.CheckBoxFor(m => m.DoNotVisitFlag) Do not visit
                </label>
                <div>
                    <label class="checkbox-inline control-label">
                        @Html.CheckBoxFor(m => m.DoNotPublishPhones) Do not publish phone numbers
                    </label>
                </div>
            </div>
        </div>
    </div>
    <h4>Employment / School</h4>
    <div class="well">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                @Html.EditorFor(m => m.OccupationOther, "Typeahead", new { link = "/Person2/Occupations" })
            </div>
            <div class="col-md-6 col-lg-4">
                @Html.EditorFor(m => m.EmployerOther, "Typeahead", new { link = "/Person2/Employers" })
            </div>
            <div class="col-md-10 col-lg-3">
                @Html.EditorFor(m => m.SchoolOther, "Typeahead", new { link = "/Person2/Schools" })
            </div>
            <div class="col-md-2 col-lg-1">
                @Html.EditorFor(m => m.Grade)
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.PeopleId)
    @Html.HiddenFor(m => m.CreatedDate)
    @FormAction()
    @FormAction(true)
    <br /><br />
</form>
@helper FormAction(bool xs = false)
{
if (xs)
{
        <div class="visible-xs-block">
            <a href="/Person2/PersonalUpdate/@Model.PeopleId" class="btn btn-primary btn-block ajax validate">Save Changes</a>
            <a href="/Person2/PersonalDisplay/@Model.PeopleId" class="btn btn-default btn-block ajax">Cancel</a>
        </div>
}
else
{
        <div class="pull-right hidden-xs">
            <a href="/Person2/PersonalDisplay/@Model.PeopleId" class="btn btn-default ajax">Cancel</a>
            <a href="/Person2/PersonalUpdate/@Model.PeopleId" class="btn btn-primary ajax validate">Save Changes</a>
        </div>
}
}