@model CmsWeb.Areas.People.Models.Person.PersonModel
@{
    Layout = "/Views/Shared/SiteLayout2.cshtml";
    ViewBag.Title = "Person";
}
@section scripts
{
    <script type="text/javascript" src="@Fingerprint.Tag("/Scripts/People/person1.js")"></script>
    <script type="text/javascript" src="@Fingerprint.Tag("/Scripts/Org/OrgMemberDialog2.js")"></script>
}
@section head
{
    <link href="@Fingerprint.Tag("/Content/css/person.css")" rel="stylesheet" />
}
<div class="container" style="margin-top:-1em;">
    <div class="row-fluid">
        <div class="span9">
            <div class="row-fluid">
                <div class="span12" id="profile-header">
                    <div id="snapshot" class="span8">
                        @Html.Partial("ProfileHeader/Snapshot", Model)
                    </div>
                    <div class="span4" id="profile-actions">
                        @Html.Partial("ProfileHeader/Toolbar", Model)
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    @Html.Partial("TabsMain", Model)
                </div>
            </div>
        </div>
        <div class="span3">
            @Html.Partial("Sidebar", Model)
        </div>
    </div>
    @Html.Hidden("newlook", "true")
    @Html.Hidden("PeopleId", Model.PeopleId)
</div>

