@using CmsData
@using CmsWeb.Areas.People.Models
@using UtilityExtensions
@model PersonModel
@{
    Layout = "~/Views/Shared/SiteLayout2.cshtml";
    ViewBag.Title = "Person";
    var inaccess = User.IsInRole("Access");
    var showtip = !DbUtil.Db.UserPreference("hide-tip-person", "false").ToBool() && inaccess;
    var mydatashowtip = !DbUtil.Db.UserPreference("hide-tip-mydata", "false").ToBool() && !inaccess;
}
@section head
{
    @Fingerprint.Css("/Content/css/bootstrap-tour.css")
    @Fingerprint.Css("/Content/css/person-main.css")
    <style>
        #tab-area textarea {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
            height: 120px;
        }
    </style>
}
@section scripts
{
    @Fingerprint.Script("/Scripts/bundle.person.js")
    @if (showtip)
    {
        @Fingerprint.Script("/Scripts/People/persontour.js")
    }
    @if (mydatashowtip)
    {
        @Fingerprint.Script("/Scripts/People/mydatatour.js")
    }
}
<div class="container">
    <div class="row-fluid">
        <div class="span9">
            <div class="row-fluid">
                <div class="span12" id="profile-header">
                    @Html.Partial("Personal/Header", Model)
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div id="tab-area" class="tabbable primary-tabs">
                        <ul class="nav nav-tabs">
                            <li><a href="#" data-target="#personal" data-toggle="tab" class="active">Personal</a></li>
                            <li id="involvementstop"><a href="#enrollment"  data-toggle="tab">Involvement</a></li>
                            <li><a href="#profile" data-toggle="tab">Profile</a></li>
                            @if (User.IsInRole("Access")) 
                            {
                                <li id="ministrystop"><a href="#ministry" data-toggle="tab">Ministry</a></li> 
                            }
                            @if (!User.IsInRole("Access"))
                            {
                                <li id="givingstop"><a href="#giving" data-toggle="tab">Giving</a></li> 
                            }
                            else if (Model.Person.CanUserSeeGiving) 
                            {
                                <li><a href="#giving" data-toggle="tab">Giving</a></li> 
                            }
                            <li><a href="#emails" data-toggle="tab">Emails</a></li>
                            @if (User.IsInRole("Edit") || User.IsInRole("Admin")) 
                            {
                                <li><a id="systemTab" href="#system" data-toggle="tab">System</a></li> 
                            }
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="personal">@Html.Partial("Personal/Display", Model.basic)</div>
                            <div class="tab-pane" id="enrollment">@Html.Partial("Enrollment/Tab", Model)</div>
                            <div class="tab-pane" id="profile">@Html.Partial("Profile/Tab", Model)</div>
                            @if (User.IsInRole("Access")) 
                            {
                                <div class="tab-pane" id="ministry">@Html.Partial("Ministry/Tab", Model)</div> 
                            }
                            @if (Model.Person.CanUserSeeGiving) 
                            {
                                <div class="tab-pane" id="giving">@Html.Partial("Giving/Tab", Model)</div> 
                            }
                            <div class="tab-pane" id="emails">@Html.Partial("Emails/Tab", Model)</div>
                            @if (User.IsInRole("Edit") || User.IsInRole("Admin")) 
                            {
                                <div class="tab-pane" id="system">@Html.Partial("System/Tab", Model)</div> 
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="span3">
            <div id="sidebar">
                @Html.Partial("Family/Members", Model.FamilyModel)
                @Html.Partial("Family/Related", Model.FamilyModel)
                @if (User.IsInRole("Access"))
                {
                    @Html.Partial("Family/ExtraValues", Model)
                }
                @Html.Partial("Family/Photo", Model)
            </div>
        </div>
    </div>
    @Html.Hidden("newlook", "true")
    @Html.Hidden("PeopleId", Model.PeopleId)
</div>
@section PopupsPlaceholder
{
    <form id='edit-address' class='modal fade hide validate ajax form-horizontal' method='POST' data-backdrop='static'></form>
    <form id='member-dialog' class='modal fade hide validate ajax form-horizontal' method='POST' data-backdrop='static'></form>
}