@using UtilityExtensions
@model CmsWeb.Areas.People.Models.Person.PersonModel
@{
    Layout = "~/Views/Shared/SiteLayout2.cshtml";
    ViewBag.Title = "Person";
}
@section scripts
{
    <script type="text/javascript" src="@Fingerprint.Tag("/Scripts/People/person1.js")"></script>
    <script type="text/javascript" src="@Fingerprint.Tag("/Scripts/Org/OrgMemberDialog2.js")"></script>
    <script type="text/javascript" src="@Fingerprint.Tag("/Scripts/jquery.textfill.js")"></script>
}
@section head
{
    <link href="@Fingerprint.Tag("/Content/css/person-main.css")" rel="stylesheet" />
}
<div class="container">
    <div class="row-fluid">
        <div class="span9">
            <div class="row-fluid">
                <div class="span12" id="profile-header">
                    @Html.Partial("ProfileHeader", Model)
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    @Html.Partial("MainTabs", Model)
                </div>
            </div>
        </div>
        <div class="span3">
            <div id="sidebar">
                @Html.Partial("FamilySidebar/Members", Model)
                @Html.Partial("FamilySidebar/Related", Model)
                @Html.Partial("FamilySidebar/Photo", Model)
                @Html.Partial("FamilySidebar/ExtraValues", Model)
            </div>
        </div>
    </div>
    @Html.Hidden("newlook", "true")
    @Html.Hidden("PeopleId", Model.PeopleId)
</div>

