@model CmsWeb.Areas.People.Models.Person.PersonModel
<div class="tabbable primary-tabs">
    <ul class="nav nav-tabs">
        <li><a href="#personal" data-toggle="tab" class="active">Personal</a></li>
        <li><a href="#enrollment" data-toggle="tab">Involvement</a></li>
        <li><a href="#membership" data-toggle="tab">Membership</a></li>
        @if (Model.Person.CanUserSeeGiving)
        {
            <li><a href="#giving" data-toggle="tab" class="ajax">Giving</a></li>
        }
        @*<li><a href="#account" data-toggle="tab" class="ajax">Account</a></li>*@
        <li><a id="contactsTab" href="#contacts" data-toggle="tab">Contacts</a></li>
        @if (User.IsInRole("Edit") || User.IsInRole("Admin"))
        {
            <li><a id="systemTab" href="#system" data-toggle="tab">System</a></li>
        }
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="personal">
            @Html.Partial("MainTabs/PersonalDisplay", Model.basic)
        </div>
        <div class="tab-pane" id="enrollment">
            @Html.Partial("MainTabs/Enrollment", Model)
        </div>
        <div class="tab-pane" id="membership">
            @Html.Partial("MainTabs/Membership", Model)
        </div>
        @if (Model.Person.CanUserSeeGiving)
        {
        <div class="tab-pane" id="giving">
            @Html.Partial("MainTabs/Giving", Model)
        </div>
        }
        @* <div class="tab-pane" id="account" data-link="/Person2/Account/@Model.PeopleId"></div> *@
        @if (User.IsInRole("Access"))
        {
            <div class="tab-pane" id="contacts">
                @Html.Partial("MainTabs/Contacts", Model)
            </div>
        }
        @if (User.IsInRole("Edit") || User.IsInRole("Admin"))
        {
        <div class="tab-pane" id="system">
            @Html.Partial("MainTabs/System", Model)
        </div>
        }
    </div>
</div>
