@using UtilityExtensions
@using CmsData
@model CmsData.User
<form class="form-horizontal ajax" method="POST">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">x</a>
        <a class="helplink" target="_blank" href='@Util.HelpLink("ManageUser")'>help</a>
        <h4>Manage User @Model.Username</h4>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span6 display">
                @Html.EditorFor(m => m.Username, "text")
                @Html.EditorFor(m => m.Password, "password")
                @Html.DisplayFor(m => m.CreationDate, "DateTime")
            </div>
            <div class="span6 display">
                @Html.EditorFor(m => m.IsLockedOut, "bool")
                @Html.Editor("sendwelcome", "bool", new { label = "Send Welcome" })
            </div>
        </div>
        <hr />
        <div class="row-fluid">
            @{
                var list = CmsData.User.AllRoles(DbUtil.Db).Where(rr => rr.RoleName != "OrgLeadersOnly").Select(rr => rr.RoleName).ToList();
                var third = list.Count / 3;
            }
            <div class="span4">
                @for (var i = 0; i < third; i++)
                {
                    @Role(list[i])
                }
            </div>
            <div class="span4">
                @for (var i = third; i < third * 2; i++)
                {
                    @Role(list[i])
                }
            </div>
            <div class="span4">
                @for (var i = third * 2; i < list.Count; i++)
                {
                    @Role(list[i])
                }
            </div>
        </div>
        <div class="row-fluid">
            <div class="control-group warning">
                <label class="control-label">OrgLeadersOnly</label>
                <div class="controls">
                    <input name="role" value="OrgLeadersOnly" class="ckbox" type="checkbox" @(Model.Roles.Any(ro => ro == "OrgLeadersOnly") ? "checked='checked'" : "") />
                    <span class="help-inline">
                        <strong>Warning!</strong> limiting role, see help link above
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="/Person2/Impersonate/@Model.UserId" class="btn btn-warning">Impersonate User</a>
        <a href="/Person2/UserDelete/@Model.UserId" class="btn btn-danger delete" data-prompt="Are you sure you want to remove User @Model.Username?">Delete User</a>
        <a href="/Person2/UserUpdate/@Model.UserId" class="btn btn-primary save">Save</a>
    </div>
</form>
@helper Role(string role)
{
    <div class="control-group">
        <label class="control-label">@role</label>
        <div class="controls">
            <input name="role" value="@role" class="ckbox" type="checkbox" @(Model.Roles.Any(ro => ro == role) ? "checked='checked'" : "") />
        </div>
    </div>
}

@*
        <hr />
        <hr />
        <a href="/Person/UserUpdate/@Model.UserId" class="submitbutton save bt blue">Save Changes</a>
        <a href="/Person/UserWelcome/@Model.UserId" class="submitbutton save bt blue">Save Changes, Send Welcome Email</a>
    </form>
</body>
</html>
*@
