@using UtilityExtensions
@model CmsWeb.Models.DeleteMeeting
<div class="modal-header">
  <a class="close" data-dismiss="modal">x</a>
  <h3>Delete Meeting Progress</h3>
</div>
<div class="modal-body">
  @Html.HiddenIf("finished", "true", Model.Completed.HasValue)
  @Html.HiddenFor(m => m.Id)
  @Html.DisplayFor(m => m.Count, new { Label="Number of Attends"})
  @Html.DisplayFor(m => m.Started, "DateAndTime")
  @Html.DisplayFor(m => m.Processed)
  @Html.DisplayFor(m => m.Completed, "DateAndTime")
  @Html.DisplayForIf(m => m.ElapsedTime, Model.ElapsedTime.HasValue())
</div>
<div class="modal-footer">
  @if (Model.Completed.HasValue)
  {
    <a href="#" class="btn btn-success" data-dismiss="modal">Dismiss</a>
  }
</div>