@using UtilityExtensions
@model CmsWeb.Areas.Search.Models.PictureDirectoryModel
@{
  ViewBag.Title = "Picture Directory";
  Layout = ViewExtensions2.TouchPointLayout();
}
@section head
{
  <link rel="stylesheet" type="text/css" href="/Content/touchpoint/lib/magnific-popup/magnific-popup.css"/>
}
<div class="box box-responsive">
  <div class="box-content">
    @if (Model.ErrorMessage.HasValue())
    {
      if (Model.ErrorMessage == "NotConfigured")
      {
        <div class="alert alert-block alert-info">
          <h4>Not Configured</h4>
          <p>Sorry, this directory has not been configured for your church.</p>
          <p>See <a href="https://docs.touchpointsoftware.com/SummaryReports/OnlinePictureDirectory/QuickStart.html">Online Picture Directory documentation</a></p>
        </div>
      }
      else if (Model.ErrorMessage == "NotAuthorized")
      {
        <div class="alert alert-block alert-warning">
          <h4>Not able to View Directory</h4>
          <p>Sorry, you may not be a member of this Directory or have opted out. Contact the church.</p>
        </div>
      }
      else
      {
      <div class="alert alert-block alert-danger"><h4>@Model.ErrorMessage</h4></div>
      }
    }
    else
    {
      <form id="form-picture-directory" class="ajax" data-results="#results" method="post" action="/PictureDirectory/Results" data-init="InitPopup">
        <div class="well">
          @Html.HiddenFor(vv => vv.CanView)
          @Html.HiddenFor(vv => vv.Selector)
          @Html.HiddenFor(vv => vv.OrgId)
          @Html.HiddenFor(vv => vv.DivId)
          @Html.HiddenFor(vv => vv.StatusFlag)
          @Html.HiddenFor(vv => vv.TemplateName)
          @Html.HiddenFor(vv => vv.SqlName)
          @Html.LabelFor(vv => vv.Name, "Part of Name")
          <div class="row">
            <div class="col-sm-12 form-inline">
              <div class="input-group col-xs-12 col-sm-6">
                @Html.TextBoxFor(vv => vv.Name, new {title = "Part of the Name", @class = "form-control"})
              </div>
              <div class="input-group">
                <a class="btn btn-default" href="@Model.Url">Clear</a>
                <a id="search" class="btn btn-primary ajax" href="/PictureDirectory/Results">Search</a>
              </div>
            </div>
          </div>
        </div>
        @Html.Raw(Model.Results(ViewBag.Controller))
      </form>
    }
  </div>
</div>
@section scripts
{
  <script src="/Content/touchpoint/lib/magnific-popup/jquery.magnific-popup.min.js"></script>
  <script>
    $(function() {
      $.InitFunctions.InitPopup = function() {
        $('.image-popup-vertical-fit')
          .magnificPopup({
            type: 'image',
            closeOnContentClick: true,
            mainClass: 'mfp-img-mobile',
            image: {
              verticalFit: true
            }
          });
      };
      $("body")
        .on('keydown',
          "#Name",
          function(ev) {
            if (ev.keyCode === 13) {
              ev.preventDefault();
              $('#search').click();
              return false;
            }
            return true;
          });
      $.InitFunctions.InitPopup();
    });
  </script>
}