@using CmsData
@using CmsData.Codes
@using CmsWeb.Areas.People.Models
@using CsQuery.ExtensionMethods.Internal
@using UtilityExtensions
@model CurrentEnrollments
@{
    var pOrgType = "---";
    var rownum = 0;
    var columnset = InvolvementTableModel.GetColumnSet("Current");
}
<form class="non-modal ajax">
    @FormAction()
    <div class="row">
        <div class="col-sm-12">
            @Html.Partial("PagerTop", Model)
            <div class="table-responsive">
                <table class="expanding table table-hover">
                    @if(!columnset.HasOrgTypeColumns || Model.Sort != "default")
                    {
                        <thead>
                        <tr>
                            <th>@Model.SortLink2("default", @"<i class=""fa fa-sort""></i>")</th>
                            @foreach (var column in columnset.DefaultColumns)
                            {
                                if (column.Sortable)
                                {
                                    <th>@Model.SortLink(column.Label, column.Field)</th>
                                }
                                else
                                {
                                    <th>@column.Label</th>
                                }
                            }
                        </tr>
                        </thead>
                    }
                    <tbody>
                        @foreach (var om in Model.ViewList())
                        {
                            rownum++;
                            var oddrow = rownum % 2 == 0 ? "oddrow" : "";
                            if (om.OrgType != pOrgType && Model.Sort == "default")
                            {
                                if (columnset.HasOrgTypeColumns)
                                {
                                    // Workaround for Razor being stubborn
                                    @Html.Raw("</table><table class=\"expanding table table-hover\">")
                                }
                                pOrgType = om.OrgType;
                                <tr class="section notshown info">
                                    <td><a rel="reveal" title="More Information" href="#" class="reveal"><i class="fa fa-caret-right"></i></a></td>
                                    <td colspan="@columnset.GetColumnsForOrgType(om.OrgType, Model.Sort).Count"><span style="font-weight: 600;">@om.OrgType</span></td>
                                </tr>

                                if (columnset.HasOrgTypeColumns)
                                {
                                     <tr>
                                        <th></th>
                                        @foreach (var column in columnset.GetColumnsForOrgType(om.OrgType, Model.Sort))
                                        {
                                            if (column.Sortable)
                                            {
                                                <th>@Model.SortLink(column.Label, column.Field)</th>
                                            }
                                            else
                                            {
                                                <th>@column.Label</th>
                                            }
                                        }
                                    </tr>
                                }
                            }
                            if (User.IsInRole("Access"))
                            {
                                <tr class="master @oddrow">
                                    <td><a rel="reveal" title="More Information" href="#" class="reveal"><i class="fa fa-info-circle"></i></a></td>

                                    @foreach (var column in columnset.GetColumnsForOrgType(om.OrgType, Model.Sort))
                                    {
                                        <td>@Html.Raw(om.GetColumnValue(column, true, User.IsInRole("OrgLeadersOnly")))</td>
                                    }
                                </tr>
                                <tr class="details @oddrow">
                                    <td colspan="@(columnset.GetColumnsForOrgType(om.OrgType, Model.Sort).Count + 1)">
                                        <div class="collapse indent">
                                            <strong>Program:</strong> <span>@om.ProgramName,</span>
                                            <strong>Division:</strong> <span>@om.DivisionName</span>
                                            @if (om.Location.HasValue())
                                            {
                                                @om.LocComma<strong>Location:</strong>
                                                <span>@om.Location</span>
                                            }
                                            @if (om.Schedule.HasValue())
                                            {
                                                @om.SchComma<strong>Schedule:</strong>
                                                <span>@om.Schedule</span>
                                            }
                                            <div>
                                                @if (!om.IsProspect)
                                                {
                                                    <a href="/OrgContent/@om.OrgId">Members Page</a>
                                                }
                                                @if (om.HasDirectory)
                                                {
                                                    <a title="@om.DivisionName" href="/MemberDirectory/@om.OrgId">Online Directory</a>
                                                }
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                if (om.ChildOrgs != null)
                                {
                                    foreach (var child in om.ChildOrgs)
                                    {
                                        rownum++;
                                        oddrow = rownum % 2 == 0 ? "oddrow" : "";
                                        <tr class="@oddrow">
                                            <td><i class="fa fa-child"></i></td>
                                            @foreach (var column in columnset.GetColumnsForOrgType(om.OrgType, Model.Sort))
                                            {
                                                <td>@Html.Raw(child.GetColumnValue(column, true, User.IsInRole("OrgLeadersOnly")))</td>
                                            }
                                        </tr>
                                    }
                                }
                                
                            }
                            else
                            {
                                <tr>
                                    <td></td>
                                    @foreach (var column in columnset.GetColumnsForOrgType(om.OrgType, Model.Sort))
                                    {
                                        <td>@Html.Raw(om.GetColumnValue(column, false, User.IsInRole("OrgLeadersOnly")))</td>
                                    }
                                </tr>
                                if (om.ChildOrgs != null)
                                {
                                    foreach (var child in om.ChildOrgs)
                                    {
                                        rownum++;
                                        oddrow = rownum % 2 == 0 ? "oddrow" : "";
                                        <tr class="@oddrow">
                                            <td><i class="fa fa-child"></i></td>
                                            @foreach (var column in columnset.GetColumnsForOrgType(om.OrgType, Model.Sort))
                                            {
                                                <td>@Html.Raw(child.GetColumnValue(column, false, User.IsInRole("OrgLeadersOnly")))</td>
                                            }
                                        </tr>
                                    }
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            @Html.Partial("PagerBottom", Model)
            @Html.Partial("PagerHidden", Model)
            @Html.HiddenFor2(m => m.PeopleId)
        </div>
    </div>
    @FormAction(true)
    <br/>
</form>
@helper FormAction(bool xs = false)
{
    if (xs)
    {
        <div class="visible-xs-block">
            <a href="#" class="ajax-refresh btn btn-default btn-block refresh-current"><i class="fa fa-refresh"></i> Refresh</a>
        </div>
    }
    else
    {
        <div class="row hidden-xs">
            <div class="col-sm-12">
                <div class="pull-right">
                    <a href="#" class="ajax-refresh btn btn-default refresh-current"><i class="fa fa-refresh"></i> Refresh</a>
                </div>
            </div>
        </div>
    }
}
