@using UtilityExtensions
@model CmsWeb.Areas.People.Models.RegistrationsModel
<form class="form form-horizontal margin-top ajax span12" method="post">
    <fieldset class="table not-wide left-gutter">
        <legend>Registration History
            @FormActions()
        </legend>
        <div class="inline align-top width220">
            <div class="well">
                @Html.HiddenFor(m => m.PeopleId)
                @Html.EditorFor(m => m.ShirtSize)
                @Html.EditorFor(m => m.CustodyIssue)
                @Html.EditorFor(m => m.OkTransport)
                @Html.EditorFor(m => m.Emcontact)
                @Html.EditorFor(m => m.Emphone)
            </div>
            <div class="well">
                @Html.EditorFor(m => m.Tylenol)
                @Html.EditorFor(m => m.Advil)
                @Html.EditorFor(m => m.Robitussin)
                @Html.EditorFor(m => m.Maalox)
            </div>
        </div>
        <div class="inline align-top left-gutter">
            <div class="well">
                @Html.EditorFor(m => m.Insurance)
                @Html.EditorFor(m => m.Policy)
                @Html.EditorFor(m => m.Doctor)
                @Html.EditorFor(m => m.Docphone)
            </div>
            <div class="well">
                @Html.EditorFor(m => m.Mname)
                @Html.EditorFor(m => m.Fname)
                @Html.EditorFor(m => m.Coaching)
            </div>
            <div class="well">
                @Html.EditorFor(m => m.Member)
                @Html.EditorFor(m => m.ActiveInOtherChurch)
            </div>
        </div>
        <div class="margin-top">
            @Html.EditorFor(m => m.MedicalDescription)
        </div>
        <div class="margin-top">
            @Html.EditorFor(m => m.Comments)
        </div>
        <div>@FormActions() </div>
    </fieldset>
</form>
@helper FormActions()
{
    if (User.IsInRole("Edit"))
    {
    <span class="pull-right">
        <a href="/Person2/Registrations/@Model.person.PeopleId" class="btn ajax">Cancel</a>
        <a href="/Person2/RegistrationsUpdate" class="btn btn-primary ajax">Save</a>
    </span>
    }
}