@model CmsWeb.Areas.People.Models.RegistrationsModel
<form class="ajax" method="post">
    <h3>Registration History</h3>
    <div class="row">
        <div class="col-sm-6">
            <h4>General</h4>
        </div>
        <div class="col-sm-6">
            @FormActions()
        </div>
    </div>
    <div class="well">
        <div class="row">
            <div class="col-md-5 col-lg-5">
                @Html.EditorFor(m => m.Mname)
            </div>
            <div class="col-md-5 col-lg-5">
                @Html.EditorFor(m => m.Fname)
            </div>
            <div class="col-md-2 col-lg-2">
                @Html.EditorFor(m => m.ShirtSize)
            </div>
            <div class="col-md-12 col-lg-12">
                <label class="checkbox-inline control-label">
                    @Html.CheckBoxFor(m => m.CustodyIssue) Custody issue?
                </label>
                <label class="checkbox-inline control-label">
                    @Html.CheckBoxFor(m => m.OkTransport) Ok to transport?
                </label>
                <label class="checkbox-inline control-label">
                    @Html.CheckBoxFor(m => m.Coaching) Coaching interest?
                </label>
                <label class="checkbox-inline control-label">
                    @Html.CheckBoxFor(m => m.Member) Member here?
                </label>
                <label class="checkbox-inline control-label">
                    @Html.CheckBoxFor(m => m.ActiveInAnotherChurch) Active in another church?
                </label>
            </div>
        </div>
    </div>
    <h4>Emergency Contact</h4>
    <div class="well">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                @Html.EditorFor(m => m.Emcontact)
            </div>
            <div class="col-md-6 col-lg-6">
                @Html.EditorFor(m => m.Emphone)
            </div>
        </div>
    </div>
    <h4>Medical</h4>
    <div class="well">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                @Html.EditorFor(m => m.Doctor)
            </div>
            <div class="col-md-6 col-lg-6">
                @Html.EditorFor(m => m.Docphone)
            </div>
            <div class="col-md-6 col-lg-6">
                @Html.EditorFor(m => m.Insurance)
            </div>
            <div class="col-md-6 col-lg-6">
                @Html.EditorFor(m => m.Policy)
            </div>
            <div class="col-md-12 col-lg-12">
                <label class="checkbox-inline control-label">
                    @Html.CheckBoxFor(m => m.Tylenol) Tylenol
                </label>
                <label class="checkbox-inline control-label">
                    @Html.CheckBoxFor(m => m.Advil) Advil
                </label>
                <label class="checkbox-inline control-label">
                    @Html.CheckBoxFor(m => m.Robitussin) Robitussin
                </label>
                <label class="checkbox-inline control-label">
                    @Html.CheckBoxFor(m => m.Maalox) Maalox
                </label>

            </div>
            <div class="col-md-12 col-lg-12">
                <br />
                @Html.EditorFor(m => m.MedicalDescription)
            </div>
        </div>
    </div>
    @if (Model.ShowComments) {
        <h4>Registration Log</h4>
        @Html.TextAreaFor(m => m.Comments, new { @class = "form-control", rows = 10 })
        <br />
    }
    @FormActions()
    @FormActions(true)
    <br/><br/>
    @Html.HiddenFor2(m => m.PeopleId)
</form>
@helper FormActions(bool xs = false)
{
    if (User.IsInRole("Edit"))
    {
        if (xs)
        {
            <div class="visible-xs-block">
                <a href="/Person2/RegistrationsUpdate" class="btn btn-primary btn-block ajax validate">Save</a>
                <a href="/Person2/Registrations/@Model.Person.PeopleId" class="btn btn-default btn-block ajax">Cancel</a>
            </div>
        }
        else
        {
            <div class="pull-right hidden-xs">
                <a href="/Person2/Registrations/@Model.Person.PeopleId" class="btn btn-default ajax">Cancel</a>
                <a href="/Person2/RegistrationsUpdate" class="btn btn-primary ajax validate">Save</a>
            </div>
        }
    }
}
