@model CmsWeb.Areas.Dialog.Models.OrgSearchDrop
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Drop total of @Model.Count Members from @Model.OrgCount Organizations</h4>
        </div>
        <div class="modal-body">
            @Html.HiddenFor(m => m.QueryId)
            @Html.HiddenFor(m => m.OrgCount)
            @Html.HiddenFor(m => m.Count)
            @Html.HiddenFor(m => m.Started)
            @Html.HiddenFor(m => m.Orgs)

            @Html.DisplayFor(m => m.Count, new { Label = "Number of People to Drop" })
            @Html.DisplayFor(m => m.Started, "DateAndTime")
            @Html.DisplayFor(m => m.Processed)
            @Html.DisplayFor(m => m.CustomMessage)

            @if (Model.Finished)
            {
                @Html.DisplayFor(m => m.Completed, "DateAndTime")
                @Html.DisplayFor(m => m.ElapsedTime)
                @Html.Hidden("finished", "true")
            }
        </div>
        <div class="modal-footer">
           @if (Model.Finished)
           {
            <a href="#" class="btn btn-success" data-dismiss="modal">Dismiss</a>
           }
        </div>
    </div>
</div>