@using UtilityExtensions;
@model CmsWeb.Models.TransactionsModel
@{
  var qsg = Model.Supporters();
  var qss = Model.SelfSupports();
  var qso = Model.SupportOthers();
}

@if (qsg.Any())
{
    <h4>Supporters</h4>
    <div class="table-responsive">
        <table id="Supporters" class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Supporter</th>
                    <th class="text-right">Amount</th>
                    <th>Notice</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ss in qsg)
                {
                    <tr>
                        <td>@ss.gs.Created.FormatDate()</td>
                        <td><a href="/Person2/@ss.PeopleId">@ss.Name</a></td>
                        <td class="text-right">@ss.gs.Amount.ToString2("N2")</td>
                        <td>@(ss.gs.NoNoticeToGoer == true ? "no notice" : "sent")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@if (qss.Any())
{
    <h4>Self Support</h4>
    <div class="table-responsive">
        <table id="GoerIsSupporter" class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th class="text-right">Amount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var gg in qss)
                {
                    <tr>
                        <td>@gg.Created.FormatDate()</td>
                        <td class="text-right">@gg.Amount.ToString2("N2")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@if (qso.Any())
{
    <h4>Supporting Others</h4>
    <div class="table-responsive">
        <table id="SupporterOfOthers" class="table table-responsive">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Goer</th>
                    <th class="text-right">Amount</th>
                    <th>Notice</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var gg in qso)
                {
                    <tr>
                        <td>@gg.gs.Created.FormatDate()</td>
                        <td><a href="/Person2/@gg.PeopleId">@gg.Name</a></td>
                        <td class="text-right">@gg.gs.Amount.ToString2("N2")</td>
                        <td>@(gg.gs.NoNoticeToGoer == true ? "no notice" : "sent")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}