@model CmsWeb.Models.TransactionsModel
@using UtilityExtensions
@{
    var tt = Model.TotalTransactions();
}
@if (tt != null)
{
    <div class="stat-panel-container">
        <div class="stat-panel">
            <span class="stat-title">TOTAL AMOUNT</span>
            <span class="stat-figure">@tt.Amt.ToString("C2")</span>
        </div>
        <div style="clear: both;"></div>
    </div>
}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Batch Reference #</th>
                <th>Settled</th>
                <th>Type</th>
                <th class="text-right">Count</th>
                <th class="text-right">Total</th>
            </tr>
        </thead>
        <tbody>
            @if (tt == null)
            {
                <tr><td colspan="5">Nothing to report</td></tr>
            }
            else
            {
                foreach (var r in Model.FetchBatchTransactions())
                {
                    <tr>
                        <td><a href="#" class="filterbatch">@r.BatchRef</a></td>
                        <td>@r.batchdate.FormatDate()</td>
                        <td>@r.BatchType</td>
                        <td class="text-right">@r.count</td>
                        <td class="text-right">@r.Total.ToString("N2")</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>