@using CmsData
@using UtilityExtensions
@model CmsWeb.Models.OrgContentInfo
@{
    ViewBag.Title = "OrgContent";
    Layout = "~/Views/Shared/Site2.cshtml";
}
@section edit {
    @if (Model.CanEdit)
    {
        <a href="/OrgContent/Edit/@Model.OrgId">edit</a>
    }
}

@if (!Model.IsMember)
{
    <h2>Sorry, members only</h2>
}
else if (Model.Inactive)
{
    <h2>Sorry, Organization is Inactive</h2>
}
else
{
    <div style="max-width: 600px;">
        @if (!Model.HideBanner)
        {
            <h1><a href="/Org/@Model.OrgId">@Model.OrgName</a>
            </h1>
        }
        @if (!string.IsNullOrWhiteSpace(Model.Html))
        {
            @Html.Raw(Model.Html)
        }
        else
        {
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>MemberType</th>
                    <th>Birthday</th>
                </tr>
                </thead>
                @foreach (var member in Model.GetMemberList())
                {
                    <tr>
                        <td>@member.Person.Name</td>
                        <td>@member.MemberType.Description</td>
                        <td>@member.Person.BirthDate.FormatDate("MMM d")</td>
                    </tr>
                }
            </table>
        }
    </div>
}
