@using UtilityExtensions
@model CmsWeb.Models.OnlineRegModel
@{
  Layout = "~/Views/Shared/onlinereg2.cshtml";
  ViewBag.Title = "Online Registration";
}
@section scripts
{
  @Fingerprint.Script("/Scripts/OnlineReg/OnlineReg2.js")
  <script type="text/javascript">
    $(function () {
      $(document).bind("idle.idleTimer", function () {
        window.location.href = '@Model.URL';
      });
      var tmout = parseInt('@Model.TimeOut');

      $(document).bind("keydown", function () {
        $(document).unbind("keydown");
        $.idleTimer(tmout);
      })
      $.idleTimer(tmout);
    });
  </script>
}
<div class="confirm">
  <p style="color: Black">
    Email sent to @Util.ObscureEmail(Model.List[0].person.EmailAddress) (email obscured on purpose)
  </p>
  <p>
    <strong>One-Time Link</strong><br>
    We have sent you a One-Time Link to manage your registration for @Model.org.OrganizationName
  </p>
</div>