@model OnlineRegModel
@using CmsWeb.Models
@using UtilityExtensions
@{
    Layout = Model.UseBootstrap
        ? "~/Views/Shared/onlinereg2.cshtml"
        : "~/Views/Shared/onlinereg.cshtml";
    ViewBag.Title = "Online Registration";
}
@section scripts
{
    <script type="text/javascript">
        $.dateFormat = '@Util.jQueryDateFormat';
        $.timeoutUrl = '/OnlineReg/Timeout?ret=' + encodeURI('@Model.URL');
        $.tmout = parseInt('@Model.TimeOut');
    </script>
    @(Model.UseBootstrap
        ? @Fingerprint.Script("/Scripts/OnlineReg/OnlineReg2.js")
        : @Fingerprint.Script("/Scripts/OnlineReg/OnlineReg.js"))
}

<div class="confirm">
  @Html.Raw(Model.TrackingCode)
  @Html.Raw(Model.GetThankYouMessage())
  @if (Model.UseBootstrap && OnlineRegModel.InMobileAppMode)
  {
    <a href="@OnlineRegModel.MobileAppReturnUrl" class="btn btn-primary">Return to Application</a>
  }
</div>