@using UtilityExtensions
@model CmsWeb.Areas.OnlineReg.Models.OnlineRegModel
@{
    Layout = "~/Views/Shared/onlinereg2.cshtml";
    ViewBag.Title = Model.Header; //"Online Registration";
    var filled = Model.Filled();
    var complete = Model.AskDonation() ? "AskDonation" : "CompleteRegistration";
    var action = $"/OnlineReg/{complete}/{Model.qtesting}";
}
@section head
{
    @if (Model.DisplaySpecialFunds)
    {
        @Fingerprint.Css("/Content/touchpoint/lib/select2/css/select2.css")
        @Fingerprint.Css("/Content/touchpoint/lib/select2/css/select2-bootstrap.css")
    }
}
@section scripts
{
    <script type="text/javascript">
        $.dateFormat = '@Util.jQueryDateFormat';
        var specialGivingFundsPrefix = "List[0]";
        $(function () {
            $(document).idleTimer(@Model.TimeOut);
            $(document).on("idle.idleTimer", function (event, elem, obj) {
                window.location.href = '/OnlineReg/Timeout?ret=' + encodeURI('@Model.URL');
            });
        });
    </script>
    @Fingerprint.Script("/Content/touchpoint/js/onlinereg/OnlineReg2.js")
    @if (Model.DisplaySpecialFunds)
    {
        @Fingerprint.Script("/Content/touchpoint/lib/select2/js/select2.min.js")
    }
    @if (Model.SaveProgressChecked())
    {
        @Fingerprint.Script("/Content/touchpoint/js/onlinereg/AutoSaveProgress.js")
    }
}
<noscript>
    <style type="text/css">
        .pagecontainer {
            display: none;
        }
    </style>
    <div class="noscriptmsg">
        This registration site requires javascript to be enabled on your browser.
    </div>
</noscript>

<div class="regform">
    <h3>@Model.Header</h3>
    @if (Model.NotAvailable())
    {
        <h4 id="sorry">Sorry, Registration is not available at this time</h4>
        @Html.Raw(Util.PickFirst(Model.Instructions, ""))
    }
    else if (filled.HasValue())
    {
        <h4 id="sorry">Sorry, @filled</h4>
        @Html.Raw(Util.PickFirst(Model.Instructions, ""))
    }
    else
    {
        <form id="completeReg" class="DisplayEdit form-horizontal" action="@action" method="post">
            @Html.Partial("Flow2/List", Model)
        </form>

        if (Model.RecordFamilyAttendance())
        {
            @Html.Partial("Flow2/FamilyAttendTemplate")
        }
    }
</div>
