@using UtilityExtensions
@model CmsWeb.Areas.OnlineReg.Models.OnlineRegModel
@{
    Layout = "~/Views/Shared/onlinereg2.cshtml";
    ViewBag.Title = "OnePageGiving";
    var action = $"/OnePageGiving/{Model.qtesting}";
}
@section scripts
{
  <script type="text/javascript">
        $(function () {
            $(document).idleTimer(@Model.TimeOut);
            $(document).on("idle.idleTimer", function (event, elem, obj) {
                window.location.href = '/OnlineReg/Timeout?ret=' + encodeURI('@Model.URL');
            });
        });
  </script>
  @Fingerprint.Script("/Content/touchpoint/js/onlinereg/OnlineReg2.js")
}
<div class="regform">
  <h3>@Model.Header</h3>
  @if (Model.NotAvailable())
  {
      <h4 id="sorry">Sorry, this giving page is not available at this time</h4>
        @Html.Raw(Util.PickFirst(Model.Instructions, ""))
  }
  else
  {
      <form id="completeReg" class="DisplayEdit form-horizontal" action="@action" method="post">
      </form>
  }
</div>
