@using CmsData.Codes
@model CmsWeb.Areas.Dialog.Models.OrgMembersUpdate
@{
  var managetransactions = User.IsInRole("ManageTransactions");
  var admin = User.IsInRole("Admin");
  var manager = User.IsInRole("ManageGroups");
  var missiongiving = User.IsInRole("MissionGiving") || User.IsInRole("Developer");
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4>@Model.OrgName</h4>
        </div>
        <div class="modal-body">
            <div class="alert alert-warning">
                This will update information on @Model.Count @Model.DisplayGroup
            </div>
            @Html.HiddenFor(m => m.QueryId)
            @Html.EditorFor(m => m.MemberType)
            @Html.EditorFor(m => m.MakeMemberTypeOriginal)
            <div style="height: .8em;"></div>
            @Html.EditorFor(m => m.EnrollmentDate)
            @Html.EditorFor(m => m.InactiveDate)
            @Html.EditorFor(m => m.RemoveInactiveDate)
            @Html.EditorFor(m => m.Pending)
        </div>
        <div class="modal-footer">
            <div class="pull-left">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
            </div>
            @if (Model.GroupSelect == GroupSelectCode.Member
                 && (managetransactions || admin || missiongiving))
            {
                <div class="btn-group">
                    <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">Transaction <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/OrgMembersUpdate/AddFeeAdjustment" class="ajax">Make Fee Adjustment</a>
                        </li>
                    </ul>
                </div>
            }
            @if (Model.GroupSelect == GroupSelectCode.Member && (admin || manager))
            {
                <a href="/OrgMembersUpdate/SmallGroups" class="btn btn-default ajax">
                    Sub-Groups
                </a>
            }
            <a href="/OrgMembersUpdate/Update" class="btn btn-primary ajax"
               data-confirm="Are you sure you want to update @Model.Count @Model.DisplayGroup?">
                Update
            </a>
        </div>
    </div>
</div>