@using CmsData
@model CmsWeb.Areas.Dialog.Models.OrgMembersUpdate
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4>Add/Remove people to/from Sub-Groups in @Model.OrgName</h4>
        </div>
        <div class="modal-body">
            @if (ViewBag.numberadded != null)
            {
                <div class="alert alert-success">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    @ViewBag.numberadded
                </div>
            }
            @Html.HiddenFor(m => m.QueryId)
            <div class="alert alert-warning">
                Each button will add or remove @Model.Count people for the indicated sub-group.
            </div>
            <fieldset id="membergroups" class="display">
                <div class="well">
                    <label for="NewGroup" class="control-label">New Sub-Group</label>
                    <div class="row">
                        <div class="col-sm-12 form-inline">
                            <div class="input-group col-xs-12 col-sm-9">
                                @Html.TextBoxFor(m => m.NewGroup, "", new { @class = "form-control" })
                            </div>
                            <div class="input-group">
                                <a href="/OrgMembersUpdate/AddNewSmallGroup/" class="btn btn-success ajax"><i class="fa fa-plus-circle"></i> Add New</a>
                            </div>
                        </div>
                    </div>
                </div>
                @{
                    var list = DbUtil.Db.MemberTags.Where(mm => mm.OrgId == Model.OrgId).OrderBy(t => t.Name).ToList();
                }
                <div class="row">
                    <div class="col-sm-6">
                        
                    </div>
                </div>
                @foreach (var item in list)
                {
                    <div class="col-sm-6 form-horizontal">
                        @SmallGroup(item)
                    </div>
                }
                
            </fieldset>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-default" data-dismiss="modal">Close Dialog</a>
            <a href="/OrgMembersUpdate/@Model.QueryId" class="btn btn-default ajax">Return to Org Members Update Dialog</a>
        </div>
    </div>
</div>
@helper SmallGroup(MemberTag mt)
{
  <div class="form-group">
    <label class="control-label col-xs-6">@mt.Name</label>
    <div class="controls col-xs-6">
      <a href="/OrgMembersUpdate/AddSmallGroup/@mt.Id" class="btn btn-xs btn-success ajax">Add</a>
      <a href="/OrgMembersUpdate/RemoveSmallGroup/@mt.Id" class="btn btn-xs btn-danger ajax">Remove</a>
    </div>
  </div>
}
