@using CmsData
@using UtilityExtensions
@model CmsWeb.Areas.Reports.Models.ChurchAttendanceModel
@{
    Layout = ViewExtensions2.TouchPointLayout();
    ViewBag.Title = "Church Attendance Report";
    ViewBag.ReportPageHeader = "Week at a Glance Attendance Report";
}
<div class="report box box-responsive">
    <div class="box-content">
        <div class="well hidden-print" style="max-width: 350px; margin: auto;">
            <label for="Dt" class="control-label">Sunday Date</label>
            <div class="row">
                @using (Html.BeginForm("ChurchAttendance", "Reports", FormMethod.Get))
                {
                    <div class="col-sm-12 form-inline">
                        <div class="input-group date">
                            @Html.TextBox("Dt", Model.Sunday.ToShortDateString(), new { @class = "form-control" })<span class="input-group-addon hidden-xs hidden-sm"><i class="fa fa-calendar"></i></span>
                            @Html.Hidden("DtIso", Model.Sunday.ToString("yyyy-MM-dd"), new { disabled = "disabled" })
                        </div>
                        <div class="input-group">
                            <button type="submit" class="btn btn-primary">Run</button>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="visible-print-block text-center">
            <strong>Sunday Date:</strong> @Model.Sunday.ToShortDateString()
        </div>
        @foreach (var p in Model.FetchInfo(DbUtil.Db))
        {
            <div>
                <h3>@p.Name</h3>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                @foreach (var c in p.Cols)
                                {
                                    <th class="text-right">@c.Heading</th>
                                }
                                <th class="text-right">Total</th>
                                <th class="text-right">Guests</th>
                                <th class="text-right">Non Local</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var d in p.Divs)
                            {
                                if (d.Meetings.Sum(m => m.Present) == 0 && d.NoDisplayZero)
                                {
                                    continue;
                                }
                                <tr>
                                    <td class="text-left">@d.Name</td>
                                    @foreach (var c in p.Cols)
                                    {
                                        <td class="text-right">@d.Meetings.Where(m => c.Times.Contains(m.date.TimeOfDay)).Sum(m => m.Present).ToString("n0")</td>
                                    }
                                    <td class="text-right">
                                        <a href='/Reports/Meetings?Dt1=@p.Dt1.ToString2("s")&dt2=@p.Dt2.ToString2("s")&ProgramId=@p.progid&DivisionId=@d.DivId'>
                                            @d.Meetings.Sum(m => m.Present).ToString("n0")
                                        </a>
                                    </td>
                                    <td class="text-right">@d.Meetings.Sum(m => m.Visitors).ToString("n0")</td>
                                    <td class="text-right">@d.Meetings.Sum(m => m.OutTowners).ToString("n0")</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr class="totals-row">
                                <td class="text-left">Total</td>
                                @foreach (var c in p.Cols)
                                {
                                    <td class="text-right">@p.Divs.Sum(d => d.Meetings.Where(m => c.Times.Contains(m.date.TimeOfDay)).Sum(m => m.Present)).ToString("n0")</td>
                                }
                                <td class="text-right">
                                    <a href='/Reports/Meetings?Dt1=@p.Dt1.ToString2("s")&dt2=@p.Dt2.ToString2("s")&ProgramId=@p.progid'>
                                        @p.Divs.Sum(d => d.Meetings.Sum(m => m.Present)).ToString("n0")
                                    </a>
                                </td>
                                <td class="text-right">@p.Divs.Sum(d => d.Meetings.Sum(m => m.Visitors)).ToString("n0")</td>
                                <td class="text-right">@p.Divs.Sum(d => d.Meetings.Sum(m => m.OutTowners)).ToString("n0")</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <br />
            <br />
        }
    </div>
</div>
