@using CmsWeb
@model CmsWeb.Areas.Reports.Models.DecisionSummaryModel
@{
    Layout = ViewExtensions2.TouchPointLayout();
    ViewBag.Title = "Decision Summary Report";
}
<h2>Decision Summary Report</h2>
<div class="well hidden-print">
    <div class="row">
        @using (Html.BeginForm("Decisions", "Reports", FormMethod.Get, new { id = "form" }))
        {
            <div class="col-sm-3">
                <label for="Campus">Campus</label>
                <div class="input-group">
                    @Html.DropDownList("Campus", Model.CampusList(), new { @class = "form-control" })
                </div>
            </div>
            <div class="col-sm-3">
                <label for="dt1">From Date</label>
                <div class="input-group date">
                    @Html.TextBox("dt1", Model.dt1.GetValueOrDefault().ToShortDateString(), new { @class = "form-control" })<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
            <div class="col-sm-6">
                <label for="dt2">To Date</label>
                <div class="form-inline">
                    <div class="input-group date">
                        @Html.TextBox("dt2", Model.dt2.GetValueOrDefault().ToShortDateString(), new { @class = "form-control" })<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                    <div class="input-group">
                        <button type="submit" class="btn btn-primary">Run</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="visible-print-block">
    @{
        var campus = Model.CampusList().FirstOrDefault(c => c.Value == Model.Campus.ToString());
        var campusName = campus != null ? campus.Text : "";
    }
    <strong>Campus:</strong> @campusName<br />
    <strong>From Date:</strong> @Model.dt1.GetValueOrDefault().ToShortDateString()<br />
    <strong>To Date:</strong> @Model.dt2.GetValueOrDefault().ToShortDateString()
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th colspan="2">Decisions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var r in Model.DecisionsByType())
                {
                    <tr>
                        <td class="text-left"><a class="query" href="/Reports/DecisionsToQuery/ForDecisionType/@r.Id">@r.Desc</a></td>
                        <td class="text-right"><a class="query" href="/Reports/DecisionsToQuery/ForDecisionType/@r.Id">@r.Count</a></td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr class="totals-row">
                    <td class="text-left"><a class="query" href="/Reports/DecisionsToQuery/ForDecisionType/All">Total</a></td>
                    <td class="text-right"><a class="query" href="/Reports/DecisionsToQuery/ForDecisionType/All">@Model.DecisionsCount</a></td>
                </tr>
                @foreach (var r in Model.DecisionsByType2())
                {
                    <tr>
                        <td class="text-left"><a class="query" href="/Reports/DecisionsToQuery/ForDecisionType/@r.Id">@r.Desc</a></td>
                        <td class="text-right"><a class="query" href="/Reports/DecisionsToQuery/ForDecisionType/@r.Id">@r.Count</a></td>
                    </tr>
                }
            </tfoot>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th colspan="2">Baptisms By Age</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var r in Model.BaptismsByAge())
                {
                    <tr>
                        <td class="text-left"><a class="query" href="/Reports/DecisionsToQuery/ForBaptismAge/@r.Id">@r.Desc</a></td>
                        <td class="text-right"><a class="query" href="/Reports/DecisionsToQuery/ForBaptismAge/@r.Id">@r.Count</a></td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr class="totals-row">
                    <td class="text-left"><a class="query" href="/Reports/DecisionsToQuery/ForBaptismType/All">Total</a></td>
                    <td class="text-right"><a class="query" href="/Reports/DecisionsToQuery/ForBaptismType/All">@Model.BaptismsCount</a></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="col-sm-6">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th colspan="2">Baptisms By Type</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var r in Model.BaptismsByType())
                {
                    <tr>
                        <td class="text-left"><a class="query" href="/Reports/DecisionsToQuery/ForBaptismType/@r.Id">@r.Desc</a></td>
                        <td class="text-right"><a class="query" href="/Reports/DecisionsToQuery/ForBaptismType/@r.Id">@r.Count</a></td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr class="totals-row">
                    <td class="text-left"><a class="query" href="/Reports/DecisionsToQuery/ForBaptismType/All">Total</a></td>
                    <td class="text-right"><a class="query" href="/Reports/DecisionsToQuery/ForBaptismType/All">@Model.BaptismsCount</a></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th colspan="2">New Member by Type</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var r in Model.NewMemberByType())
                {
                    <tr>
                        <td class="text-left"><a class="query" href="/Reports/DecisionsToQuery/ForNewMemberType/@r.Id">@r.Desc</a></td>
                        <td class="text-right"><a class="query" href="/Reports/DecisionsToQuery/ForNewMemberType/@r.Id">@r.Count</a></td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr class="totals-row">
                    <td class="text-left"><a class="query" href="/Reports/DecisionsToQuery/ForNewMemberType/All">Total</a></td>
                    <td class="text-right"><a class="query" href="/Reports/DecisionsToQuery/ForNewMemberType/All">@Model.NewMembersCount</a></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="col-sm-6">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th colspan="2">Dropped Members by Type</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var r in Model.DroppedMemberByType())
                {
                    <tr>
                        <td class="text-left"><a class="query" href="/Reports/DecisionsToQuery/ForDropType/@r.Id">@r.Desc</a></td>
                        <td class="text-right"><a class="query" href="/Reports/DecisionsToQuery/ForDropType/@r.Id">@r.Count</a></td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr class="totals-row">
                    <td class="text-left"><a class="query" href="/Reports/DecisionsToQuery/DroppedForChurch/All">Total</a></td>
                    <td class="text-right"><a class="query" href="/Reports/DecisionsToQuery/DroppedForChurch/All">@Model.DroppedMembersCount</a></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th colspan="2">Dropped Members by Church</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var r in Model.DroppedMemberByChurch())
                {
                    <tr>
                        <td class="text-left"><a class="query" href="/Reports/DecisionsToQuery/DroppedForChurch/@r.Desc">@r.Desc</a></td>
                        <td class="text-right"><a class="query" href="/Reports/DecisionsToQuery/DroppedForChurch/@r.Desc">@r.Count</a></td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr class="totals-row">
                    <td class="text-left"><a class="query" href="/Reports/DecisionsToQuery/DroppedForChurch/All">Total</a></td>
                    <td class="text-right"><a class="query" href="/Reports/DecisionsToQuery/DroppedForChurch/All">@Model.DroppedMembersCount</a></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(function () {
            $(".input-group.date").datepicker({ orientation: 'top' });
            $("a.query").click(function (ev) {
                ev.preventDefault();
                var f = $("#form");
                f.attr("action", $(this)[0].href);
                f.submit();
            });
        });
    </script>
}