@using Newtonsoft.Json
@model CmsWeb.Areas.Reports.ViewModels.CustomReportViewModel

@{
    // TODO: it would be really nice to use a _ViewStart.cshtml file instead of specifying this everywhere
    Layout = ViewExtensions2.Layout();
}

<h2>Custom Report Builder</h2>

@using (Html.BeginForm("EditCustomReport", "Reports"))
{
    @Html.HiddenFor(x => x.OrgId)
    @Html.HiddenFor(x => x.OriginalReportName)
    
    @Html.LabelFor(x => x.ReportName)
    @Html.TextBoxFor(x => x.ReportName)
    @Html.ValidationMessageFor(x => x.ReportName)

    foreach (var c in Model.Columns.Select((x,i) => new { Value = x, Index = i}))
    {
        <div class="form-group">
            <label class="checkbox">
                @Html.CheckBoxFor(x => Model.Columns[c.Index].IsSelected)
                @c.Value.Name
                @Html.HiddenFor(x => Model.Columns[c.Index].Name)
            </label>
        </div>
    }

    <input type="submit" class="btn" value="Save Report" />
}

<form>
</form>

<script type="text/html" id="custom-report-template">
</script>

<script>
</script>
