@using CmsWeb.Areas.Reports.Models
@model CmsWeb.Areas.Search.Models.OrgSearchModel

@{
  var list = EnrollmentControlModel.LastNameStarts(Model);
  var count = list.Count;
  int rows = count / 5;
  if (count % 5 > 0)
  {
    rows++;
  }
  var json = ViewBag.json as string;
}
<!DOCTYPE html>
<html>
<head>
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  @ViewExtensions2.jQueryMobileCss()
  @ViewExtensions2.jQuery()
  @ViewExtensions2.jQueryMobile()
  @Fingerprint.Script("/Content/touchpoint/js/org/enroll-control-ipad.js")
</head>
<body>
  <div data-role="page" id="foo">

    <div data-role="header">
      <h4>Enrollment Control</h4>
    </div>
    <div data-role="content">
      @for (var r = 0; r < rows; r++)
      {
        <div class="ui-grid-d">
          @for (var c = 0; (r + c * rows) < count && c < 5; c++)
          {
            <div class="ui-block-@((char)('a' + c))"><a href="/Reports/EnrollmentControl2b/@list[r+c*rows]?j=@json" class="ui-shadow ui-btn ui-corner-all">@list[r + c * rows]</a></div>
          }
        </div>
      }
    </div>
  </div>
</body>
</html>