@using CmsWeb.Areas.Reports.Models
@model IEnumerable<EnrollmentControlModel.MemberInfo>
<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  @ViewExtensions2.jQueryMobileCss()
  @ViewExtensions2.jQuery()
  @ViewExtensions2.jQueryMobile()
  @Fingerprint.Script("/Content/touchpoint/js/org/enroll-control-ipad.js")
</head>
<body>
    <div data-role="page" id="foo">
        <div data-role="header">
            <h4>Enrollment Control</h4>
        </div>
        <div data-role="content" class="ui-content" role="main">
            <ul data-role="listview" class="ui-listview">
                @foreach (var a in Model)
                {
                    <li class="ui-li ui-li-static ui-btn-up-c">
                        <div class="ui-grid-b">
                            <div class="ui-block-a" style="width: 40%">@a.Name</div>
                            <div class="ui-block-b" style="width: 25%">@a.Location</div>
                            <div class="ui-block-c" style="width: 35%">@a.Organization</div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</body>
</html>
