@model CmsWeb.Areas.Reports.Models.Attendance.MeetingAttendanceModel
@{
    Layout = ViewExtensions2.TouchPointLayout();
    ViewBag.Title = "Meetings Attendance Report";
    ViewBag.ReportPageHeader = "Meeting Attendance";
}
<div class="report box box-responsive">
    <div class="box-content">
        <div class="well hidden-print" style="max-width: 980px; margin: auto;">
            <div class="row">
                @using (Html.BeginForm("MeetingAttendance", "Reports", FormMethod.Get))
                {
                    <div class="col-sm-3">
                        <label for="StartDt" class="control-label">Start Date</label>
                        <div class="input-group date">
                            @Html.TextBox("StartDt", Model.StartDt.ToShortDateString(), new { @class = "form-control" })<span class="input-group-addon hidden-xs hidden-sm"><i class="fa fa-calendar"></i></span>
                            @Html.Hidden("StartDtIso", Model.StartDt.ToString("yyyy-MM-dd"), new { disabled = "disabled" })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label for="EndDt" class="control-label">End Date</label>
                        <div class="input-group date">
                            @Html.TextBox("EndDt", Model.EndDt.ToShortDateString(), new { @class = "form-control" })<span class="input-group-addon hidden-xs hidden-sm"><i class="fa fa-calendar"></i></span>
                            @Html.Hidden("EndDtIso", Model.EndDt.ToString("yyyy-MM-dd"), new { disabled = "disabled" })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label for="Type" class="control-label">Type</label>
                        @Html.DropDownListFor(vm => vm.Type, Model.Types(), new { @class = "form-control" })
                    </div>
                    <div class="col-sm-3">
                        <label for="Division" class="control-label">Division</label>
                        <div class="form-inline">
                            <div class="input-group col-sm-8">
                                @Html.DropDownListFor(vm => vm.Division, Model.Divisions(), new { @class = "form-control" })
                            </div>
                            <div class="input-group">
                                <button type="submit" class="btn btn-primary">Run</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="visible-print-block text-center">
            <strong>Start Date:</strong> @Model.StartDt.ToShortDateString()<br />
            <strong>End Date:</strong> @Model.EndDt.ToShortDateString()
        </div>
        @if (Model.Type != 0)
        {
            foreach (var p in Model.FetchInfo())
            {
            <div>
                <h3>@p.Name</h3>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                @foreach (var c in p.Cols)
                                {
                                    <th class="text-right">@c.Heading</th>
                                }
                            </tr>
                        </thead>
                        @foreach (var d in p.Orgs)
                        {
                            <tr>
                                <td class="text-left">@d.Name</td>
                                @foreach (var c in p.Cols)
                                {
                                    var a = d.Column(c);
                                    <td class="text-right">@a.TotalPeople.ToString("n0")</td>
                                }
                            </tr>
                        }
                        @{ var tta = p.Total(); var blankcols = (p.Cols.Count - 1).ToString();}
                        <tr class="totals-row">
                            <td class="text-left">Total Meetings</td>
                            <td class="text-right">@tta.TotalMeetings.ToString("n0")</td>
                            <td colspan="@blankcols"></td>
                        </tr>
                        <tr class="totals-row">
                            <td class="text-left">Total Individuals</td>
                            <td class="text-right">@tta.UniquePeople.ToString("n0")</td>
                            <td colspan="@blankcols"></td>
                        </tr>
                        <tr class="totals-row">
                            <td class="text-left">Total Attendance</td>
                            <td class="text-right">@tta.TotalPeople.ToString("n0")</td>
                            <td colspan="@blankcols"></td>
                        </tr>
                    </table>
                </div>
            </div>
            }
        }
        else
        {
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Meetings</th>
                        <th>Individuals</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int totalmeetings = 0; int totalpeople = 0;}
                    @foreach (var p in Model.FetchInfo())
                    {
                        var tta = p.Total();
                        totalmeetings += tta.TotalMeetings;
                        totalpeople += tta.UniquePeople;
                        <tr>
                            <td>
                                @p.Name
                            </td>
                            <td class="text-right">
                                <a href="?StartDt=@WebUtility.UrlEncode(Model.StartDt.ToShortDateString())&EndDt=@WebUtility.UrlEncode(Model.EndDt.ToShortDateString())&Type=@p.Id&Division=@Model.Division.ToString()">
                                    @tta.TotalMeetings.ToString("n0")
                                </a>
                            </td>
                            <td class="text-right">
                                @tta.UniquePeople.ToString("n0")
                            </td>
                        </tr>
                    }
                    <tr class="totals-row">
                        <td class="text-left">Total</td>
                        <td class="text-right">@totalmeetings.ToString("n0")</td>
                        <td class="text-right">@totalpeople.ToString("n0")</td>
                    </tr>
                </tbody>
            </table>
        </div>
        }
    </div>
