@using System.Collections.Generic
@using System.Linq
@using CmsWeb
@using UtilityExtensions
@model System.Collections.Generic.IEnumerable<dynamic>
@{
    ViewBag.Title = "Meetings For Month";
    ViewBag.ReportPageHeader = $"Meetings for {ViewBag.Month}";
    Layout = ViewExtensions2.TouchPointLayout();
    var entity = (IDictionary<string, object>)Model.First();
    var cols = entity.Keys.ToList();
    var atotals = cols.ToDictionary(cc => cc, cc => 0);
    var atot = 0.0;
    var ntot = 0;
}
<div class="report box box-responsive">
    <div class="box-content">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        @foreach (var col in cols)
                        {
                            if (char.IsDigit(col[0]))
                            {
                                <th class="text-right">@col</th>
                            }
                            else
                            {
                                <th>@col</th>
                            }
                        }
                        <th class="text-right">Average</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var rr in Model.Cast<IDictionary<string, object>>())
                    {
                        var tot = 0.0;
                        var n = 0;
                        <tr>
                            @foreach (var col in cols)
                            {
                                if (char.IsDigit(col[0]))
                                {
                                    tot += rr[col].ToInt();
                                    atotals[col] += rr[col].ToInt();
                                    if (rr[col].ToInt2().HasValue)
                                    {
                                        n++;
                                    }
                                    <td class="text-right">@rr[col]</td>
                                }
                                else
                                {
                                    <td>@rr[col]</td>
                                }
                            }
                            <td class="text-right">@((tot / n).ToString("n1"))</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr class="totals-row">
                        @foreach (var col in cols)
                        {
                            if (char.IsDigit(col[0]))
                            {
                                atot += atotals[col];
                                ntot++;
                                <td class="text-right">@atotals[col]</td>
                            }
                            else if (col == "Organization")
                            {
                                <td colspan="2" class="right">Total</td>
                            }
                        }
                        <td class="text-right">@((atot / ntot).ToString("n1"))</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
