@model CmsWeb.Areas.Reports.Models.Attendance.MeetingAttendanceModel
@{
    Layout = ViewExtensions2.TouchPointLayout();
    ViewBag.Title = "Meetings Attendance Report";
    ViewBag.ReportPageHeader = "Meeting Attendance";
}
<div class="report box box-responsive">
    <div class="box-content">
        <div class="well hidden-print" style="max-width: 770px; margin: auto;">
            <div class="row">
                @using (Html.BeginForm("MeetingAttendance", "Reports", FormMethod.Get))
                {
                    <div class="col-sm-3">
                        <label for="StartDt" class="control-label">Start Date</label>
                        <div class="input-group date">
                            @Html.TextBox("StartDt", Model.StartDt.ToShortDateString(), new { @class = "form-control" })<span class="input-group-addon hidden-xs hidden-sm"><i class="fa fa-calendar"></i></span>
                            @Html.Hidden("StartDtIso", Model.StartDt.ToString("yyyy-MM-dd"), new { disabled = "disabled" })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label for="EndDt" class="control-label">End Date</label>
                        <div class="input-group date">
                            @Html.TextBox("EndDt", Model.EndDt.ToShortDateString(), new { @class = "form-control" })<span class="input-group-addon hidden-xs hidden-sm"><i class="fa fa-calendar"></i></span>
                            @Html.Hidden("EndDtIso", Model.EndDt.ToString("yyyy-MM-dd"), new { disabled = "disabled" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="Type" class="control-label">Type</label>
                        <div class="form-inline">
                            <div class="input-group col-sm-6">
                                @Html.DropDownListFor(vm => vm.Type, Model.Types(), new { @class = "form-control" })
                            </div>
                            <div class="input-group">
                                <button type="submit" class="btn btn-primary">Run</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="visible-print-block text-center">
            <strong>Start Date:</strong> @Model.StartDt.ToShortDateString()<br />
            <strong>End Date:</strong> @Model.EndDt.ToShortDateString()
        </div>
        @foreach (var p in Model.FetchInfo())
        {
            <div>
                <h3>@p.Name</h3>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                @foreach (var c in p.Cols)
                                {
                                    <th class="text-right">@c.Heading</th>
                                }
                            </tr>
                        </thead>
                        @foreach (var d in p.Orgs)
                        {
                            <tr>
                                <td class="text-left">@d.Name</td>
                                @foreach (var c in p.Cols)
                                {
                                    var a = d.Column(c);
                                    <td class="text-right">@a.TotalPeople.ToString("n0")</td>
                                }
                            </tr>
                        }
                        @{ var tta = p.Total(); var blankcols = (p.Cols.Count - 1).ToString();}
                        <tr class="totals-row">
                            <td class="text-left">Total Meetings</td>
                            <td class="text-right">@tta.TotalMeetings.ToString("n0")</td>
                            <td colspan="@blankcols"></td>
                        </tr>
                        <tr class="totals-row">
                            <td class="text-left">Total Attendance</td>
                            <td class="text-right">@tta.TotalPeople.ToString("n0")</td>
                            <td colspan="@blankcols"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <br />
            <br />
        }
    </div>
</div>
