@using CmsWeb
@using UtilityExtensions
@model List<CmsData.View.MissionTripTotal>

@{
    ViewBag.Title = "Mission Trip Funding";
    ViewBag.ReportPageHeader = "Mission Trip Funding";
    Layout = ViewExtensions2.TouchPointLayout();
    var lastoid = 0;
}
<div class="report box box-responsive">
    <div class="box-content">
        <div class="table-responsive">
            <table class="table table-striped">
                @foreach (var r in Model)
                {
                    if (r.OrganizationId != lastoid)
                    {
                        lastoid = r.OrganizationId;
                        <thead>
                            <tr>
                                <td colspan="4">
                                    <h4>@r.Trip</h4>
                                </td>
                            </tr>
                            <tr>
                                <th><b>Particpant</b></th>
                                <th class="text-right"><b>Trip Cost</b></th>
                                <th class="text-right"><b>Raised</b></th>
                                <th class="text-right"><b>Balance</b></th>
                            </tr>
                        </thead>
                    }
                    var istotal = r.Name == "Total";
                    var fmt = istotal ? "C" : "N2";
                    <tr @(istotal ? "class=totals-row" : "")>
                        <td><a href="/Person2/@r.PeopleId">@r.Name</a></td>
                        <td class="text-right">@r.TripCost.ToString2(fmt)</td>
                        <td class="text-right">@r.Raised.ToString2(fmt)</td>
                        <td class="text-right">@r.Due.ToString2(fmt)</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>