@using CmsWeb
@using UtilityExtensions
@model IQueryable<CmsData.View.Registration>

@{
    ViewBag.Title = "Recent Registrations";
    Layout = ViewExtensions2.Layout();
}

<h2>Recent Registrations</h2>

<table class="@ViewExtensions2.GridClass">
    <thead>
        <tr>
            <th><a href="/Reports/RecentRegistrations?days=90&orgid=0">Date</a></th>
            <th>Registrant/User</th>
            <th>Birthday</th>
            <th class="right">Count</th>
            <th>Complete</th>
            <th><a href="/Reports/RecentRegistrations?days=90&orgid=0&sort=Organization">Organization</a></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td class="nowrap"><a href="/OnlineReg/RegPeople/@r.Id" target="detail">@r.Stamp.FormatDateTm()</a></td>
                <td>
                    @r.First.Truncate(20) @r.Last.Truncate(20)
                    <div>
                        @if (r.PeopleId.HasValue)
                        {
                            <a href="/Person2/@r.PeopleId" target="detail"> @r.Name </a>
                        }
                        else
                        {
                            <text>anonymous</text>
                        }
                    </div>
                </td>
                <td>@r.Dob</td>
                <td class="right">@r.Cnt.ToString2("N0")</td>
                <td>@((r.Completed ?? false) ? "YES" : "incomplete")</td>
                <td><a href="/Organization/@r.OrganizationId" target="detail">@r.OrganizationName</a></td>
            </tr>
        }
    </tbody>
</table>
