@model IEnumerable<dynamic>
@using CmsWeb
@using UtilityExtensions
@{
    ViewBag.Title = "RecentAbsents";
    Layout = ViewExtensions2.Layout();
    var prevorgid = 0;
}
<h2>Recent Absents</h2>
<table class="@ViewExtensions2.GridClass">
@foreach (var item in Model)
{
    var ld = item.lastmeeting as DateTime?;
    var la = item.lastattend as DateTime?;
    if (item.OrganizationId != prevorgid)
    {
        prevorgid = item.OrganizationId;
        <thead>
        <tr>
            <th colspan="6" class="left"><hr/>
                <a href="/Organization/@item.OrganizationId">@item.OrganizationName</a> (@item.LeaderName) <br/>
                Members with @(item.ConsecutiveAbsentsThreshold ?? 2) or more consecutive absents on and before @Util.FormatDate(item.lastmeeting)
                <hr/>
            </th>
        </tr>
        <tr>
            <th></th>
            <th>Absent</th>
            <th>Last Attend</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
    }
    <tr>
        <td><a href="/Person2/@item.PeopleId" target="person">@item.Name2</a></td>
        <td class="right"> @item.consecutive times </td>
        <td class="right"> @Util.FormatDate(item.lastattend)</td>
        <td>@Util.FmtFone(item.HomePhone, prefix:"H")</td>
        <td>@Util.FmtFone(item.CellPhone, prefix:"C")</td>
        <td><a href="mailto:@item.EmailAddress">@item.EmailAddress</a></td>
    </tr>
}
</table>