@using CmsData
@model CmsWeb.Areas.Reports.Models.WeeklyDecisionsModel
@{
    Layout = ViewExtensions2.TouchPointLayout();
    ViewBag.Title = "Weekly Decisions Report";
    ViewBag.ReportPageHeader = "Weekly Decisions Report";
}
<div class="report box box-responsive">
    <div class="box-content">
        <div class="well hidden-print" style="max-width: 600px; margin: auto;">
            <div class="row">
                @using (Html.BeginForm("WeeklyDecisions", "Reports", FormMethod.Get))
                {
                    <div class="col-sm-5">
                        <label for="Campus" class="control-label">@Util2.CampusLabel</label>
                        <div class="input-group">
                            @Html.DropDownList("Campus", Model.CampusList(), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <label for="Sunday" class="control-label">Sunday Date</label>
                        <div class="form-inline">
                            <div class="input-group date">
                                @Html.TextBox("Sunday", Model.Sunday.ToShortDateString(), new { @class = "form-control" })<span class="input-group-addon hidden-xs hidden-sm"><i class="fa fa-calendar"></i></span>
                                @Html.Hidden("SundayIso", Model.Sunday.ToString("yyyy-MM-dd"), new { disabled = "disabled" })
                            </div>
                            <div class="input-group">
                                <button type="submit" class="btn btn-primary">Run</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="visible-print-block text-center">
            @{
                var campus = Model.CampusList().FirstOrDefault(c => c.Value == Model.Campus.ToString());
                var campusName = campus != null ? campus.Text : "";
            }
            <strong>@Util2.CampusLabel:</strong> @campusName<br />
            <strong>Sunday Date:</strong> @Model.Sunday.ToShortDateString()
        </div>
        <div class="row">
            <div class="col-sm-6">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th colspan="2">Decisions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var r in Model.Decisions())
                        {
                            <tr>
                                <td class="text-left">@r.Name</td>
                                <td class="text-right">@r.Count</td>
                            </tr>
                        }
                        <tr class="totals-row">
                            <td class="text-left">Total </td>
                            <td class="text-right">@Model.TotalDecisions.Count</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th colspan="2">Baptisms</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var r in Model.Baptisms())
                        {
                            <tr>
                                <td class="text-left">@r.Name</td>
                                <td class="text-right">@r.Count</td>
                            </tr>
                        }
                        <tr class="totals-row">
                            <td class="text-left">Total </td>
                            <td class="text-right">@Model.TotalBaptisms.Count</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>