@model CmsWeb.Areas.Reports.Models.WeeklyDecisionsModel
@{
    Layout = ViewExtensions2.TouchPointLayout();
    ViewBag.Title = "Weekly Decisions Report";
}
<h2>Weekly Decisions Report</h2>
<div class="well hidden-print">
    <div class="row">
        @using (Html.BeginForm("WeeklyDecisions", "Reports", FormMethod.Get))
        {
            <div class="col-sm-3">
                <label for="Campus">Campus</label>
                <div class="input-group">
                    @Html.DropDownList("Campus", Model.CampusList(), new { @class = "form-control" })
                </div>
            </div>
            <div class="col-sm-9">
                <label for="Sunday">Sunday Date</label>
                <div class="form-inline">
                    <div class="input-group date">
                        @Html.Hidden("SundayIso", Model.Sunday.ToString("yyyy-MM-dd"), new { disabled="disabled" })
                        @Html.TextBox("Sunday", Model.Sunday.ToShortDateString(), new { @class = "form-control" })<span class="input-group-addon hidden-xs hidden-sm"><i class="fa fa-calendar"></i></span>
                    </div>
                    <div class="input-group">
                        <button type="submit" class="btn btn-primary">Run</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="visible-print-block">
    @{
        var campus = Model.CampusList().FirstOrDefault(c => c.Value == Model.Campus.ToString());
        var campusName = campus != null ? campus.Text : "";
    }
    <strong>Campus:</strong> @campusName<br />
    <strong>Sunday Date:</strong> @Model.Sunday.ToShortDateString()
</div>
<div class="row">
    <div class="col-sm-6">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th colspan="2">Decisions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var r in Model.Decisions())
                {
                    <tr>
                        <td class="text-left">@r.Name</td>
                        <td class="text-right">@r.Count</td>
                    </tr>
                }
                <tr class="totals-row">
                    <td class="text-left">Total </td>
                    <td class="text-right">@Model.TotalDecisions.Count</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-6">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th colspan="2">Baptisms</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var r in Model.Baptisms())
                {
                    <tr>
                        <td class="text-left">@r.Name</td>
                        <td class="text-right">@r.Count</td>
                    </tr>
                }
                <tr class="totals-row">
                    <td class="text-left">Total </td>
                    <td class="text-right">@Model.TotalBaptisms.Count</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(function () {
            var extraSmallDevice = $('.device-xs').is(':visible');
            var smallDevice = $('.device-sm').is(':visible');
            if (extraSmallDevice || smallDevice) {
                $(".input-group.date input").val($(".input-group.date input[type=hidden]").val());
                $(".input-group.date input[type=text]").attr('type', 'date');
            } else {
                $(".input-group.date").datepicker({ orientation: 'top' });
            }
        });
    </script>
}