@using UtilityExtensions
@model CmsWeb.Areas.Dialog.Models.OrgMemberMoveModel
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
      <h4>@Model.OrgName</h4>
      <strong>Moving @Model.Name</strong>
    </div>
    <div class="modal-body" data-target="/OrgMemberDialog/MoveResults">
      <div class="alert alert-info">
        Click an organization name below to move the member to.
      </div>
      <div class="well">
        @Html.EditorFor(m => m.MoveRegistrationData)
        <div class="row">
          <div class="col-sm-8">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
              @Html.TextBox("OrgSearch", "", new {@class = "form-control"})
            </div>
          </div>
          <div class="col-sm-4">
            <div class="pull-right">
              <a id="orgsearchbtn" href="#" class="btn btn-primary ajax">Search Organizations</a>
            </div>
          </div>
        </div>
      </div>
      @if (Model.Count() > 10)
      {
        @Html.Partial("PagerTop", Model)
      }
      <br/>
      <div class="row">
        <div class="col-sm-12">
          @foreach (var o in Model.ViewList())
          {
            <div>
              <a class="movemember" title="@o.Tip" href="/OrgMemberDialog/MoveSelect/@o.ToOrgId" style="font-weight: 600;">@o.OrgName</a>
            </div>
            <div style="margin-left: 10px;">
              <i>@Html.Raw(o.Tip)</i>
            </div>
          }
        </div>
      </div>
      <br/>
      @Html.Partial("PagerBottom", Model)
      @Html.Partial("PagerHidden", Model)
      @Html.HiddenFor(m => m.OrgId)
      @Html.HiddenFor(m => m.PeopleId)
      @Html.HiddenFor(m => m.Group)
    </div>
    <div class="modal-footer">
      <a href="/OrgMemberDialog/Display" class="btn btn-default ajax">Cancel Move</a>
    </div>
  </div>
</div>