@model IEnumerable<CmsData.PeopleCanEmailFor>
@{
    Layout = Fingerprint.Layout();
    ViewBag.Title = "UsersEmailFor";
}
@section scripts
{
    @Fingerprint.Script("/Scripts/Dialog/SearchUsers.js")
    @Fingerprint.Script("/Scripts/js/UsersEmailFor.js")
}
<h2>Index</h2>

    <p>
        <label for="UserId">Add New Person who can Email for others:</label>
        <a href="/Setup/UsersCanEmailFor/PersonCanEmailForList/0" class="bt editcanemail">Select People</a>
    </p>
<p><i>Note, on the users screen, the top person in list is the person who will be able to email on behalf of others in the list</i></p>
<br/>
<hr/>
<table class="@Fingerprint.GridClass">
    <tr>
        <td><b>Person who can Email</b></td>
        <td><b>On Behalf of Person</b></td>
    </tr>

    @foreach (var item in Model)
    { 
        <tr>
            <td>
                <a class="editcanemail" href="/Setup/UsersCanEmailFor/PersonCanEmailForList/@item.CanEmail">@item.PersonCanEmail.Name</a>
            </td>
            <td>
                @item.OnBehalfOfPerson.Name
            </td>
        </tr>
    }
</table>