@using CmsData
@{
    int groupId = ViewBag.ID;
    string action;
    var groupName = "";
    var groupDescription = "";
    var title = "";
    var systemFlag = false;

    if (groupId > 0)
    {
        var group = (from e in DbUtil.Db.SMSGroups
                     where e.Id == groupId
                     select e).Single();
        action = "GroupUpdate";
        groupName = group.Name;
        groupDescription = group.Description;
        systemFlag = group.SystemFlag;
        title = "Edit Group";
    }
    else
    {
        action = "GroupCreate";
        title = "Create New Group";
    }
}

@using (Html.BeginForm(action, "Twilio"))
{
    @Html.Hidden("id", groupId)
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">@title</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            @Html.Label("name", "Name", new { @class = "control-label" })
            @Html.TextBox("name", groupName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.Label("description", "Description", new { @class = "control-label" })
            @Html.TextBox("description", groupDescription, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.CheckBoxFor(m => systemFlag)
            @Html.Label("SystemFlag", "Use for system SMS", new { @class = "control-label" })
        </div>
    </div>
    <div class="modal-footer">
        <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" />
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
}
