@model IEnumerable<CmsWeb.Areas.Manage.Controllers.EmailsController.MailFail>
@using CmsWeb
@using UtilityExtensions
@{
    ViewBag.Title = "Failed Emails";
    ViewBag.PageHeader = "Failed Emails";
    Layout = ViewExtensions2.TouchPointLayout();
}
<div class="row">
    <div class="col-md-12">
        <div class="box box-responsive">
            <div class="box-content">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                            @foreach (var e in Model)
                            {
                                <tr>
                                    <td>@e.time.FormatDateTm()</td>
                                    <td><a href="/Person2/@e.peopleid">@e.name</a></td>
                                    <td><a href="/Emails/Failed/@e.peopleid">@e.email</a></td>
                                    <td><a href="/Emails/Details/@e.emailid">@e.subject</a></td>
                                    <td>@e.eventx</td>
                                    <td>@e.type</td>
                                    <td>@e.reason</td>
                                    <td>
                                        @if (e.canunblock)
                                        {
                                            <a href="#" class="unblock" email="@e.email">unblock</a>
                                        }
                                        @if (e.canunspam)
                                        {
                                            <a href="#" class="unspam" email="@e.email">unspam</a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(function () {
            $("a.unblock").click(function (ev) {
                var address = $(this).attr("email");

                swal({
                    title: "Are you sure?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-warning",
                    confirmButtonText: "Yes, unblock it!",
                    closeOnConfirm: false
                },
                function () {
                    $.post("/Manage/Emails/Unblock", { email: address }, function (ret) {
                        swal({ title: ret, type: "success" });
                    });
                });
            });

            $("a.unspam").click(function (ev) {
                var address = $(this).attr("email");
                swal({
                    title: "Are you sure?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-warning",
                    confirmButtonText: "Yes, unspam it!",
                    closeOnConfirm: false
                },
                function () {
                    $.post("/Manage/Emails/Unspam", { email: address }, function (ret) {
                        swal({ title: ret, type: "success" });
                    });
                });
            });
        });
    </script>
}