@model IEnumerable<CmsWeb.Areas.Manage.Controllers.EmailsController.MailFail>
@using CmsWeb
@using UtilityExtensions
@{
    ViewBag.Title = "Details";
    Layout = ViewExtensions2.Layout();
}
@section scripts
{
    <script type="text/javascript">
        $(function() {
            $("a.unblock").click(function(ev) {
                if (confirm("are you sure?"))
                    $.post("/Emails/Unblock", { email: $(this).attr("email") }, function(ret) {
                        $.growlUI("email unblocked", ret);
                    });
            });
            $("a.unspam").click(function(ev) {
                if (confirm("are you sure?"))
                    $.post("/Emails/Unspam", { email: $(this).attr("email") }, function(ret) {
                        $.growlUI("email unspamed", ret);
                    });
            });
        });
    </script>
}
<h2>Failed Emails</h2>
    <table class="@ViewExtensions2.GridClass">
    @foreach(var e in Model)
    {
        <tr><td>@e.time.FormatDateTm()</td>
            <td><a href="/Person2/@e.peopleid">@e.name</a></td>
            <td><a href="/Emails/Failed/@e.peopleid">@e.email</a></td>
            <td><a href="/Emails/Details/@e.emailid">@e.subject</a></td>
            <td>@e.eventx</td>
            <td>@e.type</td>
            <td>@e.reason</td>
			<td>
            @if(e.canunblock)
			{
			    <a href="#" class="unblock" email="@e.email">unblock</a>
			}
            @if(e.canunspam)
			{
			    <a href="#" class="unspam" email="@e.email">unspam</a>
			}
			</td>
        </tr>
    }
    </table>
