@using CmsWeb;
@using UtilityExtensions;
@model CmsWeb.Models.EmailsModel          
<div class="well">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="form-group">
                <label for="from" class="control-label">From</label>
                @Html.TextBox("from", Model.from, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="form-group">
                <label for="subject" class="control-label">Subject</label>
                @Html.TextBox("subject", Model.subject, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="form-group">
                <label for="startdt" class="control-label">Date From</label>
                <div class="input-group date">
                    @Html.TextBox("startdt", Model.startdt.HasValue ? Model.startdt.GetValueOrDefault().ToShortDateString() : "", new { @class = "form-control" })<span class="input-group-addon hidden-xs hidden-sm"><i class="fa fa-calendar"></i></span>
                    @Html.Hidden("startdtIso", Model.startdt.HasValue ? Model.startdt.GetValueOrDefault().ToString("yyyy-MM-dd") : "", new { disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="form-group">
                <label for="enddt" class="control-label">Date To</label>
                <div class="input-group date">
                    @Html.TextBox("enddt", Model.enddt.HasValue ? Model.enddt.GetValueOrDefault().ToShortDateString() : "", new { @class = "form-control" })<span class="input-group-addon hidden-xs hidden-sm"><i class="fa fa-calendar"></i></span>
                    @Html.Hidden("enddtIso", Model.enddt.HasValue ? Model.enddt.GetValueOrDefault().ToString("yyyy-MM-dd") : "", new { disabled = "disabled" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="form-group">
                <label for="body" class="control-label">Body</label>
                @Html.TextBox("body", Model.body, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="form-group">
                <label for="senderid" class="control-label">Sent By Id</label>
                @Html.TextBox("senderid", Model.senderid, new { @class = "form-control" })
                @if (Model.senderid.HasValue)
                {
                    <a href="/Person2/@Model.senderid">@Model.sender</a>
                }
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="form-group">
                <label for="peopleid" class="control-label">Recipient Id</label>
                @Html.TextBox("peopleid", Model.peopleid, new { @class = "form-control" })
                @if (Model.peopleid.HasValue)
                {
                    <a href="/Person2/@Model.peopleid">@Model.name</a>
                }
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="form-group">
                <div class="checkbox">
                    <label class="control-label">
                        @Html.CheckBox("transactional") Transactional?
                    </label>
                </div>
                <div class="checkbox">
                    <label class="control-label">
                        @Html.CheckBox("scheduled") Scheduled?
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4">

        </div>
        <div class="col-lg-3 col-lg-offset-6 col-md-3 col-md-offset-6 col-sm-4 col-sm-offset-4">
            <div class="pull-right">
                <a id="clear" href="/Emails" class="btn btn-default">Clear</a> <a id="filter" href="#" class="submitbutton btn btn-primary">Filter</a>
            </div>
        </div>
    </div>
</div>
@Html.Partial("PagerTop", Model.Pager)
<div class="table-responsive">
    <table id="Emails" class="table table-striped">
        <thead>
            <tr>
                <th><a href="#" class="sortable">Sent/Scheduled</a></th>
                <th><a href="#" class="sortable"><a tabindex="0" href="#" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-title="Name" data-content="Click a person's name to view emails sent by that person'."><i class="fa fa-info-circle"></i></a>&nbsp;Name</a></th>
                <th><a href="#" class="sortable">From</a></th>
                <th><a href="#" class="sortable"><a tabindex="0" href="#" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-title="Subject" data-content="Click the subject to view details for that email."><i class="fa fa-info-circle"></i></a>&nbsp;Subject</a></th>
                <th class="text-right"><a href="#" class="sortable">Count</a></th>
                <th class="text-right">Opened</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.Emails())
            {
                <tr class="@(!i.queue.Sent.HasValue ? i.queue.SendWhen.HasValue ? "success" : "warning" : "")">
                    <td>
                        @if (!i.queue.Sent.HasValue)
                        {
                            if (i.queue.SendWhen.HasValue)
                            {
                                <span title="Scheduled">@i.queue.SendWhen.FormatDate()</span>
                            }
                            else
                            {
                                <span title="Queued">@i.queue.Queued.FormatDateTm()</span>
                            }
                        }
                        else
                        {
                            <span title="Sent">@i.queue.Sent.FormatDateTm()</span>
                        }
                    </td>
                    <td>
                        <a href="/Manage/Emails/SentBy/@i.queue.QueuedBy">@i.queue.FromName</a>
                    </td>
                    <td>@i.queue.FromAddr</td>
                    <td>
                        <a href="/Manage/Emails/Details/@i.queue.Id">@i.queue.Subject</a>
                    </td>
                    <td class="text-right">@i.count</td>
                    <td class="text-right">@i.nuopens</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@Html.Partial("PagerBottom", Model.Pager)
@Html.Hidden("totcnt", Model.Count().ToString("N0"))
@Html.Hidden("Page", Model.Pager.Page)
@Html.Hidden("Sort", Model.Pager.Sort)
@Html.Hidden("Direction", Model.Pager.Direction)