@{
    var admin = User.IsInRole("Admin");
    var developer = User.IsInRole("Developer");
    var manageemails = User.IsInRole("ManageEmails");
    var managetrans = User.IsInRole("ManageTransactions");
    var edit = User.IsInRole("Edit");
    var design = User.IsInRole("Design");
    var finance = User.IsInRole("Finance") && ((string)Session["testnofinance"]) != "true";
    var quickbooks = ViewExtensions2.DbSetting("ShowQuickBooksMenu", "false") == "true";
}
@if (admin || manageemails || managetrans || edit || design || finance)
{
    <li id="adminstop" class="dropdown">
        @if (finance)
        {
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin</a>
            <ul class="dropdown-menu dropdown-div-finance">
                <li>
                    <div class="row-fluid">
                        <ul class="span5 unstyled pull-left">
                            <li class="header">Contributions</li>
                            @Helper.LiAnchorLink("Bundles", "/Bundles/")
                            @Helper.LiAnchorLink("Search", "/Contributions/")

                            <li class="header"></li>
                            @Helper.LiAnchorLink("Statements (All)", "/Statements/", true, "_blank")
                            @Helper.LiAnchorLink("Totals by Fund", "/FinanceReports/TotalsByFund/")
                            <li><a href='/FinanceReports/DonorTotalSummary' class="dialog-options" data-target="/FinanceReports/DonorTotalSummaryOptions">Donor Total Summary Export</a></li>
                            @Helper.LiAnchorLink("Donor Totals by Range", "/FinanceReports/DonorTotalsByRange/")
                            @Helper.LiAnchorLink("Totals by Fund Age Range", "/ContributionReports/TotalsByFundAgeRange.aspx", true, "_blank")
                            @Helper.LiAnchorLink("Totals by Fund Range", "/ContributionReports/TotalsByFundRange.aspx", true, "_blank")
                            @Helper.LiAnchorLink("Pledge Totals by Fund Range", "/ContributionReports/TotalsByFundRange.aspx?pledged=true", true, "_blank")
                            @Helper.LiAnchorLink("Pledge Report", "/FinanceReports/PledgeReport/")
                            @Helper.LiAnchorLink("Managed Giving", "/FinanceReports/ManagedGiving/")
                            <li class="header"></li>
                            @Helper.LiAnchorLink("Fund Management", "/Funds/")
                            @Helper.LiAnchorLink("Batch Upload Contributions", "/PostBundle/Batch/")
                            @Helper.LiAnchorLink("QuickBooks", "/QuickBooks/", quickbooks)
                        </ul>
                        <ul class="span4 unstyled pull-left">
                            @AdminList2(admin, design, managetrans, edit, manageemails, true, developer)
                        </ul>
                        <ul class="span3 unstyled pull-left">
                            @AdminList1(admin, design, managetrans, edit, manageemails, finance: true, developer: developer)
                        </ul>
                    </div>
                </li>
            </ul>
        }
        else
        {
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin</a>
            <ul class="dropdown-menu dropdown-div-admin">
                <li>
                    <div class="row-fluid">
                        <ul class="span6 unstyled pull-left">
                            @AdminList2(admin, design, managetrans, edit, manageemails, finance:false, developer:developer)
                        </ul>
                        <ul class="span6 unstyled pull-left">
                            @AdminList1(admin, design, managetrans, edit, manageemails, finance:false, developer: developer)
l                        </ul>
                    </div>
                </li>
            </ul>
        }
    </li>
}
@helper AdminList1(bool admin, bool design, bool managetrans, bool edit, bool manageemails, bool finance, bool developer)
{
    @Helper.LiHeader("Setup", admin || finance || design)
    @Helper.LiAnchorLink("Lookups", "/Lookups/", admin || finance)
    @Helper.LiAnchorLink("Metro Zips", "/MetroZips/", admin)
    @Helper.LiAnchorLink("Promotion", "/PromotionSetup/", admin)
    @Helper.LiAnchorLink("Settings", "/Settings/", admin)
    @Helper.LiAnchorLink("Special Content", "/Display/", admin || design)
    @Helper.LiAnchorLink("Twilio", "/Twilio/", admin)
    
    @Helper.LiHeader("Reports", admin)
    @Helper.LiAnchorLink("Registration History", "/RegistrationSearch", admin)
    @Helper.LiAnchorLink("Registration Summary", "/Reports/RegistrationSummary?days=90", admin)
    @Helper.LiAnchorLink("Duplicates Find Result", "/Duplicates", admin)
}
@helper AdminList2(bool admin, bool design, bool managetrans, bool edit, bool manageemails, bool finance, bool developer)
{
    @Helper.LiHeader("Manage", admin || manageemails || edit || managetrans)
    @Helper.LiAnchorLink("Activity Log", "/Users/LastActivity/", admin)
    @Helper.LiAnchorLink("Check-in Activity", "/CheckinTimes/", admin || edit)
    @Helper.LiAnchorLink("Check-in Labels", "/CheckinLabels", admin)
    @Helper.LiAnchorLink("Divisions", "/Divisions/", admin)
    @Helper.LiAnchorLink("Emails", "/Emails/", admin || manageemails)
    @Helper.LiAnchorLink("Programs", "/Programs/", admin)
    @Helper.LiAnchorLink("Promotion", "/Promotion/", admin)
    @Helper.LiAnchorLink("SMS Messages", "/SMS/List/", admin)
    @Helper.LiAnchorLink("Transactions", "/Transactions/", admin || managetrans)
    @Helper.LiAnchorLink("Users", "/Users/", admin)
    @Helper.LiAnchorLink("User Can Email For", "/UsersCanEmailFor/", admin || manageemails)

    @Helper.LiHeader("Batch Actions", admin)
    @Helper.LiAnchorLink("Find Duplicates", "/Duplicates/Find", admin)
    @Helper.LiAnchorLink("Update Organizations", "/Batch/UpdateOrg", admin)
    @Helper.LiAnchorLink("Update Fields from a Tag/Query", "/Batch/UpdateFields", admin)
    @Helper.LiAnchorLink("Update Status Flags", "/Batch/UpdateStatusFlags", admin)
    @Helper.LiAnchorLink("Tag PeopleIds", "/Batch/TagPeopleIds", admin)
}