@{
    var recentOrgs = Util2.MostRecentOrgs;
}
<li class="dropdown dropdown-large">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="visible-xs-inline"><i class="fa fa-group"></i>&nbsp;&nbsp;</span>
        <span class="hidden-lg hidden-xs">Orgs</span>
        <span class="visible-lg-inline visible-xs-inline">Organizations</span>
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu dropdown-menu-large row">
        <li class="col-sm-6">
            <ul>
                <li class="dropdown-header dropdown-sub-header">Manage Organizations</li>
                @Helper.LiAnchorLink("Search", "/OrgSearch/")
                @if (User.IsInRole("Edit"))
                {
                    <li>@Helper.JQueryIdLink("Add New Organization", "addorg")</li>
                }
                @if (User.IsInRole("Checkin") && DbUtil.Db.Setting("EnableCheckinCoordinator"))
                {
                    <li>@Helper.LiAnchorLink("Check-In Coordinator", "/CheckInCoordinator")</li>
                }
                @Helper.LiAnchorLink("Coupons", "/Coupon/List", User.IsInRole("Coupon"))
                @Helper.LiAnchorLink("Org Members", "/OrgMembers/", display: User.IsInRole("ManageOrgMembers"))
                @Helper.LiAnchorLink("Promotion", "/Promotion/", User.IsInRole("ManageOrgMembers"))
            </ul>
        </li>
        <li class="col-sm-6">
            <ul>
                @if (recentOrgs.Any())
                {
                    <li class="dropdown-header dropdown-sub-header">Recently Viewed</li>
                    foreach (var o in Util2.MostRecentOrgs)
                    {
                        @Helper.LiAnchorLink(o.Name, "/Org/" + o.Id)
                    }
                }
            </ul>
        </li>
    </ul>
</li>
