<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Organization <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("Search", "Index", "OrgSearch", new { Area = "Main" }, null)</li>

        @if (User.IsInRole("Edit"))
        {
            <li>@Helper.JQueryIdLink("Add Organization", "addorg")</li>
            <li>@Html.ActionLink("Org Members Management", "Index", "OrgMembers", new { Area = "Manage" }, null)</li>
        }

        @if (User.IsInRole("Coupon"))
        {
            <li>@Html.ActionLink("Coupons", "Index", "Coupon", new { Area = "Main" }, null)</li>
        }
        <li><a href="/EnrollmentControlReport.aspx">Enrollment Control Report </a></li>
        <li class="divider"></li>

        @foreach (var o in Util2.MostRecentOrgs)
        {
            <li>@Html.ActionLink(o.Name, "Index", "Organization", new { Id = o.Id, Area = "Main" }, null)</li>
        }
    </ul>
</li>
