@{
  var menuaddpeople = DbUtil.Db.Setting("MenuAddPeople", true) || Util.IsDebug();
}
<li class="dropdown dropdown-large">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="visible-xs-inline"><i class="fa fa-bar-chart"></i>&nbsp;&nbsp;</span>People <span class="caret"></span></a>
  <ul class="dropdown-menu dropdown-menu-large row">
    <li class="col-sm-6">
      <ul>
        <li class="dropdown-header dropdown-sub-header">Find People</li>
        <li><a href="#" data-toggle="modal" data-target="#search-box">Quick Search</a></li>
        @Helper.LiAnchorLink("Basic Search", "/PeopleSearch")
        <li class="dropdown-header dropdown-sub-header">Search Builder Query</li>
          @Helper.LiAnchorLink("New Search", "/NewQuery")
          @Helper.LiAnchorLink("Last Search", "/Query")
          @Helper.LiAnchorLink("Saved Searches", "/SavedQueryList")
          @Helper.LiAnchorLink("All Records", "/Query/-All-")
        <li class="dropdown-header dropdown-sub-header">Other</li>
          @Helper.LiAnchorLink("Church Picture Directory", "/PictureDirectory")
      </ul>
    </li>
    <li class="col-sm-6">
      <ul>
        <li class="dropdown-header dropdown-sub-header">Manage People</li>
        @Helper.LiAnchorLink("Contacts", "/ContactSearch2/")
        @Helper.LiAnchorLink("Tags", "/Tags/")
        @Helper.LiAnchorLink("Tasks", "/TaskSearch")
        @if (menuaddpeople)
        {
            <li><a href="/SearchAdd2/Dialog/Menu" class="searchadd">Add Person</a></li>
        }
        @Helper.LiAnchorLink("Add Person", "https://docs.touchpointsoftware.com/SearchAdd/AddPeopleContext.html", !menuaddpeople, "_blank")
        @{
          var recentPeople = Util2.MostRecentPeople;
        }
        @if (recentPeople.Any())
        {
            <li class="dropdown-header dropdown-sub-header">Recently Viewed</li>
            foreach (var p in Util2.MostRecentPeople)
            {
                @Helper.LiAnchorLink(p.Name, "/Person2/" + p.Id)
            }
        }
        <li class="dropdown-header dropdown-sub-header">My Record</li>
        @Helper.LiAnchorLink(Util.UserFullName, "/Person2/" + Util.UserPeopleId) 
      </ul>
    </li>
  </ul>
</li>
