<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">People <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("Search", "Index", "PeopleSearch", new { Area = "Main" }, null)</li>

        @if (DbUtil.Db.Setting("MenuAddPeople", "true") == "true" || Util.IsDebug())
        {
            if (Request.Url.PathAndQuery.Contains("Person2", ignoreCase: true))
            {
            <li><a href="/SearchAdd2/Dialog/Menu" class="searchadd">Add People</a></li>
            }
            else
            {
            <li>@Helper.JQueryIdLink("Add People", "addpeople")</li>
            }
        }
        else
        {
            <li>@Helper.AnchorLink("Add People", "http://www.bvcms.com/doc/AddPeopleContext", "_blank")</li>
        }
        <li>@Html.ActionLink("Manage Tags", "Index", "Tags", new { Area = "Main" }, null)</li>
        <li>@Html.ActionLink("Tasks", "List", "Task", new { Area = "Main" }, null)</li>
        <li>@Html.ActionLink("Contacts", "Index", "ContactSearch", new { Area = "Main" }, null)</li>

        <li class="divider"></li>

        @foreach (var p in Util2.MostRecentPeople)
        {
            <li>@Html.ActionLink(p.Name, "Index", "Person", new { Id = p.Id, Area = "Main" }, null)</li>
        }
        <li class="divider"></li>
        <li>@Html.ActionLink(Util.UserFullName, "Index", "Person", new { Id = Util.UserPeopleId, Area = "Main" }, null)
        </li>
    </ul>
</li>
