<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("Vital Stats", "VitalStats", "Reports", new { Area = "Main" }, null)</li>
        <li>@Html.ActionLink("Week at a Glance", "ChurchAttendance", "Reports", new { Area = "Main" }, null)</li>
        <li>@Html.ActionLink("Average Week at a Glance", "ChurchAttendance2", "Reports", new { Area = "Main" }, null)
        </li>

        @if (DbUtil.Db.Setting("Bellevue", "false") == "true")
        {
            <li>@Helper.AnchorLink("Church Attendance Summary", "/Report/ChurchAttendanceSummaryRpt.aspx", "_blank")
            </li>
        }
        <li>@Helper.AnchorLink("Weekly Decisions", "/Report/ChurchAttendanceRpt.aspx", "_blank")</li>
        <li>@Helper.AnchorLink("Decision Summary", "/Report/DecisionSummary.aspx", "_blank")</li>
        <li>@Html.ActionLink("First Time Attenders", "NthTimeAttenders", "Home", new { Area = "", Id = 1 }, null)
        </li>
        <li>@Html.ActionLink("Second Time Attenders", "NthTimeAttenders", "Home", new { Area = "", Id = 2 }, null)
        </li>
        <li>@Html.ActionLink("Third Time Attenders", "NthTimeAttenders", "Home", new { Area = "", Id = 3 }, null)
        </li>
        <li>@Html.ActionLink("Extra Values", "ExtraValues", "Reports", new { Area = "Main" }, null)</li>
        <li>@Html.ActionLink("Extra Value Data", "ExtraValueData", "Reports", new { Area = "Main" }, null)</li>
    </ul>
</li>
