<li class="dropdown toolbar-gear">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="icon-cog"></i></a>
    <ul class="dropdown-menu">
        <li>
            <div class="row-fluid yamm-content">
                <ul class="span6 unstyled pull-left">
                    <li class="header">
                        <p>Tags</p>
                    </li>
                    <li><a id="TagAll" href='@ViewBag.TagAction'>Add All</a></li>
                    <li><a id="UnTagAll" href='@ViewBag.UnTagAction'>Remove All</a></li>
                    <li class="header">
                        <p><br />Contacts / Tasks</p>
                    </li>
                    <li><a id="AddContact" href='@ViewBag.AddContact'>Add Contact</a></li>
                    <li><a id="AddTasks" href='@ViewBag.AddTasks'>Add Tasks</a></li>
                    <li><a href='/Task/NotesExcel/@ViewBag.queryid'>Export Task Notes</a></li>
                    <li class="header">
                        <p><br />Extra Values</p>
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li><a href='/Manage/ExtraValues/Add/@ViewBag.queryid' class="ChooseExtraValues">Add Extra Values</a></li>
                        <li><a href='/Manage/ExtraValues/Delete/@ViewBag.queryid' class="ChooseExtraValues">Delete Extra Values</a></li>
                        <li><a href="/Reports/ExtraValuesGrid/@ViewBag.queryid">Extra Values Grid</a></li>
                    }
                    @if (User.IsInRole("Developer"))
                    {
                        <li><a href="/Reports/ExtraValuesGrid2/@ViewBag.queryid" class="hideAlt">Extra Values Grid2</a></li>
                    }
                </ul>
                    @if (User.IsInRole("Admin"))
                    {
                        <ul id="ultoolbar" class="span6 unstyled pull-left">
                            <li class="header">
                                <p>Manage Users</p>
                            </li>
                            @foreach (var u in Model.Person.Users)
                            {
                                <li><a class="manageUser" href="/Person2/UserEdit/@u.UserId">@u.Username</a></li>
                            }
                            <li><a href="/Person2/UserAdd">Add New User</a></li>
                            <li class="header">
                                <p><br/>Administrative</p>
                            </li>
                            <li><a id="split" href="/Person2/Split/@Model.PeopleId">Put in New Family</a></li>
                            <li><a id="merge" href="/Person2/Merge/@Model.PeopleId">Merge this duplicate</a></li>
                            <li><a id="deletePerson" href="/Person2/Delete/@Model.PeopleId">Delete this record</a></li>
                        </ul>
                    }
                    else if (User.IsInRole("Edit"))
                    {
                        <ul id="ultoolbar" class="span6 unstyled pull-left">
                            <li class="header">
                                <p>Administrative</p>
                            </li>
                            <li><a id="split" href="/Person2/Split/@Model.PeopleId">Put in New Family</a></li>
                        </ul>
                    }
            </div>
        </li>
    </ul>
    