@{
    var finance = User.IsInRole("Finance");
    var alloweditorchoice = User.IsInRole("Developer");
    var targetperson = Util2.TargetLinkPeople;
    var targetorg = Util2.TargetLinkOrg;
    var useneweditor = Util2.UseNewEditor;
    var testnofinance = ((string)HttpContext.Current.Session["testnofinance"]) == "true";
    //var developer = User.IsInRole("Developer");
}
<a href="#" class="dropdown-toggle" data-toggle="dropdown" id="me" title="@Util.UserName">
  @if (!string.IsNullOrEmpty(Util.UserThumbPictureUrl))
  {
      <div id="thumbnail-picture" class="img-circle hidden-xs"></div>
  }
  else
  {
      <i class="fa fa-user hidden-xs"></i>
  }
  <i class="fa fa-user visible-xs-inline"></i>&nbsp;&nbsp;<span class="visible-lg-inline-block visible-xs-inline">@(Util.UserName == "Admin" ? "Admin" : Util.UserFirstName)</span> <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  @Helper.LiAnchorLink("Profile", "/Person2/" + Util.UserPeopleId)
  @Helper.LiAnchorLink("Change Password", "/Account/ChangePassword/")
  <li class="divider"></li>
  @if (alloweditorchoice)
  {
      <li>
        <a href="/Home/UseNewEditor/@Html.Raw(useneweditor)">
          @if (useneweditor)
          {
              <i class="dropdown-icon fa fa-toggle-on" style="color: #5cb85c"></i>
          }
          else
          {
              <i class="dropdown-icon fa fa-toggle-off"></i>
          }
          <span>&nbsp;&nbsp;Use New Editor</span>
        </a>
      </li>
  }
  <li>
    <a href="/Home/TargetPerson/@Html.Raw(targetperson)">
      @if (targetperson)
      {
          <i class="dropdown-icon fa fa-toggle-on" style="color: #5cb85c"></i>
      }
      else
      {
          <i class="dropdown-icon fa fa-toggle-off"></i>
      }
      <span>&nbsp;&nbsp;Open Person In New Tab</span>
    </a>
  </li>
  <li>
    <a href="/Home/TargetOrg/@Html.Raw(targetorg)">
      @if (targetorg)
      {
          <i class="dropdown-icon fa fa-toggle-on" style="color: #5cb85c"></i>
      }
      else
      {
          <i class="dropdown-icon fa fa-toggle-off"></i>
      }
      <span>&nbsp;&nbsp;Open Org In New Tab</span>
    </a>
  </li>
  @if (finance)
  {
      <li>
        @if (!testnofinance)
        {
            <a href="/APITest/TurnFinanceOff"><i class="dropdown-icon fa fa-toggle-on" style="color: #5cb85c"></i> 
            <span>&nbsp;&nbsp;Finance Role</span></a>
        }
        else
        {
            <a href="/APITest/TurnFinanceOn"><i class="dropdown-icon fa fa-toggle-off"></i> 
            <span>&nbsp;&nbsp;Finance Role</span></a>
        }
      </li>
  }
  <li class="divider"></li>
  @Helper.LiAnchorLinkIcon("Log Out", "dropdown-icon fa fa-power-off", "/Account/LogOff/")
</ul>