@using CmsWeb
@using UtilityExtensions
@model IQueryable<CmsWeb.Areas.Org.Controllers.MeetingController.ttt>
@{
    ViewBag.Title = "Attendance By Groups";
    ViewBag.ReportPageHeader = "Attendance By Groups";
    Layout = ViewExtensions2.TouchPointLayout();
}
<div class="report box box-responsive">
    <div class="box-content">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Attended</th>
                        <th>Small Group</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var prev = "";
                        var n = 0;
                        foreach (var i in Model)
                        {
                            var next = i.Attended + i.SmallGroup;
                            if (prev.HasValue() && prev != next)
                            {
                                <tr class="totals-row">
                                    <td colspan="2" class="text-right">Total</td>
                                    <td>@n.ToString("N0")</td>
                                </tr>
                                n = 0;
                            }
                            n++;
                            <tr>
                                <td>@i.Attended</td>
                                <td>@i.SmallGroup</td>
                                <td>@i.Name</td>
                            </tr>
                            prev = next;
                        }
                    }
                    <tr class="totals-row">
                        <td colspan="2" class="text-right">Total</td>
                        <td>@n.ToString("N0")</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>