@using CmsWeb.Code
@model CmsWeb.Areas.Org.Models.MeetingModel
@{
    Layout = "~/Views/Shared/_AttendanceLayout.cshtml";
    var customSmallHeaderImage = CustomHeader.SmallHeaderImage("~/Content/touchpoint/img/logo_sm.png");
    var showDescription = Model.ShowDescriptionOnCheckin;
    var allowEditDescription = Model.AllowEditDescription;
    var useMeetingDescriptionPickList = Model.UseMeetingDescriptionPickList;
    var inAttendanceRole = User.IsInRole("Attendance");
    var headcount = Model.meeting.HeadCount ?? 0;
}
@section head {
    <title>@Model.org.OrganizationName</title>
    @Fingerprint.Css("/Content/touchpoint/css/attendance.css")
    <style>
    .logo-md {
        background-size: auto @customSmallHeaderImage.Height;
        background-image: url(@Url.Content(customSmallHeaderImage.Url));
    }
    </style>
}
<body class="meeting-attendance">
    @Html.Hidden("meetingid", Model.meeting.MeetingId)
    <div id="head" class="box box-primary">
        <div class="box-title">
            <div class="logo-md"></div>
            <h4 class="title">@Model.org.OrganizationName</h4>
            <p class="meeting-date">@Model.meeting.MeetingDate.Value.ToString("g")</p>
            @if (showDescription)
            {
                if (allowEditDescription && useMeetingDescriptionPickList)
                {
                    <div class="form-inline">
                        @Html.EditorFor(m => m.DescriptionList, new { LabelText = "Meeting Type" })
                    </div>
                }
                else if (allowEditDescription)
                {
                    @Html.EditorFor(m => m.Description)
                }
                else
                {
                    <span>@Model.Description</span>
                }
            }
        </div>
        <div data-role="content">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a role="tab" data-toggle="tab" aria-controls="members" href="#members">Members <span class="members badge">@ViewBag.MembersPresent</span></a>
                </li>
                <li role="presentation">
                    <a role="tab" data-toggle="tab" aria-controls="guests" href="#guests">Guests <span class="guests badge">@ViewBag.GuestsPresent</span></a>
                </li>
                <li role="presentation">
                    <a role="tab" data-toggle="tab" aria-controls="headcount" href="#headcount">Headcount <span class="headcount badge">@headcount</span></a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="members">
                    @foreach (var a in ViewBag.Members)
                    {
                        <div class="@(inAttendanceRole ? "ckline" : "na") @a.Name[0]">
                            <div class="list-group-item">

                                <div class="checkbox">
                                    <input type="checkbox" id="a.@a.PeopleId" @(a.Attended ? "checked=checked" : "") />
                                    <label for="a.@a.PeopleId"></label>
                                </div>
                                <div class="headshot">
                                    @Html.PersonPortrait((int)a.PeopleId, 40, 40)
                                </div>
                                <div class="name">
                                    @if (a.Highlight)
                                    {
                                        <span style="color: green">@a.Name</span>
                                    }
                                    else
                                    {
                                        @a.Name
                                    }
                                    @if (Model.ShowCurrentMemberType)
                                    {
                                        <p class="role">
                                            @a.CurrMemberType
                                        </p>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div role="tabpanel" class="tab-pane fade" id="guests">
                    @if (Model.ShowAddGuest)
                    {
                        <div class="ckline">
                            <div class="list-group-item">
                                <a href="/SearchAdd2/Dialog/visitor/@Model.meeting.MeetingId" class="btn btn-success searchadd">
                                    <i class="fa fa-plus-circle"></i> Add Guest
                                </a>
                            </div>
                        </div>
                    }
                    @foreach (var a in ViewBag.Guests)
                    {
                        <div class="@(inAttendanceRole ? "ckline" : "na") @a.Name[0]">
                            <div class="list-group-item">

                                <div class="checkbox">
                                    <input type="checkbox" id="a.@a.PeopleId" @(a.Attended ? "checked=checked" : "") />
                                    <label for="a.@a.PeopleId"></label>
                                </div>
                                <div class="headshot">
                                    @Html.PersonPortrait((int)a.PeopleId, 40, 40)
                                </div>
                                <div class="name">
                                    @if (a.Highlight)
                                    {
                                        <span style="color: green">@a.Name</span>
                                    }
                                    else
                                    {
                                        @a.Name
                                    }
                                    @if (Model.ShowCurrentMemberType)
                                    {
                                        <p class="role">
                                            @a.MemberType
                                        </p>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div role="tabpanel" class="tab-pane fade" id="headcount">
                    <div class="section">
                        <label for="headcount">Headcount</label>
                        <form class="form-inline" id="headcount_form">
                            <input type="number" id="in_headcount" name="headcount" class="form-control" value="@Model.meeting.HeadCount" />
                            <button type="submit" class="btn btn-default">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="device-lg visible-lg-block"></div>
    <div class="device-md visible-md-block"></div>
    <div class="device-sm visible-sm-block"></div>
    <div class="device-xs visible-xs-block"></div>
    <div class="device-2xs"></div>
    <div class="modal fade" id="empty-dialog" data-keyboard="false" data-backdrop="static"></div>
    @ViewExtensions2.GoogleAnalytics()
    @ViewExtensions2.jQuery()
    @ViewExtensions2.LoDash()
    @ViewExtensions2.Bootstrap3()
    @Fingerprint.Script("/Content/touchpoint/lib/jquery-ui-custom/js/jquery-ui.min.js")
    @ViewExtensions2.Moment()
    @Fingerprint.Script("/Content/touchpoint/lib/jquery-globalize/js/globalize.js")
    <script src="@Url.Content(ViewExtensions2.jqueryGlobalizeCulture)" type="text/javascript"></script>
    @ViewExtensions2.jQueryValidation()
    @Fingerprint.Script("/Content/touchpoint/js/app.min.js")
    <script type="text/javascript">
        $(function () {
            $("input[type='radio']").bind("change", function (event, ui) {
                var v = $(this).val();
                $("div.ckline").hide();
                if (v === "back")
                    location = "/Meeting/" + $("#meetingid").val();
                else if (v === "refresh")
                    location.reload();
                else if (v === "all")
                    $("div.ckline").show();
                else
                    $("." + v).show();
                $('html, body').animate({ scrollTop: 0 }, 'fast');
            });
            $("div.na").bind("click", function (ev) {
                ev.preventDefault();
                return false;
            });
            $("div.ckline input:checkbox").change(function (ev) {
                var ck = $(this);
                $.post("/Meeting/MarkAttendance/", {
                    MeetingId: $("#meetingid").val(),
                    PeopleId: ck.attr("id").substr(2),
                    Present: ck.is(':checked')
                }, function (ret) {
                    if (ret.error) {
                        ck.attr("checked", !ck.is(':checked'));
                        alert(ret.error);
                    } else {
                        $(".members.badge").text(ret.NumMembers);
                        $(".guests.badge").text(ret.NumPresent - ret.NumMembers);
                    }
                });
            });
            $("#headcount_form").submit(function (ev) {
                ev.preventDefault();
                $.post("/Meeting/Edit/", {
                    id: "h:" + $("#meetingid").val(),
                    value: $("#in_headcount").val()
                }, function (ret) {
                    if (ret.error) {
                        alert(ret.error);
                    } else {
                        $(".headcount.badge").text(ret);
                        $("in_headcount").val(ret);
                    }
                });
            });
            // handle tabs
            var hash = document.location.hash;
            if (hash) {
                $('.nav-tabs a[href="' + hash + '"]').tab('show');
            }
            
            $('.nav-tabs a').on('shown', function (e) {
                window.location.hash = e.target.hash;
            });

            $('#DescriptionList_Value, #Description').change(function () {
                var meetingId = $('#meetingid').val();
                var value = $(this).val();
                $.post('/Meeting/EditMeetingCategory/', { id: 'id' + meetingId, value: value }, function (ret) {
                    if (ret != value) {
                        swal("Error!", ret, "error");
                    }
                });
            });
        });

        function AddSelected(ret) {
            window.location.reload(true);
        }
    </script>
</body>
