@using CmsWeb.Code
@model CmsWeb.Areas.Org.Models.MeetingModel
@{
    var customSmallHeaderImage = CustomHeader.SmallHeaderImage("~/Content/touchpoint/img/logo_sm.png");
}

<!DOCTYPE html>
<html lang="@System.Globalization.CultureInfo.CurrentUICulture.Name">
<head>
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico?v=2")">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@Model.org.OrganizationName</title>
    @ViewExtensions2.GoogleFonts()
    @ViewExtensions2.FontAwesome()
    @Fingerprint.Css("/Content/touchpoint/css/app.css")

    <style>
        .box-title {
            padding-left: 10px;
            padding-right: 10px;
            height: auto!important;
        }
        .box-primary {
            border: 0;
            border-top: 1px solid #003f72;
        }
        .logo-md {
            width: 60px;
            height: 50px;
            background-size: auto @customSmallHeaderImage.Height;
            background-repeat: no-repeat;
            background-position: left;
            background-image: url(@Url.Content(customSmallHeaderImage.Url));
            display: inline-block;
            float:left;
        }
        .name {
            margin-left: 32px;
        }
        .checkbox {
            width: 20px;
            position: relative;
        }
        .checkbox label {
            width: 20px;
            height: 20px;
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 0;
            background: #fcfff4;
            background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
            border-radius: 4px;
            box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
        }
        .checkbox label:after {
            content: '';
            width: 9px;
            height: 5px;
            position: absolute;
            top: 4px;
            left: 4px;
            border: 3px solid #333;
            border-top: none;
            border-right: none;
            background: transparent;
            opacity: 0;
            transform: rotate(-45deg);
            box-sizing: content-box;
         }
        .checkbox label:hover::after {
            opacity: 0.35
        }
        .checkbox input[type=checkbox] {
            visibility: hidden;
        }
        .checkbox input[type=checkbox]:checked + label:after {
            opacity: 1;
        }
    </style>
</head>
<body style="padding-top:0;margin-bottom:0;">
    @Html.Hidden("meetingid", Model.meeting.MeetingId)
    <div id="head" class="box box-primary">
        <div class="box-title" style="background:#fff!important;border: 1px solid #003f72 !important;border-width: 4px 0 0 0!important;">
            <div class="logo-md"></div>
            <h4 class="title" style="display:inline-block;color:#333!important;margin:0;">@Model.org.OrganizationName</h4>
            <p style="color:#4a4a4a!important;">@Model.meeting.MeetingDate.Value.ToString("g") @(Model.ShowDescriptionOnCheckin ? " | " + Model.meeting.Description : "")</p>
        </div>
        <div data-role="content">
            @{var inAttendanceRole = User.IsInRole("Attendance");}
            @foreach (var a in Model.Attends(true, "iPadAttendanceHighlight"))
            {
                <div class="@(inAttendanceRole ? "ckline" : "na") @a.Name[0]">
                    <div class="list-group-item">
                        <div class="checkbox">
                            <input type="checkbox" id="a.@a.PeopleId" @(a.Attended ? "checked=checked" : "") />
                            <label for="a.@a.PeopleId"></label>
                        </div>
                        <span class="name">
                            @if (a.Highlight)
                            {
                                <span style="color: green">@a.Name</span>
                            }
                            else
                            {
                                @a.Name
                            }
                        </span>
                    </div>
                </div>
            }
        </div>
    </div>
    @ViewExtensions2.jQuery()
    <script type="text/javascript">
        $(function () {
            $("input[type='radio']").bind("change", function (event, ui) {
                var v = $(this).val();
                $("div.ckline").hide();
                if (v === "back")
                    location = "/Meeting/" + $("#meetingid").val();
                else if (v === "refresh")
                    location.reload();
                else if (v === "all")
                    $("div.ckline").show();
                else
                    $("." + v).show();
                $('html, body').animate({ scrollTop: 0 }, 'fast');
            });
            $("div.na").bind("click", function (ev) {
                ev.preventDefault();
                return false;
            });
            $("div.ckline input:checkbox").change(function (ev) {
                var ck = $(this);
                $.post("/Meeting/MarkAttendance/", {
                    MeetingId: $("#meetingid").val(),
                    PeopleId: ck.attr("id").substr(2),
                    Present: ck.is(':checked')
                }, function (ret) {
                    if (ret.error) {
                        ck.attr("checked", !ck.is(':checked'));
                        alert(ret.error);
                    }
                });
            });
        });

    </script>
</body>
</html>
