@using CmsData
@using UtilityExtensions
@model CmsWeb.Areas.Org.Models.MeetingModel
@{
    ViewBag.Title = "Meeting";
    ViewBag.PageHeader = "Meeting";
    ViewBag.PageSubHeader = $"<a href=\"/Org/{Model.meeting.OrganizationId}\">{Model.meeting.Organization.OrganizationName}</a>";
    Layout = ViewExtensions2.TouchPointLayout();
    var RegularMeetingHeadCount = Model.RegularMeetingHeadCountSetting();
    var CanEditHeadCount = Model.meeting.GroupMeetingFlag || RegularMeetingHeadCount == "enable";
}
@section head
{
    @Fingerprint.Css("/Content/touchpoint/lib/bootstrap-editable/css/bootstrap-editable.css")
    <style type="text/css">
        dt {
            font-weight: normal;
            color: #808080;
        }
        dd {
            font-weight: 600;
            padding: 5px;
            border: solid 1px #eee;
            min-height: 32px;
        }
    </style>
}
<div class="row">
    <div class="col-md-9">
        <div class="box box-responsive">
            <div class="box-content">
                @Html.Partial("Toolbar/Toolbar")
                @Html.Hidden("meetingid", Model.meeting.MeetingId)
                @Html.Hidden("sort", "false")
                @Html.Hidden("RegularMeetingHeadCount", RegularMeetingHeadCount)
                @if (Model.HasRegistered())
                {
                    @Html.Hidden("showregistered", "true")
                }
                <div class="well">
                    <div class="row">
                        <div class="col-sm-6">
                            <dl>
                                <dt>Schedule</dt>
                                <dd><a id="t-@Model.meeting.MeetingId" data-pk="t-@Model.meeting.MeetingId" data-title="Schedule" style="cursor: pointer" class="@(User.IsInRole("Admin") ? "clickEdit" : "")">@Model.meeting.MeetingDate.FormatDateTm()</a></dd>
                            </dl>
                        </div>
                        <div class="col-sm-6">
                            <dl>
                                <dt>Meeting Type</dt>
                                <dd>
                                    @if (User.IsInRole("Attendance"))
                                    {
                                        <a id="g-@Model.meeting.MeetingId" class="clickSelectG" data-value="@(Model.meeting.GroupMeetingFlag ? "True" : "False")" data-pk="g-@Model.meeting.MeetingId" style="cursor: pointer" data-title="Meeting Type">@(Model.meeting.GroupMeetingFlag ? "Group (headcount)" : "Regular")</a><text> | </text>
                                        <a id="c-@Model.meeting.MeetingId" class="clickSelectC" data-value="@(Model.meeting.AttendCreditId == null ? "1" : Model.meeting.AttendCreditId.Value.ToString())" data-pk="c-@Model.meeting.MeetingId" style="cursor: pointer" data-title="Meeting Type">@Model.AttendCreditType()</a>
                                    }
                                    else
                                    {
                                        @(Model.meeting.GroupMeetingFlag ? "Group (headcount)" : "Regular")<text> | </text>
                                        @Model.AttendCreditType()
                                    }
                                </dd>
                            </dl>
                        </div>
                        <div class="col-sm-12">
                            <dl>
                                <dt>Description</dt>
                                <dd>
                                    @if (User.IsInRole("Attendance"))
                                    {
                                        if (Model.AllowEditDescription)
                                        {
                                            if (Model.UseMeetingDescriptionPickList)
                                            {
                                                <a id="d-@Model.meeting.MeetingId" class="clickSelectD" data-value="@Model.meeting.Description" data-pk="d-@Model.meeting.MeetingId" style="cursor: pointer" data-title="Meeting Description">@Model.meeting.Description</a>
                                            }
                                            else
                                            {
                                                <a id="d-@Model.meeting.MeetingId" class="clickEdit" data-pk="d-@Model.meeting.MeetingId" data-title="Description" style="cursor: pointer">@Model.meeting.Description</a>
                                            }
                                        }
                                        else
                                        {
                                            @Model.meeting.Description
                                        }
                                    }
                                    else
                                    {
                                        @Model.meeting.Description
                                    }
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="well">
                    <div class="row">
                        @if (Model.ShowShowBox)
                        {
                            <div class="col-sm-6">
                                <label class="control-label">Show</label>
                                <div class="form-group" id="showbuttons">
                                    <label class="radio-inline">
                                        <input type="radio" id="showall" name="show" value="all"/> All
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" id="showattends" name="show" value="attends" checked="checked"/> Attends
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" id="showabsents" name="show" value="absents"/> Absents
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" id="showreg" name="show" value="reg"/> Registered
                                    </label>
                                </div>
                            </div>
                        }
                        @if (User.IsInRole("Attendance") && Model.ShowEnableBox)
                        {
                            <div class="col-sm-6">
                                <label class="control-label">Enable</label>
                                <div class="form-group">
                                    @if (Model.EnableEditByDefault)
                                    {
                                        Model.showall = true;
                                    }
                                    <label class="checkbox-inline">
                                        @Html.CheckBox("editing", Model.showall) Editing
                                    </label>
                                    <label class="checkbox-inline">
                                        @Html.CheckBox("registering", Model.showregister) Register
                                    </label>
                                    <label class="checkbox-inline">
                                        @Html.CheckBox("currmembers", Model.currmembers) Current Members
                                    </label>
                                </div>
                                <div class="pull-right">
                                    <a href="/SearchAdd2/Dialog/registered/@Model.meeting.MeetingId" class="btn btn-success hidden searchadd"><i class="fa fa-plus-circle"></i> Add Registered</a>
                                </div>
                            </div>
                        }
                        @if (User.IsInRole("Attendance") && Model.ShowAddGuest)
                        {
                            <a href="/SearchAdd2/Dialog/visitor/@Model.meeting.MeetingId" class="btn btn-success searchadd pull-right" title="Click to Add Guests to Meeting"><i class="fa fa-plus-circle"></i> Add Guests</a>
                        }
                    </div>
                </div>
                @if (Model.currmembers == true)
                {
                    <div class="alert alert-warning">
                        <h4>Showing Current Members...</h4>
                        Note that if you mark attendance for someone whose enrollment date is after @Model.meeting.MeetingDate.FormatDateTm(), they will be shown as a visitor to the meeting.
                        You can change their enrollment date prior to this meeting date by going back to the organization and using the Update Members button to change their enrollment date in one step.
                        This will allow you to mark them as members.
                    </div>
                }
                @if ((Model.org.MemberCount ?? 0) < 1000 || Model.showlarge)
                {
                    <div class="table-responsive">
                        <table id="attends" class="table table-striped">
                            <thead>
                            <tr>
                                <th class="text-center">Attended</th>
                                <th class="showreg" style="display: none">Commitment</th>
                                <th><a href="#" id="sortbyname">Name</a></th>
                                @if (Model.ShowCurrentMemberType)
                                {
                                    <th>Current Member Type</th>
                                }
                                <th>Attend Member Type</th>
                                @if (Model.ShowAttendType)
                                {
                                    <th>Attend Type</th>
                                }
                                @if (Model.ShowOtherAttend)
                                {
                                    <th>Other Attend</th>
                                }
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var a in Model.Attends())
                            {
                                <tr rowtype="@a.Member" @(!a.Member ? "class=info" : "")>
                                    <td class="text-center">
                                        <input type="checkbox" pid="@a.PeopleId" @(a.Attended ? "checked=checked" : "") class="atck" onclick="return false" onkeydown="return false"/>
                                    </td>
                                    <td class="showreg" style="display: none">
                                        <span id="c@(Model.meeting.MeetingId)_@(a.PeopleId)" class="clickSelect rgck commitment" data-value="@a.Commitment" data-pk="c@(Model.meeting.MeetingId)_@(a.PeopleId)" data-title="Commitment">@a.Commitment</span>
                                    </td>
                                    @if (Model.HyperlinkNames)
                                    {
                                        <td class="name @(a.Conflict ? "alert-danger" : "")"><a href="/Person2/@a.PeopleId" title="@Person.AgeDisplay(a.Age, a.PeopleId)">@a.Name</a></td>
                                    }
                                    else
                                    {
                                        <td class="name @(a.Conflict ? "alert-danger" : "")">@a.Name</td>
                                    }
                                    @if (Model.ShowCurrentMemberType)
                                    {
                                        <td>@a.CurrMemberType</td>
                                    }
                                    <td>@a.MemberType</td>
                                    @if (Model.ShowAttendType)
                                    {
                                        <td>@a.AttendType</td>
                                    }
                                    @if (Model.ShowOtherAttend)
                                    {
                                        <td>@a.OtherAttend</td>
                                    }
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <div class="alert alert-info">
                        This organization has @Model.org.MemberCount.ToString2("n0") members which is too large to display normally.
                        <p>
                            <a class="btn btn-info" href="/Meeting/@Model.meeting.MeetingId?showlarge=true">Display Anyway</a>
                        </p>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="box box-primary" style="background-color: #fff;">
            <div class="box-title">
                <h5>Attendance</h5>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td class="text-right">HeadCount:</td>
                            <td id="HeadCount" class="text-right">
                                @if (User.IsInRole("Attendance"))
                                {
                                    <a id="h=@Model.meeting.MeetingId" class="headcount" data-pk="h=@Model.meeting.MeetingId" data-title="Head Count">@Model.meeting.HeadCount.ToStringNoZero()</a>
                                }
                                else
                                {
                                    @Model.meeting.HeadCount.ToStringNoZero()
                                }
                            </td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td class="text-right">Present:</td>
                            <td class="text-right" id="NumPresent"><span>@Model.meeting.NumPresent</span></td>
                            <td class="text-right">New Guests:</td>
                            <td class="text-right" id="NumNewVisit"><span>@Model.meeting.NumNewVisit</span></td>
                        </tr>
                        <tr>
                            <td class="text-right">Members:</td>
                            <td class="text-right" id="NumMembers"><span>@Model.meeting.NumMembers</span></td>
                            <td class="text-right">Repeat Guests:</td>
                            <td class="text-right" id="NumRepeatVst"><span>@Model.meeting.NumRepeatVst</span></td>
                        </tr>
                        <tr>
                            @if (Model.ShowOtherAttend)
                            {
                                <td class="text-right">Other Attends:</td>
                                <td class="text-right" id="NumOtherAttends"><span>@Model.meeting.NumOtherAttends</span></td>
                            }
                            else
                            {
                                <td></td>
                                <td></td>
                            }
                            <td class="text-right">Visiting Members:</td>
                            <td class="text-right" id="NumVstMembers"><span>@Model.meeting.NumVstMembers</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            @if (User.IsInRole("Attendance") && Model.ShowWandTargetBox)
            {
                <div class="box-content">
                    <label class="sr-only" for="wandtarget">Wand Target</label>
                    <input type="text" id="wandtarget" name="wandtarget" placeholder="Wand Target" class="form-control" />
                </div>
            }
        </div>
        @if (User.IsInRole("Edit") && Model.ShowExtraValuesBox)
        {
            <div class="box box-primary" style="background-color: #fff;">
                <div class="box-title">
                    <h5>Extra Values</h5>
                </div>
                <div class="table-responsive">
                    <table id="extras" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Field</th>
                                <th>Value</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @Html.Partial("ExtrasGrid", Model.meeting)
                        </tbody>
                    </table>
                </div>
                <div class="box-content">
                    <a id="newextravalue" href="#" class="btn btn-success btn-block"><i class="fa fa-plus-circle"></i> Add Extra Value</a>
                </div>
            </div>
        }
    </div>
</div>
<div class="modal fade" id="newvalueform">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">New Extra Value</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="fieldname" class="control-label">Name</label>
                    @Html.TextBox("fieldname", "", new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label for="fieldvalue" class="control-label">Value</label>
                    @Html.TextBox("fieldvalue", "", new { @class = "form-control" })
                </div>
                <div class="checkbox">
                    <label class="control-label">
                        @Html.CheckBox("multiline") Multiline?
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" />
                <input type="button" value="Submit" class="btn btn-primary" id="extra-value-submit" />
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Fingerprint.Script("/Content/touchpoint/lib/bootstrap-editable/js/bootstrap-editable.min.js")
    @Fingerprint.Script("/Content/touchpoint/js/meeting/meeting.js")
    @if (User.IsInRole("Attendance") && !CanEditHeadCount)
    {
        <script type="text/javascript">
            $(function () {
                $(".headcount").editable("disable");
            });
        </script>
    }
}
