@using CmsData
@using CmsWeb
@using CmsWeb.Areas.Org.Controllers
@using UtilityExtensions
@model MeetingController.ScanTicketInfo
<div class="@Model.CssClass()">
    @{
        switch (Model.error)
        {
            case MeetingController.ScanTicketInfo.Error.none:
                <strong>Success!</strong> <text>Successfully marked present.</text>
                break;
            case MeetingController.ScanTicketInfo.Error.noperson:
                <strong>Error!</strong> <text>Person not found.</text>
                break;
            case MeetingController.ScanTicketInfo.Error.notmember:
                <strong>Error!</strong> <text>Not a member of this organization.</text>
                break;
            case MeetingController.ScanTicketInfo.Error.notregistered:
                <strong>Error!</strong> <text>Not registered.</text>
                break;
            case MeetingController.ScanTicketInfo.Error.alreadymarked:
                <strong>Error!</strong> <text>Already marked present.</text>
                break;
            case MeetingController.ScanTicketInfo.Error.alreadymarkedelsewhere:
                <strong>Error!</strong> <text>Already marked present elsewhere.</text>
                break;
            case MeetingController.ScanTicketInfo.Error.noorg:
                <strong>Error!</strong> <text>No organization.</text>
                break;
            case MeetingController.ScanTicketInfo.Error.nomeeting:
                <strong>Error!</strong> <text>No meeting.</text>
                break;
        }
    }
    @if (Model.SwitchOrg)
    {
        @Html.Hidden("SwitchMeeting", Model.meeting.MeetingId)
        @Html.Hidden("PeopleId", Model.person.PeopleId)
    }
    @if (Model.error != MeetingController.ScanTicketInfo.Error.none)
    {
        @Html.Hidden("haserror", "true")
    }
    @if (Model.person != null)
    {
        <table class="table">
            <tr>
                <td class="text-center">
                    <input type="checkbox" pid="@Model.person.PeopleId" checked="checked" class="atck" />
                </td>
                <td>@Model.person.Name (@Person.AgeDisplay(Model.person.Age, Model.person.PeopleId))</td>
                <td>@(Model.orgmember != null ? "Group Member" : "Group Visitor")</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2">@Model.person.FullAddress</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2">@Model.person.EmailAddress</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2"><b>@Model.message</b></td>
            </tr>
            @foreach (var m in Model.family ?? new List<MeetingController.FamilyMemberInfo>())
            {
            <tr>
                <td class="text-center">
                    <input type="checkbox" pid="@m.PeopleId" @(m.attended ? "checked=checked" : "") class="atck" />
                </td>
                <td class="name">@m.person.Name (@Person.AgeDisplay(m.person.Age, m.person.PeopleId))</td>
                <td>@(m.orgmember ? "Group Member" : "Group Visitor")</td>
            </tr>
            }
        </table>
        <table class="table">
            <tbody></tbody>
        </table>
    }
    @if (Model.meeting != null)
    {
        @Html.Hidden("npresent", Model.meeting.NumPresent.ToString("N0"))
        @Html.Hidden("nnew", Model.meeting.NumNewVisit.ToString("N0"))
        @Html.Hidden("nmembers", Model.meeting.NumMembers.ToString("N0"))
        @Html.Hidden("nrecent", Model.meeting.NumRepeatVst.ToString("N0"))
        @Html.Hidden("nother", Model.meeting.NumOtherAttends.ToString2("N0"))
        @Html.Hidden("nvmembers", Model.meeting.NumVstMembers.ToString("N0"))
    }
</div>
