@using CmsData
@model List<CmsWeb.Areas.Manage.Models.ResourceTypeModel>
@{
    Layout = ViewExtensions2.TouchPointLayout();
    ViewBag.Title = "Resources";
    ViewBag.PageHeader = "Resources";
}
@section head{
    <meta name="format-detection" content="telephone=no" />
    @Fingerprint.Css("/Content/touchpoint/lib/bootstrap-editable/css/bootstrap-editable.css")
    @Fingerprint.Css("/Content/touchpoint/lib/select2/css/select2.css")
    @Fingerprint.Css("/Content/touchpoint/lib/select2/css/select2-bootstrap.css")
}
@section scripts{
    @ViewExtensions2.CkEditor()
    @Fingerprint.Script("/Content/touchpoint/lib/select2/js/select2.min.js")
    <script>
        $(document).ready(function() {
            $('#addresource').click(function (e) {
                e.preventDefault();
                var url = '/AddResource?resourceTypeId='+ ($('.resource-type-tab.active').data('id') || 0);

                $("<div />").load(url, {}, function () {
                    var div = $(this);
                    var dialog = div.find("#new-resource-modal");
                    $('#empty-dialog').html(dialog);
                    $('#empty-dialog').modal("show");
                    dialog.on('hidden', function () {
                        div.remove();
                        dialog.remove();
                    });

                });
            });

            $("a.resource.delete").click(function (e) {
                e.preventDefault();
                var id = $(this).data("resource-id");
                swal({
                    title: "Are you sure?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "Yes, delete it!",
                    closeOnConfirm: false
                },
                function () {
                    $.post("/Resources/Delete/" + id, null, function (ret) {
                        if (ret && ret.error)
                            swal("Error!", ret.error, "error");
                        else {
                            swal({
                                title: "Deleted!",
                                type: "success"
                            },
                            function () {
                                window.location = "/Resources/";
                            });
                        }
                    });
                });
            });
        });
    </script>
}
<div class="row">
    <div class="col-lg-12">
        <div class="box box-responsive">
            <div class="box-title-btn">
                <div class="box-tools">
                    <a href="#" id="addresource" class="btn btn-success create-new"><i class="fa fa-plus-circle"></i> Add Resource</a>
                </div>
            </div>            
            <div class="box-content">
                <div class="well m-b-0">
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="nav nav-pills subnav hidden-sm hidden-xs" data-tabparent="system">
                                @for (int i = 0; i < Model.Count; i++)
                                {
                                    <li class="resource-type-tab @(i == 0 ? "active" : null)" data-id="@Model[i].ResourceType.ResourceTypeId">
                                        <a href="#resourcetab@(Model[i].ResourceType.ResourceTypeId)" data-toggle="tab">
                                            <span>@Model[i].ResourceType.Name</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    @if (!Model.Any())
                    {
                        <h3 class="text-center">You have no resources configured.</h3>
                    }
                    
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        var resourceTypeGroup = Model[i];

                        <div class="table-responsive tab-pane @(i == 0 ? "active" : null)" 
                             id="resourcetab@(resourceTypeGroup.ResourceType.ResourceTypeId)">
                            <table id="resources" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th><a href='#' class='ajaxasc'>Name</a></th>
                                        <th>@Util2.CampusLabel</th>
                                        <th>Organization</th>
                                        <th>Category</th>
                                        <th>Display Order</th>
                                        <th>Files</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in resourceTypeGroup.Resources)
                                    {
                                        <tr>
                                            <td><a href="/Resources/@item.ResourceId">@item.Name</a></td>
                                            <td>@(item.Campu?.Description ?? "(All)")</td>
                                            <td>@(item.Organization?.OrganizationName ?? "(All)")</td>
                                            <td>@(item.ResourceCategory?.Name ?? "(None)")</td>
                                            <td>@item.DisplayOrder</td>
                                            <td>@(item.ResourceAttachments?.Count ?? 0)</td>
                                            <td style="width: 100px;">
                                                <a data-resource-id="@(item.ResourceId)" href="#" class="delete resource btn btn-sm btn-danger"><i class="fa fa-trash"></i> Delete</a>
                                            </td>
                                        </tr>
                                    }
                                    @if (!resourceTypeGroup.Resources.Any())
                                    {
                                        <tr>
                                            <td colspan="5"><div class="text-center">You have no resources configured for this type.</div></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>                
            </div>
        </div>
    </div>
</div>
