@using CmsData
@model IEnumerable<CmsWeb.Areas.Manage.Models.ResourceModel>
@{
    Layout = ViewExtensions2.TouchPointLayout();
    ViewBag.Title = "Resources";
    ViewBag.PageHeader = "Resources";
}
@section head{
    <meta name="format-detection" content="telephone=no" />
    @Fingerprint.Css("/Content/touchpoint/lib/bootstrap-editable/css/bootstrap-editable.css")
    @Fingerprint.Css("/Content/touchpoint/lib/select2/css/select2.css")
    @Fingerprint.Css("/Content/touchpoint/lib/select2/css/select2-bootstrap.css")
}
@section scripts{
    @ViewExtensions2.CkEditor()
    @Fingerprint.Script("/Content/touchpoint/lib/select2/js/select2.min.js")
    <script>
        $(document).ready(function() {
            $('#addresource').click(function (e) {
                e.preventDefault();
                var url = '/AddResource';

                $("<div />").load(url, {}, function () {
                    var div = $(this);
                    var dialog = div.find("#new-resource-modal");
                    $('#empty-dialog').html(dialog);
                    $('#empty-dialog').modal("show");
                    dialog.on('hidden', function () {
                        div.remove();
                        dialog.remove();
                    });

                });
            });
        });
    </script>
}
<div class="row">
    <div class="col-lg-12">
        <div class="box box-responsive">
            <div class="box-title-btn">
                <div class="box-tools">
                    <a href="#" id="addresource" class="btn btn-success create-new"><i class="fa fa-plus-circle"></i> Add Resource</a>
                </div>
            </div>
            <div class="box-content">
                <div class="table-responsive">
                    <table id="resources" class="table table-striped">
                        <thead>
                            <tr>
                                <th><a href='#' class='ajaxasc'>Name</a></th>
                                <th>@Util2.CampusLabel</th>
                                <th>Organization</th>
                                <th>Display Order</th>
                                <th>Files</th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><a href="/Resources/@item.Resource.ResourceId">@item.Resource.Name</a></td>
                                <td>@(item.Resource.Campu?.Description ?? "(All)")</td>
                                <td>@(item.Resource.Organization?.OrganizationName ?? "(All)")</td>
                                <td>@item.Resource.DisplayOrder</td>
                                <td>@(item.Resource.ResourceAttachments?.Count ?? 0)</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>