@using System.Web.Mvc.Html
@using CmsWeb
@using CmsData
@using UtilityExtensions
@helper SearchBuilderDropdown(bool onqb)
{
    <div class="dropdown-menu">
        <ul>
            <li>@AnchorLink("Last Search", "/QueryBuilder/Main")</li>
            <li>@AnchorLink("New Search", "/QueryBuilder/NewQuery")</li>
            <li><a href="/SavedQuery">Saved Searches</a></li>
            @if (onqb)
            {
                <li>@JQueryIdLink("Save Search As", "ShowSaveQuery")</li>
            }
        </ul>
    </div>
}
@helper AnchorLink(string text, string href, string target = null)
{
    if (target.HasValue())
    {
    <a href="@href" target="@target">@text</a>
    }
    else
    {
    <a href="@href">@text</a>
    }
}
@helper LiAnchorLink(string text, string url, bool display = true, string target = null)
{
    if (display)
    {
    <li>@Helper.AnchorLink(text, url)</li>
    }
}
@helper LiHeader(string text, bool display = true)
{
    if (display)
    {
        if (text.HasValue())
        {
            <li class="header">@text</li>
        }
        else
        {
            <li class="lispace">&nbsp;</li>
        }
    }
}
@helper JQueryIdLink(string text, string id)
{
    <a id="@id" href="#">@text</a>
}
@helper JQueryIdLink(string text, string id, string data)
{
    <a id="@id" data-item="@data">@text</a>
}
@helper LiJQueryIdLink(string text, string id, bool display = true)
{
    if (display)
    {
    <li><a id="@id" href="#">@text</a></li>
    }
}
@helper ButtonLink(string text, string href, string target = null)
{
    if (target.HasValue())
    {
    <a href="@href" target="@target">@text</a>
    }
    else
    {
    <a href="@href">@text</a>
    }
}