@using CmsData.Classes.RoleChecker
@using CmsWeb.Models.ExtraValues
@model NewExtraValueModel
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <a class="ajax close" href="/ExtraValue/ListStandard/@Model.ExtraValueTable/@Model.ExtraValueLocation/@Model.Id"><span aria-hidden="true">&times;</span></a>
            <h4 class="modal-title">Edit Standard Extra Value</h4>
        </div>
        <div class="modal-body">
            @if (ViewBag.Error != null)
            {
                <div id="EditStandardExtraValueError" class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div>@Html.Raw(ViewBag.Error)</div>
                </div>
            }
            @Html.HiddenFor(m => m.ExtraValueTable)
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.ExtraValueLocation)
            @Html.HiddenFor(m => m.ExtraValueName)
            @Html.HiddenFor(m => m.ExtraValueType.Name)
            @Html.HiddenFor(m => m.ExtraValueType.Value)
            @Html.DisplayFor(m => m.ExtraValueType)
            @Html.DisplayFor(m => m.ExtraValueName)
            <div class="form-group">
                <label for="VisibilityRolesList" class="control-label">Limit to Roles</label>
                <div class="controls">
                    @Html.ListBox("VisibilityRolesList", new MultiSelectList(Model.VisibilitySelectedRoles(), "Value", "Text"), new { multiple = "multiple", @class = "form-control multi-select" })
                </div>
            </div>
            @if (RoleChecker.HasSetting(SettingName.CanEditCGInfoEVs, false))
            {
                <div class="form-group">
                    <label for="EditableRolesList" class="control-label">Editable by Roles</label>
                    <div class="controls">
                        @Html.ListBox("EditableRolesList", new MultiSelectList(Model.EditableSelectedRoles(), "Value", "Text"), new {multiple = "multiple", @class = "form-control multi-select"})
                    </div>
                </div>
            }
            @switch (Model.ExtraValueType.Value)
            {
                case "Bits":
                    @Html.EditorFor(m => m.ExtraValueCheckboxes, "TextArea", new { help = "Each code should be a short name on a separate line" })
                    break;
                case "Code":
                @Html.EditorFor(m => m.ExtraValueCodes, "TextArea", new { help = "Each code should be a short name on a separate line" })
                    break;
                case "Link":
                @Html.EditorFor(m => m.ExtraValueLink)
                    break;
            }
        </div>
        <div class="modal-footer">
            <a href="/ExtraValue/ListStandard/@Model.ExtraValueTable/@Model.ExtraValueLocation/@Model.Id" class="ajax btn btn-default">Cancel</a>
            <a href="/ExtraValue/SaveEditedStandard" class="save btn btn-primary ajax validate" data-callback="EditStandardExtraValueDialogCallback">Save</a>
        </div>
    </div>
</div>
