@using CmsWeb.Models.ExtraValues
@model ExtraValueModel
<form id='extravalue-dialog' class='modal fade hide validate ajax form-horizontal' data-width='600'>
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Edit List of Standard Values</h3>
    </div>
    <div class="modal-body">
        <a class="helplink pull-right" target="_blank" href='@ExtraValueModel.HelpLink("ExtraValueList")'>help</a>
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.Table)
        @Html.HiddenFor(m => m.Location)
        <table id="fields" class="table table-condensed not-wide table-striped">
            <thead>
                <tr>
                    <th>Order</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Roles</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var f in Model.GetStandardExtraValues(Model.Table, Model.Location))
                {
                    <tr id="ev-name-@f.Name">
                        <td><input type="text" name="orders[@f.Name]" value="@f.Order" class="input-mini" /></td>
                        <td>@f.Name</td>
                        <td>
                            @f.Type
                            @if (f.Type.StartsWith("Text"))
                            { 
                                <br/><a href="/ExtraValue/SwitchMultiline/@Model.Table/@Model.Location?name=@f.Name" class="ajax btn btn-mini">@f.SwitchMultiLineText</a>
                            }
                        </td>
                        <td><input type="text" name="roles[@f.Name]" value="@f.VisibilityRoles" class="input" /></td>
                        <td><a href="/ExtraValue/DeleteStandard/@Model.Table/@Model.Location?name=@f.Name" 
                           class="dialog-options" 
                           data-target="/Dialog/DeleteStandardExtra"
                           data-callback="DeleteStandardCallback"
                           data-rowid="#ev-name-@f.Name"
                           title="Delete Standard Extra Value: @f.Name"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn CloseListStandard">Close</a>
        <a href="/ExtraValue/ApplyOrderRoles/@Model.Table/@Model.Location" class="btn btn-primary ajax CloseListStandard">Submit Changes</a>
    </div>
</form>
