@using CmsWeb.Models.ExtraValues
@model NewExtraValueModel
<form id='extravalue-dialog' class='modal fade hide validate ajax form-horizontal' data-width='600'>
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>New Extra Value</h3>
    </div>
    <div class="modal-body">
        <a class="helplink pull-right" target="_blank" href='@ExtraValueModel.HelpLink("NewAdhocExtraValue")'>help</a>
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.QueryId)
        @Html.HiddenFor(m => m.ExtraValueTable)
        @Html.HiddenFor(m => m.ExtraValueLocation)

        @Html.EditorFor(m => m.AdhocExtraValueType, new { PlainSelect = true })
        @Html.EditorFor(m => m.ExtraValueName)

        @Html.EditorFor(m => m.ExtraValueTextBox, new { hide = "hide" })
        @Html.EditorFor(m => m.ExtraValueTextArea)
        @Html.EditorFor(m => m.ExtraValueCheckbox, new { hide = "hide" })
        @Html.EditorFor(m => m.ExtraValueDate, new { hide = "hide" })
        @Html.EditorFor(m => m.ExtraValueInteger, new { hide = "hide" })

        @if (ViewBag.Error != null)
        {
            <div id="ExtraValueError" class="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <div>@Html.Raw(ViewBag.Error)</div>
            </div>
        }
    </div>
    <div class="modal-footer">
        <a class="btn" data-dismiss="modal">Cancel</a>
        <a href="/ExtraValue/SaveNewAdhoc" class="btn btn-primary ajax" data-callback="AdhocDialogCallback">Save</a>
    </div>
</form>
