@model CmsWeb.Models.ExtraValues.Value
@if (Model.UserCanView())
{
    <tr>
        <td class="nowrap">@Model.Name</td>
        @if (Model.UserCanEdit())
        {
            <td class="width100"><a href="#" data-pk="@Model.Id" data-name="@Model.DataName" class="@Model.EditableClass" 
                   data-url="@Model.EditUrl" @Model.DataValue @Model.DataSource><span>@Html.Raw(Model)</span></a>
            </td>
        }
        else
        {
            <td>@Model</td>
        }
        @if (!Model.Standard && Model.UserCanEdit())
        {
            <td>
                <a href="@Model.DeleteUrl" class="ajax" data-confirm="Are you sure?"><i class="icon-remove"></i></a>
            </td>
        }
    </tr>
}