@model List<CmsData.Registration.Settings.AgeGroup>
@using CmsWeb
@using UtilityExtensions
<div class="form-group">
    <div class="controls">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Start Age</th>
                        <th>End Age</th>
                        <th>Sub-Group Name</th>
                        <th>Fee</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var i in Model)
                    {
                        <tr>
                            <td>@i.StartAge</td>
                            <td>@i.EndAge</td>
                            <td>@i.SmallGroup</td>
                            <td>@i.Fee.ToString2("c")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @if (ViewBag.ShowHelp != false && ViewData.ModelMetadata.Description.HasValue())
        {
            <div class="alert alert-info">@Html.Markdown(ViewData.ModelMetadata.Description)</div>
        }
    </div>
</div>