@model AskCheckboxes
@using CmsData.Registration
@using UtilityExtensions
<div class="well">
    <label>
        Checkboxes
    </label>
    @if (ViewBag.ShowHelp != false)
    {
        <div class="alert alert-info">@Html.Markdown(Model.Help)</div>
    }
    <div class="row">
        <div class="col-sm-3">
            @Html.DisplayFor(m => m.Label)
        </div>
        <div class="col-sm-3">
            @Html.DisplayFor(m => m.Minimum)
        </div>
        <div class="col-sm-3">
            @Html.DisplayFor(m => m.Maximum)
        </div>
        <div class="col-sm-3">
            @Html.DisplayFor(m => m.Columns)
        </div>
        <div class="col-sm-3">
            @Html.DisplayFor(m => m.TargetExtraValue)
        </div>
    </div>
    @foreach (var i in Model.list)
    {
        <div class="well">
            <div class="row">
                <div class="col-sm-6">
                    @Html.DisplayFor(m => i.Description)
                </div>
                <div class="col-sm-6">
                    @Html.DisplayFor(m => i.SmallGroup)
                </div>
                <div class="col-sm-4">
                    @Html.DisplayForIf(m => i.Fee, i.Fee > 0)
                </div>
                <div class="col-sm-4">
                    @Html.DisplayForIf(m => i.Limit, i.Limit > 0)
                </div>
                <div class="col-sm-4">
                    @Html.DisplayForIf(m => i.MeetingTimeString, i.MeetingTimeString.HasValue())
                </div>
            </div>          
        </div>
    }
</div>
