@model AskDropdown
@using CmsData.Registration
@using UtilityExtensions
<div class="well">
  <label class="ask-question">
    Dropdown
  </label>
  @if (ViewBag.ShowHelp != false)
  {
    <div class="alert alert-info">@Html.Markdown(Model.Help)</div>
  }
  @Html.DisplayFor(m => m.Label)
  @Html.DisplayFor(m => m.TargetExtraValue)
  @foreach (var i in Model.list)
  {
      <div class="well">
          <div class="row">
              <div class="col-sm-6">
                  @Html.DisplayFor(m => i.Description)
              </div>
              <div class="col-sm-6">
                 @Html.DisplayFor(m => i.SmallGroup)
              </div>
              <div class="col-sm-4">
                  @Html.DisplayForIf(m => i.Fee, i.Fee > 0)
              </div>
              <div class="col-sm-4">
                  @Html.DisplayForIf(m => i.Limit, i.Limit > 0)
              </div>
              <div class="col-sm-4">
                  @Html.DisplayForIf(m => i.MeetingTimeString, i.MeetingTimeString.HasValue())
              </div>
          </div>
      </div>
  }
</div>
