@model AskMenu
@using CmsData.Registration
<div class="well">
  <label>
    Menu Items
  </label>
  @if (ViewBag.ShowHelp != false)
  {
    <div class="alert alert-info">@Html.Markdown(Model.Help)</div>
  }
  @Html.DisplayFor(m => m.Label)
  @foreach (var i in Model.list)
  {
      <div class="well">
          <div class="row">
              <div class="col-sm-4">
                  @Html.DisplayFor(m => i.Description)
              </div>
              <div class="col-sm-4">
                  @Html.DisplayForIf(m => i.SmallGroup, i.SmallGroup != i.Description)
              </div>
              <div class="col-sm-4">
                  @Html.DisplayForIf(m => i.Fee, i.Fee > 0)
              </div>
          </div>
      </div>
  }
</div>