@model AskSize
@using CmsData.Registration
<div class="well">
  <label>
    Sizes
  </label>
  @if (ViewBag.ShowHelp != false)
  {
    <div class="alert alert-info">@Html.Markdown(Model.Help)</div>
  }
    <div class="row">
        <div class="col-sm-4">
            @Html.DisplayFor(m => m.Label)
        </div>
        <div class="col-sm-4">
            @Html.DisplayFor(m => m.Fee)
        </div>
        <div class="col-sm-4">
            @Html.DisplayFor(m => m.AllowLastYear)
        </div>
        <div class="col-sm-4">
            @Html.DisplayFor(m => m.TargetExtraValue)
        </div>
    </div>
  @foreach (var i in Model.list)
  {
      <div class="well">
          <div class="row">
              <div class="col-sm-6">
                  @Html.DisplayFor(m => i.Description)
              </div>
              <div class="col-sm-6">
                  @Html.DisplayForIf(m => i.SmallGroup, i.SmallGroup != i.Description)
              </div>
          </div>
      </div>
  }
</div>
