@model CmsData.Registration.TimeSlots
@using CmsWeb
@using UtilityExtensions
<div id="TimeSlotsList" class="well">
    <label>
        Time Slots
    </label>
    @if (ViewBag.ShowHelp != false)
    {
        <div class="alert alert-info maxWidthMedium margin-top">@Html.Markdown(Model.Help)</div>
    }
    <div class="row">
        <div class="col-sm-3">
            @Html.DisplayFor(m => m.TimeSlotLockDays)
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Day</th>
                    <th>Time</th>
                    <th>Limit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var f in Model.list)
                {
                    <tr>
                        <td>@f.Description</td>
                        <td>@f.DayOfWeek</td>
                        <td>@f.Time.FormatTime()</td>
                        <td>@f.Limit</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>