@using CmsData
@using CmsData.Codes
@using CmsWeb
@using UtilityExtensions
@model CmsWeb.Areas.Org.Models.OrgPeopleModel

@Html.Partial("PagerHidden", Model)
@Html.HiddenFor2(m => m.Id)
<div class="pagination pagination-mini">
  @Html.Partial("Pager3", Model)
</div>
<table id="MemberGrid" class="@ViewExtensions2.GridClass">
  <thead>
    <tr>
      <th>@Model.SortLink("Name")</th>
      <th>@Model.SortLink("MemberType")</th>
      <th class="left">
        @Model.SortLink("Church")
        <br />@Model.SortLink("Age") - @Model.SortLink("Bday")
      </th>
@*      <th><br />@Model.SortLink("Primary Address")</th>*@
      @*      <th><br />Communication</th>*@
      <th>
        @Model.SortLink("% Att.")
      </th>
      <th>
        @Model.SortLink("Last Att.")
        <br />@Model.SortLink("Joined")
        <br />@Model.SortLink("Dropped")
      </th>
      <th>Tag</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var p in Model.ViewList())
    {
      <tr>
        <td><img src="/Content/images/individual.gif" border="0" /> <a href="/Person2/@p.PeopleId">@p.Name</a></td>
        <td>
          <a class="membertype" href="/OrgMemberDialog2/Display/@Model.Id/@p.PeopleId"> @p.MemberType </a>
        </td>
        <td>
          @p.MemberStatus<br />
          @p.Age - @p.BirthDate
        </td>
        <td>
          <a href="">@p.AttPct.ToString2("N1")%</a>
          @*
            @if (om.LastContactDt.HasValue)
            {
              <br/><a href="/Contact2/@om.LastContactId" target="contact">@om.LastContactDt.FormatDate2()</a>
            }
            @if (om.TaskAboutId.HasValue)
            {
              <br/><a href="/Task/@om.TaskAboutId" target="contact" title="@om.TaskAboutDt.FormatDate2()">Task</a> @:Task
            }
            @if (om.TaskAboutId.HasValue)
            {
              <br/><a href="/Task/@om.TaskAboutId" target="contact" title="@om.TaskAboutDt.FormatDate2()">Task</a> @:Task
            }
          *@
        </td>
        <td>
          @if (p.LastAttended.HasValue)
          {
            <a href="/Organization/GotoMeetingForDate/@Model.Id/@p.LastAttended.Value.Ticks">
              @p.LastAttended.FormatDate2()
            </a>
          }
          <br />@p.Joined.FormatDate2()
          <br />@p.Dropped.FormatDate2()
          @if (Model.GroupSelect == GroupSelectCode.Prospect)
          {
            if (p.Hidden ?? false)
            {
              <a href="/Organization/ShowProspect/@Model.Id/@p.PeopleId/Show" class="joinlink"
                 confirm="Show @p.Name in Prospect List for this Org?">Show</a>
            }
            else
            {
              <a href="/Organization/ShowProspect/@Model.Id/@p.PeopleId/Hide" class="joinlink"
                 confirm="Hide @p.Name on Prospect List for this Org?">Hide</a>
            }
          }
        </td>
        <td>
          <a pid='@p.PeopleId' title="Add to/Remove from Active Tag" class="taguntag" href="#">
            @(p.HasTag == true ? "Remove" : "Add")
          </a>
        </td>
      </tr>
    }
  </tbody>
</table>
<div class="pagination pagination-mini">
  @Html.Partial("Pager3", Model)
  <a id="refresh-current" href="#" class="ajax-refresh pull-right"><i class="fa fa-refresh"></i></a>
</div>

