@model CmsWeb.Areas.Org.Models.OrgPeopleModel
@Html.Hidden("inactive-qid", (Guid?)ViewBag.queryid)
<div style="margin-bottom:5px">
  Count: <strong id="inactive-count">@Model.Count()</strong>
  @if (User.IsInRole("Edit"))
  {
    <a href="/SearchAdd2/Dialog/inactive/@Model.Id" class="searchadd btn">@(Model.Org.IsMissionTrip == true ? "Add Sender" : "Add Inactive Members")</a>
    <a href="/OrgMembersDialog/@Model.Id?inactives=true" title="Update Inactive Members" class="memberdialog btn">update</a>
  }
  @Helper.OrgFilter(Model.NameFilter, Model.SgFilter)
</div>
@Html.Partial("Tabs/Base", Model)
@*@using CmsWeb
@using UtilityExtensions
@model CmsWeb.Areas.Org.Models.PrevMemberModel
@Html.Hidden("previous-qid", (Guid?)ViewBag.queryid)
<form class="form form-horizontal non-modal ajax span12 pad-left">
  @Html.Partial("PagerHidden", Model)
  @Html.HiddenFor2(m => m.Id)
  <p style="margin-bottom:5px">
    Count: <strong id="previous-count">@Model.Count()</strong>
    @if(User.IsInRole("Developer"))
    { 
      <a href="/AddToOrgPrevFromTag/@Model.Id" class="addprevfromtag btn" title="Add Previous Members From Tag">add from tag</a>
    } 
    @Helper.OrgFilter(Model.NameFilter, Model.SgFilter)
  </p>
  <div class="pagination pagination-mini">
    @Html.Partial("Pager3", Model)
  </div>
  <table id="MemberGrid" class="@ViewExtensions2.GridClass">
    <thead>
      <tr>
        <th><br />@Model.SortLink("Name")</th>
        <th><br />@Model.SortLink("MemberType")</th>
        <th class="left">
          @Model.SortLink("Church")<br />
          @Model.SortLink("Age") - @Model.SortLink("Bday")
        </th>
        <th><br />@Model.SortLink("Primary Address")</th>
        <th><br />Communication</th>
        <th><br />@Model.SortLink("% Att.")</th>
        <th>@Model.SortLink("Dropped")<br />
          @Model.SortLink("Last Att.")
        </th>
        <th><br />Tag</th>
      </tr>
    </thead>
    <tbody>
      @foreach(var om in Model.ViewList())
      { 
        <tr>
          <td><img src="/Content/images/individual.gif" border="0" /> <a href="/Person2/@om.PeopleId">@om.Name</a></td>
          <td><a href="/TransactionHistory/@om.PeopleId/@Model.Id" target="_blank">
                @om.MemberType
              </a></td>
          <td>@om.MemberStatus<br />
            @om.Age - @om.BirthDate
          </td>
          <td><a href="http://www.google.com/maps?q=@om.Address,@om.CityStateZip" target="_blank">
                @om.Address</a><br />
            @om.CityStateZip
          </td>
          <td>
            @foreach (var ph in om.Phones)
            {     
              @ph<br />
            }         
            <a href="mailto:@om.Name <@om.EmailAddress>">@om.EmailAddress</a>
          </td>
          <td>
            <span>@om.AttendPct.ToString2("N1")%</span>
          </td>
          <td class="center">
            <span>@om.Dropped.FormatDate()</span><br />
            <span>@om.LastAttended.FormatDate("-")</span>
          </td>
          <td>
            <a pid='@om.PeopleId' title="Add to/Remove from Active Tag" class="taguntag" href="#">@(om.HasTag? "Remove" : "Add")</a>
          </td>
        </tr>
      }
    </tbody>
  </table>
  <div class="pagination pagination-mini">
    @Html.Partial("Pager3", Model)
  </div>
</form>*@