@model CmsWeb.Areas.Org.Models.OrganizationModel
<ul class="nav nav-tabs subnav" data-tabparent="Settings-tab">
  <li class="active"><a href="#General" data-toggle="tab">General</a></li>
  <li><a href="#Attendance" data-toggle="tab">Attendance</a></li>
  <li><a href="#Registration" data-toggle="tab">Registration</a></li>
  <li><a href="#Fees" data-toggle="tab">Fees</a></li>
  <li><a href="#Questions" data-toggle="tab">Questions</a></li>
  <li><a href="#Messages" data-toggle="tab">Messages</a></li>
  <li><a href="#ExtraValues" data-toggle="tab">Extra Values</a></li>
</ul>
<div class="tab-content">
  <div id="General" class="tab-pane settings active">
    @Html.Partial("Settings/General", Model)
  </div>
  <div id="Attendance" class="tab-pane settings">
    @Html.Partial("Settings/Attendance", Model)
  </div>
  <div id="Registration" class="tab-pane settings">
    @Html.Partial("Settings/Registration", Model.RegSettings)
  </div>
  <div id="Fees" class="tab-pane settings">
    @Html.Partial("Settings/Fees", Model.RegSettings)
  </div>
  <div id="Questions" class="tab-pane settings">
    @Html.Partial("Settings/Questions", Model.RegSettings)
  </div>
  <div id="Messages" class="tab-pane settings no0">
    @Html.Partial("Settings/Messages", Model.RegSettings)
  </div>
  <div id="ExtraValues" class="tab-pane settings">
    <table id="extras" class="@ViewExtensions2.GridClass">
      <thead>
        <tr>
          <td>
            Field
          </td>
          <td>
            Value
          </td>
          <td>
            @if (User.IsInRole("Edit"))
            {
              <a id="newextravalue" href="#">
                <img src="/Content/images/plus1.png" />
              </a>
            }
          </td>
        </tr>
      </thead>
      <tbody>
        @Html.Partial("Settings/ExtrasGrid", Model.Org)
      </tbody>
    </table>
  </div>
</div>