@using CmsData.Codes
@using UtilityExtensions
@model CmsWeb.Areas.Org.Models.VisitorModel
<form class="form form-horizontal non-modal ajax span12 pad-left">
  @Html.Partial("PagerHidden", Model)
  @Html.HiddenFor2(m => m.Id)
  @Html.Hidden("visitor-qid", (Guid?)ViewBag.queryid)
  <div style="margin-bottom:5px">
    Count: <strong id="visitor-count">@Model.Count()</strong>
    @Helper.OrgFilter(Model.NameFilter, Model.ShowHidden, "Guests")
  </div>
  <div class="pagination pagination-mini">
    @Html.Partial("Pager3", Model)
  </div>
  <table id="MemberGrid" class="@ViewExtensions2.GridClass">
    <thead>
      <tr>
        <th><br />@Model.SortLink("Name")</th>
        <th></th>
        <th class="left">
          @Model.SortLink("Church")<br />
          @Model.SortLink("Age") - @Model.SortLink("Bday")
        </th>
        <th><br />@Model.SortLink("Primary Address")</th>
        <th><br />Communication</th>
        <th><br />@Model.SortLink("Last Attended")</th>
        <th><br />Tag</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var v in Model.ViewList())
      {
        <tr>
          <td><img src="/Content/images/individual.gif" /> <a href="/Person2/@v.PeopleId">@v.Name</a></td>
          <td>
            <a href="/Organization/Join/@Model.Id/@v.PeopleId" class="joinlink"
               confirm="Make @v.Name a Member of this Org?">Join Org</a>
            @if (v.MemberTypeId != MemberTypeCode.Prospect)
            {
              <br /><a href="/Organization/AddProspect/@Model.Id/@v.PeopleId" class="joinlink"
                       confirm="Make @v.Name a Prospect of this Org?">Add as Prospect</a>
            }
          </td>
          <td>
            @v.MemberStatus<br />
            @v.Age - @v.BirthDate
          </td>
          <td>
            <a href="http://www.google.com/maps?q=@v.Address,@v.CityStateZip" target="_blank">
              @v.Address
            </a><br />
            @v.CityStateZip
          </td>
          <td>
            @foreach (var ph in v.Phones)
            {
              @ph<br />
            }
            <a href="mailto:@v.Name <@v.EmailAddress>">@v.EmailAddress</a>
          </td>
          <td>
            @if (v.LastAttended.HasValue)
            {
              <a href="/Organization/GotoMeetingForDate/@Model.Id/@v.LastAttended.Value.Ticks">@v.LastAttended.FormatDate()</a><br />
              if (v.Hidden)
              {
                <a href="/Organization/ShowVisitor/@Model.Id/@v.PeopleId/@v.LastAttended.Value.Ticks/Show" class="joinlink"
                   confirm="Show @v.Name as a Guest for this Org?">Show</a>
              }
              else
              {
                <a href="/Organization/ShowVisitor/@Model.Id/@v.PeopleId/@v.LastAttended.Value.Ticks/Hide" class="joinlink"
                   confirm="Hide @v.Name as a Guest for this Org until next visit?">Hide</a>
              }
            }
          </td>
          <td>
            <a pid='@v.PeopleId' title="Add to/Remove from Active Tag" class="taguntag" href="#">@(v.HasTag ? "Remove" : "Add")</a>
          </td>
        </tr>
      }
    </tbody>
  </table>
  <div class="pagination pagination-mini">
    @Html.Partial("Pager3", Model)
  </div>
</form>
