@model CmsWeb.Models.MeetingModel
@using CmsData
@using CmsWeb
@using UtilityExtensions
@Html.Hidden("meetingid", Model.meeting.MeetingId)
@{
    var RegularMeetingHeadCount = Model.RegularMeetingHeadCountSetting();
    var CanEditHeadCount = Model.meeting.GroupMeetingFlag || RegularMeetingHeadCount == "enable";
}
<table class="roundbox" cellspacing="5">
    <tr>
        <td colspan="2" nowrap>
            <h2>@Model.meeting.Organization.OrganizationName <a href="/Meeting/@Model.meeting.MeetingId"><span style="font-size: 12px">@Model.meeting.MeetingDate.FormatDateTm()</span></a></h2>
        </td>
    </tr>
    <tr>
        <td class="right">Description:</td>
        <td><span id="d-@Model.meeting.MeetingId" class="clickEdit">@Model.meeting.Description</span></td>
    </tr>
    <tr>
        <td class="right">Meeting Type:</td>
        <td><span id='g-@Model.meeting.MeetingId' class='clickSelectG'>@(Model.meeting.GroupMeetingFlag ? "Group (headcount)" : "Regular")</span> | 
                    <span id='c-@Model.meeting.MeetingId' class='clickSelectC'>@Model.AttendCreditType()</span>
        </td>
    </tr>
    <tr>
        <td class="right top">Attendance:</td>
        <td>
            <fieldset>
                <table width="100%" cellpadding="4">
                    <tr>
                        <td class="right">HeadCount:</td>
                        <td class="right" id="HeadCount">
                            @if (CanEditHeadCount)
                            {
                                <span id="h=@Model.meeting.MeetingId" class="clickEdit headcount">@Model.meeting.HeadCount.ToStringNoZero()</span>
                            }
                            else
                            {
                                @Model.meeting.HeadCount.ToStringNoZero()
                            }
                        </td>
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td class="right">Present:</td>
                        <td class="right" id="NumPresent"><span>@Model.meeting.NumPresent.ToString("N0")</span></td>
                        <td class="right">New Guests:</td>
                        <td class="right" id="NumNewVisit"><span>@Model.meeting.NumNewVisit</span></td>
                    </tr>
                    <tr>
                        <td class="right">Members:</td>
                        <td class="right" id="NumMembers"><span>@Model.meeting.NumMembers.ToString("N0")</span></td>
                        <td class="right">Repeat Guests:</td>
                        <td class="right" id="NumRepeatVst"><span>@Model.meeting.NumRepeatVst</span></td>
                    </tr>
                    <tr>
                        <td class="right">Other Attends:</td>
                        <td class="right" id="NumOtherAttends"><span>@Model.meeting.NumOtherAttends</span></td>
                        <td class="right">Visiting Members:</td>
                        <td class="right" id="NumVstMembers"><span>@Model.meeting.NumVstMembers</span></td>
                    </tr>
                </table>
            </fieldset>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            @Html.CheckBox("requireMember")Require Org Member |
			@Html.CheckBox("requireRegistered")Require Registered
            @if (ViewExtensions2.UseNewLook())
            {
                <a href="/SearchAdd2/Dialog/visitor/@Model.meeting.MeetingId" class="bt searchadd" title="Click to Add Guests to Meeting">Add Guests</a>
            }
            else
            {
                <a id="addvisitor" href="/SearchAdd/@Model.meeting.MeetingId?type=visitor" class="bt">Add Guests</a>
            }
        </td>
    </tr>
</table>
