@using System.Web.Mvc.Html
@using CmsData
@using CmsWeb.Areas.Search.Models
@model OrgSearchModel
@{
  Layout = ViewExtensions2.TouchPointLayout();
  ViewBag.Title = "Organization Search / Manage";
  ViewBag.PageHeader = "Organization Search / Manage";
}
@section head{
  @Fingerprint.Css("/Content/touchpoint/lib/bootstrap-editable/css/bootstrap-editable.css")
  @Fingerprint.Css("/Content/touchpoint/lib/bootstrap-tabdrop/css/tabdrop.css")
  @Fingerprint.Css("/Content/touchpoint/css/OrgSearch.css")
}
<div class="box box-responsive">
  <div class="box-content">
    <form id="orgsearchform" method="post">
      @Html.Partial("Toolbar/Toolbar")
      <div class="well">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="form-group">
              <a tabindex="0" href="#" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-title="Name" data-content="@Model.NameHelp"><i class="fa fa-info-circle"></i></a>&nbsp;
              <label for="Name" class="control-label">Name</label>
              @Html.TextBox("Name", Model.Name, new { @class = "form-control" })
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="form-group">
              <a tabindex="0" href="#" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-title="Organization Type" data-content="At the top of the list are pseudo org types. The are actually attributes of an organization. These are followed by specific Org Types you have created and assigned to organizations."><i class="fa fa-info-circle"></i></a>&nbsp;
              <label for="TypeId" class="control-label">Organization Type</label>
              @Html.DropDownList("TypeId", OrgSearchModel.OrgTypeFilters(), new { @class = "form-control" })
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="form-group">
              <label for="ProgramId" class="control-label">Program</label>
              @Html.DropDownList("ProgramId", Model.ProgramIds(), new { @class = "form-control" })
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="form-group">
              <label for="DivisionId" class="control-label">Division</label>
              @Html.DropDownList("DivisionId", Model.DivisionIds(), new { @class = "form-control" })
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="form-group">
              <label for="StatusId" class="control-label">Status</label>
              @Html.DropDownList("StatusId", OrgSearchModel.StatusIds(), new { @class = "form-control" })
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="form-group">
              <label for="CampusId" class="control-label">@Util2.CampusLabel</label>
              @Html.DropDownList("CampusId", Model.CampusIds(), new { @class = "form-control" })
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="form-group">
              <label for="ScheduleId" class="control-label">Schedule</label>
              @Html.DropDownList("ScheduleId", Model.ScheduleIds(), new { @class = "form-control" })
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="form-group">
              <label for="OnlineReg" class="control-label">Online Registration</label>
              @Html.DropDownList("OnlineReg", OrgSearchModel.RegistrationTypeIds(), new { @class = "form-control" })
            </div>
          </div>

          @Html.HiddenFor(model => model.ExtraValues)
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="form-group">
                    <label for="Neighborhood" class="control-label">Neighborhood</label>
                    @Html.TextBox("Neighborhood", "", new { @class = "form-control ev-input" })
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-4">
            <strong>Total Count</strong> <span id="totalcount" class="badge">@Model.FilteredCount()</span> 
          </div>
          <div class="col-lg-3 col-lg-offset-6 col-md-3 col-md-offset-6 col-sm-4 col-sm-offset-4">
            <div class="pull-right">
              <a href="/OrgSearch/Results" id="clear" class="btn btn-default">Clear</a>
              <div class="btn-group">
                <a href="/OrgSearch/Results" id="search" class="btn btn-primary default formlink">Search</a>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a class="ViewReport" href="/OrgSearch/ConvertToSearch">Convert to Search Builder</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      @Html.Partial("Tabs")
    </form>
  </div>
</div>
@Html.Partial("Modals/NewDiv", Model)
@Html.Partial("Modals/RenameDiv")
@Html.Partial("Modals/Editor")
@Html.Partial("Modals/Checkin")
@Html.Partial("Modals/Rollsheet")
@Html.Partial("Modals/NewMeetings")
@Html.Partial("Modals/MeetingsDateRange")
@Html.Partial("Modals/ReportDate")
@Html.Partial("Modals/MeetingsMonth")
@Html.Partial("Modals/Enrollment")
@Html.Partial("Modals/ExportMessages")
@section scripts
{
  @ViewExtensions2.CkEditor()
  @Fingerprint.Script("/Content/touchpoint/lib/bootstrap-editable/js/bootstrap-editable.min.js")
  @Fingerprint.Script("/Content/touchpoint/lib/bootstrap-tabdrop/js/bootstrap-tabdrop.js")
  @Fingerprint.Script("/Content/touchpoint/lib/bootstrap-tabdrop/js/extensions_bootstrap-tabdrop.js")
  @Fingerprint.Script("/Content/touchpoint/js/search/OrgSearch.js")

  @if (User.IsInRole("Edit"))
  {
    <script type="text/javascript">
      $(function () {
        $("#results").addClass("edit2");
      });
    </script>
  }
}