@using CmsWeb
@using UtilityExtensions
@model IEnumerable<CmsData.View.OrganizationStructure>
@{
  ViewBag.Title = "Organization Structure";
  ViewBag.ReportPageHeader = "Organization Structure";
  Layout = ViewExtensions2.TouchPointLayout();
  var prevprog = "";
  var prevdiv = "";
}
<div class="report box box-responsive">
    <div class="box-content">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Program</td>
                        <td>Division</td>
                        <td>Members</td>
                        <td>Previous</td>
                        <td>Visits</td>
                        <td>Meetings</td>
                        <td>Organization</td>
                        <td>Status</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var o in Model)
                    {
                        <tr>
                            <td>
                                <a href="/OrgSearch/@o.ProgId">
                                    <span class="@(o.Program == prevprog ? "text-muted" : "")">@o.Program</span>
                                </a>
                            </td>
                            <td>
                                <a href="/OrgSearch/@(o.ProgId)/@o.DivId">
                                    <span class="@(o.Division == prevdiv ? "text-muted" : "")">@o.Division</span>
                                </a>
                            </td>
                            <td>@o.Members</td>
                            <td>@o.Previous</td>
                            <td>@o.Vistors</td>
                            <td>@o.Meetings</td>
                            <td>
                                <a href="/Org/@o.OrgId">
                                    @(o.Organization.HasValue() ? o.Organization : "noname")
                                </a>
                            </td>
                            <td>@o.OrgStatus</td>
                        </tr>
                        prevdiv = o.Division;
                        prevprog = o.Program;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>