@using iTextSharp.text.pdf.qrcode
@using UtilityExtensions
@model CmsWeb.Areas.Search.Models.OrgSearchModel
@{
  var canManageEvents = User.IsInRole("Admin") || User.IsInRole("ManageEvents");
  var canEdit = User.IsInRole("Edit");
}
<div id="results">
    @Html.Partial("PagerTop", Model.Pager)
    <div class="table-responsive">
        <table id="resultsTable" class="table table-striped">
            <thead>
                @if (!Model.PublicView)
                {
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th class="center" colspan="2">Members</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        @if ((Model.TagDiv ?? 0) != 0)
                        {
                            <th></th>
                            <th></th>
                        }
                    </tr>
                    <tr>
                        <th></th>
                        <th><a href="#" class="sortable">Name</a></th>
                        <th><a href="#" class="sortable">Leader</a></th>
                        <th class="text-right"><a href="#" class="sortable">Current</a></th>
                        <th class="text-right"><span class="smallfont" title="Previous / Prospect">Previous / Prospect</span></th>
                        <th><a href="#" class="sortable">Schedule</a></th>
                        <th><a href="#" class="sortable">Self CheckIn</a></th>
                        <th><a href="#" class="sortable">Birthday Start</a></th>
                        <th><a href="#" class="sortable">Birthday End</a></th>
                        @if ((Model.TagDiv ?? 0) != 0)
                        {
                            <th><a href="#" class="sortable">Target Division</a></th>
                            <th><a href="#" class="sortable">Main Division</a></th>
                        }
                    </tr>
                }
                else
                {
                    <tr>
                        <th></th>
                        <th><br /><a href="#" class="sortable">Name</a></th>
                        <th>
                            <a href="#" class="sortable">Filled</a><br />
                            <a href="#" class="sortable">Closed</a>
                        </th>
                        <th>
                            <a href="#" class="sortable">Reg Type</a><br />
                            Link Type
                        </th>
                        <th><a href="#" class="sortable">Category</a></th>
                        <th>App Order</th>
                        <th>
                            <a href="#" class="sortable">First Date</a>
                            <br /><a href="#" class="sortable">Reg Start</a>
                            <br /><a href="#" class="sortable">Reg End</a>
                        </th>
                        <th>Description</th>
                    </tr>
                }
            </thead>
            <tbody>
                @foreach (var o in Model.OrganizationList())
                {
                    if (!Model.PublicView)
                    {
                        Html.RenderPartial("Row", o);
                    }
                    else
                    {
                        <tr>
                            <td class="text-center">
                                <a tabindex="0" href="#" data-toggle="popover" data-trigger="focus" data-title="@o.OrganizationName (@o.Id)"
                                   data-content="
                                   <label>Program Name:</label> @o.ProgramName (@o.ProgramId)<br/>
                                   <label>Division Name:</label> @o.DivisionName (@o.DivisionId)<br />
                                   <label>Leader:</label> @o.LeaderName<br/>
                                   <label>First Meeting:</label> @o.FirstMeetingDate<br/>
                                   <label>Last Meeting:</label> @o.LastMeetingDate<br />
                                   <label>Schedule:</label> @o.Schedule<br />
                                   <label>Location:</label> @o.Location<br />
                                   <label>Divisions:</label> @o.Divisions<br />
                                "><i class="fa fa-info-circle"></i></a>
                            </td>
                            <td><a href="/Org/@o.Id" target="reg">@o.OrganizationName</a></td>
                            <td>
                                @o.ClassFilled<br />
                                @o.RegClosed
                            </td>
                            <td>
                                @o.RegType<br />
                                <a id="reg2-@o.Id" data-pk="reg2-@o.Id" class="clickSelect" data-source="[{value: 'yes', text: 'Family'}, {value: 'no', text: 'Individual'}]" data-title="Link Type" data-value="@(o.UseRegisterLink2 ?? false ? "yes" : "no")">@(o.UseRegisterLink2 ?? false ? "Family" : "Individual")</a>
                            </td>
                            <td>
                                @if (canEdit)
                                {
                                    <a id="ac-@o.Id" data-pk="ac-@o.Id" class="clickSelect" data-source="/MobileAPI/RegCategories/?id=ac-@o.Id" data-title="Category" data-value="@o.AppCategory">@o.AppCategory</a>
                                }
                                else
                                {
                                    <span>@o.AppCategory</span>
                                }
                            </td>
                            <td>
                                @if (canManageEvents)
                                {
                                    <a id="so-@o.Id" data-pk="so-@o.Id" data-title="App Order" class="clickEdit">@o.PublicSortOrder</a>
                                }
                                else
                                {
                                    <span>@o.PublicSortOrder</span>
                                }
                            </td>
                            <td>
                                @o.FirstMeetingDate<br />
                                <a id="rs-@o.Id" data-pk="rs-@o.Id" class="clickDate" data-title="Registration Start">@(o.RegStart.HasValue() ? o.RegStart : "")</a><br />
                                <a id="re-@o.Id" data-pk="re-@o.Id" class="clickDate" data-title="Registration End">@(o.RegEnd.HasValue() ? o.RegEnd : "")</a>
                            </td>
                            <td>
                                @if (canEdit)
                                {
                                    <div id="des-@o.Id" class="descr">@Html.Raw(o.Description)</div>
                                    <a class="descredit btn btn-default btn-xs" href="#"><i class="fa fa-pencil"></i> Edit</a>
                                }
                                else
                                {
                                    <div>@Html.Raw(o.Description)</div>
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    @Html.Partial("PagerBottom", Model.Pager)
    @Html.Hidden("totcnt", Model.FilteredCount())
    @Html.Hidden("filtered", Model.IsFiltered())
    @Html.HiddenFor(m => m.Pager.Page)
    @Html.HiddenFor(m => m.Pager.Sort)
    @Html.HiddenFor(m => m.Pager.Direction)
    @Html.HiddenFor(m => m.Pager.PageSize)
</div>
