@model AskCheckboxes
@using CmsData
@using CmsData.Registration
@using (var ci = Html.BeginCollectionItem(Model.Name))
{
    var listname = Html.NameFor2(m => m.list);
    <div class="movable type-@Model.Type well">
        @Html.Raw(ci.hiddenindex)
        @Html.HiddenFor(m => m.Type)
        <div class="row">
            <div class="col-sm-12">
                @Html.Partial("EditorTemplates/QuestionsMenu", new ViewDataDictionary {{ "ConfirmDelete", false }})
                <label class="ask-question">Checkboxes</label>
            </div>
        </div>
        @if (ViewBag.ShowHelp != false)
        {
            <div class="alert alert-info">@Html.Markdown(Model.Help)</div>
        }
        <div class="row">
            <div class="col-sm-3">
                @Html.EditorFor(m => m.Label)
            </div>
            <div class="col-sm-3">
                @Html.EditorFor(m => m.Minimum)
            </div>
            <div class="col-sm-3">
                @Html.EditorFor(m => m.Maximum)
            </div>
            <div class="col-sm-3">
                @Html.EditorFor(m => m.Columns)
            </div>
            <div class="col-sm-3">
                @Html.EditorFor(m => m.TargetExtraValue)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right newitem">
                    <a href="/Org/NewCheckbox/@listname" class="btn btn-success btn-sm" data-dest=".Checkboxes"><i class="fa fa-plus-circle"></i> Add Item</a>
                </div>
            </div>
        </div>
        <br/>
        <div class="movable-list sort Checkboxes">
            @foreach (var item in Model.list)
            {
                item.Name = listname;
                @Html.EditorFor(m => item)
            }
        </div>
    </div>
}
