@model AskDropdown
@using CmsData.Registration
@using (var ci = Html.BeginCollectionItem(Model.Name))
{
    var listname = Html.NameFor2(m => m.list);
    <div class="movable type-@Model.Type well">
        @Html.Raw(ci.hiddenindex)
        @Html.HiddenFor(m => m.Type)
        <div class="row">
            <div class="col-sm-12">
                @Html.Partial("EditorTemplates/QuestionsMenu", new ViewDataDictionary {{ "ConfirmDelete", false }})
                <label class="ask-question">Dropdown</label>
            </div>
        </div>
        @if (ViewBag.ShowHelp != false)
        {
            <div class="alert alert-info">@Html.Markdown(Model.Help)</div>
        }
        @Html.EditorFor(m => m.Label)
        @Html.EditorFor(m => m.TargetExtraValue)
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right newitem">
                    <a href="/Org/NewDropdownItem/@listname" class="btn btn-success btn-sm" data-dest=".Dropdown"><i class="fa fa-plus-circle"></i> Add Item</a>
                </div>
            </div>
        </div>
        <br />
        <div class="movable-list sort Dropdown">
            @foreach (var item in Model.list)
            {
                item.Name = listname;
                @Html.EditorFor(m => item)
            }
        </div>
    </div>
}
