@using CmsWeb
@model CmsWeb.Areas.Org.Models.ScheduleInfo
@using (var ci = Html.BeginCollectionItem("schedules")) 
{
    <div class="col-sm-6 col-md-4">
        <div class="well">
            @Html.Raw(ci.hiddenindex)
            @Html.HiddenFor(m => m.Id)
            <dl>
                <dt>Schedule Number</dt>
                <dd>@Model.Id</dd>
            </dl>
            @Html.EditorFor(m => m.SchedDay, new { LabelText = "Day" })
            @Html.EditorFor(m => m.Time, "Time")
            @Html.EditorFor(m => m.AttendCredit)
            <a href="#" class="delete-well btn btn-sm btn-danger"><i class="fa fa-trash"></i> Delete</a>
        </div>
    </div>
}
