@model CmsWeb.Areas.People.Models.MemberNotesModel
<form class="form form-horizontal margin-top ajax span8" method="post">
    @Html.HiddenFor(m => m.PeopleId)
    <fieldset class="left-gutter">
        <legend>Membership Process Notes</legend>
        <div class="display">
            @Html.EditorFor(m => m.LetterStatus)
            @Html.EditorFor(m => m.LetterDateRequested)
            @Html.EditorFor(m => m.LetterDateReceived)
        </div>
        <div class="margin-top">
            @Html.EditorFor(m => m.LetterStatusNotes)
        </div>
        <div class="pull-right">
            <a href="/Person2/MemberNotes/@Model.PeopleId" class="btn ajax">Cancel</a>
            <a href="/Person2/MemberNotesUpdate" class="btn btn-primary ajax validate">Save</a>
        </div>
    </fieldset>
</form>