@using System.Web.Mvc.Html
@model CmsWeb.Areas.Dialog.Models.NewMeetingInfo
    @{
        var forRollsheet = (bool?)ViewBag.ForRollsheet == true;
    }
<div class="modal-dialog">
    <div class="modal-content">
        <form class="validate" action="@ViewBag.Action" method="POST">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Meeting Options</h4>
            </div>
            <div class="modal-body">
                @Html.EditorForIf(m => m.Schedule, Model.Schedule != null && Model.Schedule.Items.Any())
                @Html.EditorFor(m => m.MeetingDate, "DateAndTime")
                @Html.EditorForIf(m => m.AttendCredit, Model.AttendCredit != null)
                @if (Model.UseMeetingDescriptionPickList)
                {
                @Html.EditorFor(m => m.DescriptionList)
                }
                else
                {
                @Html.EditorFor(m => m.Description)
                }
                @Html.EditorFor(m => m.ByGroup)
                @Html.EditorFor(m => m.GroupFilterPrefix)
                @Html.EditorFor(m => m.HighlightGroup)
                @Html.EditorFor(m => m.UseAltNames)
                @Html.EditorForIf(m => m.UseWord, forRollsheet)
                @Html.HiddenFor(m => m.OrganizationId)
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" data-dismiss="modal">Close</a>
                <input type="submit" class="btn btn-primary" value="OK" />
            </div>
        </form>
    </div>
</div>
