@using System.Globalization
@using UtilityExtensions
@model CmsWeb.Models.PostBundleModel
@{
    Layout = ViewExtensions2.TouchPointLayout();
    ViewBag.Title = "Post Bundle";
    ViewBag.PageHeader = $"Contribution Bundle #{Model.id}";
}
@Html.Hidden("fundid", Model.Bundle.FundId)
@Html.Hidden("fundispledge", Model.FundName)
@{
    var b = Model.Bundle;
    var bundleTotal = b.TotalCash.GetValueOrDefault() + b.TotalChecks.GetValueOrDefault() + b.TotalEnvelopes.GetValueOrDefault();
    var difference = bundleTotal - Model.TotalItems;
}
@section head {
    @Fingerprint.Css("/Content/touchpoint/lib/bootstrap-editable/css/bootstrap-editable.css")
}
<form id='pbform' action='/PostBundle/InsertRow' method="post">
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-responsive">
                <div class="box-title-btn">
                    <div class="box-tools">
                        <a class="btn btn-default" href="/Bundle/@Model.id"><i class="fa fa-arrow-circle-left"></i> Back to Bundle Details</a>
                    </div>
                </div>
                <div class="box-content">
                    @Html.Hidden("id")
                    <div class="well">
                        <div class="row">
                            <dl class="col-sm-6">
                                <dt>Bundle Status</dt>
                                <dd>@b.BundleStatusType.Description</dd>
                                <dt>Bundle Type</dt>
                                <dd>@b.BundleHeaderType.Description</dd>
                                <dt>Default Fund</dt>
                                <dd><a target="_blank" href="/PostBundle/FundTotals/@Model.id" style="text-decoration: underline;">@Model.FundName (@Model.Bundle.FundId)</a></dd>
                            </dl>
                            <dl class="col-sm-6">
                                <dt>Contribution Date</dt>
                                <dd>@b.ContributionDate.ToShortDateString()</dd>
                                <dt>Deposit Date</dt>
                                <dd>@b.DepositDate.FormatDate()</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="stat-panel-container">
                        <div class="stat-panel-inner-container">
                            <div class="stat-panel">
                                <span class="stat-title">BUNDLE TOTAL</span>
                                <span class="stat-figure">@(bundleTotal.ToString("C2"))</span>
                            </div>
                            <div class="stat-panel">
                                <span class="stat-title">ITEMS TOTAL</span>
                                <span class="stat-figure totalitems">@Model.TotalItems.ToString("C2")</span>
                            </div>
                            <div class="stat-panel">
                                <span class="stat-title">ITEM COUNT</span>
                                <span class="stat-figure itemcount">@Model.TotalCount.ToString("N0")</span>
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                    </div>
                    @Html.Hidden("id")
                    @Html.Hidden("editid")
                    <div class="table-responsive">
                        <table id='bundle' class="table table-striped table-condensed">
                            <thead>
                                <tr class="hidden-print">
                                    <td colspan="9">
                                        <label class="control-label checkbox-inline">
                                            @Html.CheckBox("moreresults") Deliver more information in results
                                        </label>
                                    </td>
                                </tr>
                                <tr id="headerrow">
                                    <th>People Id</th>
                                    <th><a href="#" data-toggle="modal" data-target="#name-search"><i class="fa fa-info-circle"></i></a> Name</th>
                                    <th class="text-right">Amount</th>
                                    <th class="text-center">Type</th>
                                    <th>Fund(s)</th>
                                    <th>Check #</th>
                                    <th>Notes</th>
                                    <th colspan="2"></th>
                                </tr>
                                <tr id="entry" class="success hidden-print">
                                    <td>
                                        <input id="pid" name="pid" type="text" style="width: 67px; font-size: 14px; padding: 5px;" class="form-control input-sm" />
                                        <input type="hidden" id="contributiondate" name="contributiondate" />
                                        <input type="hidden" id="campusid" name="campusid" />
                                    </td>
                                    <td>
                                        <input id="name" name="name" type="text" autocomplete="off" style="width: 14em; font-size: 14px; padding: 5px;" class="form-control input-sm" />
                                    </td>
                                    <td style="padding-right:0;">
                                        <div class="pull-right">
                                            <input id="amt" name="amt" type="text" style="width: 67px; font-size: 14px; padding: 5px;" class="form-control input-sm" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="pull-right">
                                            <select id="PLNT" name="PLNT" class="form-control input-sm" style="width: 65px; font-size: 14px; padding: 0;">
                                                <option value="CN" @(Model.PLNT == "CN" ? "selected='selected'" : "")>CN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tax Deductible</option>
                                                <option value="PL" @(Model.PLNT == "PL" ? "selected='selected'" : "")>PL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pledge</option>
                                                <option value="NT" @(Model.PLNT == "NT" ? "selected='selected'" : "")>NT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Non Tax Deductible</option>
                                                <option value="SK" @(Model.PLNT == "SK" ? "selected='selected'" : "")>SK&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Stock</option>
                                                <option value="GK" @(Model.PLNT == "GK" ? "selected='selected'" : "")>GK&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Gift In Kind</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>@Html.DropDownList("fund", Model.Funds(), new { style = "width:15em; font-size: 14px; padding: 0;", @class = "form-control input-sm" })</td>
                                    <td>
                                        <input id="checkno" name="checkno" type="text" style="width: 5em; font-size: 14px; padding: 5px;" class="form-control input-sm" />
                                    </td>
                                    <td>
                                        <input id="notes" name="notes" type="text" style="width: 98%; min-width: 15em; font-size: 14px; padding: 5px;" class="form-control input-sm" />
                                    </td>
                                    <td style="padding-right: 0;">
                                        <a class="update btn btn-primary btn-sm" href='#'>Update</a>
                                    </td>
                                    <td style="padding-left: 0;">
                                        <div class="btn-group" id="gear" style="display: none;">
                                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                <i class="fa fa-cog"></i> <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                                <li><a id="showmove" href="#"><i class="fa fa-arrows"></i>&nbsp;&nbsp;Move to Another Bundle</a></li>
                                                <li><a id="showdate" href="#"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Edit Contribution Date</a></li>
@*                                                <li><a id="showcampus" href="#"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Edit Campus</a></li>*@
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var c in Model.FetchContributions())
                                {
                                    @Html.Partial("Row", c)
                                }
                            </tbody>
                        </table>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                    </div>
                    <a class="btn btn-default visible-xs-block btn-block" href="/Bundle/@Model.id"><i class="fa fa-arrow-circle-left"></i> Back to Bundle Details</a>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="modal fade" id="name-search">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Name Search</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-info">
                    <p>Please note: the <b>name search</b> dropdown works just like the Quick Search up in the header.</p>
                </div>
                <ul>
                    <li>Search by last only</li>
                    <li>Search first[space]last</li>
                    <li>Partial names work including a single character</li>
                    <li>You can search for a 7 digit phone number OR a peopleid.</li>
                    <li>GoesBy and Maiden are included in the search too.</li>
                </ul>
                <p>
                    <div class="checkbox">

                    </div>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="move-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Move Bundle</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="moveto" class="control-label">Bundle Id</label>
                    <input type="number" id="moveto" name="moveto" class="form-control" />
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" />
                <a href="#" id="moveit" name="moveit" class="btn btn-primary">Move</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="edit-date-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Contribution Date</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="contributiondate" class="control-label">Contribution Date</label>
                    <div class="input-group date">
                        <input type="text" id="newcontributiondate" name="newcontributiondate" class="form-control" /><span class="input-group-addon hidden-xs hidden-sm"><i class="fa fa-calendar"></i></span>
                        <input type="hidden" id="newcontributiondateIso" name="newcontributiondateIso" disabled="disabled" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" />
                <a href="#" id="editdatedone" name="editdatedone" class="btn btn-primary">Done</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="edit-campus-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Campus</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="newcampus" class="control-label">Campus Id</label>
                    <input type="number" id="newcampus" name="newcampus" class="form-control" />
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" />
                <a href="#" id="editcampusdone" name="editcampusdone" class="btn btn-primary">Done</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="split-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Split Contribution</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="amt-split" class="control-label">Amount to Split</label>
                    <div class="input-group">
                        <span class="input-group-addon currency">@NumberFormatInfo.CurrentInfo.CurrencySymbol</span><input type="text" id="amt-split" name="amt-split" class="form-control" />
                    </div>
                    <input type="hidden" id="contributionId" name="contributionId" />
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" />
                <a href="#" id="split-submit" name="split-submit" class="btn btn-primary">Submit</a>
            </div>
        </div>
    </div>
</div>
@section scripts {
    @Fingerprint.Script("/Content/touchpoint/lib/bootstrap-editable/js/bootstrap-editable.min.js")
    @Fingerprint.Script("/Content/touchpoint/js/finance/post-bundle.js")
}
