@using UtilityExtensions
@model CmsWeb.Models.PostBundleModel.ContributionInfo
<tr cid="@Model.ContributionId">
    <td>
        <a href="/SearchAdd2/Dialog/contributor/@Model.ContributionId" class="searchadd pid">
            @(Model.PeopleId == null ? "Select" : Model.PeopleId.ToString())
        </a>
        <input type="hidden" class="date" value="@Model.Date.FormatDate()" />
        <input type="hidden" class="campusid" value="@Model.campusid" />
    </td>
    <td class="name">
        <a tabindex="0" href="#" data-toggle="popover" data-trigger="focus" data-title="@Model.Name" data-content="@Model.tip" class="namepopover"><i class="fa fa-info-circle"></i></a>
        <a href="/Person2/@Model.PeopleId" target="person" class="nameselector">@Model.Name</a>
    </td>
    <td class="amt text-right" val="@Model.Amt">
        <a id="a@(Model.ContributionId)" data-pk="a@(Model.ContributionId)" class="clickEdit">@Model.AmtDisplay</a>            
    </td>
    <td class="text-center PLNT">
        <span>@Model.PLNT</span>
    </td>
    <td class="fund" val="@Model.FundId">
        <a id="f@(Model.ContributionId)" class="clickSelect" data-value="@Model.FundId" data-pk="f@(Model.ContributionId)">@Model.FundDisplay</a>
    </td>
    <td class="checkno" val="@Model.CheckNo">
        <a id="k@(Model.ContributionId)" data-pk="k@(Model.ContributionId)" class="clickEdit">@Model.CheckNo</a>
        @if (Model.ImageId != 0)
        {
            <a href="@Url.Action("GetCheckImage", "GetCheckImage", new {Area = "Dialog", id = Model.ContributionId})" class="searchadd">
                <i class="fa fa-info-circle"></i>
            </a>
        }
    </td>
    <td class="notes">
        <span>@Model.Notes</span>
    </td>
    <td colspan="2">
        <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle contribution-actions" data-toggle="dropdown" aria-expanded="false">
                Actions <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li><a class="edit" href="#"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Edit</a></li>
                <li><a class="split" href="#"><i class="fa fa-expand"></i>&nbsp;&nbsp;Split</a></li>
                <li><a class="delete" href="#"><i class="fa fa-trash"></i>&nbsp;&nbsp;Delete</a></li>
            </ul>
        </div>
    </td>
</tr>
