@using UtilityExtensions
@model CmsWeb.Models.PostBundleModel.ContributionInfo
<tr cid="@Model.ContributionId">
    <td>
        <a href="/SearchAdd2/Dialog/contributor/@Model.ContributionId" class="searchadd pid">
            @(Model.PeopleId == null ? "select" : Model.PeopleId.ToString())
        </a>
    </td>
    <td class="name" title="@Model.tip">
        @Model.Name
    </td>
    <td class="amt text-right" val="@Model.Amt">
        <span id='a@(Model.ContributionId)' class='clickEdit'>@Model.AmtDisplay</span>            
    </td>
    <td class="text-center PLNT">
        <span>@Model.PLNT</span>
    </td>
    <td class="fund" val="@Model.FundId">
        <span id='f@(Model.ContributionId)' class='clickSelect'>@Model.FundDisplay</span>
    </td>
    <td class="checkno">
        @Model.CheckNo
    </td>
    <td class="notes">
        @Model.Notes
    </td>
    <td colspan="2">
        <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Actions <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li><a class="edit" href="#"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Edit</a></li>
                <li><a class="split" href="#"><i class="fa fa-expand"></i>&nbsp;&nbsp;Split</a></li>
                <li><a class="delete" href="#"><i class="fa fa-trash"></i>&nbsp;&nbsp;Delete</a></li>
            </ul>
        </div>
    </td>
</tr>
