@model CmsWeb.Models.UpdateFieldsModel
@{
    ViewBag.Title = "Update Fields from a Tag/Query";
    Layout = "~/Views/Shared/SiteLayout2.cshtml";
}
@section scripts
{
    @Fingerprint.Script("/Scripts/Admin/UpdateFields.js")
}
<div class="container">
    <div class="table not-wide">
        <form class="form form-horizontal" method="post" action="/Batch/UpdateFieldsRun">
            <fieldset>
                <legend>Update Fields from a Tag/Query</legend>
                @Html.EditorFor(m => m.Tag, "Dropdown", new { items = Model.Tags() })
                @Html.HiddenFor(m => m.Count)
                <div class="control-group @(Model.Count.HasValue ? "" : "hide")">
                    <label class="control-label"></label>
                    <div class="controls">
                        <p class="alert alert-danger" id="count">@Model.Count records will be updated</p>
                    </div>
                </div>
                @Html.EditorFor(m => m.Field, "Dropdown", new { items = Model.Fields() })
                @Html.EditorFor(m => m.NewValue)
                <div class="control-group">
                    <label class="control-label"></label>
                    <div class="controls">
                        <input type="submit" class="btn btn-primary" value="Run Update" />
                    </div>
                </div>
                @if (ViewBag.success != null)
                {
                    <div class="alert alert-success">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                      @ViewBag.success
                    </div>
                }
            </fieldset>
        </form>
    </div>
    @foreach (var ti in Model.FetchTitleItems())
    {
        @Html.Partial("LookupTable", ti)
    }
</div>