@model CmsWeb.Areas.Org.Models.SettingsFeesModel
<form class="form form-horizontal non-modal ajax span12">
    <br/>
    @FormAction()
  <div>
    @Html.DisplayFor(m => m.Fee)
    @Html.DisplayFor(m => m.Deposit)
    @Html.DisplayFor(m => m.IncludeOtherFeesWithDeposit)
    @Html.DisplayFor(m => m.ExtraFee)
    @Html.DisplayFor(m => m.LastDayBeforeExtra)
    @Html.DisplayFor(m => m.MaximumFee)
    @Html.DisplayFor(m => m.ApplyMaxToOtherFees)
    @Html.DisplayFor(m => m.AskDonation)
    @Html.DisplayFor(m => m.DonationFundId)
    @Html.DisplayFor(m => m.DonationLabel)
    @Html.DisplayFor(m => m.OrgFees)
    @Html.DisplayFor(m => m.OtherFeesAddedToOrgFee)
    @Html.DisplayFor(m => m.AccountingCode)
    @Html.DisplayFor(m => m.ExtraValueFeeName)
    @FormAction()
  </div>
</form>

@helper FormAction()
{
    <div class="pull-right">
        <a href="/Organization/Fees/@Model.OrgId" class="btn ajax">Cancel</a>
        <a href="/Organization/FeesUpdate/@Model.OrgId" class="btn btn-primary ajax">Save</a>
    </div>
    <div class="formerror">@Html.ValidationMessage("Form")</div>
}