@model CmsWeb.Areas.Org.Models.OrganizationModel
<form class="form form-horizontal ajax">
    <br/>
    @Html.Hidden("Id", Model.Id)
    @FormAction()
    <ul style="list-style: none; margin-left: 5px;">
        @Html.EditorFor(m => m, "TabGeneral")
    </ul>
    @FormAction()
</form>
@helper FormAction()
{
    <div class="pull-right">
        <a href="/Organization/General/@Model.Id" class="btn ajax">Cancel</a>
        <a href="/Organization/GeneralUpdate/@Model.Id" class="btn btn-primary ajax">Save</a>
    </div>
    <div class="formerror">@Html.ValidationMessage("Form")</div>
}
