@model CmsWeb.Areas.Org.Models.SettingsGeneralModel
<form class="form form-horizontal ajax margin-top">
    @Html.Hidden("Id", Model.Id)
    @FormAction()
    @Html.EditorFor(m => m.Location)
    @Html.EditorFor(m => m.PendingLoc)
    @Html.EditorFor(m => m.Description)
    @Html.EditorFor(m => m.EntryPoint)
    @Html.EditorFor(m => m.PublishDirectory)
    @Html.EditorFor(m => m.GradeAgeStart)
    @Html.EditorFor(m => m.Gender)
    @Html.EditorFor(m => m.PhoneNumber)
    @Html.EditorFor(m => m.IsRecreationTeam)
    @Html.EditorFor(m => m.IsMissionTrip)
    @Html.EditorFor(m => m.NoCreditCards)
    @if (User.IsInRole("Admin"))
    {
      @Html.EditorFor(m => m.LimitToRole)
    }
    @FormAction()
</form>
@helper FormAction()
{
    <div class="pull-right">
        <a href="/Organization/General/@Model.Id" class="btn ajax">Cancel</a>
        <a href="/Organization/GeneralUpdate/@Model.Id" class="btn btn-primary ajax">Save</a>
    </div>
    <div class="formerror">@Html.ValidationMessage("Form")</div>
}
