@using CmsWeb.Areas.Org.Models
@using UtilityExtensions
@using CmsWeb
@model CmsWeb.Areas.Org.Models.OrganizationModel
@{ var o = Model.Org; }
<div class="container">
    <div class="span8">
        <form class="form form-horizontal non-modal ajax border-bottom">
            <fieldset>
                <legend>
                    <h2>
                        @Model.Org.OrganizationName@(Model.Org.LeaderId.HasValue ? "," : "")
                        <span style="font-size:12px">@Model.Org.LeaderName</span>
                    </h2>
                </legend>
                <div class="row">
                    <div class="span6 inline">
                        <div class="control-group">
                            <label class="control-label">Name:</label>
                            <div class="controls">
                                @o.OrganizationName
                            </div>
                        </div>
                    </div>
                    <div class="span6 inline">
                        <div class="control-group">
                            <label class="control-label">Schedule:</label>
                            <div class="controls">
                                @Model.Schedule
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span12 inline">
                        <div class="control-group">
                            <label class="control-label"><span style="cursor: pointer; color:blue;" data-toggle="popover" data-content="<p style='font-weight: normal;'>Use this link to manage the divisions this organization belongs to.</p><p style='font-weight: normal;'>A dialog box will pop up.</p>" data-original-title="Divisions"><i class="fa fa-info-circle"></i></span>&nbsp;&nbsp;Divisions:</label>
                            <div class="controls">
                                <a id="divisionlist" href="/SearchDivisions/@Model.Id" data-refresh="/Organization/DivisionList/@Model.Id">
                                    @Html.Partial("Other/DivisionList", OrganizationModel.Divisions(Model.Id))
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span6 inline">
                        <div class="control-group">
                            <label class="control-label">Campus:</label>
                            <div class="controls">
                                @Html.CodeDesc("Org.CampusId", Model.CampusList())
                            </div>
                        </div>
                    </div>
                    <div class="span6 inline">
                        <div class="control-group">
                            <label class="control-label" for="Org_OrganizationName">Security Type:</label>
                            <div class="controls">
                                @Html.CodeDesc("Org.SecurityTypeId", Model.SecurityTypeList())
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span6 inline">
                        <div class="control-group">
                            <label class="control-label">Leader Type:</label>
                            <div class="controls">
                                @Html.CodeDesc("Org.LeaderMemberTypeId", Model.LeaderTypeList())
                            </div>
                        </div>
                    </div>
                    <div class="span6 inline">
                        <div class="control-group">
                            <label class="control-label">Status:</label>
                            <div class="controls">
                                @Html.CodeDesc("Org.OrganizationStatusId", Model.OrgStatusList())
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span6 inline">
                        <div class="control-group">
                            <label class="control-label"><span style="cursor: pointer; color:blue;" data-toggle="popover" data-content="<p style='font-weight: normal;'>An upcoming new feature for classifying your organizations.</p><p style='font-weight: normal;'>In progress, stay tuned.</p>" data-original-title="What is Organization Type?"><i class="fa fa-info-circle"></i></span>&nbsp;&nbsp;Organization Type:</label>
                            <div class="controls">
                                @Html.CodeDesc("Org.OrganizationTypeId", Model.OrganizationTypes())
                            </div>
                        </div>
                    </div>
                    <div class="span6 inline">
                        <div class="control-group">
                            <label class="control-label">Main Fellowship:</label>
                            <div class="controls">
                                @Html.CheckBoxReadonly(o.IsBibleFellowshipOrg)
                            </div>
                        </div>
                        @if (o.OrgPickList.HasValue())
                        {
                            <div class="text-right">
                                <span class="label">Master Org</span>
                            </div>
                        }
                    </div>
                </div>
                @if (User.IsInRole("Edit"))
                {
                    <div class="row">
                        <div class="text-right">
                            <a class="ajax btn btn-primary" href="/Organization/MainEdit/@Model.Id" data-callback="popovers">Edit</a>
                        </div>
                    </div>
                }
            </fieldset>
        </form>
    </div>
    
</div>
