@using UtilityExtensions
@model CmsWeb.Areas.People.Models.ContactsModel
<form class="non-modal ajax">
  @Html.Partial("PagerHidden", Model)
  @Html.HiddenFor2(m => m.PeopleId)
  <p class="pull-right">
    <a class="btn btn-success ajax" data-confirm="Add a contact?" data-redirect="true" href="@Model.AddContact">
      @Model.AddContactButton
    </a>
  </p>
  <div class="pagination pagination-mini">
    @Html.Partial("Pager3", Model)
  </div>
  <table class="expanding table table-condensed table-hover">
    <thead>
      <tr>
        <th>@Model.SortLink("Date")</th>
        <th>@Model.SortLink("Type")</th>
        <th>@Model.SortLink("Reason")</th>
        <th>@Model.SortLink("Minister")</th>
        <th>@Model.SortLink("Contactee")</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var c in Model.ViewList())
      {
        <tr>
          <td class="indent"><a href="/Contact2/@c.ContactId">@c.ContactDate.ToShortDateString()</a></td>
          <td>@c.TypeOfContact</td>
          <td>@c.ContactReason</td>
          <td>@c.Contactor</td>
          <td>@c.Contactee</td>
        </tr>
      }
    </tbody>
  </table>
  <div class="pagination pagination-mini">
    @Html.Partial("Pager3", Model)
  </div>
</form>