@using UtilityExtensions
@model CmsWeb.Areas.People.Models.ContactsModel
<form class="non-modal ajax">
    <p class="pull-right"><a class="btn btn-success add-task-contact" href="@Model.AddContact">Add Contact</a></p>
    <div class="pagination pagination-mini">
        @Html.Partial("Pager3", Model.Pager)
    </div>
    <table class="expanding table table-condensed table-hover">
        <thead>
            <tr>
                <th>@Model.Pager.SortLink("Date")</th>
                <th>@Model.Pager.SortLink("Type")</th>
                <th>@Model.Pager.SortLink("Reason")</th>
                <th>@Model.Pager.SortLink("Minister")</th>
                <th>@Model.Pager.SortLink("Contactee")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in Model.ViewList())
            {
                <tr>
                    <td class="indent"><a href="/Contact/Index/@c.ContactId">@c.ContactDate.ToShortDateString()</a></td>
                    <td>@c.TypeOfContact</td>
                    <td>@c.ContactReason</td>
                    <td>@c.Contactor</td>
                    <td>@c.Contactee</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="pagination pagination-mini">
        @Html.Partial("Pager3", Model.Pager)
    </div>
</form>