@using UtilityExtensions
@model CmsWeb.Areas.People.Models.TasksModel
<form class="non-modal ajax">
    @if (Model.AddTask.HasValue())
    {
        <p class="pull-right">
            <a class="btn btn-primary ajax" data-confirm="Add a Task?" data-redirect="true" href="@Model.AddTask">
                Add Task About This Person
            </a>
        </p>
    }
    <div class="pagination pagination-mini">
        @Html.Partial("Pager3", Model.Pager)
    </div>
    <table class="expanding table table-condensed table-hover">
        <thead>
            <tr>
                <th>@Model.Pager.SortLink("Created")</th>
                <th>@Model.Pager.SortLink("Minister")</th>
                <th>@Model.Pager.SortLink("Description")</th>
                <th>@Model.Pager.SortLink("About")</th>
                <th>@Model.Pager.SortLink("Due")</th>
                <th>@Model.Pager.SortLink("Completed")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var t in Model.ViewList())
            {
                <tr>
                    <td>@t.CreatedDate.ToShortDateString()</td>
                    <td><a href="/Person/Index/@t.AssignedToId">@t.AssignedTo</a></td>
                    <td><a href="@t.link">@t.Desc</a></td>
                    <td><a href="/Person/Index/@t.AboutId">@t.About</a></td>
                    <td>@t.DueDate.FormatDate()</td>
                    <td>@(t.completed.HasValue ? t.completed.FormatDate() : "incomplete")</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="pagination pagination-mini">
        @Html.Partial("Pager3", Model.Pager)
    </div>
</form>