@using UtilityExtensions
@model CmsWeb.Areas.People.Models.VolunteerModel
<div class="row">
    <div class="col-sm-6">
        <h4>Volunteer Approvals</h4>
    </div>
    <div class="col-sm-6">
        @FormAction()
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>Approvals:</th>
            <td>
                @foreach (var ck in Model.ApprovalList)
                {
                    <input type="checkbox" @(ck.Approved ? "checked='checked'" : "") disabled="disabled" />
                    @ck.Description<br />
                }
            </td>
        </tr>
        <tr>
            <th>Background Check:</th>
            <td colspan="2">@Model.Volunteer.ProcessedDate.FormatDate()</td>
        </tr>
        <tr>
            <th>MVR Check:</th>
            <td colspan="2">@Model.Volunteer.MVRProcessedDate.FormatDate()</td>
        </tr>
    </table>
</div>
@FormAction(true)
<br />
@helper FormAction(bool xs = false)
{
    if (User.IsInRole("ApplicationReview"))
    {
        if (xs)
        {
            <div class="visible-xs-block">
                <a href="/Volunteering/@Model.Volunteer.PeopleId" class="btn btn-default btn-block">Manage</a>
            </div>
        }
        else
        {
            <div class="pull-right hidden-xs">
                <a href="/Volunteering/@Model.Volunteer.PeopleId" class="btn btn-default">Manage</a>
            </div>
        }
    }
    if (User.IsInRole("ViewVolunteerApplication"))
    {
        if (xs)
        {
            <div class="visible-xs-block">
                <a href="/Volunteering/@Model.Volunteer.PeopleId" class="btn btn-default btn-block">View Application</a>
            </div>
        }
        else
        {
            <div class="pull-right hidden-xs">
                <a href="/Volunteering/@Model.Volunteer.PeopleId" class="btn btn-default">View Application</a>
            </div>
        }
    }
}
