@using CmsData
@model CmsWeb.Areas.Org.Models.OrgPeopleModel
<div class="btn-group">
  <button data-toggle="dropdown" class="btn dropdown-toggle btn-info">
    @Model.GroupOptions
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
      <li class="@Model.MultiSelectActive">
          <a id="multigroup" href="#" class="grp2 @Model.MultiSelectActive">Select Multiple</a>
      </li>
      <li class="@Model.ShowHiddenActive">
          <a id="showhide" href="#" class="grp2 @Model.ShowHiddenActive">Show Hidden</a>
      </li>
      @if (!Model.DisablePeopleLink)
      {
        <li class="@Model.ShowMinistryInfoActive">
          <a id="ministryinfo" href="#" class="grp2 @Model.ShowMinistryInfoActive">Ministry Info</a>
        </li>
        if (Model.ShowShowAddress)
        {
          <li class="@Model.ShowAddressActive">
              <a id="showaddress" href="#" class="grp2 @Model.ShowAddressActive">Show Address</a>
          </li>
        }
      }
  </ul>
</div>
