@model IEnumerable<CmsData.Zip>
@{
    Layout = ViewExtensions2.TouchPointLayout();
    ViewBag.Title = "Metro Zip Codes";
}
@section head{
    <link href="@Url.Content("~/Content/touchpoint/bootstrap-editable/css/bootstrap-editable.css")" rel="stylesheet">
}
<h2>Zip Codes</h2>
@if (TempData["SuccessMessage"] == null || string.IsNullOrWhiteSpace(TempData["SuccessMessage"].ToString()))
{
    using (Html.BeginForm("UpdateMetroZips", "MetroZip"))
    {
        <div class="alert alert-info">
            <h4>What about existing addresses?</h4>
            <p>
                Any new addresses entered will be associated accordingly after you enter or update these zip codes. Already existing addresses can be updated with this button.
            </p>
            <p>
                <button type="submit" class="btn btn-info">Update All Addresses</button>
            </p>
        </div>
    }
}
else
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["SuccessMessage"]
    </div>
}
<div class="table-responsive">
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th style="width: 100px;">Zip Code</th>
                <th style="width: 300px;">Metro Marginal Code</th>
                <th style="width: 100px;">Action</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td style="width: 100px;">@item.ZipCode</td>
                <td style="width: 300px;">
                    <a id="r@(item.ZipCode)" class="clickSelect" data-value="@(item.ResidentCode == null ? "" : item.ResidentCode.Id.ToString())" data-pk="r@(item.ZipCode)">@(item.ResidentCode == null ? "" : item.ResidentCode.Description)</a>
                </td>
                <td style="width: 100px;">
                    <a id="d@(item.ZipCode)" href="#" class="delete btn btn-sm btn-danger"><i class="fa fa-trash"></i> Delete</a>
                </td>
            </tr>
        }
    </table>
</div>
<label for="zipcode">New Zip Code</label>
<div class="row">
    @using (Html.BeginForm("Create", "MetroZip"))
    {
        <div class="col-sm-12 form-inline">
            <div class="input-group">
                @Html.TextBox("zipcode", "", new { @class = "form-control" })
            </div>
            <div class="input-group">
                <input type="submit" class="btn btn-primary" value="Create" />
            </div>
        </div>
    }
</div>
@section scripts
{
    <script src="@Url.Content("~/Scripts/touchpoint/bootstrap-editable/bootstrap-editable.js")"></script>
    <script type="text/javascript">
        $(function () {
            $.fn.editableform.buttons = '<button type="submit" class="btn btn-primary btn-sm editable-submit">' +
                                            '<i class="fa fa-fw fa-check"></i>' +
                                        '</button>' +
                                        '<button type="button" class="btn btn-default btn-sm editable-cancel">' +
                                            '<i class="fa fa-fw fa-times"></i>' +
                                        '</button>';

            $(".clickSelect").editable({
                mode: 'inline',
                type: 'select',
                url: "/MetroZips/Edit/",
                source: "/MetroZips/ResidentCodes/",
                params: function (params) {
                    var data = {};
                    data['id'] = params.pk;
                    data['value'] = params.value;
                    return data;
                }
            });

            $("a.delete").click(function (e) {
                e.preventDefault();
                var id = $(this).attr("id");
                swal({
                    title: "Are you sure?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "Yes, delete it!",
                    closeOnConfirm: false
                },
                function () {
                    $.post("/MetroZips/Delete/" + id, null, function (ret) {
                        if (ret && ret.error)
                            swal("Error!", ret.error, "error");
                        else {
                            swal({
                                title: "Deleted!",
                                type: "success"
                            },
                            function () {
                                window.location = "/MetroZips/";
                            });
                        }
                    });
                });
            });
        });
    </script>
} 