@model CmsWeb.Areas.Main.Models.MassEmailer
@using System.Configuration
@using CmsWeb
@{
    Layout = ViewExtensions2.TouchPointLayout();
    ViewBag.Title = "Email";
    ViewBag.PageHeader = "Email";
}
@section head
{
    @Fingerprint.Css("/Content/touchpoint/lib/froala-editor/css/froala_editor.min.css")
    @Fingerprint.Css("/Content/touchpoint/lib/froala-editor/css/froala_style.min.css")
    @Fingerprint.Css("/Content/touchpoint/lib/froala-editor/css/custom-theme.css")
    @Fingerprint.Css("/Content/touchpoint/lib/select2/css/select2.css")
    @Fingerprint.Css("/Content/touchpoint/lib/select2/css/select2-bootstrap.css")
    <style>
        #s2id_Recipients {
            max-height: 60px !important;
            overflow-y: scroll !important;
        }
    </style>
}
<div class="row">
    <div class="col-md-10 col-lg-8">
        <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <strong>Please Note:</strong> Your recipient list has been saved in a tag, so you can run queries in other tabs. But you should not compose two emails simultaneously as one will overwrite the other.
        </div>
        <div class="box box-responsive">
            <div class="box-content">
                @using (Html.BeginForm("QueueEmails", "Email", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.Hidden("TagId")
                    @Html.Hidden("Host")
                    @Html.Hidden("CmsHost")
                    @Html.Hidden("Count", Model.Count)
                    @Html.Hidden("wantParents", Model.wantParents)
                    @Html.Hidden("ccparents", Model.CcParents)
                    @Html.Hidden("noDuplicates", Model.noDuplicates)
                    <div class="form-group">
                        <label for="FromAddress" class="col-sm-2 control-label">From:</label>
                        <div class="col-sm-10">
                            @Html.DropDownList("FromAddress", Model.EmailFroms(), new {@class = "form-control"})
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">To:</label>
                        <div class="col-sm-10">
                            <select multiple="multiple" id="Recipients" name="Recipients" class="form-control">
                                @if (Model.Recipients.Count() > 500)
                                {
                                    <option value="" selected="selected">@Model.Count people@(Model.wantParents ? " including parents." : ".")</option>
                                }
                                else
                                {
                                    foreach (var recipient in Model.Recipients)
                                    {
                                        <option value="@recipient" selected="selected">@recipient</option>
                                    }
                                }
                            </select>
                            @if (Model.Recipients.Count() <= 500)
                            {
                                <p class="help-block">@Model.Count @( Model.Count != 1 ? "people" : "person")@(Model.wantParents ? " including parents." : ".")</p>
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Subject" class="col-sm-2 control-label">Subject:</label>
                        <div class="col-sm-10">
                           @Html.TextBox("Subject", Model.Subject, new { @class = "form-control" })
                        </div>
                    </div>
                    if ((User.IsInRole("ScheduleEmails") || User.IsInRole("Edit")) && ConfigurationManager.AppSettings["UseEmailScheduler"] == "true")
                    {
                        <div class="form-group">
                            <label for="Schedule" class="col-sm-2 control-label">Schedule:</label>
                            <div class="col-sm-10">
                                <div class="input-group scheduleDateTime">
                                    @Html.TextBox("Schedule", Model.Schedule, new {@class = "form-control", placeholder = "Immediately"})<span class="input-group-addon hidden-xs hidden-sm"><i class="fa fa-calendar"></i></span>
                                    @Html.Hidden("ScheduleIso", Model.Schedule, new {disabled = "disabled", placeholder = "Immediately"})
                                </div>
                                <p class="help-block">Note: Time is Central Time (CST)</p>
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <label class="checkbox-inline">
                                @Html.CheckBox("PublicViewable") Publicly viewable?
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            @Html.TextArea("Body", Model.Body, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="pull-right">
                                <div class="btn-group" id="send-actions">
                                    <button type="button" class="btn btn-primary" id="Send"><i class="fa fa-paper-plane"></i> Send</button>
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li><a href="#" id="TestSend">Send Test Email (To Me)</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>
                }
            </div>
        </div>
    </div>
</div>
@section scripts
{
    @Fingerprint.Script("/Content/touchpoint/lib/froala-editor/js/froala_editor.min.js")
    @Fingerprint.Script("/Content/touchpoint/lib/froala-editor/js/plugins/font_family.min.js")
    @Fingerprint.Script("/Content/touchpoint/lib/froala-editor/js/plugins/font_size.min.js")
    @Fingerprint.Script("/Content/touchpoint/lib/froala-editor/js/plugins/colors.min.js")
    @Fingerprint.Script("/Content/touchpoint/lib/froala-editor/js/plugins/fullscreen.min.js")
    @Fingerprint.Script("/Content/touchpoint/lib/froala-editor/js/plugins/lists.min.js")
    @Fingerprint.Script("/Content/touchpoint/lib/froala-editor/js/plugins/tables.min.js")
    @Fingerprint.Script("/Content/touchpoint/lib/froala-editor/js/plugins/urls.min.js")
    @Fingerprint.Script("/Content/touchpoint/lib/froala-editor/js/plugins/special_links.js")
    @Fingerprint.Script("/Content/touchpoint/lib/select2/js/select2.min.js")
    @Fingerprint.Script("/Content/touchpoint/js/email/email.js")
    <script type="text/javascript">
        $(function () {
            $.Editable.DEFAULTS.key = 'IGLGTD1DMJf1BWLb1PO==';
            $('#Body').editable({
                inlineMode: false,
                height: 400,
                theme: 'custom',
                buttons: ['bold', 'italic', 'underline', 'fontSize', 'fontFamily', 'color', 'sep', 'formatBlock', 'align', 'insertOrderedList', 'insertUnorderedList', 'outdent', 'indent', 'sep', 'createLink', 'specialLink', 'sep', 'insertImage', 'table', 'html', 'fullscreen'],
                imageUploadURL: '/Account/FroalaUpload'
            });
        });
    </script>
}