@using CmsData
@using CmsWeb.Models
@using UtilityExtensions
@model CmsWeb.Areas.Main.Models.EmailTemplatesModel
@{
    ViewBag.Title = "Select Template";
    ViewBag.PageHeader = "Select Template";
    Layout = ViewExtensions2.TouchPointLayout();
    var url = "/Email/" + Model.QueryId;
    var sdMine = Model.FetchDrafts().Where(vv => vv.Owner);
    var sdShared = Model.FetchDrafts().Where(vv => vv.Shared);
    var sdRole = Model.FetchDrafts().Where(vv => vv.Other);
}
@section head{
    @Fingerprint.Css("/Content/touchpoint/lib/bootstrap-tabdrop/css/tabdrop.css")
}
<div class="row">
    @{
        var empty = Model.FetchTemplateByName("Empty Template");
    }
    @if (User.IsInRole("EmailBuilder") && empty != null)
    {
        <div class="col-md-12" id="emailBuilder">
            <div class="pull-right">
                <a href="#" class="btn btn-primary templateItem" template="@empty.Id" useUnlayer="true"><i class="fa fa-envelope"></i>&nbsp;&nbsp;Email Builder</a>
            </div>
        </div>
    }
    <div class="col-md-12" id="templates">
        <ul class="nav nav-tabs" id="template-tabs">
            <li class="active"><a href="#emailTemplates" aria-controls="emailTemplates" data-toggle="tab"><i class="fa fa-envelope"></i>&nbsp;&nbsp;Email Templates</a></li>
            <li><a href="#myDrafts" aria-controls="myDrafts" data-toggle="tab"><i class="fa fa-user"></i>&nbsp;&nbsp;My Drafts</a></li>
            <li><a href="#teamDrafts" aria-controls="emailTemplates" data-toggle="tab"><i class="fa fa-users"></i>&nbsp;&nbsp;Team Drafts</a></li>
            <li><a href="#shared" aria-controls="shared" data-toggle="tab"><i class="fa fa-share"></i>&nbsp;&nbsp;Shared</a></li>
        </ul>
        <div class="tab-content">
            <form id="selectTemplate" action="@url" method="post">
                @Html.Hidden("templateID", "0")
                @Html.Hidden("parents", @Model.WantParents)
                @Html.Hidden("ccparents", @Model.CcParents)
                @Html.Hidden("nodups", @Model.NoDups)
                @Html.Hidden("orgid", @Model.OrgId)
                @Html.Hidden("useUnlayer", false)
            </form>
            <div class="tab-pane fade in active" id="emailTemplates">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            @{
                                if (empty != null)
                                {
                                    <div class="col-sm-6 col-md-4 col-lg-3" style="margin-top: 5px; margin-bottom: 5px;" bvtemplate template="@empty.Id">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <a href="#" class="templateItem" template="@empty.Id">
                                                    <img src="/Image/@empty.ThumbID" class="img-responsive img-thumbnail"/>
                                                </a>
                                            </div>
                                            <div class="col-xs-8">
                                                <a href="#" class="templateItem" template="@empty.Id"><strong>@empty.Name</strong></a>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-sm-6 col-md-4 col-lg-3" style="margin-top: 5px; margin-bottom: 5px;" bvtemplate template="0">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <a href="#" class="templateItem" template="0">
                                                    <img src="/Image/0" class="img-responsive img-thumbnail"/>
                                                </a>
                                            </div>
                                            <div class="col-xs-8">
                                                <a href="#" class="templateItem" template="0"><strong>Blank</strong></a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            @foreach (var t in Model.FetchTemplates().Where(x => x.Name != "Empty Template"))
                            {
                                <div class="col-sm-6 col-md-4 col-lg-3" style="margin-top: 5px; margin-bottom: 5px;" bvtemplate template="@t.Id">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <a href="#" class="templateItem" template="@t.Id">
                                                <img src="/Image/@t.ThumbID" class="img-responsive img-thumbnail"/>
                                            </a>
                                        </div>
                                        <div class="col-xs-8">
                                            <a href="#" class="templateItem" template="@t.Id"><strong>@t.Name</strong></a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="myDrafts">
                <div class="row hidden-xs">
                    <div class="col-sm-12">
                        <div class="pull-right">
                            <button type="button" class="btn btn-danger draftDelete"><i class="fa fa-trash"></i> Delete Selected</button>
                        </div>
                    </div>
                </div>
                <form id="savedDrafts" action="/Email/ContentDeleteDrafts" method="post">
                    @Html.Hidden("parents", @Model.WantParents)
                    @Html.Hidden("queryid", @Model.QueryId)
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th style="width: 5px;"><input type="checkbox" id="draftAll" value="all"/></th>
                                        <th>Name</th>
                                        <th>Role</th>
                                        <th>Created Date</th>
                                        <th style="width: 50px;">Action</th>
                                    </tr>
                                    </thead>
                                    @foreach (var item in sdMine)
                                    {
                                        if (item.isUnlayer && !User.IsInRole("EmailBuilder"))
                                        {
                                            continue;
                                        }
                                        else
                                        {
                                            <tr>
                                                <td style="width: 5px;">
                                                    <input draft="yes" type="checkbox" name="draftID" value="@item.id"/>
                                                </td>
                                                <td>
                                                    <a href="#" class="templateItem" template="@item.id" useUnlayer="@item.isUnlayer.ToString().ToLower()">@item.name</a>
                                                </td>
                                                <td>
                                                    @if (item.roleID != 0)
                                                    {
                                                        @item.role
                                                    }
                                                </td>
                                                <td>
                                                    @item.created.FormatDate()
                                                </td>
                                                <td style="width: 50px;">
                                                    <button class="btn btn-default btn-sm clone" type="button" template="@item.id" data-toggle="modal" data-target="#clone-modal"><i class="fa fa-clone"></i> Clone</button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </table>
                            </div>
                            <button type="button" class="btn btn-danger visible-xs-block btn-block draftDelete"><i class="fa fa-trash"></i> Delete Selected</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="teamDrafts">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Role</th>
                                    <th>Created Date</th>
                                    <th style="width: 50px;">Action</th>
                                </tr>
                                </thead>
                                @foreach (var item in sdRole)
                                {
                                    if (item.isUnlayer && !User.IsInRole("EmailBuilder"))
                                    {
                                        continue;
                                    }
                                    else
                                    {
                                        <tr>
                                            <td>
                                                <a href="#" class="templateItem" template="@item.id" useUnlayer="@item.isUnlayer.ToString().ToLower()">@item.name</a>
                                            </td>
                                            <td>
                                                @if (item.roleID != 0)
                                                {
                                                    @item.role
                                                }
                                            </td>
                                            <td>
                                                @item.created.FormatDate()
                                            </td>
                                            <td style="width: 50px;">
                                                <button class="btn btn-default btn-sm clone" type="button" template="@item.id" data-toggle="modal" data-target="#clone-modal"><i class="fa fa-clone"></i> Clone</button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                        <button type="button" class="btn btn-danger visible-xs-block btn-block draftDelete"><i class="fa fa-trash"></i> Delete Selected</button>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="shared">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Owner</th>
                                    <th>Created Date</th>
                                    <th style="width: 50px;">Action</th>
                                </tr>
                                </thead>
                                @foreach (var item in sdShared)
                                {
                                    if (item.isUnlayer && !User.IsInRole("EmailBuilder"))
                                    {
                                        continue;
                                    }
                                    else
                                    {
                                        <tr>
                                            <td>
                                                <a href="#" class="templateItem" template="@item.id" useUnlayer="@item.isUnlayer.ToString().ToLower()">@item.name</a>
                                            </td>
                                            <td>
                                                @item.owner
                                            </td>
                                            <td>
                                                @item.created.FormatDate()
                                            </td>
                                            <td style="width: 50px;">
                                                <button class="btn btn-default btn-sm clone" type="button" template="@item.id" data-toggle="modal" data-target="#clone-modal"><i class="fa fa-clone"></i> Clone</button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                        <button type="button" class="btn btn-danger visible-xs-block btn-block draftDelete"><i class="fa fa-trash"></i> Delete Selected</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="clone-modal">
    <div class="modal-dialog modal-sm">
        <form action="/Email/CloneDraft" method="post">
            @Html.Hidden("QueryId", Model.QueryId)
            <input type="hidden" name="id" id="id" value=""/>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Clone Draft</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-info">The new draft will be saved in My Drafts.</div>
                    <div class="form-group">
                        <label for="name" class="control-label">Draft Name</label>
                        <input type="text" id="name" name="name" class="form-control"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal"/>
                    <input type="submit" value="Submit" class="btn btn-primary"/>
                </div>
            </div>
        </form>
    </div>
</div>
@section scripts
{
    @Fingerprint.Script("/Content/touchpoint/lib/bootstrap-tabdrop/js/bootstrap-tabdrop.js")
    @Fingerprint.Script("/Content/touchpoint/lib/bootstrap-tabdrop/js/extensions_bootstrap-tabdrop.js")
    <script type="text/javascript">
        $(function () {
            $("#template-tabs").tabdrop();

            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                if ($(this).attr('href') == '#emailTemplates') {
                    setSpecialContentCol('col-md-12');
                } else {
                    setSpecialContentCol('col-md-9');
                }
            });

            function setSpecialContentCol(className) {
                $('#templates').removeClass('col-md-9').removeClass('col-md-12').addClass(className);
                $('#emailBuilder').removeClass('col-md-9').removeClass('col-md-12').addClass(className);
            }

            $("body").on("click", 'a.templateItem', function (e) {
                e.preventDefault();
                $("#templateID").val($(this).attr("template"));

                if ($(this).attr("useUnlayer")) {
                    $("#useUnlayer").val($(this).attr("useUnlayer"));
                }

                $("#selectTemplate").submit();
            });

            $('#clone-modal').on('shown.bs.modal', function (e) {
                $("#id").val($(e.relatedTarget).attr("template"));
            });

            var lastChecked = null;
            $(document).on("click", "input[draft]", null, function (e) {
                if (e.shiftKey && lastChecked !== null) {
                    var start = $('input[draft]').index(this);
                    var end = $('input[draft]').index(lastChecked);
                    $('input[draft]').slice(Math.min(start, end), Math.max(start, end) + 1).prop("checked", true);
                }
                lastChecked = this;
                checkChanged();
            });

            $(document).on("change", "input[draft]", null, checkChanged);

            $("button.draftDelete").click(function (e) {
                swal({
                    title: "Are you sure you want to delete " + $("input[draft]:checked").length + " draft(s)?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "Yes, delete draft(s)!",
                    closeOnConfirm: false
                },
                function () {
                    $("#savedDrafts").submit();
                });
            });

            $("#draftAll").change(function () {
                if ($(this).prop("checked")) {
                    $("input[draft]").prop("checked", true);
                } else {
                    $("input[draft]").prop("checked", false);
                }
                checkChanged();
            });

            function checkChanged() {
                if ($("input[draft]:checked").length > 0) {
                    $("button.draftDelete").prop("disabled", false);
                    $("button.draftDelete").html("<i class='fa fa-trash'></i> Delete " + $("input[draft]:checked").length + " Draft(s)");
                } else {
                    $("button.draftDelete").prop("disabled", true);
                    $("button.draftDelete").html("<i class='fa fa-trash'></i> Delete 0 Draft(s)");
                }
            }

            checkChanged();
        });
    </script>
}
