@using CmsData
@using CmsData.Codes
@using UtilityExtensions
@model CmsWeb.Areas.Finance.Models.BundleModel
@{
    var difference = Model.TotalHeader() - Model.TotalItems();
  var customreport = DbUtil.Db.Setting("CustomBundleReport", "");
}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="box box-responsive">
            <div class="box-title-btn">
                <div class="box-tools">
                    <a class="btn btn-default" href="/Bundles"><i class="fa fa-arrow-circle-left"></i> Back to List</a>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Actions <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            @if (Model.IsAdmin || Model.BundleStatusId != BundleStatusCode.Closed)
                            {
                                if (!User.IsInRole("FinanceDataEntry"))
                                {
                                <li><a id="delete" href="/Bundle/Delete/@Model.BundleId"><i class="fa fa-trash"></i>&nbsp;&nbsp;Delete</a></li>
                                }
                            }
                            @if (Model.CanEdit)
                            {
                                <li><a id="editbundle" href="/Bundle/Edit/@Model.BundleId"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Edit Bundle Header</a></li>
                            }
                            @if (Model.BundleStatusId != BundleStatusCode.Closed)
                            {
                                <li><a href="/PostBundle/@Model.BundleId"><i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;Post Bundle / Edit</a></li>
                            }
                            <li class="divider"></li>
                            <li><a href="/Bundles/NewBundle/"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Create New Bundle</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="box-content">
                <form id="bundleform" class="well">
                    <div class="row">
                        <div class="col-sm-6">
                            <dl>
                                <dt>Bundle Status</dt>
                                <dd>@Model.Status</dd>
                            </dl>
                            <dl>
                                <dt>Bundle Type</dt>
                                <dd>@Model.Type</dd>
                            </dl>
                            <dl>
                                <dt>Default Fund</dt>
                                <dd><a href="/PostBundle/FundTotals/@Model.BundleId" style="text-decoration: underline;">@Model.DefaultFund</a></dd>
                            </dl>
                        </div>
                        <div class="col-sm-6">
                            <dl>
                                <dt>Contribution Date</dt>
                                <dd>@Model.Bundle.ContributionDate.ToShortDateString()</dd>
                            </dl>
                            <dl>
                                <dt>Deposit Date</dt>
                                <dd>@Model.Bundle.DepositDate.FormatDate()</dd>
                            </dl>
                        </div>
                    </div>
                </form>
                <div class="stat-panel-container">
                    <div class="stat-panel-inner-container">
                        <div class="stat-panel">
                            <span class="stat-title">BUNDLE TOTAL</span>
                            <span class="stat-figure">@Model.TotalHeader().ToString("C2")</span>
                        </div>
                        <div class="stat-panel">
                            <span class="stat-title">ITEMS TOTAL</span>
                            <span class="stat-figure">@Model.TotalItems().ToString("C2")</span>
                        </div>
                        <div class="stat-panel">
                            <span class="stat-title">ITEM COUNT</span>
                            <span class="stat-figure">@Model.Count().ToString("N0")</span>
                        </div>
			@if (customreport.HasValue())
                  	{
                  	<div class="stat-panel">
                    	    <span class="stat-title">&nbsp;</span>
                    	    <span class="stat-figure"><a href="@customreport.Replace("{bundleid}", Model.BundleId.ToString())" target="bundlerpt" style="color:white">Bundle Report</a></span>
                  	</div>
                  	}
                        <div style="clear: both;"></div>
                    </div>
                </div>
                <form id="results">
                    @Html.Partial("Results", Model)
                </form>
                <div class="visible-xs-block">
                    <div class="btn-group btn-block">
                        <button type="button" class="btn btn-primary btn-block dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Actions <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right btn-block">
                            @if (Model.IsAdmin || Model.BundleStatusId != BundleStatusCode.Closed)
                            {
                                <li><a id="delete" href="/Bundle/Delete/@Model.BundleId"><i class="fa fa-trash"></i>&nbsp;&nbsp;Delete</a></li>
                            }
                            @if (Model.CanEdit)
                            {
                                <li><a id="editbundle" href="/Bundle/Edit/@Model.BundleId"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Edit Bundle Header</a></li>
                            }
                            @if (Model.BundleStatusId != BundleStatusCode.Closed)
                            {
                                <li><a href="/PostBundle/@Model.BundleId"><i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;Post Bundle / Edit</a></li>
                            }
                            <li class="divider"></li>
                            <li><a href="/Bundles/NewBundle/"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Create New Bundle</a></li>
                        </ul>
                    </div>
                    <hr/>
                    <a class="btn btn-default btn-block" href="/Bundles"><i class="fa fa-arrow-circle-left"></i> Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
