@using System.Globalization
@model CmsWeb.Areas.Finance.Models.BundleModel
@{
    object statusattributes = new {@class = "form-control"};
    if (!Model.CanChangeStatus)
    {
        statusattributes = new {@class = "form-control", disabled = "disabled"};
    }
}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-10">
        <div class="box box-responsive">
            <div class="box-title-btn">
                <div class="box-tools">
                    <a class="btn btn-default" href="/Bundles"><i class="fa fa-arrow-circle-left"></i> Back to List</a>
                </div>
            </div>
            <div class="box-content">
                <form id="bundleform">
                    @if (!Model.CanChangeStatus)
                    {
                        <div class="alert alert-warning">
                            <p>
                                <strong>Warning!</strong> This bundle cannot be closed because the totals do not match, or there are contributions not associated with a person.
                            </p>
                        </div>
                    }
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="FundDescription" class="control-label">Bundle Type</label>
                                @Html.DropDownListFor(m => m.Bundle.BundleHeaderTypeId, Model.BundleHeaderList(), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="Bundle_FundId" class="control-label">Default Fund</label>
                                @Html.DropDownListFor(m => m.Bundle.FundId, Model.ContributionFundList(), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-3">
                            @Html.EditorFor(m => m.Bundle.ContributionDate)
                        </div>
                        <div class="col-sm-3">
                            @Html.EditorFor(m => m.Bundle.DepositDate)
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="Bundle_TotalCash" class="control-label">Total Cash</label>
                                <div class="input-group">
                                    <span class="input-group-addon currency">@NumberFormatInfo.CurrentInfo.CurrencySymbol</span>@Html.TextBoxFor(m => m.Bundle.TotalCash, "{0:f2}", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="Bundle_TotalChecks" class="control-label">Total Checks</label>
                                <div class="input-group">
                                    <span class="input-group-addon currency">@NumberFormatInfo.CurrentInfo.CurrencySymbol</span>@Html.TextBoxFor(m => m.Bundle.TotalChecks, "{0:f2}", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="Bundle_TotalEnvelopes" class="control-label">Total Coin</label>
                                <div class="input-group">
                                    <span class="input-group-addon currency">@NumberFormatInfo.CurrentInfo.CurrencySymbol</span>@Html.TextBoxFor(m => m.Bundle.TotalEnvelopes, "{0:f2}", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="BundleStatusId" class="control-label">Bundle Status</label>
                                @Html.DropDownListFor(m => m.Bundle.BundleStatusId, Model.BundleStatusList(), statusattributes)
                                @if (Model.CanChangeStatus)
                                {
                                    @Html.Hidden("IsOpen", Model.BundleStatusId > 0)
                                }
                            </div>
                        </div>
                    </div>
                    <ul class="list-inline">
                        <li>
                            <strong>Bundle Total</strong> <span class="badge">@Model.TotalHeader().ToString("C2")</span>
                        </li>
                        <li>
                            <strong>Items Total</strong> <span class="badge">@Model.TotalItems().ToString("C2")</span>
                        </li>
                    </ul>
                    <div class="hidden-xs">
                        <a href="/Bundle/Cancel/@Model.BundleId" class="btn btn-default displayedit">Cancel</a> <a href="/Bundle/Update/@Model.BundleId" class="btn btn-primary displayedit">Save</a>
                    </div>
                    <div class="visible-xs-block">
                        <a href="/Bundle/Update/@Model.BundleId" class="btn btn-primary displayedit btn-block">Save</a>
                        <a href="/Bundle/Cancel/@Model.BundleId" class="btn btn-default displayedit btn-block">Cancel</a>
                        <hr/>
                        <a class="btn btn-default btn-block" href="/Bundles"><i class="fa fa-arrow-circle-left"></i> Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>