@model Ask
@using CmsData.Registration
@using CmsWeb
@using UtilityExtensions
@using (var ci = Html.BeginCollectionItem(Model.Name))
{
  <div class="movable type-@Model.Type padded grey-box table med-width">
    <div>
      @Html.Raw(ci.hiddenindex)
      @Html.HiddenFor(m => m.Type)
      <label class="ask-question">
        @Model.Type.SpaceCamelCase()
        @Html.Partial("EditorTemplates/QuestionsMenu")
      </label>
    </div>
    @if (ViewBag.ShowHelp != false)
    {
      <div class="alert alert-info maxWidthMedium margin-top">@Html.Markdown(Model.Help)</div>
    }
  </div>
}