@model CmsWeb.Models.SearchModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    @Fingerprint.Css("/content/styles/bundle-css.css")
    <style>
        table.form > tbody > tr > td:nth-child(1) {
            text-align: right;
            white-space: nowrap;
        }
    </style>
    @Fingerprint.Script("/Scripts/Bundle/main.js")
    @Html.Partial("DatePickerDefaults")
    @Fingerprint.Script("/Scripts/Dialog/SearchAdd.js")
</head>

<body>
    <form action="/SearchAdd/Complete/" method="post" class="DisplayEdit">
        @Html.Partial("SearchPerson", Model) 
    </form>
</body>
</html>
