@model CmsWeb.Areas.People.Models.StandardExtraValues.Field
@if (Model.UserCanView())
{
    <tr>
        <td>@Model.name</td>
        @if (Model.UserCanEdit())
        {
            <td><a data-pk="@Model.EditableDataKey" data-name="@Model.EditableDataName" class="@Model.EditableDataType" 
                   data-url="/Person2/EditExtra" @Model.EditableDataValue @Model.EditableDataSource>@Model.ToString()</a>
            </td>
        }
        else
        {
            <td>@Model</td>
        }
        @if (Model.nonstandard && Model.UserCanEdit())
        {
            <td>
                <a href="@Model.EditableDeleteUrl" class="ajax" data-confirm="Are you sure?"><i class="icon-remove"></i></a>
            </td>
        }
    </tr>
}