@model IEnumerable<CmsWeb.Areas.Coordinator.Models.CheckinScheduleDto>

<div class="list-group">
    @{
        var printedHeaders = new List<DateTime>();

        foreach (var item in Model.OrderBy(s => s.NextMeetingDate).ThenBy(s => s.OrganizationName).ThenBy(s => s.SubgroupName))
        {
            if (!printedHeaders.Contains(item.NextMeetingDate.Value))
            {
                <div class="list-group-item-heading">
                    <p>@item.NextMeetingDate.Value.ToString("yyyy-MM-dd hh:mm tt")</p>
                </div>

                printedHeaders.Add(item.NextMeetingDate.Value);
            }

            <div class="list-group-item">
                <a class="navbar-link text-lg" organizationId="@item.OrganizationId" subgroupId="@item.SubgroupId" subgroupName="@item.SubgroupName" selectedTimeslot="@item.NextMeetingDate.Value.ToString("s")">
                    @item.OrganizationName @item.SubgroupName
                </a>
                <div class="row">
                    <div class="col-xs-4">999</div>
                    <div class="col-xs-4">999</div>
                    <div class="col-xs-4">999</div>
                </div>
            </div>
        }
    }
</div>

<script type="text/javascript">
    $(function () {
        $('.navbar-link').on('click', function (e) {
            e.preventDefault();
            $("#OrganizationContainer .list-group-item").removeClass("highlighted");
            $(this).parent().addClass("highlighted");

            var selectedTimeslot = $('#checkin-timeslot option:selected').val();
            var selectedProgram = $('#checkin-program option:selected').val();
            var selectedDivision = $('#checkin-division option:selected').val();
            var selectedOranization = $(this).attr('organizationId');
            var selectedSubgroupId = $(this).attr('subgroupId');
            var selectedSubgroupName = $(this).attr('subgroupName');
            var selectedTimeslot = $(this).attr('selectedTimeslot');

            $("#DetailsContainer").load('@Url.Action("Details")' + '?organizationId=' + selectedOranization + '&subgroupId=' + selectedSubgroupId + '&subgroupName=' + selectedSubgroupName + '&selectedTimeslot=' + selectedTimeslot);
        });
    });
</script>
