@using CmsWeb
@model CmsWeb.Areas.Main.Models.Report.DecisionSummaryModel
@{
    Layout = Fingerprint.Layout();
    ViewBag.Title = "Decision Summary Report";
}
@section head {
    <style type="text/css">
        body {
            font-size: 110%;
        }

        .TotalLine td {
            border-top: 2px solid black;
            font-weight: bold;
            text-align: right;
        }

        .headerrow th {
            border-bottom: 2px solid black;
            text-align: center;
        }

        input#SundayDate {
            width: 100px;
            font-size: 100%;
        }
    </style>
}
@section scripts
{
    <script type="text/javascript">
        $(function () {
            $(".datepicker").datepicker();
            $("a.run").button();
            $("a.run").click(function (ev) {
                ev.preventDefault();
                ev.preventDefault();
                var f = $("#form");
                f.attr("action", $(this)[0].href);
                f.submit();
            });
            $("a.query").click(function (ev) {
                ev.preventDefault();
                var f = $("#form");
                f.attr("action", $(this)[0].href);
                f.submit();
            });
        });
    </script>
}
<div style="text-align: center">
    <h1>Decision Summary Report</h1>
    <form id="form" method="POST">
        <table class="center">
            <tr>
                <td class="right">
                    From Date:
                </td>
                <td>
                    @Html.DatePicker("dt1")
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td class="right">
                    To Date:
                </td>
                <td>
                    @Html.DatePicker("dt2")
                </td>
                <td>
                    &nbsp;<a class="noPrint run bt">Run</a>
                </td>
            </tr>
        </table>
    </form>
    <hr />
    <table class="grid center">
        <tbody>
            <tr>
                <td colspan="2" class="top">

                    <table class="@Fingerprint.GridClass center">
                        <thead>
                            <tr class="headerrow">
                                <th colspan="2">Decisions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var r in Model.DecisionsByType())
                            {
                                <tr class="@r.CssClass">
                                    <td class="left"><a class="query" href="/Reports/DecisionsToQuery/ForDecisionType/@r.Id">@r.Desc</a></td>
                                    <td class="right"><a class="query" href="/Reports/DecisionsToQuery/ForDecisionType/@r.Id">@r.Count</a></td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr class="TotalLine">
                                <td class="left"><a class="query" href="/Reports/DecisionsToQuery/ForDecisionType/All">Total</a></td>
                                <td class="right"><a class="query" href="/Reports/DecisionsToQuery/ForDecisionType/All">@Model.DecisionsCount</a></td>
                            </tr>
                            @foreach (var r in Model.DecisionsByType2())
                            {
                                <tr class="@r.CssClass">
                                    <td class="left"><a class="query" href="/Reports/DecisionsToQuery/ForDecisionType/@r.Id">@r.Desc</a></td>
                                    <td class="right"><a class="query" href="/Reports/DecisionsToQuery/ForDecisionType/@r.Id">@r.Count</a></td>
                                </tr>
                            }
                        </tfoot>
                    </table>
                </td>
            </tr>
            <tr><td colspan="2"><hr /></td></tr>
            <tr>
                <td class="top">
                    <table class="@Fingerprint.GridClass center">
                        <tbody>
                            <tr class="headerrow">
                                <th colspan="2">Baptisms By Age</th>
                            </tr>
                            @foreach (var r in Model.BaptismsByAge())
                            {
                                <tr class="@r.CssClass">
                                    <td class="left"><a class="query" href="/Reports/DecisionsToQuery/ForBaptismAge/@r.Id">@r.Desc</a></td>
                                    <td class="right"><a class="query" href="/Reports/DecisionsToQuery/ForBaptismAge/@r.Id">@r.Count</a></td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr class="TotalLine">
                                <td class="left"><a class="query" href="/Reports/DecisionsToQuery/ForBaptismType/All">Total</a></td>
                                <td class="right"><a class="query" href="/Reports/DecisionsToQuery/ForBaptismType/All">@Model.BaptismsCount</a></td>
                            </tr>
                        </tfoot>
                    </table>
                </td>
                <td class="top">
                    <table class="@Fingerprint.GridClass center">
                        <thead>
                            <tr class="headerrow">
                                <th colspan="2">Baptisms By Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var r in Model.BaptismsByType())
                            {
                                <tr class="@r.CssClass">
                                    <td class="left"><a class="query" href="/Reports/DecisionsToQuery/ForBaptismType/@r.Id">@r.Desc</a></td>
                                    <td class="right"><a class="query" href="/Reports/DecisionsToQuery/ForBaptismType/@r.Id">@r.Count</a></td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr class="TotalLine">
                                <td class="left"><a class="query" href="/Reports/DecisionsToQuery/ForBaptismType/All">Total</a></td>
                                <td class="right"><a class="query" href="/Reports/DecisionsToQuery/ForBaptismType/All">@Model.BaptismsCount</a></td>
                            </tr>
                        </tfoot>
                    </table>
                </td>
            </tr>
            <tr><td colspan="2"><hr /></td></tr>
            <tr>
                <td class="top">
                    <table class="@Fingerprint.GridClass center">
                        <thead>
                            <tr class="headerrow">
                                <th colspan="2">New Member by Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var r in Model.NewMemberByType())
                            {
                                <tr class="@r.CssClass">
                                    <td class="left"><a class="query" href="/Reports/DecisionsToQuery/ForNewMemberType/@r.Id">@r.Desc</a></td>
                                    <td class="right"><a class="query" href="/Reports/DecisionsToQuery/ForNewMemberType/@r.Id">@r.Count</a></td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr class="TotalLine">
                                <td class="left"><a class="query" href="/Reports/DecisionsToQuery/ForNewMemberType/All">Total</a></td>
                                <td class="right"><a class="query" href="/Reports/DecisionsToQuery/ForNewMemberType/All">@Model.NewMembersCount</a></td>
                            </tr>
                        </tfoot>
                    </table>
                </td>
                <td class="top">
                    <table class="@Fingerprint.GridClass center">
                        <thead>
                            <tr class="headerrow">
                                <th colspan="2">Dropped Members by Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var r in Model.DroppedMemberByType())
                            {
                                <tr class="@r.CssClass">
                                    <td class="left"><a class="query" href="/Reports/DecisionsToQuery/ForDropType/@r.Id">@r.Desc</a></td>
                                    <td class="right"><a class="query" href="/Reports/DecisionsToQuery/ForDropType/@r.Id">@r.Count</a></td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr class="TotalLine">
                                <td class="left"><a class="query" href="/Reports/DecisionsToQuery/DroppedForChurch/All">Total</a></td>
                                <td class="right"><a class="query" href="/Reports/DecisionsToQuery/DroppedForChurch/All">@Model.DroppedMembersCount</a></td>
                            </tr>
                        </tfoot>
                    </table>
                </td>
            </tr>
            <tr><td colspan="2"><hr /></td></tr>
            <tr>
                <td colspan="2">
                    <table class="@Fingerprint.GridClass center">
                        <thead>
                            <tr class="headerrow">
                                <th colspan="2">Dropped Members by Church</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var r in Model.DroppedMemberByChurch())
                            {
                                <tr class="@r.CssClass">
                                    <td class="left"><a class="query" href="/Reports/DecisionsToQuery/DroppedForChurch/@r.Desc">@r.Desc</a></td>
                                    <td class="right"><a class="query" href="/Reports/DecisionsToQuery/DroppedForChurch/@r.Desc">@r.Count</a></td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                                <tr class="TotalLine">
                                    <td class="left"><a class="query" href="/Reports/DecisionsToQuery/DroppedForChurch/All">Total</a></td>
                                    <td class="right"><a class="query" href="/Reports/DecisionsToQuery/DroppedForChurch/All">@Model.DroppedMembersCount</a></td>
                                </tr>
                        </tfoot>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
