@using CmsData
@using CmsData.Registration
@using CmsWeb.Areas.OnlineReg.Models.OnlineReg
@using UtilityExtensions
@model CmsWeb.Areas.OnlineReg.Models.OnlineRegPersonModel
@{
    var om = Model.GetOrgMember();
    var ti = Model.Parent.Transaction;
}
@* ReSharper disable Html.Obsolete *@
<table>
  <tr>
    <td colspan="2" style="@Sty.dd; @Sty.bb">
      <hr/>
      <p>Registrant: @Model.person.Name for @Model.org.OrganizationName</p>
    </td>
  </tr>
@if ((ti.Amt ?? 0) > 0 && om != null)
{
  var ts = om.TransactionSummary(DbUtil.Db);
  <tr>
    <td colspan="2" style="@Sty.bb">
      <table>
        <tr>
          <td style="@Sty.lb">Registrant Fee</td>
          <td style="@Sty.lb">Amount Paid</td>
          <td style="@Sty.lb">Amount Due</td>
        </tr>
        <tr>
          <td align='right' style="@Sty.dd">@ts.IndAmt.ToString2("c")</td>
          <td align='right' style="@Sty.dd">@om.TotalPaid(DbUtil.Db).ToString("c")</td>
          <td align='right' style="@Sty.dd">@om.AmountDue(DbUtil.Db).ToString("c")</td>
        </tr>
      </table>
    </td>
  </tr>
}
@if (Model.Parent.SupportMissionTrip)
{
  var goer = DbUtil.Db.LoadPersonById(Model.MissionTripGoerId ?? 0);
  <tr>
    <td colspan="2">
      <table>
        @if (goer != null)
        {
          <tr>
            <td style="@Sty.lb">Support Mission Trip for</td>
            <td style="@Sty.dd">@goer.Name</td>
          </tr>
        }
        @if (Model.MissionTripSupportGeneral > 0)
        {
          <tr>
            <td style="@Sty.lb">Support Mission Trip</td>
            <td style="@Sty.dd">Any other participiants</td>
          </tr>
        }
      </table>
    </td>
  </tr>
}
else
{
  var rr = Model.person.GetRecReg();
  foreach (var ask in Model.setting.AskItems)
  {
    switch (ask.Type)
    {
      case "AskTickets":
        <tr>
          <td style="@Sty.lb">Tickets</td>
          <td style="@Sty.dd">@om.Tickets</td>
        </tr>
        break;
      case "AskSize":
        <tr>
          <td>Shirt</td>
          <td style="@Sty.dd; @Sty.bb">@om.ShirtSize</td>
        </tr>
        break;
      case "AskEmContact":
        <tr><td></td><td style="@Sty.dl">Emergency</td></tr>
        <tr>
          <td style="@Sty.lb">Contact</td>
          <td style="@Sty.dd">@rr.Emcontact</td>
        </tr>
        <tr>
          <td style="@Sty.lb; @Sty.bb">Phone</td>
          <td style="@Sty.dd; @Sty.bb">@rr.Emphone</td>
        </tr>
        break;
      case "AskDoctor":
        <tr>
          <td style="@Sty.lb">Doctor</td>
          <td style="@Sty.dd">@rr.Doctor</td>
        </tr>
        <tr>
          <td style="@Sty.lb; @Sty.bb">Phone</td>
          <td style="@Sty.dd; @Sty.bb">@rr.Docphone</td>
        </tr>
        break;
      case "AskInsurance":
        <tr>
          <td style="@Sty.lb">Insurance Carrier:</td>
          <td style="@Sty.dd">@rr.Insurance</td>
        </tr>
        <tr>
          <td style="@Sty.lb; @Sty.bb">Insurance Policy:</td>
          <td style="@Sty.dd; @Sty.bb">@rr.Policy</td>
        </tr>
        break;
      case "AskRequest":
        <tr>
          <td style="@Sty.lb">Request</td>
          <td style="@Sty.dl">@(((AskRequest) ask).Label)</td>
        </tr>
        <tr>
          <td style="@Sty.lb; @Sty.bb"></td>
          <td style="@Sty.dd; @Sty.bb">@om.Request</td>
        </tr>
        break;
      case "AskHeader":
        <tr>
          <td colspan='2'><h4>@(((AskHeader) ask).Label)</h4></td>
        </tr>
        break;
      case "AskInstruction":
        break;
      case "AskAllergies":
        <tr>
          <td style="@Sty.lb; @Sty.bb">Medical</td>
          <td style="@Sty.dd; @Sty.bb">@rr.MedicalDescription</td>
        </tr>
        break;
      case "AskTylenolEtc":
        <tr>
          <td style="@Sty.lb">Tylenol</td>
          <td style="@Sty.dd">
            @YesNo(Model.tylenol)
          </td>
        </tr>
        <tr>
          <td style="@Sty.lb">Advil</td>
          <td style="@Sty.dd">
            @YesNo(Model.advil)
          </td>
        </tr>
        <tr>
          <td style="@Sty.lb">Robitussin</td>
          <td style="@Sty.dd">
            @YesNo(Model.robitussin)
          </td>
        </tr>
        <tr>
          <td style="@Sty.lb; @Sty.bb">Maalox</td>
          <td style="@Sty.dd; @Sty.bb">
            @YesNo(Model.maalox)
          </td>
        </tr>
        break;
      case "AskChurch":
        <tr>
          <td style="@Sty.lb">Church</td>
          <td style="@Sty.dd">@(rr.Member == true ? "" : "Not") Member</td>
        </tr>
        <tr>
          <td style="@Sty.bb"></td>
          <td style="@Sty.dd; @Sty.bb">
            @(rr.ActiveInAnotherChurch == true ? "" : "Not") Active in another church
          </td>
        </tr>
        break;
      case "AskParents":
        <tr>
          <td style="@Sty.lb">Mother</td>
          <td style="@Sty.dd">@rr.Mname</td>
        </tr>
        <tr>
          <td style="@Sty.lb; @Sty.bb">Father</td>
          <td style="@Sty.dd; @Sty.bb">@rr.Fname</td>
        </tr>
        break;
      case "AskCoaching":
        <tr>
          <td style="@Sty.lb; @Sty.bb">Coaching</td>
          <td style="@Sty.dd; @Sty.bb">@rr.Coaching</td>
        </tr>
        break;
      case "AskSMS":
        <tr>
          <td style="@Sty.lb; @Sty.bb">Receive Texts</td>
          <td style="@Sty.dd; @Sty.bb">@Model.person.ReceiveSMS</td>
        </tr>
        break;
      case "AskDropdown":
        <tr>
          <td></td>
          <td style="@Sty.dl">@Util.PickFirst(((AskDropdown) ask).Label, "Options")</td>
        </tr>
        <tr>
          <td style="@Sty.lb; @Sty.bb">Selected</td>
          <td style="@Sty.dd; @Sty.bb">
            @(((AskDropdown) ask).SmallGroupChoice(Model.option).Description)
          </td>
        </tr>
        break;
      case "AskMenu":
        var menulabel = ((AskMenu) ask).Label;
        var lasti = ((AskMenu) ask).MenuItemsChosen(Model.MenuItem[ask.UniqueId]).Last();
        foreach (var i in ((AskMenu) ask).MenuItemsChosen(Model.MenuItem[ask.UniqueId]))
        {
          var ibb = lasti == i ? $";{Sty.bb}" : "";
          if (i.amt > 0)
          {
            <tr>
              <td style="@Sty.lb@ibb">@menulabel</td>
              <td style="@Sty.dd@ibb">@i.number @i.desc (at @i.amt.ToString("N2"))</td>
            </tr>
          }
          else
          {
            <tr>
              <td style="@Sty.lb@ibb">@menulabel</td>
              <td style="@Sty.dd@ibb">@i.number @i.desc</td>
            </tr>
          }
          menulabel = string.Empty;
        }
        break;
      case "AskCheckboxes":
        var askcb = (AskCheckboxes) ask;
        menulabel = askcb.Label;
        var cbq = askcb.CheckboxItemsChosen(Model.Checkbox).ToList();
        var lastcb = cbq.Last();
        if (menulabel.HasValue())
        {
          <tr>
            <td></td>
            <td style="@Sty.dl">@menulabel</td>
          </tr>
        }
        <tr>
          <td style="@Sty.lb; @Sty.bb; @Sty.tp">Selected</td>
          <td style="@Sty.bb">
            @foreach (var i in cbq)
            {
              var ibb = lastcb == i ? "" : $"{Sty.bb}";
              if (i.Fee > 0)
              {
                <div style="@Sty.dd; @ibb">
                  @i.Description ($@i.Fee.ToString2("N2"))<br/>(@i.SmallGroup)
                </div>
              }
              else
              {
                <div style="@Sty.dd; @ibb">
                  @i.Description<br/>(@i.SmallGroup)
                </div>
              }
            }
          </td>
        </tr>
        break;
      case "AskYesNoQuestions":
        var ynq = ((AskYesNoQuestions) ask).list.Where(a => Model.YesNoQuestion.ContainsKey(a.SmallGroup)).ToList();
        var lastyn = ynq.Last();
        foreach (var a in ynq)
        {
          var ibb = lastyn == a ? $";{Sty.bb}" : $";{Sty.pb}";
          <tr>
            <td style="@Sty.lb">Question</td>
            <td style="@Sty.dl">@a.Question</td>
          </tr>
          <tr>
            <td style="@Sty.lb; @ibb">Answer</td>
            <td style="@Sty.dd; @ibb">@(Model.YesNoQuestion[a.SmallGroup] == true ? "Yes" : "No")</td>
          </tr>
        }
        break;
      case "AskExtraQuestions":
        var eqq = Model.ExtraQuestion[ask.UniqueId].Where(a => a.Value.HasValue()).ToList();
        var lasteq = eqq.Last();
        foreach (var a in eqq)
        {
          var ibb = lasteq.Key == a.Key ? $";{Sty.bb}" : $";{Sty.pb}";
          <tr>
            <td style="@Sty.lb">Question</td>
            <td style="@Sty.dl">@a.Key</td>
          </tr>
          <tr>
            <td style="@Sty.lb; @ibb">Answer</td>
            <td style="@Sty.dd; @ibb">@a.Value</td>
          </tr>
        }
        break;
      case "AskText":
        var tqq = Model.Text[ask.UniqueId].Where(a => a.Value.HasValue()).ToList();
        var lasttq = tqq.Last();
        foreach (var a in tqq)
        {
          var ibb = lasttq.Key == a.Key ? $";{Sty.bb}" : $";{Sty.pb}";
          <tr>
            <td style="@Sty.lb">Question</td>
            <td style="@Sty.dl">@a.Key</td>
          </tr>
          <tr>
            <td style="@Sty.lb; @ibb">Answer</td>
            <td style="@Sty.dd; @ibb">@a.Value</td>
          </tr>
        }
        break;
      case "AskGradeOptions":
        <tr>
          <td style="@Sty.lb">GradeOption:</td>
          <td style="@Sty.dd">@Model.GradeOptions(ask).SingleOrDefault(s => s.Value == (Model.gradeoption ?? "00")).Text</td>
        </tr>
        break;
    }
  }
  if (Model.setting.AgeGroups.Count > 0)
  {
    <tr>
      <td style="@Sty.lb">AgeGroup:</td>
      <td style="@Sty.dd">@Model.AgeGroup()</td>
    </tr>
  }
}
</table>
@helper YesNo(bool? tf)
{
    @(tf == true ? "Yes" : tf == false ? "No" : "")
}
