@using UtilityExtensions
@model CmsWeb.Areas.OnlineReg.Models.OnlineRegPersonModel
@* ReSharper disable Html.Obsolete *@
<table style="width:100%">
  <tbody>
    <tr>
      <td align="center">
        <table style="width:500px">
          <tbody>
            <tr>
              <td>
                <p>Hi, {first},</p>
                @if (Model.Parent.UsedAdminsForNotify)
                {
                  <div>
                    <span style='color:red'>THERE ARE NO NOTIFY IDS ON THIS REGISTRATION!!</span><br/>
                    <a href='http://docs.touchpointsoftware.com/OnlineRegistration/MessagesSettings.html'>
                      see documentation
                    </a>
                  </div>
                }
                <h4>@Model.person.Name has registered for @Model.Parent.Header</h4>
                <table>
                  <tr>
                    <td>Total Fee for this registrant</td>
                    <td>@Model.TotalAmount().ToString("C")</td>
                  </tr>
                  <tr>
                    <td>Total Fee for this registration</td>
                    <td>@Model.Parent.TotalAmount().ToString("C")</td>
                  </tr>
                  <tr>
                    <td>Total Fee paid today</td>
                    <td>@Model.Parent.TotalAmount().ToString("C")</td>
                  </tr>
                  <tr>
                    <td>Amount due</td>
                    <td>@Model.Parent.Transaction.Amtdue.ToString2("C")</td>
                  </tr>
                </table>
                <p>REGISTRATION DETAILS:</p>
                <div>
                  @Model.PrepareSummaryText(Model.Parent.Transaction)
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
