@model CmsWeb.Areas.Search.Models.ContactSearchModel
@{
    ViewBag.Title = "ContactSearch";
    Layout = "~/Views/Shared/SiteLayout2.cshtml";
}
@section scripts
{
    @Fingerprint.Script("/Scripts/Search/ContactSearch2.js")
}
<div class="container">
    <form id="form-contact-search" class="ajax form-horizontal w120" data-results="#results" method="post">
        <div id="contact-search" class="border-bottom">
            <fieldset>
                <legend>Contact Search</legend>
                <div class="row-fluid">
                    <div class="inline">
                        @Html.EditorFor(m => m.SearchParameters.ContacteeName)
                        @Html.EditorFor(m => m.SearchParameters.ContactorName)
                        @Html.EditorFor(m => m.SearchParameters.StartDate)
                        @Html.EditorFor(m => m.SearchParameters.EndDate)
                        @Html.EditorFor(m => m.SearchParameters.CreatedBy)
                    </div>
                    <div class="inline align-top">
                        @Html.EditorFor(m => m.SearchParameters.ContactType)
                        @Html.EditorFor(m => m.SearchParameters.ContactReason)
                        @Html.EditorFor(m => m.SearchParameters.Ministry)
                        @Html.EditorFor(m => m.SearchParameters.ContactResult)
                        <div class="right">
                        Incomplete: @Html.CheckBoxFor(m => m.SearchParameters.Incomplete)
                        &bull; Private: @Html.CheckBoxFor(m => m.SearchParameters.Private)
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <a class="btn btn-mini btn-info submit" href="/ContactSearch2/ConvertToQuery/">Convert To Search (Contactors)</a>
                    <a class="btn btn-mini btn-info submit" href="/ContactSearch2/ContactorSummary">Contactor Summary Report</a>
                    <a class="btn btn-mini btn-info submit" href="/ContactSearch2/ContactTypeTotals">Contact Type Totals</a>
                    <a class="btn btn-mini btn-info submit" href="/ContactSearch2/ContactSummary">Contact Summary</a>
                    <a class="btn margin-left submit" href="/ContactSearch2/Clear">Clear</a>
                    <a class="btn btn-primary ajax" href="/ContactSearch2/Results">Search</a>
                </div>
            </fieldset>
        </div>
        @Html.Partial("Results", Model)
    </form>
</div>
