@model CmsWeb.Areas.Search.Models.ContactSearchModel
<div id="results">
    <div class="pagination pagination-mini">
        @Html.Partial("Pager3", Model.Pager)
    </div>
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Reason</th>
                <th>Type</th>
                <th>Contactors</th>
                <th>Contactees</th>
                <th>Ministry</th>
                <th>Results</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in Model.ViewList())
            {
                <tr>
                    <td><a href="/Contact2/@c.ContactId">@c.ContactDate.ToString("d")</a></td>
                    <td>@c.ContactReason</td>
                    <td>@c.TypeOfContact</td>
                    <td>@c.ContactorList</td>
                    <td>@c.ContacteeList</td>
                    <td>@c.Ministry</td>
                    <td>
                        <pre>@c.Results</pre>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="pagination pagination-mini">
        @Html.Partial("Pager3", Model.Pager)
    </div>
</div>
