@using CmsWeb
@model CmsWeb.Models.ContributionSearchModel
@{
    ViewBag.Title = "Contributions";
    Layout = ViewExtensions2.Layout();
}
@section head
{
    <style type="text/css">
        .PLNT {
            font-style: italic;
            font-weight: bold;
        }
    </style>
}
@section scripts
{
    @Fingerprint.Script("/Scripts/Finance/Contributions.js")
}

<form action="" id="form" method="POST">
    @Html.HiddenFor(vv => vv.SearchInfo.PeopleId)
    <div class="roundbox floatleft">
        <table cellspacing="5">
            <tbody>
                <tr>
                    <td colspan="4">
                        <h2>Contributions</h2>
                    </td>
                </tr>
                @if (Model.SearchInfo.PeopleId.HasValue)
                {
                    <tr>
                        <th class="right">Name:</th>
                        <td colspan="3"><a href="/Person/Index/@Model.SearchInfo.PeopleId">@Model.Name</a></td>
                    </tr>
                }
                else
                {
                    <tr>
                        <th class="right">Name:</th>
                        <td colspan="3">@Html.TextBoxFor(vv => vv.SearchInfo.Name)
                            <em>All or part of full name, or PeopleId</em></td>
                    </tr>
                }
                <tr>
                    <th class="right">Min Amt:</th>
                    <td>@Html.TextBoxFor(vv => vv.SearchInfo.MinAmt) </td>
                    <th class="right">Start Date:</th>
                    <td>@Html.EditorFor(vv => vv.SearchInfo.StartDate, "datepicker") </td>
                </tr>
                <tr>
                    <th class="right">Max Amt:</th>
                    <td>@Html.TextBoxFor(vv => vv.SearchInfo.MaxAmt)</td>
                    <th class="right">End Date:</th>
                    <td>@Html.EditorFor(vv => vv.SearchInfo.EndDate, "datepicker")</td>
                </tr>
                <tr>
                    <th class="right">Notes:</th>
                    <td colspan="3">@Html.TextBoxFor(vv => vv.SearchInfo.Comments)
                        <em>Check # or phrase or ContributionId</em></td>
                </tr>
                <tr>
                    <th class="right">Bundle Type:</th>
                    <td class="nowrap">@Html.DropDownListFor(vv => vv.SearchInfo.BundleType, Model.BundleTypes())</td> 
                    <td colspan="2">Include Unclosed Bundles:
                        @Html.CheckBoxFor(vv => vv.SearchInfo.IncludeUnclosedBundles) </td>
                </tr>
                <tr>
                    <th class="right">Contribution Type:</th>
                    <td>@Html.DropDownListFor(vv => vv.SearchInfo.Type, Model.ContributionTypes())</td>
                    <th class="right">Campus:</th>
                    <td>@Html.DropDownListFor(vv => vv.SearchInfo.CampusId, Model.Campuses())</td>
                </tr>
                <tr>
                    <th class="right">Fund:</th>
                    <td>@Html.DropDownListFor(vv => vv.SearchInfo.FundId, Model.Funds())</td>
                    <th class="right">Source:</th>
                    <td>@Html.DropDownListFor(vv => vv.SearchInfo.Online, Model.OnlineOptions())</td>
                </tr>
                <tr>
                    <th class="right">Status:</th>
                    <td>@Html.DropDownListFor(vv => vv.SearchInfo.Status, Model.ContributionStatuses())</td>
                    <th class="right">Tax Status:</th>
                    <td>@Html.DropDownListFor(vv => vv.SearchInfo.TaxNonTax, Model.TaxTypes())</td>
                </tr>
                <tr>
                    <th class="right">Year:</th>
                    <td colspan="3">@Html.DropDownListFor(vv => vv.SearchInfo.Year, Model.Years())</td>
                </tr>
                <tr>
                    <td colspan="4" class="right">
                        <a id="NewSearch" class="bt">Clear</a>
                        <a id="export" class="bt">Export</a>
                        <a id="search" class="bt blue">Search</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="floatclear"></div>
    @Html.Partial("Results", Model)
</form>