@using UtilityExtensions
@model CmsWeb.Models.ContributionSearchModel
<div id="results">
    <div class="stat-panel-container">
        <div class="stat-panel-inner-container">
            <div class="stat-panel">
                <span class="stat-title">TOTAL CONTRIBUTIONS</span>
                <span class="stat-figure">@Model.Count.ToString2("N0")</span>
            </div>
            <div class="stat-panel">
                <span class="stat-title">TOTAL AMOUNT</span>
                <span class="stat-figure">@Model.Total.ToString2("C2")</span>
            </div>
            <div class="stat-panel">
                <span class="stat-title">NUMBER OF FAMILIES</span>
                <span class="stat-figure">@Model.FamilyCount.ToString2("N0")</span>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
    @Html.Partial("PagerTop", Model)
    <div class="table-responsive">
        <table id="resultsTable" class="table table-striped">
            <thead>
                <tr>
                    <th><a class="sortable" href="#">Status</a> </th>
                    <th><a class="sortable" href="#">Name</a> </th>
                    <th><a class="sortable" href="#">Date</a> </th>
                    <th class="text-right"><a class="sortable" href="#">Amount</a> </th>
                    <th><a class="sortable" href="#">Type</a> </th>
                    <th><a class="sortable" href="#">Fund</a> </th>
                    <th>Check #</th>
                    <th>Notes</th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var c in Model.ContributionsList())
                {
                    <tr>
                        <td title="@c.ContributionId">
                            @if (!c.Recorded)
                            {
                                <span style="color:red">@c.Status</span>
                            }
                            else
                            {
                                @c.Status
                            }
                        </td>
                        <td><a href="/Contributions/@c.PeopleId">@c.Name</a></td>
                        <td>@c.ContributionDate.ToShortDateString()</td>
                        <td class="text-right"><a href="/Bundle/@c.BundleId">@c.ContributionAmount.ToString("N2")</a></td>
                        <td>
                            @if (c.ReturnedReversed)
                            {
                                <span style="color:red">@c.ContributionType</span>
                            }
                            else
                            {
                                @c.ContributionType
                            }
                        </td>
                        <td>@c.Fund</td>
                        <td>@c.CheckNo</td>
                        <td>@c.Description</td>
                        <td class="action">
                            @if (Model.SearchInfo.PeopleId.HasValue && c.CanReturnReverse)
                            {
                                <a class="returnit btn btn-default btn-sm" href="/Contributions/Return/@c.ContributionId">Return</a>
                            }    
                        </td>
                        <td class="action">
                            @if (Model.SearchInfo.PeopleId.HasValue && c.CanReturnReverse)
                            {
                                <a class="reverseit btn btn-default btn-sm" href="/Contributions/Reverse/@c.ContributionId">Reverse</a>
                            }  
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @Html.Partial("PagerBottom", Model)
    @Html.Hidden("totcnt", Model.Count.ToString2("n0"))
    @Html.Hidden("Page", Model.Page)
    @Html.Hidden("Sort", Model.Sort)
    @Html.Hidden("Direction", Model.Direction)
</div>
