@using CmsData
@model CmsWeb.Areas.Dialog.Models.OrgMemberModel
@{
  var admin = User.IsInRole("Admin");
  var manager = User.IsInRole("ManageGroups");
  var edit = User.IsInRole("Edit");
}
  <div class="row">
    <div class="col-sm-12">
      @{
        var list = Model.Organization.MemberTags.OrderBy(t => t.Name).ToList();
      }
      @foreach (var item in list)
      {
        @SmallGroup(item, manager || admin || edit)
      }
    </div>
  </div>
<br/>
@if (manager || admin || edit)
{
  <div class="well">
      <label for="NewGroup" class="control-label">New Sub-Group</label>
      <div class="row">
          <div class="col-sm-12 form-inline">
              <div class="input-group col-xs-12 col-sm-9">
                  @Html.TextBoxFor(m => m.NewGroup, "", new { @class = "form-control" })
              </div>
              <div class="input-group">
                  <a href="/OrgMemberDialog/AddNewSmallGroup/@Model.PeopleId" class="btn btn-success ajax" data-loadele="#membergroups"><i class="fa fa-plus-circle"></i> Add New</a>
              </div>
          </div>
      </div>
  </div>
}
@helper SmallGroup(MemberTag mt, bool canedit)
{
  <label class="checkbox-inline control-label">
    <input href="/OrgMemberDialog/SmallGroupChecked/@mt.Id" class="ckbox" @(canedit ? "" : "disabled=disabled") type="checkbox" @(Model.OrgMemMemTags.Any(omt => omt.MemberTagId == mt.Id) ? "checked='checked'" : "")/> @mt.Name
  </label>
}