@model CmsWeb.Areas.OnlineReg.Models.VolunteerRequestModel
@{
  Layout = "~/Views/Shared/onlinereg2.cshtml";
  ViewBag.Title = "Email Volunteer Request";
}
@section scripts
{
  @Fingerprint.Script("/Content/touchpoint/lib/select2/js/select2.min.js")
  @Fingerprint.Script("/Content/touchpoint/js/volunteer/ManageVolunteer.js")
  @ViewExtensions2.CkEditor()
  @Fingerprint.Script("/Content/touchpoint/js/Email/Email.js")
  @Fingerprint.Script("/Content/touchpoint/js/Org/GetVolSub.js")
}
@section head
{
  <style type="text/css">
    .item {
      float: left;
      width: 17em;
      margin: 0 2em 0 0;
      border-right: 1px solid #eee;
      padding: 0 0 5px 0;
    }
  </style>
}
<h2>@Model.org.OrganizationName</h2>
<form id="sendthem" action="/Volunteers/Request" method="post" style="max-width: 60em; margin-left: auto;margin-right:auto">
  @Html.Hidden("mid", Model.meeting.MeetingId)
  @Html.Hidden("pid", Model.person.PeopleId)
  <input type="hidden" name="ticks" value="@Model.ticks" />
  @Html.Hidden("limit", Model.limit)
  @if (ViewBag.Error != null)
  {
    <div class="red">
      <b>@ViewBag.Error</b>
    </div>
  }
  <p>
    <label>Current Limit:</label>@Model.limit
  </p>
  <p>
    <label>Current # Committed Volunteers:</label>@Model.count
  </p>
  <p>
    <label>Additional Volunteers Needed:</label>@Html.TextBox("additional")
  </p>
  <p>
    <label>Subject:</label>
    @Html.TextBox("subject", Model.subject, new { style = "width:90%" })
  </p>
  <p>
    <label>Body:</label>
    @Html.TextArea("message", Model.message, new { @class = "editor", rows = "7", cols = "15" })
  </p>
  <hr />
  <p>
    Group Filter: @Html.DropDownList("smallgroups", Model.SmallGroups())
  </p>
  <h3>Already Committed For This Meeting</h3>
  <div class="wrapper">
    @foreach (var p in Model.CommittedThisMeeting())
    {
      <div class="item @p.Groups">
        <input type="checkbox" disabled="disabled" />
        <span title="@p.EmailAddress">@p.Name2</span>
      </div>
    }
  </div>
  <div style="clear: both"></div>
  <h3>
    <input id="selectallsame" type="checkbox" />
    Select All Who Have Same Schedule On Other Weeks
  </h3>
  <div id="allsame" class="wrapper">
    @foreach (var p in Model.ThisSchedule())
    {
      <div class="item @p.Groups">
        <input type="checkbox" name="pids" value="@p.PeopleId" />
        <span title="@p.EmailAddress">@p.Name2</span>
      </div>
    }
  </div>
  <div style="clear: both"></div>
  <h3>
    <input id="selectallothers" type="checkbox" />
    Select All Who Have Different Schedule
  </h3>
  <div id="allothers" class="wrapper">
    @foreach (var p in Model.OtherVolunteers())
    {
      <div class="item @p.Groups">
        <input type="checkbox" name="pids" value="@p.PeopleId" />
        <span title="@p.EmailAddress">@p.Name2</span>
      </div>
    }
  </div>
  <div style="clear: both"></div>
  <hr />
  <input id="submitit" type="button" value="Send Emails" />
  <span id="sending" style="display:none"><em>Sending, Please Wait...</em></span>
</form>