@model CmsWeb.Areas.Org.Models.OrgMain
<div class="container">
  <div class="span8">
    <form class="form form-horizontal non-modal ajax border-bottom well well-small">
      <fieldset class="no-padding-margin">
        <legend>
          @Model.OrganizationName@(Model.Org.LeaderId.HasValue ? "," : "")
          <small>@Model.LeaderName</small>
        </legend>
        <div class="row-fluid">
          <div class="inline display align-top">
            @Html.HiddenFor(m => m.Id)
            @Html.EditorFor(m => m.OrganizationName)
            @Html.EditorFor(m => m.Campus)
            @Html.EditorFor(m => m.LeaderMemberType)
          </div>
          <div class="inline display align-top">
            @Html.EditorFor(m => m.OrganizationType)
            @Html.EditorFor(m => m.SecurityType)
            @Html.EditorFor(m => m.OrganizationStatus)
            @Html.EditorFor(m => m.IsBibleFellowshipOrg)
          </div>
        </div>
        @if (User.IsInRole("Edit"))
        {
          <div class="row-fluid">
            <div class="text-right">
              <a class="ajax btn" href="/Org/Main/@Model.Id" data-callback="popovers">Cancel</a>
              <a href="/Org/MainUpdate/@Model.Id" class="ajax btn btn-primary" data-callback="popovers">Save Changes</a>
            </div>
          </div>
        }
      </fieldset>
    </form>
  </div>
</div>