@using CmsWeb.Areas.Org.Models
@using UtilityExtensions
@model OrgMain
<div class="container">
  <div class="span8">
    <form class="form form-horizontal non-modal ajax border-bottom well well-small">
      <fieldset class="no-padding-margin">
        <legend>
          @Model.OrganizationName@(Model.LeaderId.HasValue ? "," : "")
          <small>@Model.LeaderName</small>
        </legend>
        <div class="row-fluid">
            <div class="control-group">
              <label class="control-label"><span style="cursor: pointer; color: blue;" data-toggle="popover" data-content="<p style='font-weight: normal;'>Use this link to manage the divisions this organization belongs to.</p><p style='font-weight: normal;'>A dialog box will pop up.</p>" data-original-title="Divisions"><i class="fa fa-info-circle"></i></span>&nbsp;&nbsp;Divisions:</label>
              <div class="controls">
                <a id="divisionlist" href="/SearchDivisions/@Model.Id" data-refresh="/Org/DivisionList/@Model.Id">
                  @Html.Partial("Other/DivisionList", OrganizationModel.Divisions(Model.Id))
                </a>
              </div>
          </div>
          <div class="inline display align-top">
            @Html.DisplayFor(m => m.OrganizationName)
            @Html.DisplayFor(m => m.Campus)
            @Html.DisplayFor(m => m.LeaderMemberType)
            @Html.DisplayFor(m => m.Schedule)
@*            <span style="cursor: pointer; color: blue;" data-toggle="popover" data-content="<p style='font-weight: normal;'>An upcoming new feature for classifying your organizations.</p><p style='font-weight: normal;'>In progress, stay tuned.</p>" data-original-title="What is Organization Type?"><i class="fa fa-info-circle"></i></span>*@
          </div>
          <div class="inline display align-top">
            @Html.DisplayFor(m => m.OrganizationType)
            @Html.DisplayFor(m => m.SecurityType)
            @Html.DisplayFor(m => m.OrganizationStatus)
            @Html.DisplayFor(m => m.IsBibleFellowshipOrg)
            @if (Model.Org.OrgPickList.HasValue())
            {
              <div class="text-right">
                <span class="label">Master Org</span>
              </div>
            }
          </div>
        </div>
        @if (User.IsInRole("Edit"))
        {
          <div class="row-fluid">
            <div class="text-right">
              <a class="ajax btn btn-primary" href="/Org/MainEdit/@Model.Id" data-callback="popovers">Edit</a>
            </div>
          </div>
        }
      </fieldset>
    </form>
  </div>
</div>
